Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile

.pre-commit-config.yaml:

exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v2.3.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.11
    hooks:
    - id: ruff
      stages:
        - commit
        - merge-commit
      language: system
      args: [ --fix ]
      types: [python]
    - id: ruff-format
      stages:
        - commit
        - merge-commit
      language: system
      types: [python]

Django HTML generation
  frontend/templates/frontend/index.ejs
  frontend/templates/frontend/pro.html
  frontend/webpack.config.ts
  package-lock.json
  package.json
Due: prettier-frontend

new integration test pipeline
  .github/workflows/frontend-build.yml
  .github/workflows/integration-tests.yml
  .gitignore
  frontend/webpack.config.ts
  tests/test_frontend_fetch.py
Due: prettier-frontend

new integrations pipelines
  .github/workflows/coordinator-image.yml
  .github/workflows/desktop-build.yml
  .github/workflows/frontend-build.yml
  .github/workflows/integration-tests.yml
  .github/workflows/selfhosted-client-image.yml
  .github/workflows/web-client-image.yml
Due: none

new integrations pipelines fix
  .github/workflows/frontend-build.yml
  .gitignore
  frontend/templates/frontend/index.ejs
  frontend/webpack.config.ts
Due: prettier-frontend

switch to filemanager-webpack-plugin
  .github/workflows/frontend-build.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/webpack.config.ts
Due: prettier-frontend

fix paths
  .gitignore
  frontend/templates/frontend/index.ejs
  frontend/webpack.config.ts
Due: prettier-frontend

fix version update dialog texts
  frontend/src/components/Dialogs/Update.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Manually disable android notifications
  frontend/src/App.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/NotificationSwitch/index.tsx
  frontend/src/components/TorConnection.tsx
  frontend/src/components/TorConnection/index.tsx
  frontend/src/models/Settings.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
  mobile/App.tsx
  mobile/android/app/src/main/java/com/robosats/MainActivity.java
  mobile/android/app/src/main/java/com/robosats/modules/SystemModule.java
  mobile/native/NotificationsModule.ts
  mobile/native/SystemModule.ts
Due: collect-phrases, prettier-frontend, prettier-mobile

fix proxy logo
  frontend/src/components/TorConnection/index.tsx
Due: collect-phrases, prettier-frontend

fix notification not raising on first run
  mobile/App.tsx
  mobile/android/app/src/main/java/com/robosats/MainActivity.java
Due: prettier-mobile

BigLake clearnet urls
  frontend/static/federation.json
Due: prettier-frontend

Temple clearnet url and email
  frontend/static/federation.json
Due: prettier-frontend

Fix android app chat
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  mobile/android/app/src/main/java/com/robosats/NotificationsService.java
Due: collect-phrases, prettier-frontend

Fix Robohash generation on web
  frontend/src/services/Roboidentities/RoboidentitiesWebClient/RobohashGenerator.ts
  frontend/src/services/Roboidentities/RoboidentitiesWebClient/robohash.worker.ts
Due: collect-phrases, prettier-frontend

Avoid duplicated notifications
  api/models/order.py
Due: none

BigLake clearnet urls updated and website added
  frontend/static/federation.json
Due: prettier-frontend

Add cancel_status to POST /api/order
  api/logics.py
  api/oas_schemas.py
  api/serializers.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  frontend/src/components/TradeBox/index.tsx
  frontend/src/models/Order.model.ts
  robosats/settings.py
  tests/test_trade_pipeline.py
  tests/utils/trade.py
Due: collect-phrases, prettier-frontend

Set cancel_status if it's not None
  tests/utils/trade.py
Due: none

Update federation.md
  federation.md
Due: none

Revert "Avoid duplicated notifications"
  api/models/order.py
Due: none

Revert "Store status notifications"
  api/admin.py
  api/lightning/cln.py
  api/lightning/lnd.py
  api/logics.py
  api/management/commands/follow_invoices.py
  api/management/commands/telegram_watcher.py
  api/models/order.py
  api/notifications.py
  api/tasks.py
  chat/consumers.py
  chat/views.py
  docs/assets/schemas/api-latest.yaml
  tests/test_trade_pipeline.py
  tests/utils/node.py
  tests/utils/trade.py
Due: none

update all
  CONTRIBUTING.md
  docs/_pages/contribute/01-development.md
  docs/_pages/docs/es/contribute/01-development.md
  docs/_pages/docs/fr/contribute/01-development.md
Due: none

Fix header icons mobile
  frontend/src/App.tsx
  frontend/src/services/Roboidentities/RoboidentitiesWebClient/RobohashGenerator.ts
Due: collect-phrases, prettier-frontend

Remove Satstralia coordinator
  frontend/static/federation.json
Due: prettier-frontend

Update federation.json
  frontend/static/federation.json
Due: prettier-frontend

Increase robot avatar wait time
  frontend/src/services/Roboidentities/RoboidentitiesWebClient/RobohashGenerator.ts
Due: collect-phrases, prettier-frontend

Nostr test
  frontend/package-lock.json
  frontend/package.json
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/Charts/MapChart/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Book.model.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/utils/nostr.ts
  frontend/static/federation.json
  frontend/yarn.lock
Due: collect-phrases, prettier-frontend

uppercase invoices on QR codes
  frontend/src/components/TradeBox/Prompts/LockInvoice.tsx
Due: collect-phrases, prettier-frontend

WIP
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Book.model.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Exchange.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Settings.model.ts
  frontend/src/utils/nostr.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
  mobile/App.tsx
Due: collect-phrases, prettier-frontend, prettier-mobile

Create RoboPool
  frontend/src/models/Federation.model.ts
  frontend/src/services/RoboPool/index.ts
  frontend/src/services/Roboidentities/RoboidentitiesWebClient/RobohashGenerator.ts
Due: collect-phrases, prettier-frontend

Refactor info endpoint calls
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/FederationTable/index.tsx
Due: collect-phrases, prettier-frontend

Refactor info endpoint calls
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/Dialogs/Exchange.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Exchange.model.ts
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend

Federation coordinators list refactor
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/utils/federationLottery.ts
  frontend/src/utils/filterOrders.ts
Due: collect-phrases, prettier-frontend

v0.7.1-alpha
  mobile/android/app/build.gradle
  release_notes.md
Due: none

v0.7.1-alpha bump
  frontend/package-lock.json
  frontend/package.json
  mobile/package-lock.json
  mobile/package.json
  version.json
Due: prettier-frontend, prettier-mobile

v0.7.1-alpha bump
  desktopApp/package-lock.json
  desktopApp/package.json
Due: none

Fix desktop release
  .github/workflows/desktop-build.yml
Due: none
