Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile, isort, black, flake8

.pre-commit-config.yaml:

# TODO
# add a hook which automatically generates the OpenApi schema on API changes
# and places them in an appropriate location
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: collect-phrases
        name: collect-phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
  - repo: local
    hooks:
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
      - id: isort
        name: isort
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: isort
      - id: black
        name: black
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: black
      - id: flake8
        name: flake8
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: flake8

Move LND specific rpc calls from tasks to LNNode
  api/lightning/node.py
  api/management/commands/follow_invoices.py
  api/tasks.py
Due: isort, black, flake8

Refactor LNNode, use versioner for LND get_version, refactor macaroon (#432)
  .gitignore
  api/lightning/node.py
  api/management/commands/follow_invoices.py
  api/tasks.py
  api/utils.py
  generate_grpc.sh
Due: isort, black, flake8

Add CLN node backend image and service (#418)
  docker-compose.yml
  docker/cln/Dockerfile
  docker/cln/config
  docker/cln/entrypoint.sh
Due: none

Add lnnode vendor switch (#431)
  .env-sample
  api/lightning/cln.py
  api/lightning/lnd.py
  api/lightning/node.py
Due: isort, black, flake8

Add CLN version to frontend and other fixes
  api/lightning/cln.py
  api/lightning/lnd.py
  api/utils.py
  api/views.py
  docker-compose.yml
  frontend/src/components/Dialogs/Stats.tsx
  frontend/src/models/Info.model.ts
Due: collect-phrases, prettier-frontend, isort, black, flake8

Small variable name fixes
  api/lightning/node.py
Due: isort, black, flake8

init
  api/lightning/node_cln.py
  generate_grpc.sh
Due: isort, black, flake8

first draft of clns follow_send_payment
  api/lightning/node_cln.py
Due: isort, black, flake8

add get_cln_version
  api/lightning/node_cln.py
Due: isort, black, flake8

remove unneeded payment_hash from gen_hold_invoice
  api/lightning/node_cln.py
Due: isort, black, flake8

fix name of get_lnd_version
  api/lightning/node_cln.py
Due: isort, black, flake8

remove comment
  api/lightning/node_cln.py
Due: isort, black, flake8

add unsettled_local_balance and unsettled_remote_balance
  api/lightning/node_cln.py
Due: isort, black, flake8

enable flake8
  api/lightning/node_cln.py
Due: isort, black, flake8

flake8 fixes
  api/lightning/node_cln.py
Due: isort, black, flake8

gen_hold_invoice now takes 3 more variables to build a label for cln
  api/lightning/node_cln.py
Due: isort, black, flake8

first draft
  api/lightning/node_cln.py
  generate_grpc.sh
Due: isort, black, flake8

renaming cln file, class and get_version
  api/lightning/cln.py
  api/lightning/node_cln.py
Due: isort, black, flake8

remove lnd specific commented code
  api/lightning/cln.py
Due: isort, black, flake8

get_version: add try/except, refactor to top to mimic lnd.py
  api/lightning/cln.py
Due: isort, black, flake8

rename htlc_cltv to htlc_expiry
  api/lightning/cln.py
Due: isort, black, flake8

add clns lookup_invoice_status
  api/lightning/cln.py
Due: isort, black, flake8

refactored double_check_htlc_is_settled to the end to match lnds file
  api/lightning/cln.py
Due: isort, black, flake8

fix generate_rpc
  generate_grpc.sh
Due: none

Add sample environmental variables, small fixes
  .env-sample
  .gitignore
  api/lightning/cln.py
  docker-compose.yml
  generate_grpc.sh
Due: isort, black, flake8

Add googleapis folder to .dockerignore (lighter coordinator image)
  .dockerignore
Due: none

Fix CLN gRPC port
  .env-sample
  api/lightning/cln.py
  docker/cln/config
Due: isort, black, flake8

Fix basic Main styled components
  frontend/src/basic/Main.tsx
  frontend/src/basic/NavBar/NavBar.tsx
Due: collect-phrases, prettier-frontend

Add handle no balance logs on swap_fee_rate info view
  api/views.py
Due: isort, black, flake8

Add full semver string (v)
  api/lightning/node.py
Due: isort, black, flake8

Delete googleapis after use
  generate_grpc.sh
Due: none

fixes to gen_hold_invoice, plus some other tiny fixes
  api/lightning/cln.py
  api/lightning/lnd.py
  api/lightning/node.py
  api/logics.py
Due: isort, black, flake8

Add automatic dispute resolution logic
  api/logics.py
Due: isort, black, flake8

Fix gen_hold_invoice, plus some other tiny fixes (#435)
  api/lightning/cln.py
  api/lightning/lnd.py
  api/lightning/node.py
  api/logics.py
Due: isort, black, flake8

Small fixes
  api/logics.py
  api/models.py
  api/serializers.py
Due: isort, black, flake8

Add automatic dispute resolution (#437)
  api/logics.py
  api/models.py
  api/serializers.py
Due: isort, black, flake8

fix channel_balance to use int object inside Amount
  api/lightning/cln.py
Due: isort, black, flake8

Add generating animation and fix robot corrupted robot garage load
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/models/Garage.model.ts
  frontend/static/css/index.css
Due: collect-phrases, prettier-frontend

Configure dependabot
  .github/dependabot.yml
Due: none

Fix Garage and Settings load on Android
  frontend/src/contexts/AppContext.ts
Due: collect-phrases, prettier-frontend
