Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile

collect-phrases:
  name: Collect i18n phrases
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'

prettier-frontend:
  name: prettier-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

prettier-mobile:
  name: prettier-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run format'

Fix yml
  .github/workflows/desktop-build.yml
Due: none

Fix Desktop release
  .github/workflows/desktop-build.yml
Due: none

Fix Desktop release
  release_notes.md
Due: none

Better Robot recovery tool
  desktopApp/index.ts
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/NavBar/index.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/Recovery.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/TokenInput.tsx
  frontend/src/basic/RobotPage/Welcome.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/basic/Routes.tsx
  frontend/src/components/Dialogs/Recovery.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/Slot.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Extra spaces not handled properly in input field of recovery token
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/Dialogs/Recovery.tsx
Due: collect-phrases, prettier-frontend

Change to fast generate order
  frontend/src/basic/RobotPage/Welcome.tsx
  frontend/static/assets/vector/buy-selected-icon-2.svg
  frontend/static/assets/vector/sell-icon-2.svg
  frontend/static/assets/vector/sell-selected-icon-2.svg
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Add node alias to invoice description
  api/logics.py
Due: none

Fix robot population
  frontend/src/models/Garage.model.ts
Due: collect-phrases, prettier-frontend

Upgrade jekyll docker and fix dependabot alerts
  docker-compose.yml
  docs/Dockerfile
  docs/Gemfile
  docs/Gemfile.lock
  docs/docker-compose.yml
Due: none

Fix load
  desktopApp/index.js
Due: none

Upgrade dependabot pip alerts
  requirements.txt
Due: none

Remove yarn
  frontend/yarn.lock
Due: none

Rebuild packagae.json
  frontend/package-lock.json
  frontend/src/components/Charts/DepthChart/index.tsx
Due: collect-phrases, prettier-frontend

Bump update muisystem and react-countdown
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend

Fix mobile eslint
  .pre-commit-config.yaml
  frontend/.eslintrc.json
  mobile/.eslintrc.json
  mobile/.prettierrc
  mobile/App.tsx
  mobile/babel.config.js
  mobile/metro.config.js
  mobile/package-lock.json
  mobile/package.json
  mobile/services/Tor/index.ts
  mobile/tsconfig.json
Due: prettier-frontend, prettier-mobile

Frontend eslint fixes
  frontend/src/App.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/Welcome.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/Dialogs/Exchange.tsx
  frontend/src/components/Dialogs/Recovery.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/NotificationSwitch/index.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/components/TorConnection/index.tsx
  frontend/src/components/TradeBox/Forms/LightningPayout.tsx
  frontend/src/components/TradeBox/TradeSummary.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Order.model.ts
  frontend/src/models/Settings.model.ts
  frontend/src/services/RoboPool/index.ts
  frontend/src/services/Roboidentities/RoboidentitiesWebClient/RobohashGenerator.ts
  frontend/src/utils/filterOrders.ts
  frontend/src/utils/nostr.ts
Due: collect-phrases, prettier-frontend

Fix typo
  frontend/src/contexts/AppContext.tsx
Due: collect-phrases, prettier-frontend

bump eslint-plugin-n from 15.7.0 to 16.6.2 in /mobile
  mobile/package-lock.json
  mobile/package.json
Due: prettier-mobile

Fix bugs after libraries updates
  frontend/package-lock.json
  frontend/src/components/BookTable/index.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Federation.model.ts
  frontend/src/utils/filterOrders.ts
Due: collect-phrases, prettier-frontend

Downgrade nostr-sdk
  requirements.txt
Due: none

Restore nostr and downgrade python docker
  Dockerfile
  requirements.txt
Due: none

fix verify_signed_message (#1371)
  api/utils.py
  tests/robots/1/signed_message
Due: none

Generate Robot and Order
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/Welcome.tsx
  frontend/src/components/Dialogs/Recovery.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Garage.model.ts
Due: collect-phrases, prettier-frontend

Improve Robot recovery buttons
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/Welcome.tsx
  frontend/src/components/Dialogs/NoRobot.tsx
  frontend/src/components/Dialogs/Recovery.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Improve Robot recovery buttons
  frontend/src/components/Dialogs/Recovery.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Revert "Improve Robot recovery buttons"
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Bump
  frontend/src/components/Dialogs/NoRobot.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Add skeleton while loading limits
  frontend/src/basic/Routes.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
Due: collect-phrases, prettier-frontend

fix lock
  frontend/package-lock.json
Due: prettier-frontend

Update TempleOfSats pubkey in federation.json
  frontend/static/federation.json
Due: prettier-frontend

fix lint
  frontend/src/components/Charts/DepthChart/index.tsx
Due: collect-phrases, prettier-frontend

Add over the moon coordinator
  frontend/static/federation.json
  frontend/static/federation/pgp/19D833CB2258715B4E627291942B7D51A8533742.asc
Due: prettier-frontend

Add Over the Moon to self-hosted backend
  frontend/static/federation.json
  nodeapp/coordinators/exp/locations.conf
  nodeapp/coordinators/exp/upstreams.conf
  nodeapp/coordinators/moon/locations.conf
  nodeapp/coordinators/moon/upstreams.conf
  nodeapp/coordinators/satstralia/upstreams.conf
  nodeapp/nginx.conf
  nodeapp/robosats-client.sh
Due: prettier-frontend

Add over the moon avatar
  frontend/static/federation/avatars/moon.small.webp
  frontend/static/federation/avatars/moon.webp
Due: none

Add over the moon coordinator (#1591)
  frontend/static/federation.json
  frontend/static/federation/avatars/moon.small.webp
  frontend/static/federation/avatars/moon.webp
  frontend/static/federation/pgp/19D833CB2258715B4E627291942B7D51A8533742.asc
  nodeapp/coordinators/exp/locations.conf
  nodeapp/coordinators/exp/upstreams.conf
  nodeapp/coordinators/moon/locations.conf
  nodeapp/coordinators/moon/upstreams.conf
  nodeapp/coordinators/satstralia/upstreams.conf
  nodeapp/nginx.conf
  nodeapp/robosats-client.sh
Due: prettier-frontend

Disable nostr for android
  frontend/src/components/SettingsForm/index.tsx
Due: collect-phrases, prettier-frontend

Fix macOs build upload to release
  .github/workflows/release.yml
Due: none

Path conditions:
  collect-phrases: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((api|chat|control)/migrations/.*)
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  prettier-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
