Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile, isort, black, flake8

collect-phrases:
  name: collect-phrases
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'

prettier-frontend:
  name: prettier-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

prettier-mobile:
  name: prettier-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run format'

isort:
  name: isort
  stages:
  - commit
  - merge-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  - merge-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  - merge-commit
  language: system
  entry: flake8

Lint
  mobile/App.tsx
Due: prettier-mobile

Inclode code
  mobile/App.tsx
Due: prettier-mobile

Capture http errors android (#385)
  mobile/App.tsx
Due: prettier-mobile

Fix HTTP status errors on Android (#384)
  mobile/App.tsx
Due: prettier-mobile

Enhance clarity for swaps (#382)
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/components/Dialogs/Confirmation.tsx
  frontend/src/components/Dialogs/NoRobot.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/TradeBox/Dialogs/WebLN.tsx
  frontend/src/components/TradeBox/Forms/LightningPayout.tsx
  frontend/src/utils/computeSats.ts
  frontend/src/utils/index.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Add envvar for spend_unconfirmed
  .env-sample
  api/lightning/node.py
Due: isort, black, flake8

Add healthcheck to nodeapp
  nodeapp/Dockerfile
  nodeapp/nginx/local.conf
Due: none

Fix textbox invoice string not changing for escrow
  frontend/src/components/TradeBox/Prompts/LockInvoice.tsx
Due: collect-phrases, prettier-frontend

Fix expand amount details on non swap orders
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/utils/computeSats.ts
Due: collect-phrases, prettier-frontend

Prepare for v0.4.1 release
  frontend/package-lock.json
  frontend/package.json
  mobile/App.tsx
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/package.json
  version.json
Due: prettier-frontend, prettier-mobile

Fix dockerized frontend dev setup. Add example nodeapp docker-compose.
  nodeapp/docker-compose-dev.yml
  nodeapp/docker-compose.yml
  setup.md
Due: none

Fix race condition swaps
  api/lightning/node.py
  api/logics.py
  api/management/commands/follow_invoices.py
  api/models.py
  api/serializers.py
  api/tasks.py
  api/views.py
  frontend/src/components/TradeBox/Prompts/Successful.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Order.model.ts
Due: collect-phrases, prettier-frontend, isort, black, flake8

Collect new phrases
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Increase random delay interval
  api/lightning/node.py
Due: isort, black, flake8

Fix race condition onchain (#388)
  api/lightning/node.py
  api/logics.py
  api/management/commands/follow_invoices.py
  api/models.py
  api/serializers.py
  api/tasks.py
  api/views.py
  frontend/src/components/TradeBox/Prompts/Successful.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Order.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, isort, black, flake8

Add MAX_SWAP_AMOUNT envvar
  .env-sample
  api/lightning/node.py
  api/logics.py
Due: isort, black, flake8

Add MAX_SWAP_AMOUNT envvar (#389)
  .env-sample
  api/lightning/node.py
  api/logics.py
Due: isort, black, flake8

Fix makerform UI current price
  frontend/src/components/MakerForm/MakerForm.tsx
Due: collect-phrases, prettier-frontend

Add broadcasted flag
  api/admin.py
  api/lightning/node.py
  api/management/commands/follow_invoices.py
  api/models.py
Due: isort, black, flake8

Improve celery tasks reliability
  api/admin.py
  api/management/commands/follow_invoices.py
  api/tasks.py
  docker-compose.yml
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  requirements.txt
Due: collect-phrases, prettier-frontend, isort, black, flake8

Improve tasks reliability (#390)
  api/admin.py
  api/lightning/node.py
  api/management/commands/follow_invoices.py
  api/models.py
  api/tasks.py
  docker-compose.yml
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  requirements.txt
Due: collect-phrases, prettier-frontend, isort, black, flake8

Added Serbian Dinar (RSD) currency.
  frontend/src/components/Icons/WorldFlags.tsx
  frontend/static/assets/currencies.json
Due: collect-phrases, prettier-frontend

Improve LN retry handling and logs
  api/management/commands/follow_invoices.py
  api/tasks.py
Due: isort, black, flake8

Added Serbian Dinar (RSD) currency. (#392)
  frontend/src/components/Icons/WorldFlags.tsx
  frontend/static/assets/currencies.json
Due: collect-phrases, prettier-frontend

Added L-USDt as payment method
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/components/PaymentMethods/Icons/usdt-liquid.png
  frontend/src/components/PaymentMethods/MethodList.ts
Due: collect-phrases, prettier-frontend

Added new payment method: L-USDt
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/components/PaymentMethods/Icons/usdtliquid.png
  frontend/src/components/PaymentMethods/MethodList.ts
Due: collect-phrases, prettier-frontend

Add L-USDt payment method (#396)
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/components/PaymentMethods/Icons/usdtliquid.png
  frontend/src/components/PaymentMethods/MethodList.ts
Due: collect-phrases, prettier-frontend

New payment methods and icons for Russia. SBP, Tinkoff QR. New icon for Tinkoff.
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/components/PaymentMethods/Icons/sbp.png
  frontend/src/components/PaymentMethods/Icons/tinkoff.png
  frontend/src/components/PaymentMethods/Icons/tinkoffqr.png
  frontend/src/components/PaymentMethods/MethodList.ts
Due: collect-phrases, prettier-frontend

Add new payment methods and icons for Russia. (#397)
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/components/PaymentMethods/Icons/sbp.png
  frontend/src/components/PaymentMethods/Icons/tinkoff.png
  frontend/src/components/PaymentMethods/Icons/tinkoffqr.png
  frontend/src/components/PaymentMethods/MethodList.ts
Due: collect-phrases, prettier-frontend

Fix robots with tg enabled were being killed
  api/tasks.py
Due: isort, black, flake8

Fix reject too low mining fees (< 12 blocks conf target)
  api/lightning/node.py
  api/logics.py
Due: isort, black, flake8

Add envvars for target_conf
  .env-sample
  api/logics.py
Due: isort, black, flake8

Bump to v0.4.2-alpha
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/PaymentMethods/Icons/index.tsx
  mobile/android/app/build.gradle
  version.json
Due: collect-phrases, prettier-frontend

Update es.json
  frontend/static/locales/es.json
Due: prettier-frontend

Update spanish translation (#399)
  frontend/static/locales/es.json
Due: prettier-frontend

Fix spanish translation
  frontend/static/locales/es.json
Due: prettier-frontend

Path conditions:
  collect-phrases: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$
  prettier-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
