Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile, isort, black, flake8

.pre-commit-config.yaml:

# TODO
# add a hook which automatically generates the OpenApi schema on API changes
# and places them in an appropriate location
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: collect-phrases
        name: collect-phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
  - repo: local
    hooks:
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
      - id: isort
        name: isort
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: isort
      - id: black
        name: black
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: black
      - id: flake8
        name: flake8
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: flake8

Use federation store updated at field
  frontend/src/components/TradeBox/Prompts/PublicWait.tsx
Due: collect-phrases, prettier-frontend

Support prefixed invoices
  frontend/src/components/TradeBox/Forms/LightningPayout.tsx
Due: collect-phrases, prettier-frontend

Fix payment method icons
  frontend/src/components/PaymentMethods/StringAsIcons.tsx
Due: collect-phrases, prettier-frontend

Add missing semi-colons
  frontend/src/components/TradeBox/Prompts/PublicWait.tsx
Due: collect-phrases, prettier-frontend

Update API views errors
  api/views.py
Due: isort, black, flake8

Fix frontend and web docker environments
  frontend/docker-compose.yml
  web/docker-compose.yml
Due: none

Replace API values with frontend orders aggregation
  api/serializers.py
  api/tests/test_utils.py
  api/utils.py
  api/views.py
  frontend/src/components/TradeBox/Prompts/PublicWait.tsx
  frontend/src/models/Order.model.ts
Due: collect-phrases, prettier-frontend, isort, black, flake8

Add error code to unauthorized responses
  api/errors.py
  robosats/middleware.py
Due: isort, black, flake8

Add EOF lines
  api/errors.py
  api/tests/test_errors.py
Due: isort, black, flake8

Update API utils errors
  api/utils.py
Due: isort, black, flake8

Update API specification
  api/oas_schemas.py
Due: isort, black, flake8

Add description migration
  api/migrations/0055_order_description.py
Due: isort, black, flake8

Update chat views errors
  chat/views.py
Due: isort, black, flake8

Replace row with dialog
  frontend/src/components/Dialogs/OrderDescription.tsx
  frontend/src/components/Dialogs/index.ts
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
Due: collect-phrases, prettier-frontend

Add order description field
  api/models/order.py
  api/oas_schemas.py
  api/serializers.py
  api/views.py
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/models/Maker.model.ts
  frontend/src/models/Order.model.ts
  tests/test_trade_pipeline.py
Due: collect-phrases, prettier-frontend, isort, black, flake8

Add error codes validations
  tests/test_trade_pipeline.py
Due: isort, black, flake8

Escape characters using two backslashes
  android/app/src/main/java/com/robosats/WebAppInterface.kt
Due: none

Fix misaligned error codes
  robosats/middleware.py
Due: isort, black, flake8

Fixed npub address (#406)
  docs/_pages/contribute/07-donate.md
Due: none

Allow all cors origins
  requirements.txt
  robosats/settings.py
Due: isort, black, flake8

Allow all cors origins (#407)
  requirements.txt
  robosats/settings.py
Due: isort, black, flake8

Fix adjust swap button book visibility
  frontend/src/components/BookTable/BookControl.tsx
Due: collect-phrases, prettier-frontend

Bump bitcoind dev container to 24.0.1
  docker/bitcoind/Dockerfile
Due: none

Bump lnd dev container to v0.16.0-beta
  docker/lnd/Dockerfile
Due: none

Migrate mui-x components to v6
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
Due: collect-phrases, prettier-frontend

Collect phrases
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Migrate mui-x components to v6 (#408)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Update ca.json
  frontend/static/locales/ca.json
Due: prettier-frontend

Update ca.json (#409)
  frontend/static/locales/ca.json
Due: prettier-frontend

Add stray locked htlc handler
  api/management/commands/follow_invoices.py
Due: isort, black, flake8

Add stray locked htlc handler (#410)
  api/management/commands/follow_invoices.py
Due: isort, black, flake8

Improve handling of long in_transition htlcs
  api/tasks.py
Due: isort, black, flake8

Update robohash repo url to RoboSats org
  requirements.txt
Due: none

Add external launchers
  frontend/src/components/Dialogs/EnableTelegram.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/TradeBox/Prompts/LockInvoice.tsx
Due: collect-phrases, prettier-frontend

Fix no-robot issue due to timing of initial fetchInfo
  frontend/src/components/Dialogs/EnableTelegram.tsx
  frontend/src/contexts/AppContext.tsx
Due: collect-phrases, prettier-frontend

Collect new phrases
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Fixes "no robot", add launchers on Android. (#411)
  frontend/src/components/Dialogs/EnableTelegram.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/TradeBox/Prompts/LockInvoice.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
  requirements.txt
Due: collect-phrases, prettier-frontend

Improve payment method strings to icons performance
  frontend/src/components/PaymentMethods/StringAsIcons.tsx
  frontend/src/contexts/AppContext.tsx
Due: collect-phrases, prettier-frontend

Added Iranian Toman (IRT) currency (#1)
  frontend/src/components/Icons/WorldFlags.tsx
  frontend/static/assets/currencies.json
Due: collect-phrases, prettier-frontend
