Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile, isort, black, flake8

collect-phrases:
  name: Collect i18n phrases
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'

prettier-frontend:
  name: prettier-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

prettier-mobile:
  name: prettier-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run format'

isort:
  name: isort
  stages:
  - commit
  - merge-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  - merge-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  - merge-commit
  language: system
  entry: flake8

Delete codeql workflows
  .github/workflows/codeql-client.yml
  .github/workflows/codeql-coordinator.yml
Due: none

Add pause/unpause tests
  api/logics.py
  api/serializers.py
  docs/assets/schemas/api-latest.yaml
  tests/node_utils.py
  tests/test_trade_pipeline.py
Due: isort, black, flake8

Fix weird flake8 mismatch of expectations
  .flake8
Due: none

Change getRobot by getSlot
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/TokenInput.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/Dialogs/StoreToken.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/FederationContext.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
Due: collect-phrases, prettier-frontend

Add LN payout test
  api/lightning/lnd.py
  docker-tests.yml
  tests/test_api.py
  tests/test_trade_pipeline.py
Due: isort, black, flake8

Add cancel tests and api limits
  .env-sample
  docker-tests.yml
  tests/node_utils.py
  tests/test_coordinator_info.py
  tests/test_coordinator_limits.py
  tests/test_trade_pipeline.py
Due: isort, black, flake8

Add ticks test
  api/serializers.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  tests/test_api_info.py
  tests/test_api_limits.py
  tests/test_trade_pipeline.py
Due: isort, black, flake8

Add order book test
  api/views.py
  tests/test_trade_pipeline.py
Due: isort, black, flake8

Refactor with fr folder
  docs/_pages/docs/00-quick-start/00-quicks-start-guide_fr.md
  docs/_pages/docs/00-quick-start/02-tor_fr.md
  docs/_pages/docs/fr/00-quick-start/00-quicks-start-guide.md
  docs/_pages/docs/fr/00-quick-start/01-lightning.md
  docs/_pages/docs/fr/00-quick-start/02-tor.md
  docs/_pages/docs/fr/00-quick-start/03-access.md
  docs/_pages/docs/fr/01-best-practices/00-best-practices.md
  docs/_pages/docs/fr/01-best-practices/01-pgp-guide.md
  docs/_pages/docs/fr/01-best-practices/02-payment-methods.md
  docs/_pages/docs/fr/01-best-practices/03-proxy-wallets.md
  docs/_pages/docs/fr/01-best-practices/04-channels.md
  docs/_pages/docs/fr/02-features/01-private.md
  docs/_pages/docs/fr/02-features/02-fast.md
  docs/_pages/docs/fr/02-features/03-safe.md
  docs/_pages/docs/fr/03-understand/01-trade-pipeline.md
  docs/_pages/docs/fr/03-understand/02-robots.md
  docs/_pages/docs/fr/03-understand/03-premium.md
  docs/_pages/docs/fr/03-understand/04-bonds.md
  docs/_pages/docs/fr/03-understand/05-trade-escrow.md
  docs/_pages/docs/fr/03-understand/06-disputes.md
  docs/_pages/docs/fr/03-understand/07-wallets.md
  docs/_pages/docs/fr/03-understand/08-limits.md
  docs/_pages/docs/fr/03-understand/09-swaps.md
  docs/_pages/docs/fr/03-understand/10-telegram.md
  docs/_pages/docs/fr/03-understand/11-api-v0.1.md
  docs/_pages/docs/fr/03-understand/11-api.md
  docs/_pages/docs/fr/03-understand/12-prices.md
  docs/_pages/docs/fr/03-understand/13-fees.md
  docs/_pages/docs/fr/03-understand/14-on-chain-payouts.md
Due: none

French translation Quick Start Guide pages
  docs/_pages/docs/00-quick-start/00-quicks-start-guide_fr.md
  docs/_pages/docs/00-quick-start/01-lightning_fr.md
  docs/_pages/docs/00-quick-start/02-tor_fr.md
  docs/_pages/docs/00-quick-start/03-access_fr.md
  docs/_pages/docs/01-best-practices/00-best-practices_fr.md
  docs/_pages/docs/01-best-practices/01-pgp-guide_fr.md
  docs/_pages/docs/01-best-practices/02-payment-methods_fr.md
  docs/_pages/docs/01-best-practices/03-proxy-wallets_fr.md
  docs/_pages/docs/01-best-practices/04-channels_fr.md
  docs/_pages/docs/02-features/01-private_fr.md
  docs/_pages/docs/02-features/02-fast_fr.md
  docs/_pages/docs/02-features/03-safe_fr.md
  docs/_pages/docs/03-understand/01-trade-pipeline_fr.md
  docs/_pages/docs/03-understand/02-robots_fr.md
  docs/_pages/docs/03-understand/03-premium_fr.md
  docs/_pages/docs/03-understand/04-bonds_fr.md
  docs/_pages/docs/03-understand/05-trade-escrow_fr.md
  docs/_pages/docs/03-understand/06-disputes_fr.md
  docs/_pages/docs/03-understand/07-wallets_fr.md
  docs/_pages/docs/03-understand/08-limits_fr.md
  docs/_pages/docs/03-understand/09-swaps_fr.md
  docs/_pages/docs/03-understand/10-telegram_fr.md
  docs/_pages/docs/03-understand/11-api-v0.1.md
  docs/_pages/docs/03-understand/11-api-v0.1_fr.md
  docs/_pages/docs/03-understand/11-api_fr.md
  docs/_pages/docs/03-understand/12-prices_fr.md
  docs/_pages/docs/03-understand/13-fees_fr.md
  docs/_pages/docs/03-understand/14-on-chain-payouts_fr.md
  docs/_pages/tutorials/read/how-to-use_fr.md
Due: none

Add historical api tests
  api/oas_schemas.py
  docs/assets/schemas/api-latest.yaml
  tests/test_trade_pipeline.py
Due: isort, black, flake8

Change getRobot by getSlot (#955)
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/TokenInput.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/Dialogs/StoreToken.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/FederationContext.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
Due: collect-phrases, prettier-frontend

Order workflow working
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/FederationContext.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Order.model.ts
Due: collect-phrases, prettier-frontend

Refactoring
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/components/TradeBox/Prompts/Chat.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/FederationContext.ts
  frontend/src/pro/Widgets/Federation.tsx
Due: collect-phrases, prettier-frontend

Fix order workflow (#957)
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/components/TradeBox/Prompts/Chat.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/FederationContext.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Order.model.ts
  frontend/src/pro/Widgets/Federation.tsx
Due: collect-phrases, prettier-frontend

Add coordinator notice
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Rename backend image to match on dev and test environments
  docker-tests.yml
Due: none

oops old files that should not be there were removed
  docs/_pages/docs/03-understand/11-api-v0.1.md
  docs/_pages/docs/fr/03-understand/11-api-v0.1.md
Due: none

French translation Quick Start Guide pages (#946)
  docs/_pages/docs/fr/00-quick-start/00-quicks-start-guide.md
  docs/_pages/docs/fr/00-quick-start/01-lightning.md
  docs/_pages/docs/fr/00-quick-start/02-tor.md
  docs/_pages/docs/fr/00-quick-start/03-access.md
  docs/_pages/docs/fr/01-best-practices/00-best-practices.md
  docs/_pages/docs/fr/01-best-practices/01-pgp-guide.md
  docs/_pages/docs/fr/01-best-practices/02-payment-methods.md
  docs/_pages/docs/fr/01-best-practices/03-proxy-wallets.md
  docs/_pages/docs/fr/01-best-practices/04-channels.md
  docs/_pages/docs/fr/02-features/01-private.md
  docs/_pages/docs/fr/02-features/02-fast.md
  docs/_pages/docs/fr/02-features/03-safe.md
  docs/_pages/docs/fr/03-understand/01-trade-pipeline.md
  docs/_pages/docs/fr/03-understand/02-robots.md
  docs/_pages/docs/fr/03-understand/03-premium.md
  docs/_pages/docs/fr/03-understand/04-bonds.md
  docs/_pages/docs/fr/03-understand/05-trade-escrow.md
  docs/_pages/docs/fr/03-understand/06-disputes.md
  docs/_pages/docs/fr/03-understand/07-wallets.md
  docs/_pages/docs/fr/03-understand/08-limits.md
  docs/_pages/docs/fr/03-understand/09-swaps.md
  docs/_pages/docs/fr/03-understand/10-telegram.md
  docs/_pages/docs/fr/03-understand/11-api.md
  docs/_pages/docs/fr/03-understand/12-prices.md
  docs/_pages/docs/fr/03-understand/13-fees.md
  docs/_pages/docs/fr/03-understand/14-on-chain-payouts.md
  docs/_pages/tutorials/read/how-to-use_fr.md
Due: none

Fix and update About
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/components/Dialogs/About.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Update Dispute prompts for multi-coordinator
  frontend/src/components/TradeBox/Prompts/Dispute.tsx
  frontend/src/components/TradeBox/Prompts/DisputeLoser.tsx
  frontend/src/components/TradeBox/Prompts/DisputeWaitPeer.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Add order expiry tests
  api/management/commands/clean_orders.py
  tests/test_trade_pipeline.py
  tests/utils/__init__.py
  tests/utils/node.py
  tests/utils/pgp.py
Due: isort, black, flake8

Update docs to point to new LND node
  docs/_pages/docs/00-quick-start/01-lightning.md
Due: none

Refactor trade tests, add onchain payout test
  api/lightning/cln.py
  api/lightning/lnd.py
  api/serializers.py
  docs/assets/schemas/api-latest.yaml
  tests/test_trade_pipeline.py
  tests/utils/trade.py
Due: isort, black, flake8

Use global node_id in docs and update params
  docs/_config.yml
  docs/_pages/docs/00-quick-start/01-lightning.md
Due: none

Fix mobile app
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/contexts/GarageContext.ts
  frontend/src/models/Garage.model.ts
  frontend/static/federation.json
  mobile/App.tsx
Due: collect-phrases, prettier-frontend, prettier-mobile

Fix rebuild and update package-lock.json
  frontend/package-lock.json
Due: prettier-frontend

fix kycnot.me url
  README.md
Due: none

Add maker_hash_id to book response
  api/serializers.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  robosats/middleware.py
  tests/test_trade_pipeline.py
Due: isort, black, flake8

Add chat REST tests and improve doc specs
  chat/serializers.py
  chat/views.py
  docs/assets/schemas/api-latest.yaml
  tests/test_trade_pipeline.py
Due: isort, black, flake8

fix: kycnot.me url (#973)
  README.md
Due: none

Add coverage report artifact upload
  .github/workflows/integration-tests.yml
Due: none

Path conditions:
  collect-phrases: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((api|chat|control)/migrations/.*)
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  prettier-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  isort: any of: \.py$, but not: (api|chat|control)/migrations/.*
  black: any of: \.py$, but not: (api|chat|control)/migrations/.*
  flake8: any of: \.py$, but not: (api|chat|control)/migrations/.*
