Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, lintern-frontend, lintern-android, check-android

.pre-commit-config.yaml:

exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/|^mobile/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: lintern-frontend
        name: lintern-frontend
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run lint'
      - id: lintern-android
        name: lintern-android
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^android/
        types_or: [kotlin]
        entry: bash -c 'cd android && ./gradlew lint'
      - id: check-android
        name: check-android
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^android/
        types_or: [kotlin]
        entry: bash -c 'cd android && ./gradlew check'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.13
    hooks:
    - id: ruff
      stages:
        - pre-commit
        - pre-merge-commit
      language: system
      args: [ --fix ]
      types: [python]
    - id: ruff-format
      stages:
        - pre-commit
        - pre-merge-commit
      language: system
      types: [python]

Fix Code Scan Alerts
  .github/workflows/desktop-build.yml
  android/app/src/main/java/com/robosats/WebAppInterface.kt
  android/app/src/main/java/com/robosats/services/NotificationsService.kt
  robosats/middleware.py
  robosats/settings.py
Due: lintern-android, check-android

Add a test case that validates LNPayments are not queued twice when follow_send_payment between the two iterations
  api/tests/test_follow_invoices.py
Due: none

Make test case compatible with code in main
  api/tests/test_follow_invoices.py
Due: none

Add Eleuteria RoboSats coordinator
  frontend/static/federation.json
  frontend/static/federation/avatars/eleuteria.small.webp
  frontend/static/federation/avatars/eleuteria.webp
  frontend/static/federation/pgp/546143E7584783759F6829AF6DA5626C8AF8DF61.asc
Due: prettier-frontend, lintern-frontend

Fix GHSA-p353-f8m7-8v95
  frontend/src/components/Dialogs/Coordinator.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix GHSA-hp64-3gp5-v8fr
  api/errors.py
  api/logics.py
  api/tests/test_withdraw_rewards.py
Due: none

Fix Desktop Artifact poisoning
  .github/workflows/desktop-build.yml
Due: none

Server-side request forgery
  android/app/src/main/java/com/robosats/WebAppInterface.kt
Due: lintern-android, check-android

Update index.tsx
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix TypeScript type-check errors
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Add new payment methods and fix wero logo
  .github/workflows/AGENTS.md
  .nvmrc
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/components/PaymentMethods/MethodList.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Align NPM versions across repositories
  .github/workflows/desktop-build.yml
  .github/workflows/frontend-build.yml
  frontend/AGENTS.md
  frontend/Dockerfile
Due: prettier-frontend, lintern-frontend

Fix desktop ci
  .github/workflows/desktop-build.yml
Due: none

Blossom security analysis fixes
  frontend/src/components/TradeBox/EncryptedChat/EncryptedApiChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedNostrChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/MessageCard/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/services/api/ApiAndroidClient/index.ts
  frontend/src/utils/nip17File.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
  nodeapp/coordinators/alice/locations.conf
  nodeapp/coordinators/bazaar/locations.conf
  nodeapp/coordinators/freedomsats/locations.conf
  nodeapp/coordinators/lake/locations.conf
  nodeapp/coordinators/temple/locations.conf
Due: collect-phrases, prettier-frontend, lintern-frontend

Coordinator opt-out
  .env-sample
  api/serializers.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  frontend/src/components/TradeBox/EncryptedChat/EncryptedApiChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/components/TradeBox/Prompts/Chat.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
  tests/test_api_info.py
Due: collect-phrases, prettier-frontend, lintern-frontend

Update LND and CLN
  .github/workflows/integration-tests.yml
  docker-tests.yml
  docker/cln/Dockerfile
  docker/cln/plugins/holdinvoice
  docker/lnd/Dockerfile
  docs/assets/schemas/api-latest.yaml
  scripts/generate_grpc.sh
  tests/compose.env
Due: none

UTirgger CI
  .github/workflows/integration-tests.yml
Due: none

Fix CR in auth header
  frontend/src/models/Robot.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

docs: fix broken "How to use" links in payment methods
  docs/_pages/docs/01-best-practices/02-payment-methods.md
  docs/_pages/docs/es/01-best-practices/02-payment-methods.md
  docs/_pages/docs/fr/01-best-practices/02-payment-methods.md
  docs/_pages/docs/pt/01-best-practices/02-payment-methods.md
  docs/_pages/tutorials/read/how-to-use.md
  docs/_pages/tutorials/read/how-to-use_fr.md
Due: none

Simplify live coordinator ranking
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/contexts/AGENTS.md
  frontend/src/contexts/GarageContext.tsx
  frontend/src/models/AGENTS.md
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: update CLN channel state enum and LND v0.21 REST error handling
  api/lightning/cln.py
  tests/test_grpc_stubs.py
  tests/utils/node.py
Due: none

fix: pass HTLC_SET_ONLY to LookupInvoiceV2 for LND v0.21 compatibility
  api/lightning/lnd.py
Due: none

Update MakerForm.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix cache and mocks in test_info
  api/tests/test_info.py
Due: none

fix: downgrade CLN to v25.09.3 (holdinvoice v4.0.0 compatibility)
  .github/workflows/integration-tests.yml
  docker-tests.yml
  docker/cln/Dockerfile
  scripts/generate_grpc.sh
  tests/compose.env
  tests/utils/node.py
Due: none

docs: document CLN/holdinvoice version constraint in AGENTS.md
  AGENTS.md
  api/lightning/AGENTS.md
Due: none

fix: increase LND pay_invoice timeout and add post-timeout sleep
  tests/utils/node.py
Due: none

debug: log pay_invoice response when no ReadTimeout occurs
  tests/utils/node.py
Due: none

fix(tests): use /v2/router/send for LND v0.21 hold invoice payments
  tests/utils/node.py
Due: none

fix(tests): drop stream=True from pay_invoice to avoid ConnectionError
  tests/utils/node.py
Due: none

fix(tests): catch ConnectionError from /v2/router/send chunked timeout
  tests/utils/node.py
Due: none

Hide sensitive data exposure of password protected orders
  api/views.py
  tests/test_trade_pipeline.py
Due: none

Clean up obsolete coordinator ref in MakerForm
  frontend/src/components/AGENTS.md
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/models/AGENTS.md
Due: collect-phrases, prettier-frontend, lintern-frontend

update AGENTS
  .github/workflows/AGENTS.md
Due: none

fix(frontend): keep PGP armor blank line when escaping robot key headers
  frontend/src/models/Robot.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

style: fix prettier formatting in Federation.model.ts
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Federation concensus
  .env-sample
  api/oas_schemas.py
  api/tests/test_federation.py
  api/urls.py
  api/views.py
  development/README.md
  development/docs.md
  development/federation-discovery.md
  frontend/src/basic/TopBar/NotificationsDrawer/index.tsx
  frontend/src/components/HostAlert/UnsafeAlert.tsx
  frontend/src/models/Federation.model.ts
  frontend/src/models/Maker.model.ts
  frontend/src/services/FederationDiscovery/index.ts
  frontend/src/services/RoboPool/index.ts
  frontend/src/utils/federationLottery.ts
  frontend/src/utils/getHost.ts
  frontend/src/utils/nostr.ts
Due: collect-phrases, prettier-frontend, lintern-frontend
