Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, lintern-frontend, prettier-mobile, lintern-mobile

.pre-commit-config.yaml:

exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/|^mobile/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: lintern-frontend
        name: lintern-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run lint'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
      - id: lintern-mobile
        name: lintern-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run lint'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.13
    hooks:
    - id: ruff
      stages:
        - commit
        - merge-commit
      language: system
      args: [ --fix ]
      types: [python]
    - id: ruff-format
      stages:
        - commit
        - merge-commit
      language: system
      types: [python]

Update README.md
  README.md
Due: none

Remove Telegram links
  development/release.md
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/components/Dialogs/About.tsx
  frontend/src/components/Dialogs/Community.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/TradeBox/Prompts/Successful.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/collect_phrases.py
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Remove Telegram links
  frontend/src/components/Dialogs/Community.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

fix linterns checks
  .github/workflows/js-linter.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Fix premium sorting in order book
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Update 02-payment-methods.md
  docs/_pages/docs/01-best-practices/02-payment-methods.md
Due: none

Update 02-payment-methods.md
  docs/_pages/docs/es/01-best-practices/02-payment-methods.md
Due: none

Delete .github/dependabot.yml
  .github/dependabot.yml
Due: none

Include description in nostr note
  android/zapstore.yaml
  api/nostr.py
Due: none

Update LNProxy relay list on 2025-10-12
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

Workflow does not contain permissions
  .github/workflows/web-client-image.yml
Due: none

Potential fix for code scanning alert no. 20: Workflow does not contain permissions
  .github/workflows/selfhosted-client-image.yml
Due: none

Potential fix for code scanning alert no. 19: Workflow does not contain permissions
  .github/workflows/js-linter.yml
Due: none

Potential fix for code scanning alert no. 18: Workflow does not contain permissions
  .github/workflows/integration-tests.yml
Due: none

Potential fix for code scanning alert no. 17: Workflow does not contain permissions
  .github/workflows/coordinator-image.yml
Due: none

docs: update Electrum wallet section
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Update LNProxy relay list on 2025-10-19
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Update LNProxy relay list on 2025-10-26
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Update LNProxy relay list on 2025-11-02
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Update federation.json
  frontend/static/federation.json
Due: prettier-frontend, lintern-frontend

Update LNProxy relay list on 2025-11-09
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

fix tor error messaging when safer or safest mode is enabled when visiting the site via tor
  frontend/templates/frontend/index.ejs
  package-lock.json
Due: none

undo unintended change tracked by git
  package-lock.json
Due: none

Fix external orders empty link
  frontend/src/components/Dialogs/VisitThirdParty.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/models/Slot.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Add WhitEyeSats Coordinator
  frontend/static/federation.json
  frontend/static/federation/avatars/satstralia.small.webp
  frontend/static/federation/avatars/satstralia.webp
  frontend/static/federation/avatars/whiteyesats.small.webp
  frontend/static/federation/avatars/whiteyesats.webp
  frontend/static/federation/pgp/8B99A9F344AD4BDF158EE1ADA9765943E23958EC.asc
Due: prettier-frontend, lintern-frontend

change escrow duration from 8 - 10 hrs
  api/models/order.py
  docs/_pages/docs/03-understand/05-trade-escrow.md
  docs/assets/schemas/api-latest.yaml
  docs/assets/schemas/api-v0.1.yaml
  docs/assets/schemas/api-v0.5.3.yaml
Due: none

update maker form
  frontend/src/components/MakerForm/MakerForm.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

fix grammar
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Update LNProxy relay list on 2025-11-16
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Update LNProxy relay list on 2025-11-23
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Update LNProxy relay list on 2025-11-30
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

update alpine for SOCKS5 support
  nodeapp/Dockerfile
  nodeapp/robosats-client.sh
Due: none

Update LNProxy relay list on 2025-12-07
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

feat: Improve 'Create Order' button disabled feedback
  frontend/src/components/MakerForm/MakerForm.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Add Alice Coordinator
  frontend/static/federation.json
  frontend/static/federation/avatars/alice.small.webp
  frontend/static/federation/avatars/alice.webp
  frontend/static/federation/pgp/349137316F89DAF6D7E66A40D0B7C7C3C3744DBA.asc
Due: prettier-frontend, lintern-frontend
