Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, lintern-frontend, lintern-android, check-android

.pre-commit-config.yaml:

exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/|^mobile/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: lintern-frontend
        name: lintern-frontend
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run lint'
      - id: lintern-android
        name: lintern-android
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^android/
        types_or: [kotlin]
        entry: bash -c 'cd android && ./gradlew lint'
      - id: check-android
        name: check-android
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^android/
        types_or: [kotlin]
        entry: bash -c 'cd android && ./gradlew check'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.13
    hooks:
    - id: ruff
      stages:
        - pre-commit
        - pre-merge-commit
      language: system
      args: [ --fix ]
      types: [python]
    - id: ruff-format
      stages:
        - pre-commit
        - pre-merge-commit
      language: system
      types: [python]

Remove coordinator unreachable error banner
  frontend/src/services/api/ApiAndroidClient/index.ts
  frontend/src/services/api/ApiWebClient/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Better nostr relay tests
  .env-sample
  .github/workflows/integration-tests.yml
  api/tests/test_nostr.py
  docker-tests.yml
  tests/test_nostr_relay.py
Due: none

Fix env
  .github/workflows/integration-tests.yml
  docker-tests.yml
Due: none

Fix env
  .github/workflows/integration-tests.yml
  docker/strfry/Dockerfile
Due: none

Fix env
  docker-tests.yml
Due: none

Fix tests
  tests/test_nostr_relay.py
Due: none

Remove coordinator dispath error
  frontend/src/services/api/ApiAndroidClient/index.ts
  frontend/src/services/api/ApiWebClient/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Add testnet relay routes to nodeapp
  nodeapp/AGENTS.md
  nodeapp/coordinators/AGENTS.md
  nodeapp/coordinators/alice/locations.conf
  nodeapp/coordinators/bazaar/locations.conf
  nodeapp/coordinators/freedomsats/locations.conf
  nodeapp/coordinators/lake/locations.conf
  nodeapp/coordinators/temple/locations.conf
Due: none

Bump babel 8
  .github/workflows/frontend-build.yml
  .github/workflows/js-linter.yml
  android/zapstore.yaml
  development/release.md
  frontend/babel.config.json
  frontend/package-lock.json
  frontend/package.json
  frontend/webpack.config.ts
Due: prettier-frontend, lintern-frontend

Fix Redis 8.x timeout in Channels
  robosats/settings.py
Due: none

remove also gpg keys when cleaning users
  api/tasks.py
Due: none

Bump Typescript 7
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Dialogs/EnableTelegram.tsx
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/tsconfig.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Cache public endpoints in Redis
  api/AGENTS.md
  api/views.py
  tests/AGENTS.md
  tests/test_api_cache.py
Due: none

Bump eslint 10
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedNostrChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/utils/bondCalculator.ts
  frontend/src/utils/getHost.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Bump i18n 26
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, lintern-frontend

Downgrade babel
  frontend/babel.config.json
  frontend/package-lock.json
  frontend/package.json
  frontend/webpack.config.ts
Due: prettier-frontend, lintern-frontend

Bump openpgp 6
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, lintern-frontend

Bump uuid 14
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, lintern-frontend

Bump react-grid-layout 2.2.4
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pro/Main.tsx
  frontend/src/pro/Widgets/Book.tsx
  frontend/src/pro/Widgets/Depth.tsx
  frontend/src/pro/Widgets/Federation.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix icons
  frontend/src/basic/RobotPage/TokenInput.tsx
  frontend/src/components/Dialogs/AuditPGP.tsx
  frontend/src/components/Dialogs/StoreToken.tsx
  frontend/src/components/TradeBox/Forms/LightningPayout.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Bump npm to v11.19.0; document v12 Node constraint blocker
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, lintern-frontend

Remove unused npm runtime dependency (P3-I)
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, lintern-frontend

Bump webpack-cli 7
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, lintern-frontend

Remove unused libraries
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, lintern-frontend

Code Review
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedApiChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/Prompts/Dispute.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/services/Roboidentities/RoboidentitiesWebClient/RobohashGenerator.ts
  frontend/src/types/webln.d.ts
  frontend/src/utils/getHost.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Code Review 2
  frontend/AGENTS.md
  frontend/package.json
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/Charts/helpers/OrderTooltip/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/Dialogs/Exchange.tsx
  frontend/src/components/Dialogs/Search.tsx
  frontend/src/components/MakerForm/AmountRange.tsx
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/PaymentMethods/MethodList.ts
  frontend/src/components/PaymentMethods/StringAsIcons.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/components/TradeBox/Dialogs/ConfirmFiatReceived.tsx
  frontend/src/components/TradeBox/Dialogs/ConfirmFiatSent.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedApiChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/Prompts/Chat.tsx
  frontend/src/components/TradeBox/Prompts/Dispute.tsx
  frontend/src/components/TradeBox/Prompts/LockInvoice.tsx
  frontend/src/components/TradeBox/Prompts/Payout.tsx
  frontend/src/components/TradeBox/Prompts/PublicWait.tsx
  frontend/src/components/TradeBox/Prompts/Successful.tsx
  frontend/src/components/TradeBox/TradeSummary.tsx
  frontend/src/types/modules.d.ts
  frontend/src/utils/AGENTS.md
  frontend/src/utils/aggregateInfo.ts
  frontend/src/utils/checkVer.ts
  frontend/src/utils/currencies.ts
  frontend/src/utils/index.ts
  frontend/src/utils/prettyNumbers.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Fixes
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Serve nodeapp via HTTPS self-signed
  .gitignore
  nodeapp/.dockerignore
  nodeapp/AGENTS.md
  nodeapp/Dockerfile
  nodeapp/docker-compose-example.yml
  nodeapp/docker-compose.yml
  nodeapp/nginx.conf
  nodeapp/robosats-client.sh
Due: none

fix: log swap failure reason only once
  api/logics.py
  api/tests/test_payout_amount.py
  api/views.py
Due: none

Document self-signed HTTPS warning
  nodeapp/AGENTS.md
  nodeapp/README.md
Due: none

Fix: prevent duplicate payment enqueuing if all celery workers are stuck
  api/management/commands/follow_invoices.py
  api/models/ln_payment.py
Due: none

Add database migration
  api/migrations/0058_alter_lnpayment_status.py
Due: none

Code Review 3
  frontend/package-lock.json
  frontend/src/basic/BookPage/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

chore(ci): bump actions/checkout to v5 in codeql.yml
  .github/workflows/codeql.yml
Due: none

chore(deps): bump eslint stack to v9.39.5 and remove dead eslint-config-love dep
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, lintern-frontend

ci: add dependabot groups to reduce PR noise
  .github/dependabot.yml
Due: none
