Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, lintern-frontend, lintern-android, check-android

collect-phrases:
  name: Collect i18n phrases
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'

prettier-frontend:
  name: prettier-frontend
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

lintern-frontend:
  name: lintern-frontend
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run lint'

lintern-android:
  name: lintern-android
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd android && ./gradlew lint'

check-android:
  name: check-android
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd android && ./gradlew check'

Coordinator load and race condition
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/services/DevFundProfile.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Discard failing CI
  .github/workflows/js-linter.yml
Due: none

Fix image upload errors not shown in chat
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

feat: make dispute email dynamic
  frontend/src/components/TradeBox/Prompts/DisputeLoser.tsx
  frontend/src/components/TradeBox/Prompts/DisputeWinner.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Add Eleuteria Testnet4 coordinator data
  api/federation.json
Due: none

Add Eleuteria Testnet4 coordinator data
  frontend/static/federation.json
Due: prettier-frontend, lintern-frontend

fix: add mempool .onion fallback
  .env-sample
  api/AGENTS.md
  api/mempool.py
  api/tests/test_utils.py
Due: none

Fix Eleuteria Testnet4 frontend federation data
  frontend/static/federation.json
Due: prettier-frontend, lintern-frontend

Downgrade PGP
  api/federation.json
  frontend/AGENTS.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pgp/index.ts
  frontend/webpack.config.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Remove fake testnet address
  nodeapp/coordinators/alice/locations.conf
  nodeapp/coordinators/alice/upstreams.conf
  nodeapp/coordinators/ammanaya/locations.conf
  nodeapp/coordinators/ammanaya/upstreams.conf
  nodeapp/coordinators/bazaar/locations.conf
  nodeapp/coordinators/bazaar/upstreams.conf
  nodeapp/coordinators/eleuteria/locations.conf
  nodeapp/coordinators/eleuteria/upstreams.conf
  nodeapp/coordinators/freeport/locations.conf
  nodeapp/coordinators/freeport/upstreams.conf
  nodeapp/robosats-client.sh
Due: none

Fix concensus race condition
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/TradeBox/CancelButton.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedApiChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedNostrChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/components/TradeBox/Prompts/Dispute.tsx
  frontend/src/components/TradeBox/Prompts/Successful.tsx
  frontend/src/models/Federation.model.ts
  frontend/src/models/Order.model.ts
  frontend/src/models/Robot.model.ts
  frontend/src/services/FederationDiscovery/__tests__/index.test.ts
  frontend/src/services/FederationDiscovery/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix tests
  api/tests/test_withdraw_rewards.py
Due: none

fix: unify federation order URLs
  api/AGENTS.md
  api/nostr.py
  api/notifications.py
  api/tests/test_notifications.py
  api/tests/test_utils.py
  api/utils.py
  frontend/src/basic/TopBar/NotificationsDrawer/NotificationCard/index.tsx
  frontend/src/basic/TopBar/NotificationsDrawer/index.tsx
  frontend/static/AGENTS.md
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: prevent null url materialization
  frontend/jest.config.js
  frontend/src/models/AGENTS.md
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/__tests__/Coordinator.model.test.ts
  frontend/src/services/RoboPool/index.ts
  frontend/src/services/__mocks__/Roboidentities.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Update devfund_pubkey.json
  devfund_pubkey.json
Due: none

Guard empty coordinator url calls
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/models/AGENTS.md
  frontend/src/models/Order.model.ts
  frontend/src/models/Robot.model.ts
  frontend/src/models/__tests__/Robot.model.test.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Offline state for empty coord urls
  frontend/src/components/FederationTable/index.tsx
  frontend/src/models/AGENTS.md
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Robot.model.ts
  frontend/src/models/__tests__/Coordinator.model.test.ts
  frontend/src/models/__tests__/Robot.model.test.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

chore(deps): apply safe dependabot upgrades
  .github/workflows/android-build.yml
  .github/workflows/coordinator-image.yml
  .github/workflows/desktop-build.yml
  .github/workflows/integration-tests.yml
  .github/workflows/selfhosted-client-image.yml
  .github/workflows/web-client-image.yml
  android/gradle/libs.versions.toml
  desktopApp/package.json
  package.json
  requirements.txt
  requirements_dev.txt
Due: none

Fix incomplete admin order cancel
  api/admin.py
  api/logics.py
  tests/test_trade_pipeline.py
Due: none

Fix CI
  desktopApp/package-lock.json
Due: none

Drop i32 support
  .github/workflows/desktop-build.yml
  .github/workflows/release.yml
  desktopApp/AGENTS.md
  desktopApp/package.json
Due: none

Bump webpack from 5.109.2 to 5.110.3
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, lintern-frontend

Update docs
  development/release.md
Due: none

Update Eleuteria
  nodeapp/coordinators/eleuteria/locations.conf
  nodeapp/coordinators/eleuteria/upstreams.conf
  nodeapp/robosats-client.sh
Due: none

Add efectivo BBVA payment method
  frontend/src/components/PaymentMethods/Icons/bbva.png
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/components/PaymentMethods/MethodList.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Add efectivo BBVA payment method
  frontend/src/components/PaymentMethods/Icons/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

TOCTOU improvements on active order
  api/views.py
Due: none

Fix broken state after onchain admin resolution
  api/admin.py
Due: none

SHA digest order's passwords
  api/models/order.py
  api/tests/test_order_password.py
  api/views.py
Due: none

'robosats@protonmail.com' removed
  frontend/src/components/TradeBox/Prompts/DisputeLoser.tsx
  frontend/src/components/TradeBox/Prompts/DisputeWinner.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Check HOLD amount before accepting
  api/lightning/cln.py
  api/lightning/lnd.py
  api/tests/test_lightning_node.py
  docker/cln/Dockerfile
Due: none

Better .env-sample instructions
  .env-sample
Due: none

fix tests
  api/tests/test_trade_transitions.py
Due: none

DB lock in trade state machine
  api/admin.py
  api/errors.py
  api/logics.py
  api/management/commands/follow_invoices.py
  api/tests/test_trade_transitions.py
Due: none

Guard close_public_order by status
  api/logics.py
  tests/test_trade_pipeline.py
Due: none

Update logics.py
  api/logics.py
Due: none

Add opt-in localization starter
  .github/workflows/translate.yml
  translations/README.md
  translations/config.yaml
  translations/glossary.json
Due: none

Use numeric tag checks from v0.1.21
  .github/workflows/translate.yml
  translations/README.md
Due: none

Code Review
  api/admin.py
  api/logics.py
  api/tests/test_trade_transitions.py
  development/release.md
Due: none

Code Review
  api/admin.py
  api/tests/test_trade_transitions.py
Due: none

Path conditions:
  collect-phrases: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((api|chat|control)/migrations/.*)
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  lintern-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  lintern-android: any of: ^android/ and \.(kt|kts)$ and not ((api|chat|control)/migrations/.*)
  check-android: any of: ^android/ and \.(kt|kts)$ and not ((api|chat|control)/migrations/.*)
