Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile

collect-phrases:
  name: Collect i18n phrases
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'

prettier-frontend:
  name: prettier-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

prettier-mobile:
  name: prettier-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run format'

Coordinators ratings WIP
  frontend/src/components/TradeBox/Prompts/Successful.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/models/Robot.model.ts
  frontend/src/models/Slot.model.ts
  frontend/src/services/api/ApiNativeClient/index.ts
  frontend/src/services/api/ApiWebClient/index.ts
  frontend/src/services/api/index.ts
  frontend/static/federation.json
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Bump to v0.7.5-alpha
  desktopApp/package-lock.json
  desktopApp/package.json
  docs/assets/schemas/api-latest.yaml
  frontend/package-lock.json
  frontend/package.json
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/package.json
  release_notes.md
  version.json
Due: prettier-frontend, prettier-mobile

Bump to v0.7.5-alpha fix
  mobile/package-lock.json
Due: prettier-mobile

Bump to v0.7.5-alpha fix apk
  .github/workflows/release.yml
Due: none

Bump to v0.7.5-alpha fix apk 2
  .github/workflows/release.yml
Due: none

Bump to v0.7.5-alpha fix files
  .github/workflows/release.yml
Due: none

Bump to v0.7.5-alpha fix files test
  .github/workflows/release.yml
Due: none

Bump to v0.7.5-alpha fix files test 2
  .github/workflows/release.yml
Due: none

Bump to v0.7.5-alpha fix files test 3
  .github/workflows/release.yml
Due: none

Bump to v0.7.5-alpha fix files test 4
  .github/workflows/desktop-build.yml
  .github/workflows/release.yml
Due: none

Display swaps support in order details
  .github/workflows/release.yml
  frontend/src/components/OrderDetails/index.tsx
Due: collect-phrases, prettier-frontend

Better loading
  frontend/src/components/OrderDetails/index.tsx
Due: collect-phrases, prettier-frontend

Display dispute's statement contact method
  frontend/src/components/TradeBox/Forms/Dispute.tsx
  frontend/src/components/TradeBox/Prompts/Dispute.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Change veneto logo
  frontend/static/federation.json
  frontend/static/federation/avatars/veneto.small.webp
  frontend/static/federation/avatars/veneto.webp
Due: prettier-frontend

Contact methods
  frontend/src/components/TradeBox/Forms/Dispute.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Fix invoice cleanup
  api/logics.py
  api/management/commands/clean_orders.py
  api/management/commands/follow_invoices.py
  api/models/take_order.py
Due: none

Update order status list
  frontend/src/components/TradeBox/index.tsx
Due: collect-phrases, prettier-frontend

Fix tests
  api/logics.py
  tests/test_trade_pipeline.py
Due: none

Update routing budget default to 2000 ppm
  frontend/src/components/TradeBox/Forms/LightningPayout.tsx
Due: collect-phrases, prettier-frontend

Fix rebase JSONs
  frontend/src/components/TradeBox/Prompts/Successful.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/services/RoboPool/index.ts
  frontend/static/federation.json
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Fix rating
  frontend/src/components/TradeBox/Prompts/Successful.tsx
  frontend/src/components/TradeBox/index.tsx
Due: collect-phrases, prettier-frontend

Include new nostr kinds
  docker/strfry/sync.sh
Due: none

Hightlight Coordinator and peer rating
  frontend/src/components/TradeBox/Prompts/Successful.tsx
  frontend/src/components/TradeBox/TradeSummary.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Hightlight Coordinator and peer rating
  frontend/src/components/TradeBox/Prompts/Successful.tsx
Due: collect-phrases, prettier-frontend

Update unit tests
  tests/test_trade_pipeline.py
Due: none

Update 02-payment-methods.md
  docs/_pages/docs/es/01-best-practices/02-payment-methods.md
Due: none

Remove spaces in reovery token
  frontend/src/basic/RobotPage/TokenInput.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/Dialogs/Recovery.tsx
  frontend/src/components/TradeBox/index.tsx
Due: collect-phrases, prettier-frontend

UX improvements
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/TradeBox/Prompts/Chat.tsx
  frontend/src/components/TradeBox/Prompts/SendingSats.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Remove logs
  frontend/src/components/MakerForm/MakerForm.tsx
Due: collect-phrases, prettier-frontend

v0.7.6-alpha
  desktopApp/package-lock.json
  desktopApp/package.json
  docs/assets/schemas/api-latest.yaml
  frontend/package-lock.json
  frontend/package.json
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/package.json
  release_notes.md
  version.json
Due: prettier-frontend, prettier-mobile

revert headers
  frontend/src/models/Robot.model.ts
  frontend/src/models/Slot.model.ts
  frontend/src/services/api/ApiNativeClient/index.ts
  frontend/src/services/api/ApiWebClient/index.ts
  frontend/src/services/api/index.ts
Due: collect-phrases, prettier-frontend

Update 02-payment-methods.md
  docs/_pages/docs/01-best-practices/02-payment-methods.md
Due: none

Create Scams section
  docs/_pages/docs/01-best-practices/02-payment-methods.md
  docs/_pages/docs/es/01-best-practices/02-payment-methods.md
Due: none

Fix dots
  docs/_pages/docs/01-best-practices/02-payment-methods.md
  docs/_pages/docs/es/01-best-practices/02-payment-methods.md
Due: none

Add market price sources to coordinator summary accordion
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Add docker frontend
  .gitignore
  frontend/docker-compose.yml
  frontend/src/contexts/AppContext.tsx
Due: collect-phrases, prettier-frontend

Path conditions:
  collect-phrases: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((api|chat|control)/migrations/.*)
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  prettier-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
