Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile, isort, black, flake8

collect-phrases:
  name: collect-phrases
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'

prettier-frontend:
  name: prettier-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

prettier-mobile:
  name: prettier-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run format'

isort:
  name: isort
  stages:
  - commit
  - merge-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  - merge-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  - merge-commit
  language: system
  entry: flake8

test
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/services/api/ApiNativeClient/index.ts
  mobile/App.tsx
Due: collect-phrases, prettier-frontend, prettier-mobile

Fix Native requests (#375)
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/services/api/ApiNativeClient/index.ts
  mobile/App.tsx
Due: collect-phrases, prettier-frontend, prettier-mobile

Fix useffects for book/limit baseurl change, robot open profile and stats.
  frontend/src/contexts/AppContext.tsx
Due: collect-phrases, prettier-frontend

Fix useffects for book/limit baseurl change, robot open profile and stats.
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/Info.model.ts
  frontend/src/services/System/SystemNativeClient/index.ts
Due: collect-phrases, prettier-frontend

Prepare for v0.4.0 release
  frontend/package-lock.json
  frontend/package.json
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/package.json
  version.json
Due: prettier-frontend, prettier-mobile

Translate to Spanish up to line 63 (#377)
  frontend/static/locales/es.json
Due: prettier-frontend

Update docs/contribute/donate
  docs/_config.yml
  docs/_pages/contribute/07-donate.md
Due: none

Fix unsafe/selfhosted alert
  frontend/src/components/UnsafeAlert.tsx
Due: collect-phrases, prettier-frontend

Add coordinator table and coordinator summary dialog
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/Dialogs/CoordinatorSummary.tsx
  frontend/src/components/Dialogs/ExchangeSummary.tsx
  frontend/src/components/Dialogs/index.ts
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Info.model.ts
  frontend/static/federation.json
  frontend/static/federation/Inception.png
Due: collect-phrases, prettier-frontend

Add coordinator table and coordinator summary dialog
  frontend/static/federation.json
Due: prettier-frontend

Small fixes
  frontend/src/components/Dialogs/CoordinatorSummary.tsx
  frontend/src/contexts/AppContext.tsx
Due: collect-phrases, prettier-frontend

Fetch info from multiple coordinators, allow no-cors and all origins
  frontend/src/basic/Main.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/services/api/ApiWebClient/index.ts
  frontend/src/services/api/index.ts
  frontend/static/federation.json
  requirements.txt
  robosats/settings.py
Due: collect-phrases, prettier-frontend, isort, black, flake8

Set coordinator detail dialog style
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/Dialogs/AppInfo.tsx
  frontend/src/components/Dialogs/CoordinatorSummary.tsx
  frontend/src/components/Dialogs/ExchangeSummary.tsx
  frontend/src/components/Dialogs/index.ts
  frontend/src/components/FederationTable/index.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/static/federation.json
  frontend/static/federation/Experimental.png
Due: collect-phrases, prettier-frontend

Revamp dialogs
  frontend/src/basic/Main.tsx
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/NavBar/MoreTooltip.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/Dialogs/About.tsx
  frontend/src/components/Dialogs/AppInfo.tsx
  frontend/src/components/Dialogs/Client.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/Dialogs/Exchange.tsx
  frontend/src/components/Dialogs/ExchangeSummary.tsx
  frontend/src/components/Dialogs/index.ts
  frontend/src/components/FederationTable/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/index.ts
  frontend/src/utils/checkVer.ts
  frontend/src/utils/index.ts
  frontend/static/federation.json
Due: collect-phrases, prettier-frontend

Create app context
  frontend/src/basic/Main.tsx
  frontend/src/components/TorConnection/index.tsx
  frontend/src/contexts/AppContext.tsx
Due: collect-phrases, prettier-frontend

Refactor context vars and turn coordinator model to class
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/MoreTooltip.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/Dialogs/Client.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Settings.model.ts
  frontend/src/models/index.ts
  frontend/static/federation.json
Due: collect-phrases, prettier-frontend

Fix PRO after AppContext refactor
  frontend/src/basic/BookPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/pro/Main.tsx
  frontend/src/pro/ToolBar/index.tsx
  frontend/src/pro/Widgets/Depth.tsx
  frontend/src/pro/Widgets/Federation.tsx
  frontend/src/pro/Widgets/Maker.tsx
  frontend/src/pro/Widgets/Settings.tsx
  frontend/src/pro/Widgets/index.ts
  frontend/src/utils/aggregateInfo.ts
  frontend/src/utils/index.ts
Due: collect-phrases, prettier-frontend

Add exchange aggregation
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/ExchangeInfo.model.ts
  frontend/src/models/Info.model.ts
  frontend/src/models/index.ts
  frontend/src/utils/checkVer.ts
  frontend/src/utils/index.ts
  frontend/src/utils/weightedMean.ts
Due: collect-phrases, prettier-frontend

Fix update available dialog with multiple coordinators
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/components/Dialogs/UpdateClient.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/utils/checkVer.ts
Due: collect-phrases, prettier-frontend

Add info and limits to exchange
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/components/Dialogs/Update.tsx
  frontend/src/components/Dialogs/index.ts
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Exchange.model.ts
  frontend/src/models/ExchangeInfo.model.ts
  frontend/src/models/index.ts
Due: collect-phrases, prettier-frontend

Update by rebasing to latest main and fix conflicts
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Exchange.model.ts
  frontend/src/pro/Main.tsx
  frontend/src/pro/Widgets/Maker.tsx
  frontend/static/federation.json
Due: collect-phrases, prettier-frontend

Add coordinator pgp, nostr and badges
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/static/federation.json
Due: collect-phrases, prettier-frontend

Add more awards/badges to coordinator model
  frontend/src/models/Coordinator.model.ts
  frontend/static/federation.json
Due: collect-phrases, prettier-frontend

Merge over rebase on v0.4.0 tag
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/components/TorConnection.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Exchange.model.ts
  frontend/src/models/index.ts
  frontend/src/pro/Main.tsx
Due: collect-phrases, prettier-frontend

Collect new phrases
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Fix link to update Android client
  frontend/src/components/Dialogs/UpdateClient.tsx
Due: collect-phrases, prettier-frontend

Fix initial fetchInfo on torified app
  frontend/src/contexts/AppContext.tsx
Due: collect-phrases, prettier-frontend

Unas cuantas traducciones mas.
  frontend/static/locales/es.json
Due: prettier-frontend

Update paynym
  docs/_config.yml
  docs/_pages/contribute/07-donate.md
Due: none

Add confirmation dialog for fiat Sent
  frontend/src/components/TradeBox/Dialogs/ConfirmFiatSent.tsx
  frontend/src/components/TradeBox/Dialogs/index.ts
  frontend/src/components/TradeBox/index.tsx
Due: collect-phrases, prettier-frontend

Small fixes
  frontend/src/components/TradeBox/Dialogs/ConfirmFiatSent.tsx
  frontend/src/components/TradeBox/Dialogs/index.ts
Due: collect-phrases, prettier-frontend

Small fixes
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Add fiat sent confirmation dialog (#383)
  frontend/src/components/TradeBox/Dialogs/ConfirmFiatSent.tsx
  frontend/src/components/TradeBox/Dialogs/index.ts
  frontend/src/components/TradeBox/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Improve clarity of swap orders
  frontend/src/components/MakerForm/MakerForm.tsx
Due: collect-phrases, prettier-frontend

Add descriptive send/receive amounts for swaps on OrderDetails
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/components/Dialogs/Confirmation.tsx
  frontend/src/components/Dialogs/NoRobot.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/TradeBox/Dialogs/WebLN.tsx
Due: collect-phrases, prettier-frontend

Add descriptive send/receive amounts for swaps on Maker Page
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Small fixes
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/TradeBox/Forms/LightningPayout.tsx
  frontend/src/utils/computeSats.ts
  frontend/src/utils/index.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Capture HTTP errors on Anrdoid
  mobile/App.tsx
Due: prettier-mobile

Path conditions:
  collect-phrases: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$
  prettier-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
