Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile, isort, black, flake8

.pre-commit-config.yaml:

# TODO
# add a hook which automatically generates the OpenApi schema on API changes
# and places them in an appropriate location
exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
      - id: isort
        name: isort
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: isort
      - id: black
        name: black
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: black
      - id: flake8
        name: flake8
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: flake8

fix: Remove .js files from linting (#1049)
  frontend/package.json
Due: prettier-frontend

Perf hide animated backgrounds
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/components/RobotAvatar/index.tsx
Due: collect-phrases, prettier-frontend

Fix onboarding offers/create navigation
  frontend/src/basic/RobotPage/Onboarding.tsx
Due: collect-phrases, prettier-frontend

Fix undefined currencyCode
  frontend/src/components/OrderDetails/index.tsx
Due: collect-phrases, prettier-frontend

Fix chat avatars and numeric displays
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/MessageCard/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/components/TradeBox/Prompts/Chat.tsx
Due: collect-phrases, prettier-frontend

Fix successful prompt avatars, rate text and txid
  frontend/src/components/TradeBox/Prompts/Successful.tsx
  frontend/src/components/TradeBox/TradeSummary.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/handcrafted.py
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, isort, black, flake8

Small fixes and lint fixes
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/TokenInput.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/RobotAvatar/RobohashGenerator.ts
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/RobotAvatar/robohash.worker.ts
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/components/TradeBox/Prompts/Successful.tsx
  frontend/src/components/TradeBox/index.tsx
Due: collect-phrases, prettier-frontend

Fix coordinator avatars orientation
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/components/OrderDetails/index.tsx
Due: collect-phrases, prettier-frontend

Add mempool.space as fee estimator and remote read devfund pubkey
  api/logics.py
  api/tasks.py
  api/utils.py
  devfund_pubkey.json
Due: isort, black, flake8

Add mempool.space as fee estimator and remote read devfund pubkey (#1055)
  api/logics.py
  api/tasks.py
  api/utils.py
  devfund_pubkey.json
Due: isort, black, flake8

Fix simplify read pubkey from file
  api/utils.py
Due: isort, black, flake8

Replace isort, black, flake8 with ruff
  .pre-commit-config.yaml
  requirements_dev.txt
Due: none

Replace isort, black, flake8 with ruff
  api/management/commands/telegram_watcher.py
  api/models/currency.py
  control/admin.py
  pyproject.toml
Due: isort, black, flake8

Replace isort, black, flake8 with ruff
  .pre-commit-config.yaml
  api/management/commands/telegram_watcher.py
  api/models/currency.py
  control/admin.py
  pyproject.toml
Due: isort, black, flake8

Dev: replace isort, black, flake8 with ruff (#1057)
  .pre-commit-config.yaml
  api/management/commands/telegram_watcher.py
  api/models/currency.py
  control/admin.py
  pyproject.toml
Due: isort, black, flake8

Fix ensure unique coverage report artifacts
  .github/workflows/integration-tests.yml
Due: none

Update integration test dependencies
  .github/workflows/integration-tests.yml
Due: none

Change default max_order_size
  .env-sample
  api/logics.py
  api/views.py
Due: isort, black, flake8

Fix unsafeAlert and grab safe urls from federation.json
  frontend/src/components/HostAlert/UnsafeAlert.tsx
  frontend/static/federation.json
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/handcrafted.py
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, isort, black, flake8

Fix click order on order map
  frontend/src/components/Map/index.tsx
Due: collect-phrases, prettier-frontend

Fix cancel button, add debug console log fetchOrder
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/TradeBox/CancelButton.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/contexts/FederationContext.ts
Due: collect-phrases, prettier-frontend

Fix mempool url
  api/utils.py
Due: isort, black, flake8

Add setAcknowledgeWarning to initialAppContext
  frontend/src/contexts/AppContext.ts
Due: collect-phrases, prettier-frontend

Add simple web hosted federated client
  .github/workflows/frontend-build.yml
  .github/workflows/release.yml
  .github/workflows/selfhosted-client-image.yml
  .github/workflows/web-client-image.yml
  frontend/src/components/HostAlert/UnsafeAlert.tsx
  web/Dockerfile
  web/basic.html
  web/nginx.conf
  web/pro.html
  web/readme.md
Due: collect-phrases, prettier-frontend

Add simple web hosted client
  .github/workflows/frontend-build.yml
  .github/workflows/js-linter.yml
  .github/workflows/release.yml
  .github/workflows/selfhosted-client-image.yml
  .github/workflows/web-client-image.yml
  web/Dockerfile
  web/basic.html
  web/nginx.conf
  web/pro.html
  web/readme.md
  web/run.sh
Due: none

Fix change web service port
  web/nginx.conf
Due: none

Fix artifact path
  .github/workflows/web-client-image.yml
Due: none

Fix web image context
  .github/workflows/web-client-image.yml
Due: none

Bring coordinators static content to main
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Settings.model.ts
  frontend/static/federation.json
  frontend/static/federation/avatars/exp.small.webp
  frontend/static/federation/avatars/exp.webp
  frontend/static/federation/avatars/lake.small.webp
  frontend/static/federation/avatars/lake.webp
  frontend/static/federation/avatars/local.small.webp
  frontend/static/federation/avatars/local.webp
  frontend/static/federation/avatars/satstralia.small.webp
  frontend/static/federation/avatars/satstralia.webp
  frontend/static/federation/avatars/temple.small.webp
  frontend/static/federation/avatars/temple.webp
  frontend/static/federation/pgp/25791752E9661C1DE118A8C6F78CD3D6471B6789.asc
  frontend/static/federation/pgp/B4AB5F19113D4125DDF217739C4585B561315571.asc
  frontend/static/federation/pgp/D1894C9862A9D02D47D96C84AE30B6904210DA14.asc
  frontend/static/federation/pgp/EC4F94F629AA28242B54265F1ABE1CA3582A031A.asc
Due: collect-phrases, prettier-frontend

Add serve_misc to web host app
  web/nginx.conf
Due: none

Update federated frontend url
  frontend/src/components/HostAlert/UnsafeAlert.tsx
  frontend/static/locales/handcrafted.py
Due: collect-phrases, prettier-frontend, isort, black, flake8

Update v0.6.0 pre-release blog post
  docs/_posts/2023-12-31-pre-release-robosats-decentralized.md
Due: none

Fix Contexts
  frontend/src/App.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/contexts/GarageContext.tsx
Due: collect-phrases, prettier-frontend

Use current order
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/contexts/FederationContext.tsx
Due: collect-phrases, prettier-frontend

Fix do not share chat logs on disputes by default
  frontend/src/components/TradeBox/Forms/Dispute.tsx
  frontend/src/components/TradeBox/index.tsx
Due: collect-phrases, prettier-frontend

fix infinite re-render loop
  frontend/src/contexts/FederationContext.tsx
Due: collect-phrases, prettier-frontend

Re-set fetchOrder on page change, empty book on not_found
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Coordinator.model.ts
Due: collect-phrases, prettier-frontend

Add coordinator endpoint to stats for nerds
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Fix navigation
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
Due: collect-phrases, prettier-frontend

Small fixes
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend
