Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile

.pre-commit-config.yaml:

exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v2.3.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.11
    hooks:
    - id: ruff
      stages:
        - commit
        - merge-commit
      language: system
      args: [ --fix ]
      types: [python]
    - id: ruff-format
      stages:
        - commit
        - merge-commit
      language: system
      types: [python]

Add complete robot inline
  api/admin.py
Due: none

feat: add admin inlines
  api/admin.py
Due: none

Android Production APK
  .github/workflows/android-build.yml
  mobile/.gitignore
  mobile/android/app/build.gradle
Due: none

feat: add coordinator panel inlines views (#1264)
  api/admin.py
Due: none

Fix re-submit invoice
  api/logics.py
Due: none

Update build.gradle
  mobile/android/app/build.gradle
Due: none

Update gitignore
  mobile/.gitignore
Due: none

Add Template
  mobile/fastlane/metadata/en-US/full_description.txt
  mobile/fastlane/metadata/en-US/images/icon.png
  mobile/fastlane/metadata/en-US/images/phoneScreenshots/01.jpg
  mobile/fastlane/metadata/en-US/images/phoneScreenshots/02.jpg
  mobile/fastlane/metadata/en-US/images/phoneScreenshots/03.jpg
  mobile/fastlane/metadata/en-US/images/phoneScreenshots/04.jpg
  mobile/fastlane/metadata/en-US/images/phoneScreenshots/05.jpg
  mobile/fastlane/metadata/en-US/images/phoneScreenshots/06.jpg
  mobile/fastlane/metadata/en-US/images/phoneScreenshots/07.jpg
  mobile/fastlane/metadata/en-US/images/phoneScreenshots/08.jpg
  mobile/fastlane/metadata/en-US/short_description.txt
  mobile/fastlane/metadata/es-ES/full_description.txt
  mobile/fastlane/metadata/es-ES/short_description.txt
  mobile/fastlane/metadata/fr-FR/full_description.txt
  mobile/fastlane/metadata/fr-FR/short_description.txt
Due: none

fix(frontend): hard coded receiving method into order detail message (#1260)
  frontend/src/components/OrderDetails/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

fix(coordinator): cannot update_or_create with relate named on django v5 (#1263)
  api/logics.py
  requirements.txt
  requirements_dev.txt
Due: none

feat(mobile): signing and prep for android production APK (#1265)
  .github/workflows/android-build.yml
  mobile/android/app/build.gradle
Due: none

Update Experimental policies
  frontend/static/federation.json
Due: prettier-frontend

Fix federation APK 4xx errors
  mobile/android/app/src/main/java/com/robosats/modules/TorModule.java
Due: none

fix(android): federation APK 4xx errors (#1279)
  mobile/android/app/src/main/java/com/robosats/modules/TorModule.java
Due: none

Add app details
  mobile/fastlane/metadata/en-US/full_description.txt
  mobile/fastlane/metadata/en-US/images/icon.png
  mobile/fastlane/metadata/en-US/images/phoneScreenshots/01.jpg
  mobile/fastlane/metadata/en-US/images/phoneScreenshots/02.jpg
  mobile/fastlane/metadata/en-US/images/phoneScreenshots/03.jpg
  mobile/fastlane/metadata/en-US/images/phoneScreenshots/04.jpg
  mobile/fastlane/metadata/en-US/images/phoneScreenshots/05.jpg
  mobile/fastlane/metadata/en-US/images/phoneScreenshots/06.jpg
  mobile/fastlane/metadata/en-US/images/phoneScreenshots/07.jpg
  mobile/fastlane/metadata/en-US/images/phoneScreenshots/08.jpg
  mobile/fastlane/metadata/en-US/short_description.txt
  mobile/fastlane/metadata/es-ES/full_description.txt
  mobile/fastlane/metadata/es-ES/short_description.txt
  mobile/fastlane/metadata/fr-FR/full_description.txt
  mobile/fastlane/metadata/fr-FR/short_description.txt
Due: none

Code Review
  mobile/fastlane/metadata/en-US/full_description.txt
Due: none

feat(android): add f-droid page resources (#1270)
  mobile/fastlane/metadata/en-US/full_description.txt
  mobile/fastlane/metadata/en-US/images/icon.png
  mobile/fastlane/metadata/en-US/images/phoneScreenshots/01.jpg
  mobile/fastlane/metadata/en-US/images/phoneScreenshots/02.jpg
  mobile/fastlane/metadata/en-US/images/phoneScreenshots/03.jpg
  mobile/fastlane/metadata/en-US/images/phoneScreenshots/04.jpg
  mobile/fastlane/metadata/en-US/images/phoneScreenshots/05.jpg
  mobile/fastlane/metadata/en-US/images/phoneScreenshots/06.jpg
  mobile/fastlane/metadata/en-US/short_description.txt
Due: none

Bump to v0.6.1
  frontend/package-lock.json
  frontend/package.json
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/package.json
  release_notes.md
  version.json
Due: prettier-frontend, prettier-mobile

chore: fix access to android build secrets on release workflow
  .github/workflows/android-build.yml
  .github/workflows/release.yml
Due: none

Relocate folders
  fastlane/metadata/en-US/full_description.txt
  fastlane/metadata/en-US/images/icon.png
  fastlane/metadata/en-US/images/phoneScreenshots/01.jpg
  fastlane/metadata/en-US/images/phoneScreenshots/02.jpg
  fastlane/metadata/en-US/images/phoneScreenshots/03.jpg
  fastlane/metadata/en-US/images/phoneScreenshots/04.jpg
  fastlane/metadata/en-US/images/phoneScreenshots/05.jpg
  fastlane/metadata/en-US/images/phoneScreenshots/06.jpg
  fastlane/metadata/en-US/short_description.txt
Due: none

Relocate fastlane metadata (#1291)
  fastlane/metadata/en-US/full_description.txt
  fastlane/metadata/en-US/images/icon.png
  fastlane/metadata/en-US/images/phoneScreenshots/01.jpg
  fastlane/metadata/en-US/images/phoneScreenshots/02.jpg
  fastlane/metadata/en-US/images/phoneScreenshots/03.jpg
  fastlane/metadata/en-US/images/phoneScreenshots/04.jpg
  fastlane/metadata/en-US/images/phoneScreenshots/05.jpg
  fastlane/metadata/en-US/images/phoneScreenshots/06.jpg
  fastlane/metadata/en-US/short_description.txt
Due: none

Update ca.json
  frontend/static/locales/ca.json
Due: prettier-frontend

Fix Nivo version mismatch
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend

Fix Nivo version mismatch (#1294)
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend

Bump to v0.6.2
  frontend/package-lock.json
  frontend/package.json
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/package.json
  release_notes.md
  version.json
Due: prettier-frontend, prettier-mobile

draft for desktop app
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/basic/Main.tsx
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/geo/Web.js
  frontend/src/models/Federation.model.ts
  frontend/src/services/Native/index.d.ts
  frontend/src/services/System/SystemDesktopClient/index.ts
  frontend/src/services/System/index.ts
Due: collect-phrases, prettier-frontend

host fixed
  frontend/src/basic/Main.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/geo/Web.js
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend

Update 07-wallets.md
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

add robot status "Seen Recently" where missing
  api/serializers.py
  docs/assets/schemas/api-latest.yaml
  docs/assets/schemas/api-v0.1.yaml
  docs/assets/schemas/api-v0.5.3.yaml
  tests/api_specs.yaml
Due: none

add robot status "Seen Recently" where missing in the documentation (#1312)
  api/serializers.py
  docs/assets/schemas/api-latest.yaml
  docs/assets/schemas/api-v0.1.yaml
  docs/assets/schemas/api-v0.5.3.yaml
  tests/api_specs.yaml
Due: none

Update 07-wallets.md (#1306)
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Disable Tor option
  frontend/src/App.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/components/TorConnection.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Settings.model.ts
  frontend/src/services/api/ApiNativeClient/index.ts
  frontend/src/services/api/ApiWebClient/index.ts
  frontend/src/services/api/index.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Fix settings save
  frontend/src/models/Settings.model.ts
  frontend/src/services/System/SystemNativeClient/index.ts
  frontend/src/utils/federationLottery.ts
  mobile/App.tsx
Due: collect-phrases, prettier-frontend, prettier-mobile

Remove unused code
  frontend/src/App.tsx
Due: collect-phrases, prettier-frontend

Remove unused code 2
  frontend/src/App.tsx
Due: collect-phrases, prettier-frontend

ternaries removed and DesktopRobosats switch it to RobosatsClient === 'desktop-app'
  desktopApp/index.html
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/services/Native/index.d.ts
  frontend/src/services/Roboidentities/Native.ts
  frontend/src/services/Roboidentities/RoboidentitiesWebClient/index.ts
  frontend/src/services/Roboidentities/Web.ts
  frontend/src/services/System/SystemDesktopClient/index.ts
  frontend/src/services/System/index.ts
  frontend/src/services/api/ApiNativeClient/index.ts
Due: collect-phrases, prettier-frontend
