Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile

collect-phrases:
  name: Collect i18n phrases
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'

prettier-frontend:
  name: prettier-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

prettier-mobile:
  name: prettier-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run format'

Update currencies.json
  frontend/static/assets/currencies.json
Due: prettier-frontend

Update WorldFlags.tsx
  frontend/src/components/Icons/WorldFlags.tsx
Due: collect-phrases, prettier-frontend

Endpoint
  api/migrations/0052_robot_nostr_pubkey_alter_takeorder_last_satoshis_and_more.py
  api/models/robot.py
  api/nostr.py
  api/oas_schemas.py
  api/serializers.py
  api/urls.py
  api/views.py
  requirements.txt
Due: none

Tests
  Dockerfile
  api/nostr.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  tests/robots/1/nostr_pubkey
  tests/robots/2/nostr_pubkey
  tests/robots/3/nostr_pubkey
  tests/test_trade_pipeline.py
  tests/utils/trade.py
Due: none

Frontend
  api/views.py
  frontend/src/basic/SettingsPage/Coordinators.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/TradeBox/Prompts/Successful.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Robot.model.ts
  frontend/src/models/Settings.model.ts
  frontend/src/services/RoboPool/index.ts
  frontend/src/utils/nostr.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
  tests/robots/1/nostr_pubkey
  tests/robots/2/nostr_pubkey
Due: collect-phrases, prettier-frontend

Frontend 2
  frontend/src/components/TradeBox/Prompts/Successful.tsx
Due: collect-phrases, prettier-frontend

Add UZS migration
  api/migrations/0053_alter_currency_currency.py
Due: none

Wrong message on cancel button when taking an order
  frontend/src/components/Dialogs/CancelOrder.tsx
  frontend/src/components/TradeBox/CancelButton.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Fix tests review
  api/nostr.py
  api/views.py
  tests/test_trade_pipeline.py
Due: none

Remove prints
  tests/test_trade_pipeline.py
Due: none

Bumb mobile versions
  mobile/android/build.gradle
  mobile/package-lock.json
  mobile/package.json
Due: prettier-mobile

Bumb frontend versions
  frontend/package-lock.json
  frontend/package.json
  frontend/src/contexts/AppContext.tsx
Due: collect-phrases, prettier-frontend

Bumb frontend versions
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend

Bump Nivo line
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend

nostr pubkey for Robot
  api/views.py
  frontend/src/models/Robot.model.ts
  frontend/src/models/Slot.model.ts
  frontend/src/services/api/ApiNativeClient/index.ts
  frontend/src/services/api/ApiWebClient/index.ts
  frontend/src/services/api/index.ts
  robosats/middleware.py
  tests/utils/trade.py
Due: collect-phrases, prettier-frontend

Fix tests
  api/oas_schemas.py
  docs/assets/schemas/api-latest.yaml
Due: none

v0.7.7-alpha
  desktopApp/package-lock.json
  desktopApp/package.json
  docs/assets/schemas/api-latest.yaml
  frontend/package-lock.json
  frontend/package.json
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/package.json
  release_notes.md
  version.json
Due: prettier-frontend, prettier-mobile

revert nostr libary
  frontend/src/components/TradeBox/CancelButton.tsx
  requirements.txt
Due: collect-phrases, prettier-frontend

Revert python version
  Dockerfile
Due: none

Disable onchian nostr tag
  api/nostr.py
Due: none

Prerelease fixes
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/TradeBox/CancelButton.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Order.model.ts
  frontend/src/models/Robot.model.ts
  frontend/src/services/RoboPool/index.ts
  frontend/src/utils/nostr.ts
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  mobile/android/app/src/main/java/com/robosats/NotificationsService.java
  mobile/android/app/src/main/java/com/robosats/modules/TorModule.java
  tests/test_trade_pipeline.py
  tests/utils/trade.py
Due: collect-phrases, prettier-frontend

Update it.json
  frontend/static/locales/it.json
Due: prettier-frontend

Validate ratign tokens
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/services/RoboPool/index.ts
  frontend/src/utils/nostr.ts
Due: collect-phrases, prettier-frontend

Filter network order events
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend

Include Peach orders
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Federation.model.ts
  frontend/src/services/RoboPool/index.ts
  frontend/static/federation/avatars/peach.small.webp
  frontend/static/federation/avatars/peach.webp
  frontend/static/federation/pgp/48339A19645E2E53488E0E5479E1B270FACD1BD2.asc
  frontend/static/thirdparties.json
Due: collect-phrases, prettier-frontend

PGP access
  frontend/static/thirdparties.json
Due: prettier-frontend

Include mostro
  frontend/src/services/RoboPool/index.ts
  frontend/static/federation/avatars/mostro.small.webp
  frontend/static/federation/avatars/mostro.webp
  frontend/static/thirdparties.json
Due: collect-phrases, prettier-frontend

Add new relay
  api/nostr.py
  docker/strfry/strfry.conf
Due: none

LibreBazaar coordinator
  frontend/src/components/FederationTable/index.tsx
  frontend/static/federation.json
  frontend/static/federation/avatars/bazaar.small.webp
  frontend/static/federation/avatars/bazaar.webp
  frontend/static/federation/pgp/C6894FC235E06C4FC2FE77916FA7713E574EDEC3.asc
Due: collect-phrases, prettier-frontend

Send nip17 encrypted messages
  api/serializers.py
  api/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Order.model.ts
  frontend/src/models/Robot.model.ts
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend

Refactor
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend

Remove slint.json
  frontend/.eslintrc.json
Due: prettier-frontend

Review
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/models/Maker.model.ts
Due: collect-phrases, prettier-frontend

WIP
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/RobotInfo/index.tsx
Due: collect-phrases, prettier-frontend

cast DEVELOPMENT config to bool
  robosats/routing.py
  robosats/settings.py
Due: none

fix REDIS_URL config instead of environment variable
  robosats/celery/__init__.py
Due: none

add option for timing issues in tests
  api/logics.py
  api/management/commands/follow_invoices.py
Due: none

Fix charts
  frontend/src/basic/BookPage/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/Charts/MapChart/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Path conditions:
  collect-phrases: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((api|chat|control)/migrations/.*)
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  prettier-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
