Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile, isort, black, flake8

.pre-commit-config.yaml:

# TODO
# add a hook which automatically generates the OpenApi schema on API changes
# and places them in an appropriate location
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: collect-phrases
        name: collect-phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
  - repo: local
    hooks:
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
      - id: isort
        name: isort
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: isort
      - id: black
        name: black
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: black
      - id: flake8
        name: flake8
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: flake8

Add permissioned payouts mode debugging envvar
  .env-sample
  api/tasks.py
Due: isort, black, flake8

Handle expired invoices that are in_flight
  api/lightning/node.py
Due: isort, black, flake8

Add generate webp avatars, also small size
  api/views.py
Due: isort, black, flake8

Use new avatars in frontend
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/MessageCard/index.tsx
  frontend/src/components/TradeBox/TradeSummary.tsx
Due: collect-phrases, prettier-frontend

Add light weight webp avatars (#457)
  api/views.py
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/MessageCard/index.tsx
  frontend/src/components/TradeBox/TradeSummary.tsx
Due: collect-phrases, prettier-frontend, isort, black, flake8

Fix payment methods as icons memo
  frontend/src/components/PaymentMethods/StringAsIcons.tsx
Due: collect-phrases, prettier-frontend

Simplify pages / router
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/Dialogs/NoRobot.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/Notifications/index.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/pro/Main.tsx
Due: collect-phrases, prettier-frontend

Load current order on robotfetch
  frontend/src/contexts/AppContext.ts
Due: collect-phrases, prettier-frontend

Fix payment methods as icons memo
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/PaymentMethods/StringAsIcons.tsx
Due: collect-phrases, prettier-frontend

Use premium to filter matches
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/utils/filterOrders.ts
Due: collect-phrases, prettier-frontend

Simplify routing (#458)
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/Dialogs/NoRobot.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/Notifications/index.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/pro/Main.tsx
Due: collect-phrases, prettier-frontend

Fix update matches when payment method changes
  frontend/src/basic/MakerPage/index.tsx
Due: collect-phrases, prettier-frontend

Update pre-commit use in PR template
  .github/pull_request_template.md
Due: none

Use premium to filter matches (#459)
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/utils/filterOrders.ts
Due: collect-phrases, prettier-frontend

Improve admin panel loading times
  api/admin.py
  chat/admin.py
Due: isort, black, flake8

Fix blank route and loading spinner on order page change
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
Due: collect-phrases, prettier-frontend

Fix sats conversion on taker helper text for swaps
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
Due: collect-phrases, prettier-frontend

Small fixes. Click through laoding overlay, take amount calc with no api/info.
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
Due: collect-phrases, prettier-frontend

Remove animations
  frontend/src/components/RobotAvatar/index.tsx
  frontend/static/css/index.css
Due: collect-phrases, prettier-frontend

Disable background animation on avatar load
  frontend/src/components/RobotAvatar/index.tsx
Due: collect-phrases, prettier-frontend

Remove animations (#460)
  frontend/src/components/RobotAvatar/index.tsx
  frontend/static/css/index.css
Due: collect-phrases, prettier-frontend

Add undo confirm fiat sent action
  api/logics.py
  api/models.py
  api/oas_schemas.py
  api/serializers.py
  api/views.py
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/components/TradeBox/Dialogs/ConfirmUndoFiatSent.tsx
  frontend/src/components/TradeBox/Dialogs/index.ts
  frontend/src/components/TradeBox/Prompts/Chat.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/models/Book.model.ts
  frontend/src/models/Order.model.ts
Due: collect-phrases, prettier-frontend, isort, black, flake8

Collect phrases
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Small fixes
  frontend/src/components/TradeBox/Dialogs/ConfirmUndoFiatSent.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Add undo confirm fiat sent action (#461)
  api/logics.py
  api/models.py
  api/oas_schemas.py
  api/serializers.py
  api/views.py
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/components/TradeBox/Dialogs/ConfirmUndoFiatSent.tsx
  frontend/src/components/TradeBox/Dialogs/index.ts
  frontend/src/components/TradeBox/Prompts/Chat.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/models/Book.model.ts
  frontend/src/models/Order.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, isort, black, flake8

Small book optimizations
  frontend/src/components/BookTable/index.tsx
  frontend/src/contexts/AppContext.ts
Due: collect-phrases, prettier-frontend

Small book optimizations (#462)
  frontend/src/components/BookTable/index.tsx
  frontend/src/contexts/AppContext.ts
Due: collect-phrases, prettier-frontend

Increase dependabot frequency
  .github/dependabot.yml
Due: none

Bump pyflakes and django-timezone-field
  requirements.txt
Due: none

Japanese translation
  frontend/static/locales/ja.json
Due: prettier-frontend

Update ja.json
  frontend/static/locales/ja.json
Due: prettier-frontend

The Japanese translation for RoboSats
  frontend/static/locales/ja.json
Due: prettier-frontend

Bump LND, fix BalanceLogs not found on new coordinator instance
  api/views.py
  docker/lnd/Dockerfile
Due: isort, black, flake8

Fix routing to order on bookpage floating maker form
  frontend/src/basic/BookPage/index.tsx
Due: collect-phrases, prettier-frontend

The Japanese translation for RoboSats (#479)
  frontend/static/locales/ja.json
Due: prettier-frontend

Enable Japanese translation
  frontend/src/components/SettingsForm/SelectLanguage.tsx
  frontend/static/locales/ja.json
Due: collect-phrases, prettier-frontend

Fix ErrorBoundary background
  frontend/src/components/ErrorBoundary.tsx
Due: collect-phrases, prettier-frontend

Add local dev coordinator
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/static/federation.json
  frontend/static/federation/Experimental.png
  frontend/static/federation/local.png
Due: collect-phrases, prettier-frontend

Add coordinator badges (#405)
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/Icons/BadgeDevFund.tsx
  frontend/src/components/Icons/BadgeFounder.tsx
  frontend/src/components/Icons/BadgeLimits.tsx
  frontend/src/components/Icons/BadgeLoved.tsx
  frontend/src/components/Icons/BadgePrivacy.tsx
  frontend/src/components/Icons/Nostr.tsx
  frontend/src/components/Icons/index.ts
  frontend/src/models/Coordinator.model.ts
  frontend/static/federation.json
  frontend/static/federation/excoor.png
  frontend/static/federation/exp.png
Due: collect-phrases, prettier-frontend

Refactor
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Coordinator.model.ts
  frontend/static/federation.json
  frontend/static/federation/local.png
  frontend/static/federation/template.png
Due: collect-phrases, prettier-frontend
