Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, prettier-mobile, isort, black, flake8

prettier-frontend:
  name: prettier-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

prettier-mobile:
  name: prettier-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run format'

isort:
  name: isort
  stages:
  - commit
  - merge-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  - merge-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  - merge-commit
  language: system
  entry: flake8

Fix more linting issues
  frontend/.eslintrc.json
  frontend/src/components/TradeBox/Forms/LightningPayout.tsx
  frontend/src/components/TradeBox/Forms/OnchainPayout.tsx
  frontend/src/components/TradeBox/Prompts/Chat.tsx
  frontend/src/components/TradeBox/Prompts/Payout.tsx
  frontend/src/components/TradeBox/Prompts/PublicWait.tsx
  frontend/src/components/TradeBox/Prompts/RoutingFailed.tsx
  frontend/src/components/TradeBox/Prompts/Successful.tsx
  frontend/src/components/TradeBox/Title/index.tsx
  frontend/src/components/TradeBox/TradeSummary.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Order.model.ts
Due: prettier-frontend

Fix more linting issues
  frontend/package.json
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/RobotPage/Recovery.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/TokenInput.tsx
  frontend/src/basic/RobotPage/Welcome.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/utils/prettyNumbers.test.ts
Due: prettier-frontend

Fix more linting issues
  frontend/src/components/SettingsForm/SelectLanguage.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/components/TradeBox/BondStatus.tsx
  frontend/src/components/TradeBox/CollabCancelAlert.tsx
  frontend/src/components/TradeBox/Dialogs/ConfirmFiatReceived.tsx
  frontend/src/components/TradeBox/Dialogs/ConfirmFiatSent.tsx
  frontend/src/components/TradeBox/Dialogs/ConfirmUndoFiatSent.tsx
  frontend/src/components/TradeBox/EncryptedChat/ChatBottom/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/MessageCard/index.tsx
  frontend/src/components/TradeBox/Forms/Dispute.tsx
  frontend/src/components/TradeBox/Forms/LightningPayout.tsx
  frontend/src/components/TradeBox/Forms/OnchainPayout.tsx
  frontend/src/components/TradeBox/Prompts/LockInvoice.tsx
Due: prettier-frontend

Fix more linting issues
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
Due: prettier-frontend

Fix lint errors
  frontend/src/App.tsx
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/NavBar/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/models/Coordinator.model.ts
Due: prettier-frontend

Fix more linting issues
  .github/workflows/js-linter.yml
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/i18n/Native.js
  frontend/src/i18n/Web.js
  frontend/src/index.js
Due: prettier-frontend

Fix more linting issues
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Exchange.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Limit.model.ts
  frontend/src/models/Settings.model.ts
  frontend/src/pgp/index.ts
  frontend/src/pro/Main.tsx
  frontend/src/pro/ToolBar/index.tsx
  frontend/src/pro/Widgets/Book.tsx
  frontend/src/pro/Widgets/Depth.tsx
  frontend/src/pro/Widgets/Federation.tsx
  frontend/src/pro/Widgets/Maker.tsx
  frontend/src/pro/Widgets/Placeholder.tsx
  frontend/src/pro/Widgets/Settings.tsx
  frontend/src/services/Native/index.ts
Due: prettier-frontend

Fix more linting issues, only 1 left
  frontend/.eslintrc.json
  frontend/src/index.js
  frontend/src/services/Native/index.d.ts
  frontend/src/services/Native/index.ts
  frontend/src/services/System/SystemNativeClient/index.ts
  frontend/src/services/System/SystemWebClient/index.ts
  frontend/src/services/Websocket/WebsocketWebClient/index.ts
  frontend/src/services/api/ApiNativeClient/index.ts
  frontend/src/utils/aggregateInfo.ts
  frontend/src/utils/filterOrders.ts
  frontend/src/utils/getHost.ts
  frontend/src/utils/hexToRgb.ts
  frontend/src/utils/match.ts
  frontend/src/utils/prettyNumbers.ts
  frontend/src/utils/saveFile.ts
  frontend/src/utils/statusBadgeColor.ts
  frontend/src/utils/token.ts
  frontend/src/utils/webln.ts
  frontend/src/utils/weightedMean.ts
Due: prettier-frontend

Last fix
  frontend/src/contexts/AppContext.ts
Due: prettier-frontend

Delete user view, session auth and png avatars (#588)
  api/models/robot.py
  api/oas_schemas.py
  api/serializers.py
  api/views.py
  chat/views.py
  requirements.txt
  robosats/middleware.py
Due: isort, black, flake8

Deprecate unsigned invoices (#633)
  api/oas_schemas.py
  api/views.py
Due: isort, black, flake8

Remove /api/user endpoint from api.urls
  api/urls.py
Due: isort, black, flake8

Update package.json
  frontend/package.json
Due: prettier-frontend

Fix webpack heap out of memory (#794)
  frontend/package.json
Due: prettier-frontend

Fix pretty logs admin for orders with no logs recorded
  api/admin.py
Due: isort, black, flake8

fix typo
  docs/_pages/docs/00-quick-start/00-quicks-start-guide.md
Due: none

Update 01-development.md
  docs/_pages/contribute/01-development.md
Due: none

Update 00-quicks-start-guide.md
  docs/_pages/docs/00-quick-start/00-quicks-start-guide.md
Due: none

Update 06-outreach.md
  docs/_pages/contribute/06-outreach.md
Due: none

Update 03-premium.md
  docs/_pages/docs/03-understand/03-premium.md
Due: none

Update 07-wallets.md
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

fix docs link typo (#801)
  docs/_pages/docs/00-quick-start/00-quicks-start-guide.md
Due: none

Update (Multiple) Docs (#802)
  docs/_pages/contribute/01-development.md
  docs/_pages/contribute/06-outreach.md
  docs/_pages/docs/00-quick-start/00-quicks-start-guide.md
  docs/_pages/docs/03-understand/03-premium.md
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Add new coordinator entry issue form
  .github/ISSUE_TEMPLATE/coordinator_registration.yaml
Due: none

Allow auth header to carry pgp keys
  robosats/middleware.py
  robosats/settings.py
Due: isort, black, flake8

Allow auth header to carry pgp keys (#805)
  robosats/middleware.py
  robosats/settings.py
Due: isort, black, flake8

Add Federation basis
  CONTRIBUTING.md
  federation.md
Due: none

Add federation basis and new coordinator form (#793)
  .github/ISSUE_TEMPLATE/coordinator_registration.yaml
  CONTRIBUTING.md
  federation.md
Due: none

Fix typo federation.md
  federation.md
Due: none

Replace react-native-tor with official Tor android client
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/TorConnection.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/services/Native/index.ts
  mobile/App.tsx
  mobile/android/app/build.gradle
  mobile/android/app/proguard-rules.pro
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/main/java/com/robosats/MainApplication.java
  mobile/android/app/src/main/java/com/robosats/OkHttpModule.java
  mobile/android/app/src/main/java/com/robosats/OkHttpPackage.java
  mobile/android/app/src/main/java/com/robosats/RoboTor.java
  mobile/android/app/src/main/java/com/robosats/RoboTorPackage.java
  mobile/android/build.gradle
  mobile/android/gradle.properties
  mobile/package-lock.json
  mobile/package.json
  mobile/patch_modules/react-native-tor/android/build.gradle
  mobile/services/Tor/index.ts
Due: prettier-frontend, prettier-mobile

check for empty order book
  frontend/src/utils/filterOrders.ts
Due: prettier-frontend

Fix minor stale comment
  .github/workflows/android-build.yml
Due: none

Rename TOR to Tor
  README.md
  docs/_data/navigation.yml
  docs/_pages/docs/00-quick-start/00-quicks-start-guide.md
  docs/_pages/docs/00-quick-start/02-tor.md
  docs/_pages/docs/00-quick-start/03-access.md
  docs/_pages/docs/01-best-practices/01-pgp-guide.md
  docs/_pages/docs/02-features/01-private.md
  docs/_pages/docs/03-understand/10-telegram.md
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/TorConnection.tsx
  frontend/src/components/TradeBox/Forms/LightningPayout.tsx
  frontend/src/contexts/AppContext.ts
  frontend/static/lnproxies.json
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
  frontend/templates/frontend/basic.html
  frontend/templates/frontend/pro.html
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/html/Web.bundle/index.html
  nodeapp/README.md
  nodeapp/basic.html
  nodeapp/pro.html
  nodeapp/robosats-client.sh
  scripts/lnproxy-sync.js
Due: prettier-frontend

Create sw.json
  frontend/static/locales/sw.json
Due: prettier-frontend

Add files via upload
  sw.json
Due: none

update to newer cln hold plugin
  api/lightning/cln.py
  scripts/generate_grpc.sh
Due: isort, black, flake8

Update 07-wallets.md (#804)
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

fix docker stuff
  docker/cln/Dockerfile
  docker/cln/config
  docker/cln/entrypoint.sh
Due: none

Path conditions:
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  prettier-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  isort: any of: \.py$, but not: (api|chat|control)/migrations/.*
  black: any of: \.py$, but not: (api|chat|control)/migrations/.*
  flake8: any of: \.py$, but not: (api|chat|control)/migrations/.*
