Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, prettier-mobile, isort, black, flake8

.pre-commit-config.yaml:

# TODO
# add a hook which automatically generates the OpenApi schema on API changes
# and places them in an appropriate location
exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v2.3.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      # - id: collect-phrases
      #   name: Collect i18n phrases
      #   stages:
      #     - commit
      #     - merge-commit
      #   language: system
      #   files: ^frontend/
      #   types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
      #   entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
      - id: isort
        name: isort
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: isort
      - id: black
        name: black
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: black
      - id: flake8
        name: flake8
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: flake8

Update 06-outreach.md
  docs/_pages/contribute/06-outreach.md
Due: none

Update 00-quicks-start-guide.md
  docs/_pages/docs/00-quick-start/00-quicks-start-guide.md
Due: none

Update 01-lightning.md
  docs/_pages/docs/00-quick-start/01-lightning.md
Due: none

Update 02-tor.md
  docs/_pages/docs/00-quick-start/02-tor.md
Due: none

Update 03-access.md
  docs/_pages/docs/00-quick-start/03-access.md
Due: none

Update 01-trade-pipeline.md
  docs/_pages/docs/03-understand/01-trade-pipeline.md
Due: none

Update 02-robots.md
  docs/_pages/docs/03-understand/02-robots.md
Due: none

Update 03-premium.md
  docs/_pages/docs/03-understand/03-premium.md
Due: none

Bump CLN to v23.05.2 and LND to v0.16.3-beta
  docker/cln/Dockerfile
  docker/lnd/Dockerfile
Due: none

Update MakerForm.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
Due: prettier-frontend

Update 04-bonds.md
  docs/_pages/docs/03-understand/04-bonds.md
Due: none

Update 05-trade-escrow.md
  docs/_pages/docs/03-understand/05-trade-escrow.md
Due: none

Update 06-disputes.md
  docs/_pages/docs/03-understand/06-disputes.md
Due: none

Update 07-wallets.md
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Update 08-limits.md
  docs/_pages/docs/03-understand/08-limits.md
Due: none

Update 09-swaps.md
  docs/_pages/docs/03-understand/09-swaps.md
Due: none

Update 10-telegram.md
  docs/_pages/docs/03-understand/10-telegram.md
Due: none

Update 12-prices.md
  docs/_pages/docs/03-understand/12-prices.md
Due: none

Update 13-fees.md
  docs/_pages/docs/03-understand/13-fees.md
Due: none

Update 14-on-chain-payouts.md
  docs/_pages/docs/03-understand/14-on-chain-payouts.md
Due: none

Update handleCurrencyChange to not reset amount range on currency change in maker form (#692)
  frontend/src/components/MakerForm/MakerForm.tsx
Due: prettier-frontend

Revert "Bump @typescript-eslint/eslint-plugin from 5.57.0 to 6.0.0 in /frontend (#720)"
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend

Revert "Bump @typescript-eslint/eslint-plugin from 5.57.0 to 6.0.0 in /frontend" (#721)
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend

Fix dependabot to increase versions in package.json too
  .github/dependabot.yml
Due: none

Update deps in package.json
  .github/dependabot.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/MakerForm/MakerForm.tsx
Due: prettier-frontend

Update deps in package.json (#734)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/MakerForm/MakerForm.tsx
Due: prettier-frontend

Add object limit to /api/ticks
  api/oas_schemas.py
  api/views.py
Due: isort, black, flake8

Add object limit to /api/ticks (#747)
  api/oas_schemas.py
  api/views.py
Due: isort, black, flake8

Add criptoya.com api to price providers
  .env-sample
  api/utils.py
Due: isort, black, flake8

Limit pinch to zoom gesture on Android
  mobile/html/Web.bundle/index.html
Due: none

Fix inverted color on Learn More button
  frontend/src/basic/RobotPage/Onboarding.tsx
Due: prettier-frontend

Update communities dialog
  frontend/src/components/Dialogs/Community.tsx
  frontend/src/components/Icons/Nostr.tsx
  frontend/src/components/Icons/Simplex.tsx
  frontend/src/components/Icons/index.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Update communities dialog (#749)
  frontend/src/components/Dialogs/Community.tsx
  frontend/src/components/Icons/Nostr.tsx
  frontend/src/components/Icons/Simplex.tsx
  frontend/src/components/Icons/index.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Add criptoya.com api to price providers (#748)
  .env-sample
  api/utils.py
Due: isort, black, flake8

Edit Multiple docs (#712)
  docs/_pages/contribute/01-development.md
  docs/_pages/contribute/02-languages.md
  docs/_pages/contribute/04-guides.md
  docs/_pages/contribute/05-art.md
  docs/_pages/contribute/06-outreach.md
  docs/_pages/docs/00-quick-start/00-quicks-start-guide.md
  docs/_pages/docs/00-quick-start/01-lightning.md
  docs/_pages/docs/00-quick-start/02-tor.md
  docs/_pages/docs/00-quick-start/03-access.md
  docs/_pages/docs/03-understand/01-trade-pipeline.md
  docs/_pages/docs/03-understand/02-robots.md
  docs/_pages/docs/03-understand/03-premium.md
  docs/_pages/docs/03-understand/04-bonds.md
  docs/_pages/docs/03-understand/05-trade-escrow.md
  docs/_pages/docs/03-understand/06-disputes.md
  docs/_pages/docs/03-understand/07-wallets.md
  docs/_pages/docs/03-understand/08-limits.md
  docs/_pages/docs/03-understand/09-swaps.md
  docs/_pages/docs/03-understand/10-telegram.md
  docs/_pages/docs/03-understand/12-prices.md
  docs/_pages/docs/03-understand/13-fees.md
  docs/_pages/docs/03-understand/14-on-chain-payouts.md
Due: none

Fix book header labels
  frontend/src/components/BookTable/index.tsx
Due: prettier-frontend
