Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile, isort, black, flake8

.pre-commit-config.yaml:

# TODO
# add a hook which automatically generates the OpenApi schema on API changes
# and places them in an appropriate location
exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
      - id: isort
        name: isort
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: isort
      - id: black
        name: black
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: black
      - id: flake8
        name: flake8
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: flake8

Add tests for frontend urls
  frontend/urls.py
  tests/test_frontend_fetch.py
  tests/utils/trade.py
Due: isort, black, flake8

Add rewards and automatic dispute resolution tests
  tests/test_trade_pipeline.py
Due: isort, black, flake8

Fix comment out unused functionalities and add LND 0.17.2 to tests
  .github/workflows/integration-tests.yml
  api/lightning/lnd.py
  api/nick_generator/nick_generator.py
Due: isort, black, flake8

Fix names on coverage reports
  .github/workflows/integration-tests.yml
Due: none

Add currency Albanian LEK
  api/migrations/0046_alter_currency_currency.py
  control/migrations/0003_alter_balancelog_options.py
  frontend/src/components/Icons/WorldFlags.tsx
  frontend/static/assets/currencies.json
Due: collect-phrases, prettier-frontend

Add robot hash ids to order details and robot view
  api/oas_schemas.py
  api/serializers.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  tests/test_trade_pipeline.py
Due: isort, black, flake8

Fix add hash_ids on robots created before hash_id implementation
  robosats/middleware.py
Due: isort, black, flake8

Add Simplex contact method to coordinator dialog
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/pro/Widgets/Federation.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Add satstralia PGP keys
  frontend/static/federation.json
Due: prettier-frontend

Federation view fixes (#923)
  .pre-commit-config.yaml
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend

Fix (some) lint issues
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/TokenInput.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/Charts/MapChart/index.tsx
  frontend/src/components/Charts/helpers/OrderTooltip/index.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/Notifications/index.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/contexts/FederationContext.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/pro/Widgets/Book.tsx
  frontend/src/pro/Widgets/Depth.tsx
  frontend/src/pro/Widgets/Maker.tsx
  frontend/src/utils/federationLottery.ts
Due: collect-phrases, prettier-frontend

Add cordinator: Temple of Sats
  frontend/static/federation.json
  frontend/static/federation/temple.small.webp
  frontend/static/federation/temple.webp
  nodeapp/coordinators/exp/upstreams.conf
  nodeapp/coordinators/temp/upstreams.conf
  nodeapp/coordinators/temple/locations.conf
  nodeapp/coordinators/temple/upstreams.conf
  nodeapp/robosats-client.sh
Due: prettier-frontend

Fix
  frontend/src/models/Garage.model.ts
Due: collect-phrases, prettier-frontend

Fix lint issues
  frontend/src/App.tsx
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/Recovery.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/Charts/MapChart/index.tsx
  frontend/src/components/Charts/helpers/OrderTooltip/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/Dialogs/F2fMap.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
Due: collect-phrases, prettier-frontend

Fix old merge conflict on federation.md
  federation.md
Due: none

Fix version, release_note and small typo
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/FederationTable/index.tsx
  frontend/src/models/Federation.model.ts
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/package.json
  version.json
Due: collect-phrases, prettier-frontend, prettier-mobile

Remove template coordinator
  frontend/static/federation.json
  frontend/static/federation/temp.small.webp
  frontend/static/federation/temp.webp
  nodeapp/coordinators/temp/locations.conf
  nodeapp/coordinators/temp/upstreams.conf
  nodeapp/nginx.conf
  nodeapp/robosats-client.sh
Due: prettier-frontend

Fix order page
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/FederationContext.ts
  frontend/src/contexts/GarageContext.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Order.model.ts
  frontend/src/models/Robot.model.ts
Due: collect-phrases, prettier-frontend

Add new X icons, replace Twitter
  frontend/src/components/Dialogs/Community.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/Icons/X.tsx
  frontend/src/components/Icons/index.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Fix PRO
  frontend/src/pro/Widgets/Federation.tsx
  frontend/src/pro/Widgets/Maker.tsx
Due: collect-phrases, prettier-frontend

More fixes
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/components/TradeBox/CancelButton.tsx
  frontend/src/components/TradeBox/CollabCancelAlert.tsx
  frontend/src/components/TradeBox/Dialogs/ConfirmUndoFiatSent.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/FederationContext.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Exchange.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Robot.model.ts
  frontend/src/pro/Widgets/Book.tsx
  frontend/src/pro/Widgets/Depth.tsx
  frontend/src/pro/Widgets/Maker.tsx
Due: collect-phrases, prettier-frontend

Fix mobile app (#969)
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/contexts/GarageContext.ts
  frontend/src/models/Garage.model.ts
  frontend/static/federation.json
  mobile/App.tsx
Due: collect-phrases, prettier-frontend, prettier-mobile

Fix last order
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/Order.model.ts
  frontend/src/models/Robot.model.ts
Due: collect-phrases, prettier-frontend

Fix robot recovery (#945)
  frontend/src/basic/RobotPage/Recovery.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
  frontend/static/federation.json
  nodeapp/robosats-client.sh
Due: collect-phrases, prettier-frontend

Change getRobot by getSlot (#955)
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/TokenInput.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/Dialogs/StoreToken.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/FederationContext.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
Due: collect-phrases, prettier-frontend

Add coordinator: Satstralia
  frontend/static/federation.json
  frontend/static/federation/satstralia.small.webp
  frontend/static/federation/satstralia.webp
  nodeapp/coordinators/satstralia/locations.conf
  nodeapp/coordinators/satstralia/upstreams.conf
  nodeapp/nginx.conf
  nodeapp/robosats-client.sh
Due: prettier-frontend

Add PGP keys to /static
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/contexts/FederationContext.ts
  frontend/src/pro/Widgets/Federation.tsx
  frontend/static/federation.json
  frontend/static/federation/avatars/exp.small.webp
  frontend/static/federation/avatars/exp.webp
  frontend/static/federation/avatars/local.small.webp
  frontend/static/federation/avatars/local.webp
  frontend/static/federation/avatars/satstralia.small.webp
  frontend/static/federation/avatars/satstralia.webp
  frontend/static/federation/avatars/temple.small.webp
  frontend/static/federation/avatars/temple.webp
  frontend/static/federation/pgp/25791752E9661C1DE118A8C6F78CD3D6471B6789.asc
  frontend/static/federation/pgp/B4AB5F19113D4125DDF217739C4585B561315571.asc
  frontend/static/federation/pgp/D1894C9862A9D02D47D96C84AE30B6904210DA14.asc
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Not expose current notification order
  frontend/src/contexts/FederationContext.ts
Due: collect-phrases, prettier-frontend

Fix and update About
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/components/Dialogs/About.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Update Dispute prompts for multi-coordinator
  frontend/src/components/TradeBox/Prompts/Dispute.tsx
  frontend/src/components/TradeBox/Prompts/DisputeLoser.tsx
  frontend/src/components/TradeBox/Prompts/DisputeWaitPeer.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Fix order workflow (#957)
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/components/TradeBox/Prompts/Chat.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/FederationContext.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Order.model.ts
  frontend/src/pro/Widgets/Federation.tsx
Due: collect-phrases, prettier-frontend

Add coordinator notice
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Update temple of sats, new prettier format
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/models/Settings.model.ts
  frontend/static/federation.json
  nodeapp/robosats-client.sh
Due: collect-phrases, prettier-frontend

Add robo-identity-wasm
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/RobotAvatar/RobohashGenerator.ts
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/RobotAvatar/robohash.worker.ts
  frontend/src/contexts/FederationContext.ts
  frontend/src/models/Book.model.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Robot.model.ts
  frontend/webpack.config.ts
Due: collect-phrases, prettier-frontend

Small fixes
  frontend/src/basic/Main.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/contexts/FederationContext.ts
  frontend/src/models/Order.model.ts
  frontend/src/models/Robot.model.ts
Due: collect-phrases, prettier-frontend

Small fixes
  frontend/src/basic/Main.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
Due: collect-phrases, prettier-frontend

Avatar hashid in Garage
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/contexts/FederationContext.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Robot.model.ts
  frontend/src/models/Slot.model.ts
Due: collect-phrases, prettier-frontend
