Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile, isort, black, flake8

.pre-commit-config.yaml:

# TODO
# add a hook which automatically generates the OpenApi schema on API changes
# and places them in an appropriate location
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: collect-phrases
        name: collect-phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
  - repo: local
    hooks:
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
      - id: isort
        name: isort
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: isort
      - id: black
        name: black
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: black
      - id: flake8
        name: flake8
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: flake8

Add network into coordinator panel header
  robosats/urls.py
Due: isort, black, flake8

Small fixes
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/models/Settings.model.ts
  frontend/src/services/api/ApiNativeClient/index.ts
  frontend/src/services/api/ApiWebClient/index.ts
  mobile/App.tsx
Due: collect-phrases, prettier-frontend, prettier-mobile

Add hard time limits to control tasks
  control/tasks.py
Due: isort, black, flake8

Increase max mining fee
  api/logics.py
  frontend/src/components/TradeBox/Forms/OnchainPayout.tsx
Due: collect-phrases, prettier-frontend, isort, black, flake8

Increase max mining fee (#551)
  api/logics.py
  frontend/src/components/TradeBox/Forms/OnchainPayout.tsx
Due: collect-phrases, prettier-frontend, isort, black, flake8

Fix token auth on Native
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Robot.model.ts
  frontend/src/services/api/ApiNativeClient/index.ts
  frontend/src/services/api/ApiWebClient/index.ts
  frontend/src/services/api/index.ts
Due: collect-phrases, prettier-frontend

Fix pre-release action
  .github/workflows/android-build.yml
  .github/workflows/frontend-build.yml
  .github/workflows/release.yml
  api/oas_schemas.py
  api/views.py
  frontend/src/components/Dialogs/Profile.tsx
Due: collect-phrases, prettier-frontend, isort, black, flake8

Fix token auth native (#558)
  .github/workflows/android-build.yml
  .github/workflows/frontend-build.yml
  .github/workflows/release.yml
  api/oas_schemas.py
  api/views.py
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Robot.model.ts
  frontend/src/services/api/ApiNativeClient/index.ts
  frontend/src/services/api/ApiWebClient/index.ts
  frontend/src/services/api/index.ts
Due: collect-phrases, prettier-frontend, isort, black, flake8

Fix color depth/list button after MUI bump
  frontend/src/basic/BookPage/index.tsx
Due: collect-phrases, prettier-frontend

Add hash/preimage or address/txid to trade summary report
  api/logics.py
  frontend/src/components/TradeBox/TradeSummary.tsx
  frontend/src/models/Order.model.ts
Due: collect-phrases, prettier-frontend, isort, black, flake8

Fix last_login for tokeauth, replace maker/taker_last seen for last_login
  api/models/order.py
  api/views.py
  chat/views.py
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  robosats/middleware.py
Due: collect-phrases, prettier-frontend, isort, black, flake8

Small fixes, increase WS reconnection delay
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/services/Websocket/WebsocketConnectionWeb/index.ts
  robosats/middleware.py
Due: collect-phrases, prettier-frontend, isort, black, flake8

Small fixes chat
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/contexts/AppContext.ts
Due: collect-phrases, prettier-frontend

Fix new WS middleware for old auth method, improve auth token admin panel
  api/admin.py
  robosats/middleware.py
  robosats/urls.py
Due: isort, black, flake8

Improve DB writes performance and concurrency. Add order coordinator proceeds field.
  api/admin.py
  api/lightning/node.py
  api/logics.py
  api/management/commands/clean_orders.py
  api/management/commands/follow_invoices.py
  api/management/commands/telegram_watcher.py
  api/models/market_tick.py
  api/models/order.py
  api/notifications.py
  api/tasks.py
  api/views.py
  chat/views.py
Due: isort, black, flake8

Fix checks on order GET inducing 400
  api/logics.py
Due: isort, black, flake8

Fix order catch
  frontend/src/contexts/AppContext.ts
Due: collect-phrases, prettier-frontend

Fix typos
  api/logics.py
  api/management/commands/telegram_watcher.py
Due: isort, black, flake8

Coordinator db performance clean up (#561)
  api/admin.py
  api/lightning/node.py
  api/logics.py
  api/management/commands/clean_orders.py
  api/management/commands/follow_invoices.py
  api/management/commands/telegram_watcher.py
  api/models/market_tick.py
  api/models/order.py
  api/notifications.py
  api/tasks.py
  api/views.py
  chat/views.py
  frontend/src/contexts/AppContext.ts
Due: collect-phrases, prettier-frontend, isort, black, flake8

Add new payment methods
  frontend/src/components/PaymentMethods/Icons/advcash.png
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/components/PaymentMethods/Icons/rakuten.png
  frontend/src/components/PaymentMethods/MethodList.ts
Due: collect-phrases, prettier-frontend

Bump to v0.5.0
  frontend/package-lock.json
  frontend/package.json
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/package.json
  version.json
Due: prettier-frontend, prettier-mobile

Fix automatic dispute resolution typo
  api/logics.py
Due: isort, black, flake8

Small UI fixes
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/TradeBox/Prompts/Successful.tsx
Due: collect-phrases, prettier-frontend

Fix release workflow
  .github/workflows/django-test.yml
  .github/workflows/release.yml
Due: none

Add soft time limits to tasks
  api/tasks.py
  api/utils.py
Due: isort, black, flake8

Fix minor typo in setup.md
  setup.md
Due: none

Add new api for external prices (non-tor only) bitpay
  .env-sample
  api/tasks.py
  api/utils.py
Due: isort, black, flake8

Decrease payment icons size, increase sharpness
  frontend/src/components/PaymentMethods/Icons/gen-webp.sh
  frontend/src/components/PaymentMethods/Icons/index.tsx
Due: collect-phrases, prettier-frontend

Fix minor typo in setup.md (#563)
  setup.md
Due: none

Add Qiwi Payment Method (Russia)
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/components/PaymentMethods/Icons/qiwi.png
  frontend/src/components/PaymentMethods/MethodList.ts
Due: collect-phrases, prettier-frontend

"Qiwi" Payment Method (#564)
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/components/PaymentMethods/Icons/qiwi.png
  frontend/src/components/PaymentMethods/MethodList.ts
Due: collect-phrases, prettier-frontend

Simplify and optimize nodeapp
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/contexts/AppContext.ts
  nodeapp/Dockerfile
  nodeapp/README.md
  nodeapp/docker-compose-dev.yml
  nodeapp/docker-compose.yml
  nodeapp/index.html
  nodeapp/nginx.conf
  nodeapp/nginx/local.conf
  nodeapp/robosats-client.sh
Due: collect-phrases, prettier-frontend

Add pro frontend
  nodeapp/basic.html
  nodeapp/nginx.conf
  nodeapp/pro.html
Due: none

Simplify and optimize nodeapp (#565)
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/contexts/AppContext.ts
  nodeapp/Dockerfile
  nodeapp/README.md
  nodeapp/basic.html
  nodeapp/docker-compose-dev.yml
  nodeapp/docker-compose.yml
  nodeapp/nginx.conf
  nodeapp/nginx/local.conf
  nodeapp/pro.html
  nodeapp/robosats-client.sh
Due: collect-phrases, prettier-frontend

Fix npm-dev Dockerfile add python installation
  frontend/Dockerfile
Due: none

Small style fixes and new payment method
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/components/PaymentMethods/Icons/pouch.jpg
  frontend/src/components/PaymentMethods/MethodList.ts
  frontend/src/components/RobotAvatar/index.tsx
  frontend/static/css/index.css
Due: collect-phrases, prettier-frontend

Fix soft time limits in api tasks
  api/tasks.py
Due: isort, black, flake8

Simplify frontend/client dev setup, shrink nodeapp
  docker-compose.yml
  frontend/static/assets/misc/unknown_avatar.png
  frontend/static/css/index.css
  nodeapp/.dockerignore
  nodeapp/README.md
  nodeapp/docker-compose-dev.yml
  nodeapp/docker-compose-example.yml
  nodeapp/docker-compose.yml
  nodeapp/nginx.conf
  setup.md
Due: prettier-frontend
