Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, lintern-frontend, prettier-mobile, lintern-mobile

.pre-commit-config.yaml:

exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/|^mobile/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: lintern-frontend
        name: lintern-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run lint'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
      - id: lintern-mobile
        name: lintern-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run lint'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.13
    hooks:
    - id: ruff
      stages:
        - commit
        - merge-commit
      language: system
      args: [ --fix ]
      types: [python]
    - id: ruff-format
      stages:
        - commit
        - merge-commit
      language: system
      types: [python]

Create README.md
  development/README.md
Due: none

Dev docs
  README.md
  development/README.md
  development/assets/federation.png
  development/assets/garage.png
  development/docs.md
  development/release.md
  development/setup.md
Due: none

Update README.md
  development/README.md
Due: none

Add robot deletion confirmation dialog
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/Dialogs/DeleteRobotConfirmation.tsx
  frontend/src/components/Dialogs/index.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Update docs.md
  development/docs.md
Due: none

Dev docs
  development/assets/federation.png
Due: none

Dev docs assets
  development/assets/federation.png
Due: none

Dev docs +
  development/assets/coordinator.png
  development/assets/order.png
  development/docs.md
Due: none

Dev docs +
  development/assets/order.png
Due: none

Development docs
  development/assets/robot.png
  development/docs.md
Due: none

Update LNProxy relay list on 2025-06-29
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Upgrade frontend libraries
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, lintern-frontend

add option for routing_budget_ppm in /api/rewards
  .env-sample
  api/lightning/cln.py
  api/lightning/lnd.py
  api/logics.py
  api/serializers.py
  api/views.py
  tests/test_trade_pipeline.py
Due: none

Update LNProxy relay list on 2025-07-06
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

freedomsats Node app
  nodeapp/coordinators/freedomsats/locations.conf
  nodeapp/coordinators/freedomsats/upstreams.conf
  nodeapp/nginx.conf
  nodeapp/robosats-client.sh
Due: none

freedomsats Node app
  nodeapp/coordinators/bazaar/locations.conf
  nodeapp/coordinators/freedomsats/locations.conf
Due: none

Bump frontend libraries
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, lintern-frontend

Upgrade nosr sdk code
  api/nostr.py
Due: none

Better custom payment methods
  .github/ISSUE_TEMPLATE/payment_method.md
  .pre-commit-config.yaml
  frontend/src/basic/RobotPage/TokenInput.tsx
  frontend/src/components/Dialogs/AddNewPaymentMethodDialog.tsx
  frontend/src/components/Dialogs/Recovery.tsx
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/PaymentMethods/StringAsIcons.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/models/Maker.model.ts
  frontend/src/utils/filterOrders.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Tooltip
  frontend/src/components/Dialogs/AddNewPaymentMethodDialog.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Manually verify ratings
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Backend
  development/assets/backend.png
  development/docs.md
Due: none

Simplify nostr key generation
  frontend/src/models/Slot.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Silent failure when routing can't be completed
  frontend/src/components/TradeBox/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Update to new API for hodl invoices for better UX with Alby extension
  frontend/src/components/TradeBox/Dialogs/WebLN.tsx
  frontend/src/components/TradeBox/Dialogs/index.ts
  frontend/src/components/TradeBox/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Disable onchain for swaps
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/TradeBox/Prompts/Payout.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Add trade breadcrumb
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/TradeBox/CancelButton.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Add translations
  frontend/src/basic/OrderPage/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Improve client performance
  frontend/src/basic/SettingsPage/Coordinators.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Better code
  frontend/src/basic/SettingsPage/Coordinators.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend
