Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile, isort, black, flake8

.pre-commit-config.yaml:

# TODO
# add a hook which automatically generates the OpenApi schema on API changes
# and places them in an appropriate location
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: collect-phrases
        name: collect-phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
  - repo: local
    hooks:
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
      - id: isort
        name: isort
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: isort
      - id: black
        name: black
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: black
      - id: flake8
        name: flake8
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: flake8

Add logs to nodeapp
  nodeapp/Dockerfile
  nodeapp/nginx.conf
  nodeapp/robosats-client.sh
Due: none

Simplify and optimize nodeapp
  nodeapp/index.html
  nodeapp/robosats-client.sh
Due: none

Add pro frontend
  nodeapp/index.html
Due: none

Fix PRO errors
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Dialogs/Confirmation.tsx
  frontend/src/components/Dialogs/NoRobot.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
  nodeapp/nginx.conf
  nodeapp/robosats-client.sh
Due: collect-phrases, prettier-frontend

Fix usenavigate PRO (#571)
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Dialogs/Confirmation.tsx
  frontend/src/components/Dialogs/NoRobot.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
  nodeapp/nginx.conf
Due: collect-phrases, prettier-frontend

Fix bug automatic resolutions
  api/logics.py
Due: isort, black, flake8

Improve lookup invoice status updates delay
  api/management/commands/follow_invoices.py
Due: isort, black, flake8

Refactor expiry_height into follow_invoices
  api/lightning/node.py
  api/management/commands/follow_invoices.py
Due: isort, black, flake8

Use new lnproxy API
  frontend/src/components/TradeBox/Forms/LightningPayout.tsx
Due: collect-phrases, prettier-frontend

add lnproxy sync workflow
  .github/workflows/lnproxy-sync.js
  .github/workflows/lnproxy-sync.yml
Due: none

Simplify coordinator updates, automatic migrations and collect statics
  .flake8
  .github/pull_request_template.md
  .gitignore
  Dockerfile
  api/lightning/invoices.proto
  api/lightning/lightning.proto
  api/lightning/router.proto
  api/lightning/verrpc.proto
  api/migrations/0001_initial.py
  api/migrations/0001_squashed_0006_remove_order_maker_last_seen_and_more.py
  api/migrations/0002_auto_20230427_2023.py
  api/migrations/0003_rename_profile_robot.py
  api/migrations/0004_remove_robot_is_referred_and_more.py
  api/migrations/0005_remove_robot_avg_rating_remove_robot_latest_ratings_and_more.py
  api/migrations/0006_remove_order_maker_last_seen_and_more.py
  chat/migrations/0001_initial.py
  chat/migrations/__init__.py
  control/migrations/0001_initial.py
  control/migrations/__init__.py
  docker-compose.yml
  robosats/settings.py
  scripts/entrypoint.sh
  scripts/generate_grpc.sh
  setup.md
Due: isort, black, flake8

Delete UserView, sessionAuth and png avatar generation
  api/models/robot.py
  api/oas_schemas.py
  api/serializers.py
  api/views.py
  chat/views.py
  requirements.txt
  robosats/middleware.py
Due: isort, black, flake8

Fix frontend dockerized env in windows
  .github/workflows/client-image.yml
  nodeapp/Dockerfile
  nodeapp/static
Due: none

Update 00-contribute.md
  docs/_pages/contribute/00-contribute.md
Due: none

Use new lnproxy JSON structure
  frontend/src/components/TradeBox/Forms/LightningPayout.tsx
  frontend/static/lnproxies.json
Due: collect-phrases, prettier-frontend

Remove virtualenv
  .gitignore
Due: none

Move workflow script to subfolder
  .github/workflows/lnproxy-sync.yml
  .github/workflows/scripts/lnproxy-sync.js
Due: none

Add translation support
  frontend/src/components/TradeBox/Forms/LightningPayout.tsx
Due: collect-phrases, prettier-frontend

Update 01-development.md
  docs/_pages/contribute/01-development.md
Due: none

Update 02-languages.md
  docs/_pages/contribute/02-languages.md
Due: none

Update 03-liquidity.md
  docs/_pages/contribute/03-liquidity.md
Due: none

Update 04-guides.md
  docs/_pages/contribute/04-guides.md
Due: none

Update 05-art.md
  docs/_pages/contribute/05-art.md
Due: none

Update 06-outreach.md
  docs/_pages/contribute/06-outreach.md
Due: none

Update 07-donate.md
  docs/_pages/contribute/07-donate.md
Due: none

Delete commited proto files
  api/lightning/invoices.proto
  api/lightning/lightning.proto
  api/lightning/router.proto
  api/lightning/verrpc.proto
Due: none

Run sync workflow weekly instead of hourly
  .github/workflows/lnproxy-sync.yml
Due: none

Tweak display name for relays
  .github/workflows/scripts/lnproxy-sync.js
Due: none

Update sync script to be append-only
  .github/workflows/scripts/lnproxy-sync.js
Due: none

Use new naming convention for relays
  frontend/static/lnproxies.json
Due: prettier-frontend

Fix bitcoinNetwork hydration
  frontend/src/components/TradeBox/Forms/LightningPayout.tsx
Due: collect-phrases, prettier-frontend

Edit learn.robosats.com "Contribute" Documentation (#587)
  docs/_pages/contribute/00-contribute.md
  docs/_pages/contribute/01-development.md
  docs/_pages/contribute/02-languages.md
  docs/_pages/contribute/03-liquidity.md
  docs/_pages/contribute/04-guides.md
  docs/_pages/contribute/05-art.md
  docs/_pages/contribute/06-outreach.md
  docs/_pages/contribute/07-donate.md
Due: none

Add keysend functionality
  .env-sample
  api/admin.py
  api/lightning/node.py
  api/logics.py
  api/migrations/0037_lnpayment_order_donated_alter_lnpayment_concept_and_more.py
  api/models/ln_payment.py
  api/tasks.py
  robosats/celery/__init__.py
  scripts/generate_grpc.sh
Due: isort, black, flake8
