Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile

.pre-commit-config.yaml:

exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v2.3.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.11
    hooks:
    - id: ruff
      stages:
        - commit
        - merge-commit
      language: system
      args: [ --fix ]
      types: [python]
    - id: ruff-format
      stages:
        - commit
        - merge-commit
      language: system
      types: [python]

Update README.md
  README.md
Due: none

Display all payment methods
  frontend/.prettierrc
  frontend/src/components/MakerForm/AutocompletePayments.tsx
Due: collect-phrases, prettier-frontend

Bump to v0.7.4-alpha
  desktopApp/package-lock.json
  desktopApp/package.json
  frontend/package-lock.json
  frontend/package.json
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/package.json
  release_notes.md
Due: prettier-frontend, prettier-mobile

Coordinator version
  version.json
Due: none

Fix Desktop release artifacts
  .github/workflows/release.yml
  release_notes.md
Due: none

Update nostr.py
  api/nostr.py
Due: none

Fix release label
  README.md
Due: none

Update how-to-use_fr.md
  docs/_pages/tutorials/read/how-to-use_fr.md
Due: none

Added Disclaimer
  frontend/templates/frontend/index.ejs
Due: none

Update index.ejs
  frontend/templates/frontend/index.ejs
Due: none

Disclaimer + Styled
  frontend/templates/frontend/index.ejs
Due: none

Review of the Portuguese translation
  docs/_data/navigation_pt.yml
  docs/_pages/docs/pt/00-quick-start/01-lightning.md
  docs/_pages/docs/pt/00-quick-start/03-access.md
  docs/_pages/docs/pt/01-best-practices/01-pgp-guide.md
  docs/_pages/docs/pt/01-best-practices/02-payment-methods.md
  docs/_pages/docs/pt/01-best-practices/03-proxy-wallets.md
  docs/_pages/docs/pt/01-best-practices/04-channels.md
  docs/_pages/docs/pt/02-features/01-private.md
  docs/_pages/docs/pt/03-understand/01-trade-pipeline.md
  docs/_pages/docs/pt/03-understand/02-robots.md
  docs/_pages/docs/pt/03-understand/03-premium.md
  docs/_pages/docs/pt/03-understand/04-bonds.md
  docs/_pages/docs/pt/03-understand/05-trade-escrow.md
  docs/_pages/docs/pt/03-understand/06-disputes.md
  docs/_pages/docs/pt/03-understand/07-wallets.md
  docs/_pages/docs/pt/03-understand/08-limits.md
  docs/_pages/docs/pt/03-understand/10-telegram.md
  docs/_pages/docs/pt/03-understand/12-prices.md
  docs/_pages/docs/pt/03-understand/13-fees.md
  docs/_pages/docs/pt/03-understand/14-on-chain-payouts.md
  docs/_pages/docs/pt/contribute/01-development.md
  docs/_pages/docs/pt/contribute/03-liquidity.md
  docs/_pages/docs/pt/contribute/04-guides.md
  docs/_pages/docs/pt/contribute/05-art.md
  docs/_pages/docs/pt/contribute/06-outreach.md
  docs/_pages/docs/pt/contribute/07-donate.md
  docs/_pages/docs/pt/home.md
Due: none

Fix portuguese urls
  docs/utils/mastheadHelper.js
Due: none

update CLN version
  docker-tests.yml
  docker/cln/Dockerfile
  docs/assets/schemas/api-latest.yaml
  scripts/generate_grpc.sh
  tests/compose.env
Due: none

Downgrade and fix failing grpcio
  requirements.txt
Due: none

Improve UX for claiming rewards
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/Dialogs/ClaimReward.tsx
Due: collect-phrases, prettier-frontend

Allow multiple takers
  api/lightning/cln.py
  api/logics.py
  api/management/commands/clean_orders.py
  api/management/commands/follow_invoices.py
  api/migrations/0051_takeorder.py
  api/models/__init__.py
  api/models/take_order.py
  api/oas_schemas.py
  api/serializers.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  frontend/src/models/Order.model.ts
  frontend/static/locales/pt.json
  setup.md
  tests/robots/3/b91_token
  tests/robots/3/enc_priv_key
  tests/robots/3/nickname
  tests/robots/3/pub_key
  tests/robots/3/token
  tests/test_trade_pipeline.py
  tests/utils/node.py
  tests/utils/trade.py
Due: collect-phrases, prettier-frontend

Test taker invoice failure
  api/logics.py
Due: none

Try to fix
  api/logics.py
Due: none

Better logs
  api/management/commands/follow_invoices.py
Due: none

Fix early bond expiration
  api/logics.py
Due: none

Update 07-wallets.md
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Frontend
  api/logics.py
  frontend/src/components/TradeBox/CancelButton.tsx
  frontend/src/components/TradeBox/Prompts/TakerFound.tsx
  frontend/src/components/TradeBox/Prompts/index.ts
  frontend/src/components/TradeBox/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Fix chat delays in active order
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
Due: collect-phrases, prettier-frontend

Revert "Frontend"
  api/logics.py
  frontend/src/components/TradeBox/CancelButton.tsx
  frontend/src/components/TradeBox/Prompts/TakerFound.tsx
  frontend/src/components/TradeBox/Prompts/index.ts
  frontend/src/components/TradeBox/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Retro compatible
  api/logics.py
  api/views.py
Due: none

Remove unused code
  docs/assets/schemas/api-latest.yaml
  frontend/src/models/Order.model.ts
Due: collect-phrases, prettier-frontend

added the alert logic for the coordinators with no on chain swap
  frontend/src/components/MakerForm/SelectCoordinator.tsx
Due: collect-phrases, prettier-frontend

Added pre-commit
  frontend/src/components/MakerForm/SelectCoordinator.tsx
Due: collect-phrases, prettier-frontend

Fix tests
  api/oas_schemas.py
  api/serializers.py
  api/views.py
  tests/test_trade_pipeline.py
Due: none

Remove grid alert when not available
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Some small typos
  CONTRIBUTING_DOCS.md
  docs/_pages/docs/es/home.md
  docs/_pages/docs/fr/home.md
  docs/_pages/docs/pt/home.md
  docs/_pages/home.md
Due: none

Calculate right amount scrow and bond
  api/logics.py
  api/views.py
  tests/test_trade_pipeline.py
Due: none

Display amount correctly
  api/logics.py
  tests/test_trade_pipeline.py
Due: none

Update federation.md
  federation.md
Due: none

Display market price apis in API
  api/serializers.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  tests/test_api_info.py
Due: none

Add cancel_status to POST /api/order
  api/logics.py
  api/oas_schemas.py
  api/serializers.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  frontend/src/components/TradeBox/index.tsx
  robosats/settings.py
  tests/test_trade_pipeline.py
  tests/utils/trade.py
Due: collect-phrases, prettier-frontend

Set cancel_status if it's not None
  frontend/src/components/TradeBox/index.tsx
  frontend/src/models/Order.model.ts
  tests/test_trade_pipeline.py
  tests/utils/trade.py
Due: collect-phrases, prettier-frontend
