Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, lintern-frontend, prettier-mobile, lintern-mobile

.pre-commit-config.yaml:

exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/|^mobile/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: lintern-frontend
        name: lintern-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run lint'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
      - id: lintern-mobile
        name: lintern-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run lint'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.13
    hooks:
    - id: ruff
      stages:
        - commit
        - merge-commit
      language: system
      args: [ --fix ]
      types: [python]
    - id: ruff-format
      stages:
        - commit
        - merge-commit
      language: system
      types: [python]

Update LNProxy relay list on 2025-06-15
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Update 07-wallets.md
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Add password to Orders
  api/migrations/0054_order_password.py
  api/models/order.py
  api/nostr.py
  api/serializers.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  tests/test_trade_pipeline.py
  tests/utils/trade.py
Due: none

New Coordinator FreedomSats
  frontend/src/components/FederationTable/index.tsx
  frontend/static/federation.json
  frontend/static/federation/avatars/freedomsats.small.webp
  frontend/static/federation/avatars/freedomsats.webp
  frontend/static/federation/pgp/9D3D3BAF4744305EE3F0B837331AB575DD78D930.asc
Due: collect-phrases, prettier-frontend, lintern-frontend

Update logics.py
  api/logics.py
Due: none

traditional environment production
  requirements.txt
  scripts/traditional/README.md
  scripts/traditional/strfry-sync-external
  scripts/traditional/strfry-sync-federation
  scripts/traditional/templates/index.html
  scripts/traditional/templates/nginx.conf
  scripts/traditional/traditional-services
Due: none

Frontend
  api/views.py
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/models/Maker.model.ts
  frontend/src/models/Order.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Better view info
  api/views.py
Due: none

Working version
  api/oas_schemas.py
  api/serializers.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/models/Order.model.ts
  tests/test_trade_pipeline.py
Due: collect-phrases, prettier-frontend, lintern-frontend

Search feature
  frontend/src/basic/BookPage/index.tsx
  frontend/src/components/Dialogs/GoToOrder.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Update README.md
  README.md
Due: none

Add files via upload
  docs/obtainium.png
  docs/zapstore.svg
Due: none

Add nostr key
  frontend/static/federation.json
Due: prettier-frontend, lintern-frontend

v0.7.9-alpha
  desktopApp/package-lock.json
  desktopApp/package.json
  docs/assets/schemas/api-latest.yaml
  frontend/package-lock.json
  frontend/package.json
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/package.json
  release_notes.md
  version.json
Due: prettier-frontend, lintern-frontend, prettier-mobile, lintern-mobile

Update LNProxy relay list on 2025-06-22
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Change copy URL string
  frontend/src/components/TradeBox/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Add files via upload
  docs/IzzyOnDroid.png
Due: none

Include more order info when there is a password
  api/views.py
  tests/test_trade_pipeline.py
Due: none

Include more order info when there is a password
  api/views.py
Due: none

Create RELEASE.mb
  RELEASE.mb
Due: none

Update RELEASE.mb
  RELEASE.mb
Due: none

Fix peach orders
  frontend/src/utils/nostr.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix orders ids
  frontend/src/utils/nostr.ts
  frontend/src/utils/stringToInteger.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Update and rename RELEASE.mb to RELEASE.md
  RELEASE.md
Due: none

Update RELEASE.md
  RELEASE.md
Due: none

Update coordinator badges
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/Icons/BadgeLoved.tsx
  frontend/src/components/Icons/index.ts
  frontend/src/models/Coordinator.model.ts
  frontend/static/federation.json
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

traditional environment strfry add freedomsats coordinator
  scripts/traditional/strfry-sync-federation
Due: none

middleware cleaning
  robosats/middleware.py
Due: none
