Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile

collect-phrases:
  name: Collect i18n phrases
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'

prettier-frontend:
  name: prettier-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

prettier-mobile:
  name: prettier-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run format'

Fix compute exchange active robots by max
  frontend/src/models/Exchange.model.ts
Due: collect-phrases, prettier-frontend

Add timestamp to devfund script
  scripts/get_devfund_donations.py
Due: none

Update node id on contribute docs
  docs/_config.yml
  docs/_pages/contribute/07-donate.md
Due: none

Fix node id widget to ln adress
  docs/_pages/contribute/07-donate.md
Due: none

Fix book loading
  frontend/src/components/BookTable/index.tsx
  frontend/src/models/Exchange.model.ts
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend

Update robodevfund address
  docs/_pages/contribute/07-donate.md
Due: none

Fix Robot page
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/Slot.model.ts
Due: collect-phrases, prettier-frontend

Code Review
  frontend/src/components/BookTable/index.tsx
  frontend/src/models/Exchange.model.ts
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend

Book coordinator filter
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Favorites.model.ts
  frontend/src/utils/filterOrders.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Fix book loading (#1086)
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/models/Exchange.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Slot.model.ts
Due: collect-phrases, prettier-frontend

Book coordinator filter (#1087)
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Favorites.model.ts
  frontend/src/utils/filterOrders.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Fix matches in MakerPage
  frontend/src/basic/MakerPage/index.tsx
Due: collect-phrases, prettier-frontend

Fix book filter avatar sizes and bookUpdate on refresh
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend

Fix host filter overflow on small displays
  frontend/src/components/BookTable/BookControl.tsx
Due: collect-phrases, prettier-frontend

Update 07-wallets.md
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Delete Rebellion
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/components/PaymentMethods/Icons/rebellion.png
  frontend/src/components/PaymentMethods/MethodList.ts
Due: collect-phrases, prettier-frontend

Fix spanish transaltion
  docs/_includes/improve_es
  docs/_includes/wip_es
  docs/_pages/docs/es/00-quick-start/00-quicks-start-guide.md
  docs/_pages/docs/es/00-quick-start/01-lightning.md
  docs/_pages/docs/es/00-quick-start/02-tor.md
  docs/_pages/docs/es/00-quick-start/03-access.md
  docs/_pages/docs/es/01-best-practices/00-best-practices.md
  docs/_pages/docs/es/01-best-practices/01-pgp-guide.md
  docs/_pages/docs/es/01-best-practices/01-pgp-guide_es.md
  docs/_pages/docs/es/01-best-practices/02-payment-methods.md
  docs/_pages/docs/es/01-best-practices/03-proxy-wallets.md
  docs/_pages/docs/es/01-best-practices/04-channels.md
  docs/_pages/docs/es/02-features/01-private.md
  docs/_pages/docs/es/02-features/02-fast.md
  docs/_pages/docs/es/02-features/03-safe.md
  docs/_pages/docs/es/03-understand/01-trade-pipeline.md
  docs/_pages/docs/es/03-understand/03-premium.md
  docs/_pages/docs/es/03-understand/04-bonds.md
  docs/_pages/docs/es/03-understand/05-trade-escrow.md
  docs/_pages/docs/es/03-understand/06-disputes.md
  docs/_pages/docs/es/03-understand/07-wallets.md
  docs/_pages/docs/es/03-understand/08-limits.md
  docs/_pages/docs/es/03-understand/10-telegram.md
  docs/_pages/docs/es/03-understand/12-prices.md
  docs/_pages/docs/es/03-understand/13-fees.md
  docs/_pages/docs/es/03-understand/14-on-chain-payouts.md
Due: none

Add RU tutorials by 21ideas and bitkorn
  docs/_data/navigation.yml
  docs/_pages/tutorials/read/how-to-use_ru.md
  docs/_pages/tutorials/watch/videos-ru.md
  docs/assets/vector/russian.svg
Due: none

Add orangedmike tutorial
  docs/_pages/tutorials/watch/videos-de.md
Due: none

Add new translations spanish
  docs/_includes/improve_es
  docs/_includes/wip_es
  docs/_pages/docs/es/00-quick-start/00-quicks-start-guide.md
  docs/_pages/docs/es/00-quick-start/01-lightning.md
  docs/_pages/docs/es/00-quick-start/02-tor.md
  docs/_pages/docs/es/00-quick-start/03-access.md
  docs/_pages/docs/es/01-best-practices/00-best-practices.md
  docs/_pages/docs/es/01-best-practices/01-pgp-guide.md
  docs/_pages/docs/es/01-best-practices/01-pgp-guide_es.md
  docs/_pages/docs/es/01-best-practices/02-payment-methods.md
  docs/_pages/docs/es/01-best-practices/03-proxy-wallets.md
  docs/_pages/docs/es/01-best-practices/04-channels.md
  docs/_pages/docs/es/02-features/01-private.md
  docs/_pages/docs/es/02-features/02-fast.md
  docs/_pages/docs/es/02-features/03-safe.md
  docs/_pages/docs/es/03-understand/01-trade-pipeline.md
  docs/_pages/docs/es/03-understand/03-premium.md
  docs/_pages/docs/es/03-understand/04-bonds.md
  docs/_pages/docs/es/03-understand/05-trade-escrow.md
  docs/_pages/docs/es/03-understand/06-disputes.md
  docs/_pages/docs/es/03-understand/07-wallets.md
  docs/_pages/docs/es/03-understand/08-limits.md
  docs/_pages/docs/es/03-understand/10-telegram.md
  docs/_pages/docs/es/03-understand/11-api.md
  docs/_pages/docs/es/03-understand/12-prices.md
  docs/_pages/docs/es/03-understand/13-fees.md
  docs/_pages/docs/es/03-understand/14-on-chain-payouts.md
  docs/_pages/docs/es/contribute/00-contribute.md
  docs/_pages/docs/es/contribute/01-development.md
  docs/_pages/docs/es/contribute/02-languages.md
  docs/_pages/docs/es/contribute/03-liquidity.md
  docs/_pages/docs/es/contribute/04-guides.md
  docs/_pages/docs/es/contribute/05-art.md
  docs/_pages/docs/es/contribute/06-outreach.md
  docs/_pages/docs/es/contribute/07-donate.md
  docs/_pages/docs/es/home.md
  docs/_pages/docs/es/stats.md
Due: none

Add new admin action to close public order
  api/admin.py
  api/notifications.py
  api/tasks.py
Due: none

Fix decimal fees and exchange stats
  frontend/package-lock.json
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/Dialogs/Exchange.tsx
Due: collect-phrases, prettier-frontend

Fix telegram link
  frontend/static/federation.json
Due: prettier-frontend

Fix telegram link (#1099)
  frontend/static/federation.json
Due: prettier-frontend

Fix rewards claim
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/models/Coordinator.model.ts
Due: collect-phrases, prettier-frontend

Fix order log html format error
  api/admin.py
  api/utils.py
  docs/assets/schemas/api-latest.yaml
  tests/test_trade_pipeline.py
Due: none

Fix hide collab cancel request after fiat sent
  frontend/src/components/TradeBox/CollabCancelAlert.tsx
Due: collect-phrases, prettier-frontend

Update .env-sample
  .env-sample
Due: none

Update 03-access.md
  docs/_pages/docs/00-quick-start/03-access.md
Due: none

Fix quoted text 03-access.md
  docs/_pages/docs/00-quick-start/03-access.md
Due: none

Update Amazon eGift Cards in 02-payment-methods.md
  docs/_pages/docs/01-best-practices/02-payment-methods.md
Due: none

Update Amazon eGift Cards in 02-payment-methods.md (#1102)
  docs/_pages/docs/01-best-practices/02-payment-methods.md
Due: none

docs: add Revolut payment method best practices
  docs/_pages/docs/01-best-practices/02-payment-methods.md
Due: none

docs: add Revolut payment method best practices (#1109)
  docs/_pages/docs/01-best-practices/02-payment-methods.md
Due: none

Add and fix spanish translations (#1095)
  docs/_includes/improve_es
  docs/_includes/wip_es
  docs/_pages/docs/es/00-quick-start/00-quicks-start-guide.md
  docs/_pages/docs/es/00-quick-start/01-lightning.md
  docs/_pages/docs/es/00-quick-start/02-tor.md
  docs/_pages/docs/es/00-quick-start/03-access.md
  docs/_pages/docs/es/01-best-practices/00-best-practices.md
  docs/_pages/docs/es/01-best-practices/01-pgp-guide.md
  docs/_pages/docs/es/01-best-practices/01-pgp-guide_es.md
  docs/_pages/docs/es/01-best-practices/02-payment-methods.md
  docs/_pages/docs/es/01-best-practices/03-proxy-wallets.md
  docs/_pages/docs/es/01-best-practices/04-channels.md
  docs/_pages/docs/es/02-features/01-private.md
  docs/_pages/docs/es/02-features/02-fast.md
  docs/_pages/docs/es/02-features/03-safe.md
  docs/_pages/docs/es/03-understand/01-trade-pipeline.md
  docs/_pages/docs/es/03-understand/03-premium.md
  docs/_pages/docs/es/03-understand/04-bonds.md
  docs/_pages/docs/es/03-understand/05-trade-escrow.md
  docs/_pages/docs/es/03-understand/06-disputes.md
  docs/_pages/docs/es/03-understand/07-wallets.md
  docs/_pages/docs/es/03-understand/08-limits.md
  docs/_pages/docs/es/03-understand/10-telegram.md
  docs/_pages/docs/es/03-understand/11-api.md
  docs/_pages/docs/es/03-understand/12-prices.md
  docs/_pages/docs/es/03-understand/13-fees.md
  docs/_pages/docs/es/03-understand/14-on-chain-payouts.md
  docs/_pages/docs/es/contribute/00-contribute.md
  docs/_pages/docs/es/contribute/01-development.md
  docs/_pages/docs/es/contribute/02-languages.md
  docs/_pages/docs/es/contribute/03-liquidity.md
  docs/_pages/docs/es/contribute/04-guides.md
  docs/_pages/docs/es/contribute/05-art.md
  docs/_pages/docs/es/contribute/06-outreach.md
  docs/_pages/docs/es/contribute/07-donate.md
  docs/_pages/docs/es/home.md
  docs/_pages/docs/es/stats.md
Due: none

Add federation coordinator est. date and hard limits
  frontend/src/models/Coordinator.model.ts
  frontend/static/federation.json
Due: collect-phrases, prettier-frontend

Add programatic order size limit to new coordinators
  federation.md
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/static/federation.json
Due: collect-phrases, prettier-frontend

Update README.md
  README.md
Due: none

update URLs onREADME (#1120)
  README.md
Due: none

Update federation.json
  frontend/static/federation.json
Due: prettier-frontend

Path conditions:
  collect-phrases: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((api|chat|control)/migrations/.*)
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  prettier-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
