Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile

collect-phrases:
  name: Collect i18n phrases
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'

prettier-frontend:
  name: prettier-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

prettier-mobile:
  name: prettier-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run format'

Fix macOs build upload to release
  .github/workflows/release.yml
Due: none

Update it.json
  frontend/static/locales/it.json
Due: prettier-frontend

Add zap.store config file
  mobile/android/zapstore.yaml
Due: none

Nostr order should hide when a taker sends the action
  api/logics.py
Due: none

Generate charts with data filtered by selected currency
  frontend/src/components/Charts/DepthChart/index.tsx
Due: collect-phrases, prettier-frontend

Replace snort by njump links
  docs/_pages/contribute/01-development.md
  docs/_pages/docs/es/contribute/01-development.md
  docs/_pages/docs/fr/contribute/01-development.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Dialogs/Community.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
Due: collect-phrases, prettier-frontend

Randomize nostr relay connection
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend

Bugfix: refresh chart when USD is selected
  frontend/src/components/Charts/DepthChart/index.tsx
Due: collect-phrases, prettier-frontend

Use platform agnostic method to check device
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Dialogs/Community.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
Due: collect-phrases, prettier-frontend

Replace snort by njump links (#1603)
  docs/_pages/contribute/01-development.md
  docs/_pages/docs/es/contribute/01-development.md
  docs/_pages/docs/fr/contribute/01-development.md
  frontend/src/components/Dialogs/Community.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
Due: collect-phrases, prettier-frontend

Fix routes for /garage
  frontend/urls.py
Due: none

Bump to v0.7.2-alpha
  desktopApp/package-lock.json
  desktopApp/package.json
  frontend/package-lock.json
  frontend/package.json
  mobile/android/app/build.gradle
  mobile/package-lock.json
  release_notes.md
  version.json
Due: prettier-frontend, prettier-mobile

Fix desktop releas template
  release_notes.md
Due: none

Fix exchange summary
  frontend/src/components/Dialogs/Exchange.tsx
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend

Better loading bar placement
  frontend/src/components/Dialogs/Exchange.tsx
Due: collect-phrases, prettier-frontend

Fix loading coordinators calc
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend

Bugfix: avoid error upon getting succesfully cancelled order
  api/views.py
Due: none

sort cheaper offers first
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend

refactor nostr websocket to be preared for mobile
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/services/RoboPool/index.ts
  frontend/src/services/Websocket/WebsocketConnectionWeb/index.ts
  frontend/src/services/Websocket/WebsocketWebClient/index.ts
  frontend/src/services/Websocket/index.ts
Due: collect-phrases, prettier-frontend

Fix reconnection after close
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend

Add cancel_status to POST /api/order
  api/logics.py
  api/oas_schemas.py
  api/serializers.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  frontend/src/components/TradeBox/index.tsx
  frontend/src/models/Order.model.ts
  robosats/settings.py
  tests/test_trade_pipeline.py
  tests/utils/trade.py
Due: collect-phrases, prettier-frontend

Set cancel_status if it's not None
  tests/utils/trade.py
Due: none

Websockets on Tor android
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/models/Settings.model.ts
  frontend/src/services/Native/index.d.ts
  frontend/src/services/Native/index.ts
  frontend/src/services/Websocket/WebsocketNativeClient/index.ts
  frontend/src/services/Websocket/WebsocketWebClient/index.ts
  frontend/src/services/Websocket/index.ts
  frontend/src/services/api/ApiNativeClient/index.ts
  mobile/App.tsx
  mobile/android/app/src/main/java/com/robosats/modules/TorModule.java
  mobile/native/TorModule.ts
  mobile/services/Tor/index.ts
Due: collect-phrases, prettier-frontend, prettier-mobile

Show turtle mode on android
  frontend/src/components/TradeBox/EncryptedChat/ChatHeader/index.tsx
Due: collect-phrases, prettier-frontend

Change network nostr tag
  api/nostr.py
Due: none

Display LNP2POrders
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Charts/helpers/OrderTooltip/index.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/Dialogs/ThirdParty.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/models/Exchange.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/services/RoboPool/index.ts
  frontend/src/utils/filterOrders.ts
  frontend/src/utils/nostr.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
  frontend/static/thirdparties.json
Due: collect-phrases, prettier-frontend

Filter by robosats orders
  docs/_sass/minimal-mistakes/skins/_robosats.scss
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/utils/filterOrders.ts
Due: collect-phrases, prettier-frontend

Display coordinator info on create
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Better info
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Robosats hosts filter by default and better browse text
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/components/Dialogs/VisitThirdParty.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Display coordinator info on create (#1622)
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Fix exchange summary (#1611)
  frontend/src/components/Dialogs/Exchange.tsx
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend

Generate charts with data filtered by selected currency (#1602)
  frontend/src/components/Charts/DepthChart/index.tsx
Due: collect-phrases, prettier-frontend

Bump to v0.7.3-alpha
  desktopApp/package-lock.json
  desktopApp/package.json
  frontend/package-lock.json
  frontend/package.json
  mobile/android/app/build.gradle
  mobile/package.json
  release_notes.md
  version.json
Due: prettier-frontend, prettier-mobile

Filter depth chart by host
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/models/Book.model.ts
  frontend/src/utils/nostr.ts
  frontend/static/federation.json
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Lint
  .pre-commit-config.yaml
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/Dialogs/Exchange.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/utils/filterOrders.ts
Due: collect-phrases, prettier-frontend

Path conditions:
  collect-phrases: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((api|chat|control)/migrations/.*)
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  prettier-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
