Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile

collect-phrases:
  name: Collect i18n phrases
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'

prettier-frontend:
  name: prettier-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

prettier-mobile:
  name: prettier-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run format'

ui-update 2
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/SettingsForm/index.tsx
Due: collect-phrases, prettier-frontend

Update warning text when routing budget is not sufficient. (#1)
  api/lightning/cln.py
  api/lightning/lnd.py
Due: none

Fix fa nostr note tag
  api/nostr.py
Due: none

Rebase
  frontend/src/App.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/Routes.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/services/Native/index.ts
  frontend/static/locales/ca.json
Due: collect-phrases, prettier-frontend

Resolve latest dependencies
  desktopApp/package-lock.json
  mobile/package-lock.json
  mobile/package.json
Due: prettier-mobile

Bump integration test ln nodes
  .github/workflows/integration-tests.yml
Due: none

Bump django celery beat
  requirements.txt
Due: none

fix linter remove unused imports and variables (#1375)
  api/nick_generator/nick_generator.py
Due: none

script to generate latest api specs file (#1374)
  scripts/api-specs-update.py
Due: none

Fix integration test health check
  .github/workflows/integration-tests.yml
Due: none

Bump to v0.7.0
  frontend/package-lock.json
  frontend/package.json
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/package.json
  release_notes.md
  version.json
Due: prettier-frontend, prettier-mobile

Fix Desktop action
  .github/workflows/desktop-build.yml
Due: none

Fix Desktop action 2
  .github/workflows/desktop-build.yml
Due: none

build fixed
  .github/workflows/desktop-build.yml
Due: none

chores(test): remove python 3.13 from testing matrix
  .github/workflows/integration-tests.yml
Due: none

Fix desktop artifact upload
  .github/workflows/desktop-build.yml
Due: none

Fix desktop artifact upload
  .github/workflows/desktop-build.yml
  release_notes.md
Due: none

Fix desktop artifact upload
  .github/workflows/desktop-build.yml
  .github/workflows/release.yml
  release_notes.md
Due: none

Fix: remove .zip from artifacts names
  .github/workflows/desktop-build.yml
Due: none

Refactor Order/Slot models
  frontend/src/App.tsx
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/Dialogs/Exchange.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/Notifications/index.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/components/TradeBox/Prompts/Chat.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Order.model.ts
  frontend/src/models/Robot.model.ts
  frontend/src/models/Slot.model.ts
  frontend/src/models/index.ts
  frontend/src/pro/Widgets/Federation.tsx
  frontend/src/pro/Widgets/Maker.tsx
Due: collect-phrases, prettier-frontend

Some fixes
  frontend/src/basic/Routes.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/Maker.model.ts
  frontend/src/models/Order.model.ts
  frontend/src/models/Slot.model.ts
  frontend/static/federation.json
Due: collect-phrases, prettier-frontend

Fix self-hosted client image
  .github/workflows/web-client-image.yml
Due: none

Fix self-hosted client image
  .github/workflows/selfhosted-client-image.yml
  .github/workflows/web-client-image.yml
Due: none

Fix self-hosted client image
  .github/workflows/frontend-build.yml
  .github/workflows/selfhosted-client-image.yml
Due: none

Fix
  .github/workflows/selfhosted-client-image.yml
Due: none

Add extra tags to nostr
  api/nostr.py
Due: none

Web notifications
  frontend/src/components/Notifications/index.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/index.ts
  frontend/src/services/api/index.ts
Due: collect-phrases, prettier-frontend

Rebase
  frontend/src/components/Notifications/index.tsx
Due: collect-phrases, prettier-frontend

Fix trade summary sats
  frontend/src/components/OrderDetails/index.tsx
Due: collect-phrases, prettier-frontend

Store status notifications
  api/admin.py
  api/lightning/cln.py
  api/lightning/lnd.py
  api/logics.py
  api/management/commands/follow_invoices.py
  api/management/commands/telegram_watcher.py
  api/models/order.py
  api/notifications.py
  api/tasks.py
  chat/consumers.py
  chat/views.py
  tests/test_trade_pipeline.py
  tests/utils/node.py
  tests/utils/trade.py
Due: none

Fix Rebase
  api/logics.py
  docs/assets/schemas/api-latest.yaml
Due: none

Fix Version mismatch modal texts
  frontend/src/components/Dialogs/Update.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Fix files cache problem and static files management
  .gitignore
  desktopApp/index.html
  desktopApp/static
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/components/TradeBox/Forms/LightningPayout.tsx
  frontend/src/components/TradeBox/TradeSummary.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/models/Settings.model.ts
  frontend/src/services/Native/index.d.ts
  frontend/templates/frontend/basic.html
  frontend/templates/frontend/pro.html
  frontend/webpack.config.ts
  mobile/.gitignore
  mobile/html/Web.bundle/index.html
  nodeapp/basic.html
  nodeapp/docker-compose.yml
  nodeapp/nginx.conf
  nodeapp/pro.html
  web/basic.html
  web/docker-compose.yml
  web/pro.html
Due: collect-phrases, prettier-frontend

Fix changes
  .gitignore
  frontend/src/components/HostAlert/index.tsx
  frontend/templates/frontend/basic.html
  frontend/webpack.config.ts
Due: collect-phrases, prettier-frontend

Add relative path to pro html
  frontend/templates/frontend/pro.html
Due: none

fix tests
  tests/test_frontend_fetch.py
Due: none

fix html templates
  frontend/templates/frontend/basic.html
  frontend/templates/frontend/pro.html
Due: none

update release pipeline
  .github/workflows/selfhosted-client-image.yml
  .github/workflows/web-client-image.yml
Due: none

Path conditions:
  collect-phrases: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((api|chat|control)/migrations/.*)
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  prettier-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
