Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile

collect-phrases:
  name: Collect i18n phrases
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'

prettier-frontend:
  name: prettier-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

prettier-mobile:
  name: prettier-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run format'

Fix pre-commit
  .pre-commit-config.yaml
Due: none

Fix book pagination
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
Due: collect-phrases, prettier-frontend

Refactor order type filter
  frontend/src/components/BookTable/BookControl.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Refactor order type filter
  frontend/src/components/BookTable/BookControl.tsx
Due: collect-phrases, prettier-frontend

Better big screen display
  frontend/src/components/BookTable/BookControl.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Fix translation
  frontend/src/components/BookTable/BookControl.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

It was the other way around
  frontend/src/components/BookTable/BookControl.tsx
Due: collect-phrases, prettier-frontend

dynamically remove expired orders with nostr
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend

Include other statuses
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend

Typo
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend

Update 07-wallets.md
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

upgrade Gradle
  frontend/package-lock.json
  frontend/src/components/BookTable/index.tsx
  mobile/android/gradle/wrapper/gradle-wrapper.properties
  mobile/package-lock.json
Due: collect-phrases, prettier-frontend, prettier-mobile

split host and port in .env variables
  .env-sample
  api/lightning/cln.py
  api/lightning/lnd.py
  api/tests/test_utils.py
  api/utils.py
  docker-compose.yml
  docker-tests.yml
  robosats/celery/__init__.py
  robosats/settings.py
Due: none

Traditional environment for backend development
  .env-sample
  .gitignore
  api/utils.py
  api/views.py
  requirements_dev.txt
  robosats/settings.py
  scripts/traditional/README.md
  scripts/traditional/regtest-nodes
  scripts/traditional/regtest-services
  scripts/traditional/robosats.bash-completion
  setup.md
  tests/utils/node.py
  tests/utils/pgp.py
Due: none

Fix kycnot.me links
  docs/_pages/docs/es/home.md
  docs/_pages/docs/fr/home.md
  docs/_pages/home.md
Due: none

Update 02-payment-methods.md
  docs/_pages/docs/01-best-practices/02-payment-methods.md
Due: none

Update 03-access.md
  docs/_pages/docs/00-quick-start/03-access.md
Due: none

Update 02-payment-methods.md
  docs/_pages/docs/es/01-best-practices/02-payment-methods.md
Due: none

Change urls to robosats.org
  .env-sample
  README.md
  docs/CNAME
  docs/_config.yml
  docs/_pages/contribute/02-languages.md
  docs/_pages/contribute/04-guides.md
  docs/_pages/contribute/05-art.md
  docs/_pages/docs/00-quick-start/03-access.md
  docs/_pages/docs/03-understand/02-robots.md
  docs/_pages/docs/03-understand/12-prices.md
  docs/_pages/docs/es/00-quick-start/03-access.md
  docs/_pages/docs/es/03-understand/02-robots.md
  docs/_pages/docs/es/03-understand/12-prices.md
  docs/_pages/docs/es/contribute/02-languages.md
  docs/_pages/docs/es/contribute/04-guides.md
  docs/_pages/docs/es/contribute/05-art.md
  docs/_pages/docs/es/home.md
  docs/_pages/docs/fr/00-quick-start/03-access.md
  docs/_pages/docs/fr/03-understand/02-robots.md
  docs/_pages/docs/fr/03-understand/12-prices.md
  docs/_pages/docs/fr/contribute/02-languages.md
  docs/_pages/docs/fr/contribute/04-guides.md
  docs/_pages/docs/fr/contribute/05-art.md
  docs/_pages/docs/fr/home.md
  docs/_pages/home.md
  docs/_posts/2023-12-31-pre-release-robosats-decentralized.md
  docs/assets/schemas/api-latest.yaml
  docs/assets/schemas/api-v0.1.yaml
  docs/assets/schemas/api-v0.5.3.yaml
  fastlane/metadata/en-US/full_description.txt
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/components/Dialogs/About.tsx
  frontend/src/components/Dialogs/AuditPGP.tsx
  frontend/src/components/Dialogs/Learn.tsx
  frontend/src/components/TradeBox/WalletsButton.tsx
  mobile/fastlane/metadata/en-US/full_description.txt
  robosats/settings.py
  setup.md
Due: collect-phrases, prettier-frontend

Fix web docker
  web/docker-compose.yml
  web/nginx.conf
Due: none

Fix node app docker
  frontend/src/components/HostAlert/index.tsx
  nodeapp/docker-compose.yml
Due: collect-phrases, prettier-frontend

Fix docker compose
  nodeapp/docker-compose.yml
Due: none

Switch swap type filter results
  frontend/src/components/BookTable/BookControl.tsx
Due: collect-phrases, prettier-frontend

Hide secure alert on onion address
  frontend/src/components/HostAlert/index.tsx
Due: collect-phrases, prettier-frontend

Fix react
  frontend/src/components/HostAlert/UnsafeAlert.tsx
  frontend/src/components/HostAlert/index.tsx
Due: collect-phrases, prettier-frontend

Change to new Onion
  .env-sample
  .github/ISSUE_TEMPLATE/coordinator_registration.yaml
  README.md
  docs/_pages/docs/00-quick-start/03-access.md
  docs/_pages/docs/01-best-practices/01-pgp-guide.md
  docs/_pages/docs/01-best-practices/01-pgp-guide_es.md
  docs/_pages/docs/es/00-quick-start/03-access.md
  docs/_pages/docs/es/01-best-practices/01-pgp-guide.md
  docs/_pages/docs/es/01-best-practices/01-pgp-guide_es.md
  docs/_pages/docs/fr/00-quick-start/03-access.md
  docs/_pages/docs/fr/01-best-practices/01-pgp-guide.md
  docs/_posts/2023-12-31-pre-release-robosats-decentralized.md
  nodeapp/README.md
  setup.md
Due: none

update tesnet description
  docs/_pages/docs/00-quick-start/03-access.md
  docs/_pages/docs/es/00-quick-start/03-access.md
  docs/_pages/docs/fr/00-quick-start/03-access.md
  docs/_posts/2023-12-31-pre-release-robosats-decentralized.md
  frontend/src/components/HostAlert/UnsafeAlert.tsx
Due: collect-phrases, prettier-frontend

update tesnet description
  docs/_pages/docs/00-quick-start/03-access.md
  docs/_pages/docs/es/00-quick-start/03-access.md
  docs/_pages/docs/fr/00-quick-start/03-access.md
Due: none

Remove Twitter links
  docs/_config.yml
  docs/_pages/contribute/01-development.md
  docs/_pages/contribute/06-outreach.md
  docs/_pages/docs/es/contribute/01-development.md
  docs/_pages/docs/es/contribute/06-outreach.md
  docs/_pages/docs/es/home.md
  docs/_pages/docs/fr/contribute/01-development.md
  docs/_pages/docs/fr/contribute/06-outreach.md
  docs/_pages/docs/fr/home.md
  docs/_pages/home.md
Due: none

Remove Twitter link fron frontend
  frontend/src/components/Dialogs/Community.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Change nostr accounts
  docs/_pages/contribute/01-development.md
  docs/_pages/contribute/06-outreach.md
  docs/_pages/contribute/07-donate.md
  docs/_pages/docs/es/contribute/01-development.md
  docs/_pages/docs/es/contribute/06-outreach.md
  docs/_pages/docs/es/contribute/07-donate.md
  docs/_pages/docs/fr/contribute/01-development.md
  docs/_pages/docs/fr/contribute/06-outreach.md
  docs/_pages/docs/fr/contribute/07-donate.md
Due: none

Update donations
  docs/_pages/contribute/07-donate.md
  docs/_pages/docs/fr/contribute/07-donate.md
Due: none

Path conditions:
  collect-phrases: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((api|chat|control)/migrations/.*)
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  prettier-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
