Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, lintern-frontend, prettier-mobile, lintern-mobile

.pre-commit-config.yaml:

exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/|^mobile/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: lintern-frontend
        name: lintern-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run lint'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
      - id: lintern-mobile
        name: lintern-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run lint'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.13
    hooks:
    - id: ruff
      stages:
        - commit
        - merge-commit
      language: system
      args: [ --fix ]
      types: [python]
    - id: ruff-format
      stages:
        - commit
        - merge-commit
      language: system
      types: [python]

Fix release workflow
  .github/workflows/release.yml
  frontend/src/basic/TopBar/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Notifications filters
  .github/workflows/release.yml
  android/app/src/main/java/com/robosats/services/NotificationsService.kt
  frontend/src/basic/TopBar/NotificationsDrawer/index.tsx
  frontend/src/components/TradeBox/Dialogs/ConfirmFiatReceived.tsx
  frontend/src/components/TradeBox/Prompts/Chat.tsx
  frontend/src/models/Federation.model.ts
  frontend/src/services/RoboPool/index.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Trnaslations
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend, lintern-frontend

Add random expiration to notifications
  api/nostr.py
Due: none

Revert order
  api/nostr.py
Due: none

Add git hash to assets
  .github/workflows/release.yml
Due: none

Add git hash to assets 2
  .github/workflows/release.yml
Due: none

Add git hash to assets 3
  .github/workflows/release.yml
Due: none

Add git hash to assets 4
  release_notes.md
Due: none

Small UI tweaks
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  release_notes.md
Due: collect-phrases, prettier-frontend, lintern-frontend

price
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Update LNProxy relay list on 2025-08-03
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Add USDC as payment method
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/components/PaymentMethods/Icons/usdc.png
  frontend/src/components/PaymentMethods/MethodList.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Reports
  android/app/src/main/java/com/robosats/WebAppInterface.kt
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/TokenInput.tsx
  frontend/src/basic/TopBar/NotificationsDrawer/NotificationCard/index.tsx
  frontend/src/basic/TopBar/NotificationsDrawer/index.tsx
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/components/Dialogs/AuditPGP.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/components/PaymentMethods/Icons/paysend.png
  frontend/src/components/PaymentMethods/MethodList.ts
  frontend/src/components/TradeBox/Forms/LightningPayout.tsx
  frontend/src/components/TradeBox/Prompts/Chat.tsx
  frontend/src/components/TradeBox/TradeSummary.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/Slot.model.ts
  frontend/src/utils/saveFile.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Reset proxy button
  android/app/src/main/java/com/robosats/WebAppInterface.kt
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/components/TradeBox/Prompts/LockInvoice.tsx
  frontend/src/services/Android/index.ts
  frontend/src/services/System/SystemAndroidClient/index.ts
  frontend/src/services/System/SystemDesktopClient/index.ts
  frontend/src/services/System/SystemWebClient/index.ts
  frontend/src/services/System/index.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

v0.8.1 Pre-release reports
  frontend/src/basic/Main.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/components/TradeBox/Forms/LightningPayout.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Settings.model.ts
  frontend/src/models/Slot.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Update Android architecture versioning strategy
  .github/workflows/android-build.yml
  android/app/build.gradle.kts
  android/app/src/main/java/com/robosats/WebAppInterface.kt
Due: none

Revert unwanted changes
  android/app/src/main/java/com/robosats/WebAppInterface.kt
Due: none

Change Universal version
  android/app/build.gradle.kts
Due: none

Remove jump
  android/app/build.gradle.kts
Due: none

Fix payment methods icon
  frontend/src/components/PaymentMethods/StringAsIcons.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Update LNProxy relay list on 2025-08-10
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Pre-release fixes v0.8.1 2
  android/app/src/main/java/com/robosats/WebAppInterface.kt
  frontend/src/components/Dialogs/AuditPGP.tsx
  frontend/src/components/TradeBox/Prompts/Chat.tsx
  frontend/src/models/Settings.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix chat events
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Remove expiration key
  api/nostr.py
Due: none

Fix orbot button
  frontend/src/components/SettingsForm/index.tsx
  release_notes.md
Due: collect-phrases, prettier-frontend, lintern-frontend

Desktop app fix
  .github/workflows/frontend-build.yml
  android/zapstore.yaml
Due: none

Desktop app fix 2
  .github/workflows/frontend-build.yml
  frontend/package-lock.json
  frontend/webpack.config.ts
Due: prettier-frontend, lintern-frontend

Revert install
  frontend/package-lock.json
Due: prettier-frontend, lintern-frontend

Another try
  .github/workflows/frontend-build.yml
  frontend/webpack.config.ts
Due: prettier-frontend, lintern-frontend

Another try 2
  frontend/package-lock.json
  frontend/package.json
  frontend/webpack.config.ts
Due: prettier-frontend, lintern-frontend

Another try 3
  frontend/webpack.config.ts
Due: prettier-frontend, lintern-frontend

Better code
  frontend/webpack.config.ts
Due: prettier-frontend, lintern-frontend

Webpack fix
  frontend/webpack.config.ts
Due: prettier-frontend, lintern-frontend

Frontend libraries bump
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
Due: prettier-frontend, lintern-frontend

Update LNProxy relay list on 2025-08-17
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Revision of the Czech translation
  frontend/static/locales/cs.json
Due: prettier-frontend, lintern-frontend

Update LNProxy relay list on 2025-08-24
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Sort by premium when the order type is defined #2146
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend
