Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, lintern-frontend, lintern-android, check-android

.pre-commit-config.yaml:

exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/|^mobile/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: lintern-frontend
        name: lintern-frontend
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run lint'
      - id: lintern-android
        name: lintern-android
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^android/
        types_or: [kotlin]
        entry: bash -c 'cd android && ./gradlew lint'
      - id: check-android
        name: check-android
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^android/
        types_or: [kotlin]
        entry: bash -c 'cd android && ./gradlew check'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.13
    hooks:
    - id: ruff
      stages:
        - pre-commit
        - pre-merge-commit
      language: system
      args: [ --fix ]
      types: [python]
    - id: ruff-format
      stages:
        - pre-commit
        - pre-merge-commit
      language: system
      types: [python]

fix: correct SVG icon color rendering
  frontend/src/components/Map/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

update whiteyes coordinator
  frontend/static/federation.json
Due: prettier-frontend, lintern-frontend

update pubkey
  frontend/static/federation.json
Due: prettier-frontend, lintern-frontend

API header fixes
  frontend/src/services/api/ApiAndroidClient/index.ts
  frontend/src/services/api/ApiWebClient/index.ts
  robosats/middleware.py
Due: collect-phrases, prettier-frontend, lintern-frontend

v0.8.4-alpha
  android/app/build.gradle.kts
  desktopApp/package-lock.json
  desktopApp/package.json
  docs/assets/schemas/api-latest.yaml
  frontend/package-lock.json
  frontend/package.json
  release_notes.md
  version.json
Due: prettier-frontend, lintern-frontend, lintern-android, check-android

Keep development on hold
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

feat: add visual warning for low bond orders
  frontend/src/components/BookTable/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

feat: Add PoC script for programmatic order creation
  poc_order.py
Due: none

feat:add routing budget ui to rewards claim
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/models/Robot.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Hide 404 api code errors
  frontend/src/services/api/ApiWebClient/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

fix tooltip
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

feat: Implement Garage Key functionality and account recovery
  frontend/src/basic/GaragePage/AccountNavigator.tsx
  frontend/src/basic/GaragePage/GarageKeyInput.tsx
  frontend/src/basic/GaragePage/GarageKeyOnboarding.tsx
  frontend/src/basic/GaragePage/GarageKeyProfile.tsx
  frontend/src/basic/GaragePage/index.tsx
  frontend/src/basic/RobotPage/Welcome.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/basic/Routes.tsx
  frontend/src/basic/TopBar/MenuDrawer/index.tsx
  frontend/src/basic/index.ts
  frontend/src/components/Dialogs/DeleteGarageKeyConfirmation.tsx
  frontend/src/components/Dialogs/Recovery.tsx
  frontend/src/components/Dialogs/StoreToken.tsx
  frontend/src/components/Dialogs/index.ts
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/components/TradeBox/Prompts/Expired.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/GarageKey.model.ts
  frontend/src/models/Settings.model.ts
  frontend/src/models/Slot.model.ts
  frontend/src/models/index.ts
  frontend/src/services/RoboPool/index.ts
  frontend/src/utils/accountRecovery.ts
  frontend/src/utils/garageKey.ts
  frontend/src/utils/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix grammar in frontend locales
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

fix:return 200 OK on successful order cancel
  api/views.py
Due: none

chore(dev-deps): bumped electron from 30.0.3 to 39.2.7 and fixed issues
  desktopApp/package.json
  desktopApp/tsconfig.json
  frontend/webpack.config.ts
Due: prettier-frontend, lintern-frontend

escrow duration: increase from 8 hours to 10 hours
  api/models/order.py
  docs/_pages/docs/03-understand/05-trade-escrow.md
  docs/assets/schemas/api-latest.yaml
  docs/assets/schemas/api-v0.1.yaml
  docs/assets/schemas/api-v0.5.3.yaml
  frontend/src/components/MakerForm/MakerForm.tsx
  tests/test_trade_pipeline.py
  tests/utils/trade.py
Due: collect-phrases, prettier-frontend, lintern-frontend

test min/max escrow duration
  tests/README.md
  tests/test_trade_pipeline.py
Due: none

Add Wero payment method
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/components/PaymentMethods/MethodList.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

add checks for cancel status
  api/views.py
  tests/test_trade_pipeline.py
Due: none

fix: workaround for electron V39 incompatibility
  desktopApp/package.json
Due: none

add bad req for frontend compatibility
  api/views.py
Due: none

fix: added the package-lock.json
  desktopApp/package-lock.json
Due: none

test:bad_request field in cancel response
  tests/test_trade_pipeline.py
Due: none

feat: implement Pro Toolbar with Import/Export settings
  frontend/src/pro/ToolBar/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

feat(pro): add conditional Pro/Basic view + performance optimizations
  frontend/src/App.tsx
  frontend/src/pro/Main.tsx
  frontend/static/css_pro/react-grid-layout.css
Due: collect-phrases, prettier-frontend, lintern-frontend

feat(pro): full workspace export/import
  frontend/src/pro/Main.tsx
  frontend/src/pro/ToolBar/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

remove comments
  frontend/src/pro/Main.tsx
  frontend/src/pro/ToolBar/index.tsx
  frontend/static/css_pro/react-grid-layout.css
Due: collect-phrases, prettier-frontend, lintern-frontend

refactor: extract getRouter to shared utility
  frontend/src/basic/Main.tsx
  frontend/src/pro/Main.tsx
  frontend/src/utils/getRouter.ts
  frontend/src/utils/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Refactor Toolbar layout,added widget drawer
  frontend/src/App.tsx
  frontend/src/pro/Main.tsx
  frontend/src/pro/ToolBar/WidgetDrawer.tsx
  frontend/src/pro/ToolBar/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

added logo
  frontend/src/pro/Main.tsx
  frontend/src/pro/ToolBar/WidgetDrawer.tsx
  frontend/src/pro/ToolBar/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

added dotted bg
  frontend/src/pro/Main.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

feat(pro):fixed order book overflow and bond stacking
  frontend/src/components/BookTable/index.tsx
  frontend/src/pro/Widgets/Book.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

feat(pro):fixed settings,chart,makerwidgets
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/pro/Widgets/Depth.tsx
  frontend/src/pro/Widgets/Maker.tsx
  frontend/src/pro/Widgets/Settings.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

feat(pro):fixed coordinators widget
  frontend/src/basic/SettingsPage/Coordinators.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/pro/ToolBar/WidgetDrawer.tsx
  frontend/src/pro/Widgets/Federation.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

refactor:claim button and dialog box improvements
  frontend/src/components/RobotInfo/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

icon added trophy
  frontend/src/components/RobotInfo/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

feat: make nostr host configurable
  api/nostr.py
  scripts/traditional/README.md
  scripts/traditional/templates/nginx.conf
  scripts/traditional/traditional-services
Due: none

update grpcio and grpcio-tools
  requirements.txt
Due: none
