Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, lintern-frontend, prettier-mobile, lintern-mobile

collect-phrases:
  name: Collect i18n phrases
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'

prettier-frontend:
  name: prettier-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

lintern-frontend:
  name: lintern-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run lint'

prettier-mobile:
  name: prettier-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run format'

lintern-mobile:
  name: lintern-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run lint'

New mobile views
  frontend/src/basic/Main.tsx
  frontend/src/basic/NavBar/AppBar/index.tsx
  frontend/src/basic/NavBar/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/Welcome.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/basic/Routes.tsx
  frontend/src/basic/TopBar/index.tsx
  frontend/src/components/Notifications/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/utils/getHost.ts
  frontend/src/utils/settings.ts
  frontend/src/utils/theme.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

New mobile views
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/Routes.tsx
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/components/Dialogs/GoToOrder.tsx
  frontend/src/components/Dialogs/NoRobot.tsx
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/Notifications/index.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/AppContext.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Navigate function
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/Dialogs/NoRobot.tsx
  frontend/src/components/RobotInfo/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Logic fixes
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/TokenInput.tsx
  frontend/src/models/Slot.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Robot profile
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Coordinator view
  frontend/src/components/Dialogs/Coordinator.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Bump frontend libraries
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, lintern-frontend

Bump frontend libraries
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
  frontend/webpack.config.ts
Due: prettier-frontend, lintern-frontend

Fix
  frontend/tsconfig.json
  frontend/webpack.config.ts
Due: prettier-frontend, lintern-frontend

Fix mobile_new
  mobile_new/app/src/main/res/drawable/ic_launcher_background.xml
  mobile_new/app/src/main/res/drawable/ic_launcher_foreground.xml
  mobile_new/app/src/main/res/drawable/rn_edit_text_material.xml
Due: none

Fix mobile_new
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, lintern-frontend

New movile release workflow
  .github/workflows/android-build.yml
Due: none

New movile version
  android/app/build.gradle.kts
Due: none

Fix workflow
  .github/workflows/android-build.yml
Due: none

Fix workflow
  .github/workflows/frontend-build.yml
Due: none

Simplfy Tor connection on Android
  .github/workflows/android-build.yml
  android/app/src/main/java/com/robosats/MainActivity.kt
  android/app/src/main/java/com/robosats/WebAppInterface.kt
  android/app/src/main/java/com/robosats/tor/TorKmpManager.kt
  android/app/src/main/res/values/strings.xml
  frontend/src/services/Android/index.ts
  frontend/src/services/Native/index.d.ts
  frontend/src/services/Native/index.ts
  frontend/src/services/Roboidentities/Native.ts
  frontend/src/services/Roboidentities/RoboidentitiesNativeClient/index.ts
  frontend/src/services/System/SystemNativeClient/index.ts
  frontend/src/services/System/index.ts
  frontend/src/services/Websocket/WebsocketNativeClient/index.ts
  frontend/src/services/Websocket/index.ts
  frontend/src/services/api/ApiAndroidClient/index.ts
  frontend/src/services/api/index.ts
  frontend/templates/frontend/index.ejs
  frontend/webpack.config.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Update 03-liquidity.md
  docs/_pages/docs/es/contribute/03-liquidity.md
Due: none

Working
  .github/workflows/android-build.yml
  android/app/src/main/java/com/robosats/MainActivity.kt
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/TopBar/index.tsx
  frontend/src/components/Dialogs/AuditPGP.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/components/TradeBox/Prompts/Successful.tsx
  frontend/src/components/TradeBox/TradeSummary.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/models/Slot.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
  frontend/templates/frontend/index.ejs
  frontend/webpack.config.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Update LNProxy relay list on 2025-07-20
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Fix webview
  frontend/webpack.config.ts
Due: prettier-frontend, lintern-frontend

Disable tooltip
  frontend/src/basic/RobotPage/RobotProfile.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Zapstore
  android/app/src/main/java/com/robosats/MainActivity.kt
  android/zapstore.yaml
  fastlane/metadata/en-US/full_description.txt
Due: none

Styles
  frontend/src/basic/SettingsPage/Coordinators.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Robot garage buttons
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix order match
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/components/OrderDetails/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Nostr notifications
  api/nostr.py
  api/notifications.py
  api/tasks.py
  frontend/src/basic/Main.tsx
  frontend/src/basic/TopBar/MenuDrawer/index.tsx
  frontend/src/basic/TopBar/NotificationsDrawer/index.tsx
  frontend/src/basic/TopBar/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Coordinators privacy
  federation.md
Due: none

Update federation.md
  federation.md
Due: none

Fix nostr
  api/nostr.py
Due: none

Path conditions:
  collect-phrases: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((api|chat|control)/migrations/.*)
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  lintern-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  prettier-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  lintern-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
