Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile

collect-phrases:
  name: Collect i18n phrases
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'

prettier-frontend:
  name: prettier-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

prettier-mobile:
  name: prettier-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run format'

add new param current_status to /api/order cancel
  api/logics.py
  api/oas_schemas.py
  api/serializers.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  tests/test_trade_pipeline.py
  tests/utils/trade.py
Due: none

change current status to ChoiceField
  api/serializers.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  robosats/settings.py
Due: none

update cln holdinvoice plugin
  api/lightning/cln.py
Due: none

Add coordinator to order summary
  frontend/src/components/TradeBox/Prompts/Successful.tsx
  frontend/src/components/TradeBox/TradeSummary.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Fix sats text on range orders
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Update order navbar on time
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/models/Garage.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

fix warnings DecimalField should be Decimal type
  api/models/currency.py
  api/models/market_tick.py
  api/models/onchain_payment.py
  api/models/order.py
Due: none

fix warnings DecimalField should be Decimal type (#1334)
  api/models/currency.py
  api/models/market_tick.py
  api/models/onchain_payment.py
  api/models/order.py
Due: none

chore: update api schema
  docs/assets/schemas/api-latest.yaml
  tests/api_specs.yaml
Due: none

feat: add tests readme
  tests/README.md
Due: none

feat: add coordinator alias to order summary (#1331)
  frontend/src/components/TradeBox/Prompts/Successful.tsx
  frontend/src/components/TradeBox/TradeSummary.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Disable tor option (#1315)
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/components/TorConnection.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Settings.model.ts
  frontend/src/services/System/SystemNativeClient/index.ts
  frontend/src/services/api/ApiNativeClient/index.ts
  frontend/src/services/api/ApiWebClient/index.ts
  frontend/src/services/api/index.ts
  frontend/src/utils/federationLottery.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
  mobile/App.tsx
Due: collect-phrases, prettier-frontend, prettier-mobile

fix sats text on range orders (#1332)
  frontend/src/components/OrderDetails/index.tsx
Due: collect-phrases, prettier-frontend

Update 07-wallets.md (#1322)
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Add external coordinator
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Slot.model.ts
Due: collect-phrases, prettier-frontend

CR
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

reactivate CLN integration tests
  .github/workflows/integration-tests.yml
  docker-tests.yml
  tests/bitcoind/entrypoint.sh
Due: none

Fix middleware unused AuthenticationFailed
  robosats/middleware.py
Due: none

Fix middleware unused AuthenticationFailed (#1339)
  robosats/middleware.py
Due: none

duplicate readme deleted
  desktopApp/tor/README.CONJURE.md
  desktopApp/tor/README.SNOWFLAKE.md
  desktopApp/tor/README.WEBTUNNEL.md
  desktopApp/tor/tor-linux/tor/pluggable_transports/README.CONJURE.md
  desktopApp/tor/tor-linux/tor/pluggable_transports/README.SNOWFLAKE.md
  desktopApp/tor/tor-linux/tor/pluggable_transports/README.WEBTUNNEL.md
  desktopApp/tor/tor-mac/tor/pluggable_transports/README.CONJURE.md
  desktopApp/tor/tor-mac/tor/pluggable_transports/README.SNOWFLAKE.md
  desktopApp/tor/tor-mac/tor/pluggable_transports/README.WEBTUNNEL.md
  desktopApp/tor/tor-win/tor/pluggable_transports/README.CONJURE.md
  desktopApp/tor/tor-win/tor/pluggable_transports/README.SNOWFLAKE.md
  desktopApp/tor/tor-win/tor/pluggable_transports/README.WEBTUNNEL.md
Due: none

fix test_withdraw_reward_after_unilateral_cancel
  tests/test_trade_pipeline.py
Due: none

fix some tests
  api/logics.py
  tests/test_trade_pipeline.py
  tests/utils/pgp.py
Due: none

add lightning protobuf files in gitignore
  .gitignore
Due: none

remove payout_tx check in logics.py
  api/logics.py
Due: none

readme added for desktopApp
  desktopApp/Readme.md
Due: none

Notifications Endpoint
  api/management/commands/telegram_watcher.py
  api/models/notification.py
  api/notifications.py
  api/oas_schemas.py
  api/serializers.py
  api/tasks.py
  api/urls.py
  api/views.py
Due: none

Migration
  api/migrations/0047_notification.py
  api/models/__init__.py
  api/models/notification.py
  api/notifications.py
Due: none

include order_id
  api/models/notification.py
  api/notifications.py
  api/serializers.py
  api/views.py
Due: none

Tests
  docs/assets/schemas/api-latest.yaml
  tests/test_trade_pipeline.py
  tests/utils/trade.py
Due: none

CodeReview
  api/migrations/0047_notification.py
  api/models/notification.py
  api/notifications.py
  api/views.py
Due: none

Tests messages
  tests/test_trade_pipeline.py
Due: none

Typo
  api/views.py
Due: none

icons added
  desktopApp/assets/icon/Robosats.icns
  desktopApp/assets/icon/Robosats.ico
  desktopApp/assets/icon/Robosats.svg
  desktopApp/index.ts
  desktopApp/package.json
Due: none

Notifications Endpoint
  api/management/commands/telegram_watcher.py
  api/migrations/0047_notification.py
  api/models/__init__.py
  api/models/notification.py
  api/notifications.py
  api/oas_schemas.py
  api/serializers.py
  api/tasks.py
  api/urls.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  tests/test_trade_pipeline.py
Due: none

Fix tests
  tests/test_trade_pipeline.py
Due: none

readme updated
  desktopApp/Readme.md
Due: none

CR
  api/notifications.py
  api/views.py
  tests/test_trade_pipeline.py
Due: none

Path conditions:
  collect-phrases: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((api|chat|control)/migrations/.*)
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  prettier-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
