Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, lintern-frontend, lintern-android, check-android

collect-phrases:
  name: Collect i18n phrases
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'

prettier-frontend:
  name: prettier-frontend
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

lintern-frontend:
  name: lintern-frontend
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run lint'

lintern-android:
  name: lintern-android
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd android && ./gradlew lint'

check-android:
  name: check-android
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd android && ./gradlew check'

Fix order save in admin
  api/admin.py
Due: none

Update LNProxy relay list on 2026-05-31
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Fix coordinator lottery fairness
  frontend/src/utils/federationLottery.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix proceeds calculation
  api/lightning/cln.py
  api/lightning/lnd.py
  api/logics.py
  api/models/order.py
Due: none

Update LNProxy relay list on 2026-06-07
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Update grpcio and generation script
  requirements.txt
  scripts/generate_grpc.sh
Due: none

fix(frontend): show exact Sats for swap order amounts
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/utils/index.ts
  frontend/src/utils/prettyNumbers.test.ts
  frontend/src/utils/prettyNumbers.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Update LNProxy relay list on 2026-06-14
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Fix reward routing budget payouts
  api/lightning/cln.py
  api/lightning/lnd.py
  api/logics.py
  tests/test_trade_pipeline.py
Due: none

Update Redis and fix payment flow
  api/logics.py
  api/management/commands/follow_invoices.py
  requirements.txt
Due: none

Fix Alice coordinator port conflicts in selfhosted nodeapp
  nodeapp/coordinators/alice/locations.conf
  nodeapp/coordinators/alice/upstreams.conf
  nodeapp/coordinators/freedomsats/upstreams.conf
  nodeapp/robosats-client.sh
Due: none

Revert "fix: resolve order page loading race condn"
  frontend/src/basic/OrderPage/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Image upload fails on HTTP
  frontend/src/utils/blossom.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Use canonical onion URL in Blossom metadata
  frontend/src/components/TradeBox/EncryptedChat/EncryptedApiChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/MessageCard/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/utils/blossom.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix Blossom upload on self-hosted nodeapp
  nodeapp/coordinators/alice/locations.conf
  nodeapp/coordinators/bazaar/locations.conf
  nodeapp/coordinators/freedomsats/locations.conf
  nodeapp/coordinators/lake/locations.conf
  nodeapp/coordinators/moon/locations.conf
  nodeapp/coordinators/temple/locations.conf
  nodeapp/nginx.conf
Due: none

Fix image display by preventing state mutation
  frontend/src/components/TradeBox/EncryptedChat/MessageCard/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

security: update dependencies and Python base image
  Dockerfile
  requirements.txt
Due: none

fix: add f-string prefix to slashed_robot_log for proper variable interpolation
  api/logics.py
Due: none

fix: escape user-controlled data in order.log() and objects_to_hyperlinks()
  api/models/order.py
  api/utils.py
Due: none

remove: Over the Moon coordinator from federation
  frontend/static/federation.json
  frontend/static/federation/avatars/moon.small.webp
  frontend/static/federation/avatars/moon.webp
  frontend/static/federation/pgp/19D833CB2258715B4E627291942B7D51A8533742.asc
  nodeapp/coordinators/moon/locations.conf
  nodeapp/coordinators/moon/upstreams.conf
  nodeapp/nginx.conf
  nodeapp/robosats-client.sh
  scripts/traditional/strfry-sync-federation
Due: prettier-frontend, lintern-frontend

fix: correct orders_disputes_started tracking in open_dispute
  api/logics.py
Due: none

Create CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: Update to use gender-neutral language
  frontend/src/components/TradeBox/Prompts/Chat.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix: Prevent race condition in withdraw_rewards
  api/logics.py
Due: none

Fix: Remove early return in follow_invoices
  api/management/commands/follow_invoices.py
Due: none

Fix: Prevent double payout on invoice update
  api/logics.py
Due: none

Backend dispute min time enforcement
  api/errors.py
  api/logics.py
Due: none

Upgrade deps & fix log f-strings
  Dockerfile
  api/logics.py
  requirements.txt
Due: none

fix: low onchain balance causes infinite loading on frontend
  api/logics.py
Due: none

Enhance PGP key validation and prevent GPG abuse
  api/errors.py
  api/utils.py
Due: none

Add tests for nostr pubkey validation
  tests/test_trade_pipeline.py
Due: none

Ignore invalid nostr pubkeys
  robosats/middleware.py
Due: none

feat: validate PGP key creation timestamp
  api/errors.py
  api/tests/test_utils.py
  api/utils.py
Due: none

Fix order page race contidion
  frontend/src/basic/OrderPage/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Root files and /api
  .claude/rules/agents-md.md
  .gitignore
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  android/AGENTS.md
  android/CLAUDE.md
  api/AGENTS.md
  api/CLAUDE.md
  api/lightning/AGENTS.md
  api/lightning/CLAUDE.md
  api/management/commands/AGENTS.md
  api/management/commands/CLAUDE.md
  api/migrations/AGENTS.md
  api/migrations/CLAUDE.md
  api/models/AGENTS.md
  api/models/CLAUDE.md
  api/nick_generator/AGENTS.md
  api/nick_generator/CLAUDE.md
  api/tests/AGENTS.md
  api/tests/CLAUDE.md
  chat/AGENTS.md
  chat/CLAUDE.md
  desktopApp/AGENTS.md
  desktopApp/CLAUDE.md
  frontend/AGENTS.md
  frontend/CLAUDE.md
  frontend/src/components/AGENTS.md
  frontend/src/components/CLAUDE.md
  frontend/src/contexts/AGENTS.md
  frontend/src/contexts/CLAUDE.md
  frontend/src/models/AGENTS.md
  frontend/src/models/CLAUDE.md
  frontend/src/services/AGENTS.md
  frontend/src/services/CLAUDE.md
  nodeapp/AGENTS.md
  nodeapp/CLAUDE.md
  scripts/generate_clinerules.sh
  tests/AGENTS.md
  tests/CLAUDE.md
Due: prettier-frontend, lintern-frontend

android
  android/AGENTS.md
  android/app/src/main/java/com/robosats/AGENTS.md
  android/app/src/main/java/com/robosats/CLAUDE.md
  android/app/src/main/java/com/robosats/models/AGENTS.md
  android/app/src/main/java/com/robosats/models/CLAUDE.md
  android/app/src/main/java/com/robosats/services/AGENTS.md
  android/app/src/main/java/com/robosats/services/CLAUDE.md
  android/app/src/main/java/com/robosats/tor/AGENTS.md
  android/app/src/main/java/com/robosats/tor/CLAUDE.md
Due: none

frontend
  .claude/references/agents-md.md
  AGENTS.md
  api/AGENTS.md
  api/models/AGENTS.md
  chat/AGENTS.md
  desktopApp/AGENTS.md
  desktopApp/tor/AGENTS.md
  desktopApp/tor/CLAUDE.md
  frontend/AGENTS.md
  frontend/src/basic/AGENTS.md
  frontend/src/basic/CLAUDE.md
  frontend/src/components/AGENTS.md
  frontend/src/contexts/AGENTS.md
  frontend/src/geo/AGENTS.md
  frontend/src/geo/CLAUDE.md
  frontend/src/hooks/AGENTS.md
  frontend/src/hooks/CLAUDE.md
  frontend/src/i18n/AGENTS.md
  frontend/src/i18n/CLAUDE.md
  frontend/src/models/AGENTS.md
  frontend/src/pgp/AGENTS.md
  frontend/src/pgp/CLAUDE.md
  frontend/src/pro/AGENTS.md
  frontend/src/pro/CLAUDE.md
  frontend/src/services/AGENTS.md
  frontend/src/utils/AGENTS.md
  frontend/src/utils/CLAUDE.md
  frontend/static/AGENTS.md
  frontend/static/CLAUDE.md
  frontend/templates/AGENTS.md
  frontend/templates/CLAUDE.md
  scripts/generate_clinerules.sh
Due: prettier-frontend, lintern-frontend

Path conditions:
  collect-phrases: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((api|chat|control)/migrations/.*)
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  lintern-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  lintern-android: any of: ^android/ and \.(kt|kts)$ and not ((api|chat|control)/migrations/.*)
  check-android: any of: ^android/ and \.(kt|kts)$ and not ((api|chat|control)/migrations/.*)
