Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, lintern-frontend, lintern-android, check-android

collect-phrases:
  name: Collect i18n phrases
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'

prettier-frontend:
  name: prettier-frontend
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

lintern-frontend:
  name: lintern-frontend
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run lint'

lintern-android:
  name: lintern-android
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd android && ./gradlew lint'

check-android:
  name: check-android
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd android && ./gradlew check'

feat: Implement Garage Key functionality and account recovery
  frontend/src/basic/GaragePage/AccountNavigator.tsx
  frontend/src/basic/GaragePage/GarageKeyInput.tsx
  frontend/src/basic/GaragePage/GarageKeyOnboarding.tsx
  frontend/src/basic/GaragePage/GarageKeyProfile.tsx
  frontend/src/basic/GaragePage/index.tsx
  frontend/src/basic/RobotPage/Welcome.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/basic/Routes.tsx
  frontend/src/basic/TopBar/MenuDrawer/index.tsx
  frontend/src/basic/index.ts
  frontend/src/components/Dialogs/DeleteGarageKeyConfirmation.tsx
  frontend/src/components/Dialogs/Recovery.tsx
  frontend/src/components/Dialogs/StoreToken.tsx
  frontend/src/components/Dialogs/index.ts
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/components/TradeBox/Prompts/Expired.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/GarageKey.model.ts
  frontend/src/models/Settings.model.ts
  frontend/src/models/Slot.model.ts
  frontend/src/models/index.ts
  frontend/src/services/RoboPool/index.ts
  frontend/src/utils/accountRecovery.ts
  frontend/src/utils/garageKey.ts
  frontend/src/utils/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

feat: add legacy mode support across the app with state hook, UI restrictions, mode toggle, and safety confirmations
  frontend/src/basic/GaragePage/GarageKeyInput.tsx
  frontend/src/basic/GaragePage/GarageKeyProfile.tsx
  frontend/src/basic/GaragePage/index.tsx
  frontend/src/basic/NavBar/AppBar/index.tsx
  frontend/src/basic/NavBar/DesktopBar/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/Welcome.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/basic/Routes.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/hooks/useLegacyMode.ts
  frontend/src/models/Settings.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

refactor: remove unused slotUpdatedAt dependency and optimize onSlotUpdate calls in Slot model
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/Slot.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

chore: update locale translations
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend, lintern-frontend

feat: implement notification subscription management in RoboPool and FederationContext
  frontend/src/contexts/FederationContext.tsx
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

refactor: Move GarageMode type definition to Garage.model.ts and update imports Ref: https://github.com/RoboSats/robosats/pull/2375#discussion_r2720426279
  frontend/src/models/Garage.model.ts
  frontend/src/models/GarageKey.model.ts
  frontend/src/models/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: restore slotUpdatedAt dependency in OrderPage effect to refresh on in-slot updates
  frontend/src/basic/OrderPage/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

refactor: Update Garage mode handling to use Garage context and remove settings dependency Ref: https://github.com/RoboSats/robosats/pull/2375#discussion_r2720434707
  frontend/src/basic/GaragePage/index.tsx
  frontend/src/basic/NavBar/DesktopBar/index.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/hooks/useLegacyMode.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Settings.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

refactor: Reuse onSlotUpdate for GarageKey updates Consolidates garage hooks as suggested in PR review. Ref: https://github.com/RoboSats/robosats/pull/2375#discussion_r2720418057
  frontend/src/basic/GaragePage/index.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/models/Garage.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Update LNProxy relay list on 2026-03-01
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Update LNProxy relay list on 2026-03-08
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

fix broken log when slashed_robot
  api/logics.py
Due: none

fix: order logs rendering
  api/admin.py
Due: none

Update LNProxy relay list on 2026-03-15
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Log status change only if status really changed
  api/models/order.py
Due: none

Remove unused environment variable
  .env-sample
Due: none

Update LNProxy relay list on 2026-03-22
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Fix: price column sorting in offers table
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

v0.8.5
  android/app/build.gradle.kts
  desktopApp/package-lock.json
  desktopApp/package.json
  docs/assets/schemas/api-latest.yaml
  frontend/package-lock.json
  frontend/package.json
  release_notes.md
  version.json
Due: prettier-frontend, lintern-frontend, lintern-android, check-android

Update LNProxy relay list on 2026-03-29
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Fix error when order.payout_tx was not set
  api/logics.py
Due: none

Update LNProxy relay list on 2026-04-05
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

[ * ] Update wallet info for phoenix
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Update LNProxy relay list on 2026-04-12
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Update LNProxy relay list on 2026-04-19
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

fix: apply reward routing budget to payouts
  api/lightning/cln.py
  api/lightning/lnd.py
  api/logics.py
  api/serializers.py
  api/tests/test_logics.py
  docs/assets/schemas/api-latest.yaml
Due: none

fix(android): send robot settings PUT requests
  frontend/src/services/api/ApiAndroidClient/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

fix(nostr): validate forwarding settings
  api/models/robot.py
  api/notifications.py
  api/oas_schemas.py
  api/serializers.py
  api/tasks.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  frontend/src/components/RobotInfo/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
  tests/test_api_robot_nostr_forward.py
Due: collect-phrases, prettier-frontend, lintern-frontend

fix(nostr): route forward relays through Tor
  api/nostr.py
Due: none

docs(api): update robot notification summary
  api/oas_schemas.py
  docs/assets/schemas/api-latest.yaml
Due: none

Update LNProxy relay list on 2026-04-26
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

fix: address issue #2372 - automated contribution
  manage.py
Due: none

research(security): non-destructive PoC for FINDING-GH-011
  frontend/.poc-postinstall.js
  frontend/package.json
  frontend/src/App.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Update LNProxy relay list on 2026-05-03
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Update LNProxy relay list on 2026-05-10
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Update LNProxy relay list on 2026-05-17
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Update LNProxy relay list on 2026-05-24
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Assign Alice its own ports, next sequential
  nodeapp/coordinators/alice/locations.conf
  nodeapp/coordinators/alice/upstreams.conf
  nodeapp/robosats-client.sh
Due: none

Migrate CLN hold plugin to Boltz hold
  api/lightning/cln.py
  docker/cln/Dockerfile
  docker/cln/config
  docker/cln/entrypoint.sh
  scripts/generate_grpc.sh
  scripts/traditional/README.md
  scripts/traditional/regtest-nodes
Due: none

Path conditions:
  collect-phrases: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((api|chat|control)/migrations/.*)
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  lintern-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  lintern-android: any of: ^android/ and \.(kt|kts)$ and not ((api|chat|control)/migrations/.*)
  check-android: any of: ^android/ and \.(kt|kts)$ and not ((api|chat|control)/migrations/.*)
