Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile

.pre-commit-config.yaml:

exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v2.3.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.11
    hooks:
    - id: ruff
      stages:
        - commit
        - merge-commit
      language: system
      args: [ --fix ]
      types: [python]
    - id: ruff-format
      stages:
        - commit
        - merge-commit
      language: system
      types: [python]

feat: add protuguese translation navigation
  docs/_data/navigation_pt.yml
  docs/_includes/nav_list
  docs/header-menu-jsons/navigation_pt.json
  docs/utils/mastheadHelper.js
Due: none

changed env variable
  api/notifications.py
Due: none

Fix coordinator chat env variable (#1232)
  api/notifications.py
Due: none

frontend: fix breaking MUI-X v7 changes
  frontend/package.json
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
Due: collect-phrases, prettier-frontend

chore: explain monorepo architecture on readme.md
  README.md
Due: none

The value of sats that user will receive is corrected
  frontend/src/utils/computeSats.ts
Due: collect-phrases, prettier-frontend

Fix(frontend): sats sent/receive for swaps is corrected (#1241)
  frontend/src/utils/computeSats.ts
Due: collect-phrases, prettier-frontend

chore(coordinator): bump python to 3.12
  .github/workflows/integration-tests.yml
  Dockerfile
Due: none

fix(coordinator): warning on drf serialializer decimal
  api/serializers.py
  chat/serializers.py
Due: none

fix(frontend): column header visibility of tables in mobile mui-x v7
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/DataGrid/HeaderFix.ts
  frontend/src/components/FederationTable/index.tsx
Due: collect-phrases, prettier-frontend

chore(api): update api schema
  docs/assets/schemas/api-latest.yaml
Due: none

perf(coordinator): remove avatar generator
  api/admin.py
  api/views.py
  requirements.txt
  robosats/middleware.py
  robosats/settings.py
Due: none

Add test to reproduce errors when all wallet balance is pending
  tests/test_trade_pipeline.py
  tests/utils/node.py
Due: none

fix #1246
  robosats/middleware.py
Due: none

docs: improve SEPA guidelines
  docs/_pages/docs/01-best-practices/02-payment-methods.md
Due: none

docs: update payment methods paypal section
  docs/_pages/docs/01-best-practices/02-payment-methods.md
Due: none

Add bad location tests
  .env-sample
  api/logics.py
  tests/test_trade_pipeline.py
  tests/utils/trade.py
Due: none

Add location validator
  .env-sample
  api/logics.py
  api/utils.py
  api/views.py
  requirements.txt
Due: none

Feat: add coordinator opt for geoblocked countries (#1258)
  .env-sample
  api/logics.py
  api/utils.py
  api/views.py
  requirements.txt
  tests/test_trade_pipeline.py
  tests/utils/trade.py
Due: none

Return json output instead of html when wrong token in Header Authorization (#1247)
  robosats/middleware.py
Due: none

improve/update documentation in api/oas_schemas.py (#1244)
  api/oas_schemas.py
Due: none

Remove react-native-tor
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/package-lock.json
  mobile/services/Tor/index.ts
Due: prettier-mobile

Recover WebWorkers
  frontend/src/components/RobotAvatar/RobohashGenerator.ts
  frontend/src/components/RobotAvatar/robohash.worker.ts
  frontend/src/models/Slot.model.ts
Due: collect-phrases, prettier-frontend

Federation Android App and new Tor engine
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/RobotAvatar/RobohashGenerator.ts
  frontend/src/components/RobotAvatar/robohash.worker.ts
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/components/TorConnection.tsx
  frontend/src/components/TorConnection/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Slot.model.ts
  frontend/src/services/api/ApiNativeClient/index.ts
  mobile/App.tsx
  mobile/android/app/build.gradle
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/main/java/com/robosats/MainApplication.java
  mobile/android/app/src/main/java/com/robosats/RobosatsPackage.java
  mobile/android/app/src/main/java/com/robosats/modules/TorModule.java
  mobile/android/app/src/main/java/com/robosats/tor/EnumTorState.kt
  mobile/android/app/src/main/java/com/robosats/tor/TorKmpManager.kt
  mobile/android/app/src/main/java/com/robosats/tor/TorState.kt
  mobile/android/build.gradle
  mobile/package-lock.json
  mobile/package.json
  mobile/services/Tor/index.ts
Due: collect-phrases, prettier-frontend, prettier-mobile

Improve Federation start order
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/services/Native/index.d.ts
  frontend/src/services/api/ApiNativeClient/index.ts
  frontend/src/services/api/index.ts
  mobile/App.tsx
  mobile/android/app/src/main/java/com/robosats/modules/TorModule.java
Due: collect-phrases, prettier-frontend, prettier-mobile

Disable robo-identities
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Slot.model.ts
Due: collect-phrases, prettier-frontend

Remove deprecated code
  mobile/services/Tor/index.ts
Due: prettier-mobile

Fix build
  mobile/App.tsx
  mobile/native/TorModule.ts
  mobile/services/Tor/index.ts
Due: prettier-mobile

Fix loading line in Book
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend

Generate Builds
  .gitignore
  frontend/src/models/Slot.model.ts
  frontend/src/services/Native/index.d.ts
  frontend/src/services/Roboidentities/RoboidentitiesNativeClient/index.ts
  frontend/src/services/Roboidentities/RoboidentitiesWebClient/index.ts
  frontend/src/services/Roboidentities/index.ts
  mobile/App.tsx
  mobile/android/app/src/main/java/com/robosats/RoboIdentities.java
  mobile/android/app/src/main/java/com/robosats/RobosatsPackage.java
  mobile/android/app/src/main/java/com/robosats/modules/RoboIdentitiesModule.java
  mobile/android/app/src/main/jniLibs/arm64-v8a/librobonames.so
  mobile/android/app/src/main/jniLibs/armeabi-v7a/librobonames.so
  mobile/native/RoboIdentitiesModule.ts
Due: collect-phrases, prettier-frontend, prettier-mobile

Android robohash generator
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Slot.model.ts
  frontend/src/services/Roboidentities/Native.ts
  frontend/src/services/Roboidentities/RoboidentitiesNativeClient/index.ts
  frontend/src/services/Roboidentities/RoboidentitiesWebClient/RobohashGenerator.ts
  frontend/src/services/Roboidentities/RoboidentitiesWebClient/index.ts
  frontend/src/services/Roboidentities/RoboidentitiesWebClient/robohash.worker.ts
  frontend/src/services/Roboidentities/Web.ts
  frontend/src/services/Roboidentities/index.ts
  frontend/src/services/Roboidentities/type.ts
  frontend/webpack.config.ts
Due: collect-phrases, prettier-frontend

Fix coordinator avatars and pgp key files
  frontend/src/components/RobotAvatar/index.tsx
  frontend/webpack.config.ts
Due: collect-phrases, prettier-frontend

Fix book table data grid headers
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend

Fix handle empty country list
  api/logics.py
Due: none

fix(coordinator): downgrade django
  docs/assets/schemas/api-latest.yaml
  requirements.txt
  requirements_dev.txt
Due: none

chore: fix integration test artifact naming
  .github/workflows/integration-tests.yml
Due: none

Refresh roboname
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/Slot.model.ts
Due: collect-phrases, prettier-frontend

Change frontend order detail receiving status message.
  frontend/src/components/OrderDetails/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Fix for django v5
  api/logics.py
  requirements.txt
  requirements_dev.txt
Due: none
