Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile, isort, black, flake8

.pre-commit-config.yaml:

# TODO
# add a hook which automatically generates the OpenApi schema on API changes
# and places them in an appropriate location
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: collect-phrases
        name: collect-phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
  - repo: local
    hooks:
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
      - id: isort
        name: isort
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: isort
      - id: black
        name: black
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: black
      - id: flake8
        name: flake8
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: flake8

Add delay tor connected status, remove token from profile dialog
  .pre-commit-config.yaml
  frontend/src/App.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Update Main.tsx
  frontend/src/basic/Main.tsx
Due: collect-phrases, prettier-frontend

Traducido hasta la línea 63
  frontend/static/locales/es.json
Due: prettier-frontend

Add files via upload
  frontend/static/assets/vector/DevFundSupporter.svg
  frontend/static/assets/vector/Fundator.svg
  frontend/static/assets/vector/GoodPrivacy.svg
  frontend/static/assets/vector/LargeLimits.svg
  frontend/static/assets/vector/LovedByRobots.svg
Due: none

Update ca.json
  frontend/static/locales/ca.json
Due: prettier-frontend

Add coordinator badges vector art (#366)
  frontend/static/assets/vector/DevFundSupporter.svg
  frontend/static/assets/vector/Fundator.svg
  frontend/static/assets/vector/GoodPrivacy.svg
  frontend/static/assets/vector/LargeLimits.svg
  frontend/static/assets/vector/LovedByRobots.svg
Due: none

Update Main.tsx (#367)
  frontend/src/basic/Main.tsx
Due: collect-phrases, prettier-frontend

Fix typo url
  frontend/src/basic/Main.tsx
Due: collect-phrases, prettier-frontend

Fix bug on protocol (#368)
  frontend/src/basic/Main.tsx
Due: collect-phrases, prettier-frontend

Update ca.json (#365)
  frontend/static/locales/ca.json
Due: prettier-frontend

Refactor fetchRobot
  .pre-commit-config.yaml
  frontend/src/basic/Main.tsx
  frontend/src/basic/RobotPage/Recovery.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/models/Robot.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Robot recovery fixes
  api/views.py
  frontend/src/basic/RobotPage/Recovery.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/TokenInput.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/contexts/AppContext.tsx
Due: collect-phrases, prettier-frontend, isort, black, flake8

Add usecontext on maker and settings forms
  frontend/src/basic/Main.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/RobotPage/Welcome.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/components/TorConnection.tsx
  frontend/src/pro/Main.tsx
  frontend/src/pro/Widgets/Settings.tsx
Due: collect-phrases, prettier-frontend

Small fixes
  frontend/src/basic/Main.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/contexts/AppContext.tsx
Due: collect-phrases, prettier-frontend

Add useContext to order page and main dialogs
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/MoreTooltip.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/Dialogs/CoordinatorSummary.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/pro/Main.tsx
  frontend/src/pro/Widgets/Book.tsx
  frontend/src/pro/Widgets/Depth.tsx
  frontend/src/pro/Widgets/Maker.tsx
  frontend/src/pro/Widgets/Settings.tsx
Due: collect-phrases, prettier-frontend

Add usecontext to booktable
  .github/pull_request_template.md
  frontend/src/basic/BookPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/pro/Main.tsx
  frontend/src/pro/Widgets/Book.tsx
  frontend/src/pro/Widgets/Maker.tsx
Due: collect-phrases, prettier-frontend

Add appcontext
  frontend/src/App.tsx
  frontend/src/basic/Main.tsx
  frontend/src/contexts/AppContext.tsx
Due: collect-phrases, prettier-frontend

Add garage model
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/Settings.model.ts
  frontend/src/models/index.ts
Due: collect-phrases, prettier-frontend

Add robot select to profile
  frontend/src/basic/RobotPage/RobotProfile.tsx
Due: collect-phrases, prettier-frontend

Replace Robot for Garage init
  frontend/src/basic/Main.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Garage.model.ts
Due: collect-phrases, prettier-frontend

Add Garage inners, not re-rendering
  frontend/src/basic/Main.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Garage.model.ts
Due: collect-phrases, prettier-frontend

Revert
  frontend/src/basic/Main.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/TokenInput.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/Robot.model.ts
Due: collect-phrases, prettier-frontend

Collect new phrases and small fixes
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/Dialogs/StoreToken.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/components/TradeBox/Prompts/Chat.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Small fixes
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Garage.model.ts
Due: collect-phrases, prettier-frontend

Fix unencrypted # hack on Turtle chat
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/Robot.model.ts
Due: collect-phrases, prettier-frontend

Small fixes and collect phrases
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Add robot garage (#370)
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/TokenInput.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/Dialogs/StoreToken.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/components/TradeBox/Prompts/Chat.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/Robot.model.ts
  frontend/src/models/Settings.model.ts
  frontend/src/models/index.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Add unsafe alert functional component
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/UnsafeAlert.js
  frontend/src/components/UnsafeAlert.tsx
  frontend/src/models/Settings.model.ts
  frontend/static/css/index.css
Due: collect-phrases, prettier-frontend

Convert icons to functional components
  frontend/src/components/Icons/Amboss.tsx
  frontend/src/components/Icons/BasqueCountryFlag.tsx
  frontend/src/components/Icons/Bitcoin.tsx
  frontend/src/components/Icons/BitcoinSign.tsx
  frontend/src/components/Icons/BuySats.tsx
  frontend/src/components/Icons/BuySatsChecked.tsx
  frontend/src/components/Icons/CataloniaFlag.tsx
  frontend/src/components/Icons/Earth.tsx
  frontend/src/components/Icons/Export.tsx
  frontend/src/components/Icons/Gold.tsx
  frontend/src/components/Icons/NewTab.tsx
  frontend/src/components/Icons/RoboSats.tsx
  frontend/src/components/Icons/RoboSatsText.tsx
  frontend/src/components/Icons/SellSats.tsx
  frontend/src/components/Icons/SellSatsChecked.tsx
  frontend/src/components/Icons/SendReceive.tsx
  frontend/src/components/Icons/Tor.tsx
  frontend/src/components/Icons/UserNinja.tsx
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/components/PaymentMethods/MethodList.ts
  frontend/src/components/PaymentMethods/README.md
  frontend/src/components/PaymentMethods/StringAsIcons.tsx
  frontend/src/components/PaymentMethods/index.ts
  frontend/src/components/UnsafeAlert.tsx
  frontend/static/css/index.css
Due: collect-phrases, prettier-frontend

Run lin fix
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/Robot.model.ts
Due: collect-phrases, prettier-frontend

Fix webln uncaught error
  frontend/src/components/Dialogs/Profile.tsx
Due: collect-phrases, prettier-frontend

Functional UnsafeAlert and other Icons (#371)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/Icons/Amboss.tsx
  frontend/src/components/Icons/BasqueCountryFlag.tsx
  frontend/src/components/Icons/Bitcoin.tsx
  frontend/src/components/Icons/BitcoinSign.tsx
  frontend/src/components/Icons/BuySats.tsx
  frontend/src/components/Icons/BuySatsChecked.tsx
  frontend/src/components/Icons/CataloniaFlag.tsx
  frontend/src/components/Icons/Earth.tsx
  frontend/src/components/Icons/Export.tsx
  frontend/src/components/Icons/Gold.tsx
  frontend/src/components/Icons/NewTab.tsx
  frontend/src/components/Icons/RoboSats.tsx
  frontend/src/components/Icons/RoboSatsText.tsx
  frontend/src/components/Icons/SellSats.tsx
  frontend/src/components/Icons/SellSatsChecked.tsx
  frontend/src/components/Icons/SendReceive.tsx
  frontend/src/components/Icons/Tor.tsx
  frontend/src/components/Icons/UserNinja.tsx
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/components/PaymentMethods/MethodList.ts
  frontend/src/components/PaymentMethods/README.md
  frontend/src/components/PaymentMethods/StringAsIcons.tsx
  frontend/src/components/PaymentMethods/index.ts
  frontend/src/components/UnsafeAlert.js
  frontend/src/components/UnsafeAlert.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/Robot.model.ts
  frontend/src/models/Settings.model.ts
  frontend/static/css/index.css
Due: collect-phrases, prettier-frontend

Small fixes and updates
  frontend/package-lock.json
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/src/components/MakerForm/RangeSlider.tsx
  frontend/src/contexts/AppContext.tsx
Due: collect-phrases, prettier-frontend

Refactor constructor
  frontend/src/App.tsx
  frontend/src/models/Garage.model.ts
Due: collect-phrases, prettier-frontend

Test
  frontend/src/App.tsx
  mobile/App.tsx
Due: collect-phrases, prettier-frontend, prettier-mobile

Fix load garage android (#372)
  frontend/src/App.tsx
  frontend/src/models/Garage.model.ts
  mobile/App.tsx
Due: collect-phrases, prettier-frontend, prettier-mobile

Fix order click on matches. Fix existing PGP on deleted robot rebuild.
  api/logics.py
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/RobotPage/index.tsx
Due: collect-phrases, prettier-frontend, isort, black, flake8

Fix authenticated requests on Native
  frontend/src/services/api/ApiNativeClient/index.ts
Due: collect-phrases, prettier-frontend

fix-android-maker
  frontend/src/contexts/AppContext.tsx
Due: collect-phrases, prettier-frontend
