Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, prettier-mobile, isort, black, flake8

prettier-frontend:
  name: prettier-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

prettier-mobile:
  name: prettier-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run format'

isort:
  name: isort
  stages:
  - commit
  - merge-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  - merge-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  - merge-commit
  language: system
  entry: flake8

Code Review
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/components/Charts/MapChart/index.tsx
  frontend/src/components/Dialogs/F2fMap.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

New icons
  frontend/src/components/Dialogs/F2fMap.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/Map/index.tsx
Due: prettier-frontend

Bug fix
  frontend/src/components/Map/index.tsx
Due: prettier-frontend

Make it work for mobile
  frontend/src/components/Map/index.tsx
  frontend/src/geo/Native.js
  frontend/src/geo/Web.js
  frontend/webpack.config.ts
Due: prettier-frontend

Add SVG icons for map pins
  frontend/src/components/Icons/LocationPin.tsx
  frontend/src/components/Icons/LocationRobot.tsx
  frontend/src/components/Icons/index.ts
Due: prettier-frontend

Add location to F2F (frontend)
  frontend/src/components/Dialogs/Worldmap.tsx
  frontend/src/components/Dialogs/index.ts
  frontend/src/components/MakerForm/MakerForm.tsx
Due: prettier-frontend

Worldmap f2f selection
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Dialogs/Worldmap.tsx
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/static/assets/geo/countries-coastline-10km.geo.json
  frontend/static/css/leaflet.css
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
  frontend/templates/frontend/basic.html
  frontend/templates/frontend/pro.html
  mobile/html/Web.bundle/index.html
  nodeapp/basic.html
  nodeapp/docker-compose.yml
  nodeapp/pro.html
Due: prettier-frontend

Worldmap f2f Book orders
  frontend/src/basic/BookPage/index.tsx
  frontend/src/components/Charts/MapChart/index.tsx
  frontend/src/components/Dialogs/F2fMap.tsx
  frontend/src/components/Dialogs/Worldmap.tsx
  frontend/src/components/Dialogs/index.ts
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/Map/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Order Map
  frontend/src/components/Dialogs/F2fMap.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Book map
  docker-compose.yml
  frontend/src/basic/BookPage/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/Charts/MapChart/index.tsx
  frontend/src/components/Charts/helpers/OrderTooltip/index.tsx
  frontend/src/components/Dialogs/F2fMap.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/models/Maker.model.ts
  frontend/static/css/leaflet.css
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Change switch icon
  frontend/src/components/Dialogs/F2fMap.tsx
  frontend/src/components/Map/index.tsx
Due: prettier-frontend

Rebase fixes
  frontend/src/components/Dialogs/index.ts
Due: prettier-frontend

Fix f2f style and self-hosted assets
  frontend/src/components/Charts/MapChart/index.tsx
  frontend/src/components/Dialogs/F2fMap.tsx
  frontend/src/components/Icons/LocationPin.tsx
  frontend/src/components/Icons/LocationRobot.tsx
  frontend/src/components/Icons/index.ts
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
  nodeapp/.dockerignore
  nodeapp/docker-compose-example.yml
Due: prettier-frontend

Fix f2f randomization
  frontend/src/components/Dialogs/F2fMap.tsx
Due: prettier-frontend

Fix allow small map and depth chart
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/Charts/MapChart/index.tsx
Due: prettier-frontend

Fix improve wording on tiles switch
  frontend/src/components/Charts/MapChart/index.tsx
  frontend/src/components/Dialogs/F2fMap.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Increase f2f location randomization radius
  frontend/src/components/Dialogs/F2fMap.tsx
Due: prettier-frontend

Add f2f location clusters
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Dialogs/F2fMap.tsx
  frontend/src/components/Map/index.tsx
  frontend/static/css/leaflet.css
Due: prettier-frontend

Add commit
  frontend/src/components/Dialogs/F2fMap.tsx
Due: prettier-frontend

Add location to f2f clusters (#899)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Map/index.tsx
  frontend/static/css/leaflet.css
Due: prettier-frontend

Bump to v0.5.3
  frontend/package-lock.json
  frontend/package.json
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/package.json
  release_notes.md
  version.json
Due: prettier-frontend, prettier-mobile

Fix hide F2F button on swap mode maker form
  frontend/src/components/MakerForm/MakerForm.tsx
Due: prettier-frontend

Improve f2f pin icons
  frontend/src/components/Icons/MapPin.tsx
  frontend/src/components/Icons/index.ts
  frontend/src/components/Map/index.tsx
  frontend/static/assets/vector/Location_Blue.svg
  frontend/static/assets/vector/Location_Lilac.svg
  frontend/static/assets/vector/Location_robot_Blue.svg
  frontend/static/assets/vector/Location_robot_Lilac.svg
  frontend/webpack.config.ts
Due: prettier-frontend

Improve f2f pin icons (#900)
  frontend/src/components/Icons/MapPin.tsx
  frontend/src/components/Icons/index.ts
  frontend/src/components/Map/index.tsx
  frontend/static/assets/vector/Location_Blue.svg
  frontend/static/assets/vector/Location_Lilac.svg
  frontend/static/assets/vector/Location_robot_Blue.svg
  frontend/static/assets/vector/Location_robot_Lilac.svg
  frontend/webpack.config.ts
Due: prettier-frontend

Fix use programatic colors for map marker
  frontend/src/components/Icons/MapPin.tsx
  frontend/src/components/Icons/index.ts
  frontend/src/components/Map/index.tsx
  nodeapp/.dockerignore
Due: prettier-frontend

Update README.md
  README.md
Due: none

Update dead link for developer rewards
  README.md
Due: none

Update broken link to developer rewards panel (#902)
  README.md
Due: none

Update README.md (#901)
  README.md
Due: none

Fix eslint errors from F2F and fix languages
  frontend/.eslintrc.json
  frontend/src/basic/BookPage/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/Charts/MapChart/index.tsx
  frontend/src/components/Charts/helpers/OrderTooltip/index.tsx
  frontend/src/components/Dialogs/F2fMap.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/geo/Native.js
  frontend/src/geo/Web.js
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Redo eslint @typescript-eslint/strict-boolean-expressions
  frontend/src/components/Charts/helpers/OrderTooltip/index.tsx
  frontend/src/components/Dialogs/F2fMap.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/Map/index.tsx
Due: prettier-frontend

Update 07-wallets.md
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Update 07-wallets.md (#910)
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Robot Page working
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Robot.model.ts
Due: prettier-frontend

Path conditions:
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  prettier-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  isort: any of: \.py$, but not: (api|chat|control)/migrations/.*
  black: any of: \.py$, but not: (api|chat|control)/migrations/.*
  flake8: any of: \.py$, but not: (api|chat|control)/migrations/.*
