Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile, isort, black, flake8

collect-phrases:
  name: Collect i18n phrases
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'

prettier-frontend:
  name: prettier-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

prettier-mobile:
  name: prettier-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run format'

isort:
  name: isort
  stages:
  - commit
  - merge-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  - merge-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  - merge-commit
  language: system
  entry: flake8

Update ru.json
  frontend/static/locales/ru.json
Due: prettier-frontend

Update README.md
  README.md
Due: none

wallets compatibility - add breez
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Update README.md (#999)
  README.md
Due: none

wallets compatibility - add breez (#1003)
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

russian translation (#989)
  frontend/static/locales/ru.json
Due: prettier-frontend

Avatar hashid in Garage (#983)
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/contexts/FederationContext.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Robot.model.ts
  frontend/src/models/Slot.model.ts
Due: collect-phrases, prettier-frontend

Wallets compatibility page fix typo icon Breez
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Fix and disable strict boolean lintern
  frontend/.eslintrc.json
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/TokenInput.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/FederationContext.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Slot.model.ts
Due: collect-phrases, prettier-frontend

Update 07-wallets.md
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Fix missing maker/taker in chatroom when first peers is WS and second is REST
  chat/consumers.py
  chat/views.py
Due: isort, black, flake8

Fix un-silence all mainnet coordinators
  frontend/static/federation.json
Due: prettier-frontend

Fix add extra JS bundles and .wasm to uploaded artifacts
  .github/workflows/frontend-build.yml
Due: none

Fix navbar and book duplication
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/models/Federation.model.ts
  frontend/static/locales/ru.json
Due: collect-phrases, prettier-frontend

Fix navbar and book duplication (#1031)
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/models/Federation.model.ts
  frontend/static/locales/ru.json
Due: collect-phrases, prettier-frontend

Revert "Bump django from 4.2.7 to 5.0 (#994)"
  requirements.txt
Due: none

Revert "Bump django from 4.2.7 to 5.0" (#1034)
  requirements.txt
Due: none

Add coordinator: TheBigLake
  frontend/static/federation.json
  frontend/static/federation/avatars/lake.small.webp
  frontend/static/federation/avatars/lake.webp
  frontend/static/federation/pgp/EC4F94F629AA28242B54265F1ABE1CA3582A031A.asc
  nodeapp/coordinators/lake/locations.conf
  nodeapp/coordinators/lake/upstreams.conf
  nodeapp/nginx.conf
  nodeapp/robosats-client.sh
Due: prettier-frontend

Feat hide LocalDev coordinator conditionally
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend

Robohash generator queue
  frontend/src/components/RobotAvatar/RobohashGenerator.ts
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend

Robohash gereator queue (#1035)
  frontend/src/components/RobotAvatar/RobohashGenerator.ts
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend

Fix coordinator table avatars flip
  frontend/src/components/FederationTable/index.tsx
Due: collect-phrases, prettier-frontend

Fix coordinator avatar on maker form
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
Due: collect-phrases, prettier-frontend

Fix update coordinators urls on network change
  frontend/src/components/RobotAvatar/robohash.worker.ts
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend

Fix depth chart and Coordinator table
  frontend/src/components/Charts/helpers/OrderTooltip/index.tsx
  frontend/src/models/Coordinator.model.ts
Due: collect-phrases, prettier-frontend

Add blog entry for v0.6.0 pre-release
  docs/_posts/2023-12-31-pre-release-robosats-decentralized.md
  docs/assets/images/pre-release-robosats-decentralized/coordinator-profile-example.png
Due: none

Fix depth chart and coordinator table (#1039)
  frontend/src/components/Charts/helpers/OrderTooltip/index.tsx
  frontend/src/models/Coordinator.model.ts
Due: collect-phrases, prettier-frontend

Add coordinator warning
  frontend/src/basic/OrderPage/CautionDialog.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Fix show coordinator warning only once
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/components/Dialogs/Warning.tsx
  frontend/src/components/Dialogs/index.ts
  frontend/src/contexts/AppContext.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Remove generating avatar animation
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/RobotAvatar/placeholder.json
  frontend/src/components/RobotAvatar/placeholder_highres.json
Due: collect-phrases, prettier-frontend

Fix order tab navigation
  frontend/src/basic/NavBar/NavBar.tsx
Due: collect-phrases, prettier-frontend

Fix Order flow
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
Due: collect-phrases, prettier-frontend

Fix order flow (#1040)
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
Due: collect-phrases, prettier-frontend

Add extra row to coordinator table
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/FederationTable/index.tsx
Due: collect-phrases, prettier-frontend

Fix Order autoupdate and chat
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/components/TradeBox/Prompts/Chat.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/FederationContext.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Robot.model.ts
  frontend/src/models/Slot.model.ts
Due: collect-phrases, prettier-frontend

Remove console.log
  frontend/src/models/Coordinator.model.ts
Due: collect-phrases, prettier-frontend

fix: Remove linting errors on frontend #591
  frontend/package.json
  frontend/src/basic/Main.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Settings.model.ts
  frontend/src/pro/Main.tsx
  frontend/src/utils/filterOrders.ts
  frontend/src/utils/getHost.ts
  frontend/src/utils/hexToRgb.js
  frontend/src/utils/match.ts
  frontend/src/utils/prettyNumbers.test.ts
  frontend/src/utils/prettyNumbers.ts
  frontend/src/utils/saveFile.ts
  frontend/src/utils/statusBadgeColor.ts
  frontend/src/utils/token.ts
  frontend/src/utils/webln.ts
  frontend/tsconfig.json
Due: collect-phrases, prettier-frontend

Fix order autoupdate and chat (#1047)
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/components/TradeBox/Prompts/Chat.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/FederationContext.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Robot.model.ts
  frontend/src/models/Slot.model.ts
Due: collect-phrases, prettier-frontend

fix: Remove .js files from linting
  frontend/package.json
Due: prettier-frontend

Path conditions:
  collect-phrases: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((api|chat|control)/migrations/.*)
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  prettier-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  isort: any of: \.py$, but not: (api|chat|control)/migrations/.*
  black: any of: \.py$, but not: (api|chat|control)/migrations/.*
  flake8: any of: \.py$, but not: (api|chat|control)/migrations/.*
