Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, lintern-frontend, prettier-mobile, lintern-mobile

collect-phrases:
  name: Collect i18n phrases
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'

prettier-frontend:
  name: prettier-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

lintern-frontend:
  name: lintern-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run lint'

prettier-mobile:
  name: prettier-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run format'

lintern-mobile:
  name: lintern-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run lint'

Bump open pgp
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, lintern-frontend

document LOG_TO_CONSOLE to True in .env-sample
  .env-sample
Due: none

Include getWebCrypto
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Overwrite only when necesary
  frontend/src/App.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix errors
  frontend/src/App.tsx
  frontend/src/services/System/SystemWebClient/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Load early
  frontend/src/App.tsx
  frontend/src/index.js
  frontend/src/models/Coordinator.model.ts
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix
  frontend/src/index.js
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix openpgp
  frontend/src/index.js
  frontend/src/pgp/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Revert openPGP version
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, lintern-frontend

Revert "Android: Add Adaptive Icons support"
  mobile/android/app/src/main/res/drawable/ic_launcher_foreground.png
  mobile/android/app/src/main/res/drawable/ic_launcher_monochrome.png
  mobile/android/app/src/main/res/drawable/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  mobile/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
Due: none

Fix ratign counter
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Android: Add Adaptive Icons support
  mobile/android/app/src/main/res/drawable/ic_launcher_background.xml
  mobile/android/app/src/main/res/drawable/ic_launcher_foreground.xml
  mobile/android/app/src/main/res/mipmap-anydpi/ic_launcher.xml
  mobile/android/app/src/main/res/mipmap-anydpi/ic_launcher_round.xml
Due: none

Fix testnet connections
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Order.model.ts
  frontend/src/models/Robot.model.ts
  frontend/src/services/RoboPool/index.ts
  frontend/src/utils/nostr.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix testnet connections
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/Prompts/Successful.tsx
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix others
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Remove local coordinator
  frontend/src/models/Federation.model.ts
  frontend/static/federation.json
Due: collect-phrases, prettier-frontend, lintern-frontend

More fixes
  frontend/src/components/MakerForm/AmountRange.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/services/Roboidentities/RoboidentitiesWebClient/RobohashGenerator.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Remove logs
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/services/Roboidentities/RoboidentitiesWebClient/RobohashGenerator.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix order table
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Expire nip17
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Update LNProxy relay list on 2025-05-25
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Update ZapStore file
  docs/_pages/docs/pt/contribute/01-development.md
  frontend/src/components/Dialogs/Community.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  mobile/android/zapstore.yaml
Due: collect-phrases, prettier-frontend, lintern-frontend

Update minor libraries
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/static/css/leaflet.css
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix chat older versions
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

traditional environment
  .gitignore
  api/nostr.py
  api/utils.py
  api/views.py
  requirements_dev.txt
  scripts/traditional/README.md
  scripts/traditional/regtest-nodes
  scripts/traditional/robosats.bash-completion
  scripts/traditional/templates/strfry.conf
  scripts/traditional/traditional-services
  setup.md
  tests/test_frontend_fetch.py
  tests/utils/node.py
  tests/utils/pgp.py
Due: none

add option for timing issues in tests
  api/logics.py
  api/management/commands/follow_invoices.py
Due: none

Bump Django 5.1.9
  requirements.txt
Due: none

Bump Django libraires
  requirements.txt
Due: none

change lnd down errors to general node errors
  api/logics.py
  api/oas_schemas.py
  docs/assets/schemas/api-latest.yaml
Due: none

Catch errors in chat
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  mobile/android/zapstore.yaml
Due: collect-phrases, prettier-frontend, lintern-frontend

Update Profile.tsx
  frontend/src/components/Dialogs/Profile.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Create ClaimRewardDialog.tsx
  frontend/src/components/Dialogs/ClaimRewardDialog.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix android not loading
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/contexts/AppContext.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

change nostr_pubkey in tests
  docs/assets/schemas/api-latest.yaml
  tests/robots/1/nostr_pubkey
  tests/robots/2/nostr_pubkey
  tests/robots/3/nostr_pubkey
Due: none

Update LNProxy relay list on 2025-06-01
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

ensure nostr pubkey is present in auth when creating robot
  robosats/middleware.py
Due: none

Update 07-wallets.md
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Update LNProxy relay list on 2025-06-08
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

cln fix invoice dropped that caused order stuck
  api/lightning/cln.py
  api/lightning/lnd.py
  api/management/commands/clean_orders.py
Due: none

Path conditions:
  collect-phrases: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((api|chat|control)/migrations/.*)
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  lintern-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  prettier-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  lintern-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
