Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, lintern-frontend, prettier-mobile, lintern-mobile

collect-phrases:
  name: Collect i18n phrases
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'

prettier-frontend:
  name: prettier-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

lintern-frontend:
  name: lintern-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run lint'

prettier-mobile:
  name: prettier-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run format'

lintern-mobile:
  name: lintern-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run lint'

Fix Table
  frontend/src/basic/BookPage/index.tsx
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/Charts/MapChart/index.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/pro/Widgets/Book.tsx
  frontend/src/pro/Widgets/Depth.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Maker form
  frontend/src/components/MakerForm/AmountRange.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/models/Maker.model.ts
  frontend/src/models/Order.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Order view
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/components/TradeBox/Prompts/Expired.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix others
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix table
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix ruff alert
  robosats/celery/__init__.py
Due: none

Revert "fix REDIS_URL config instead of environment variable"
  robosats/celery/__init__.py
Due: none

LibreBazaar coordinator
  frontend/src/components/FederationTable/index.tsx
  frontend/static/federation.json
  frontend/static/federation/avatars/bazaar.small.webp
  frontend/static/federation/avatars/bazaar.webp
  frontend/static/federation/pgp/C6894FC235E06C4FC2FE77916FA7713E574EDEC3.asc
Due: collect-phrases, prettier-frontend, lintern-frontend

Rebase
  frontend/package-lock.json
  frontend/src/components/FederationTable/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

nostr
  frontend/static/federation.json
Due: prettier-frontend, lintern-frontend

Android: Add Adaptive Icons support
  mobile/android/app/src/main/res/drawable/ic_launcher_foreground.png
  mobile/android/app/src/main/res/drawable/ic_launcher_monochrome.png
  mobile/android/app/src/main/res/drawable/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  mobile/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
Due: none

Update ic_launcher_round.xml
  mobile/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
Due: none

Switch to /relay
  frontend/package-lock.json
  frontend/src/models/Coordinator.model.ts
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix nodeapp nostr relay
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/services/RoboPool/index.ts
  frontend/static/locales/es.json
  nodeapp/coordinators/bazaar/locations.conf
  nodeapp/coordinators/bazaar/upstreams.conf
  nodeapp/coordinators/moon/locations.conf
  nodeapp/coordinators/temple/locations.conf
  nodeapp/coordinators/veneto/locations.conf
  nodeapp/nginx.conf
  nodeapp/robosats-client.sh
Due: collect-phrases, prettier-frontend, lintern-frontend

fix typo in nodeapp/robosats-client.sh
  nodeapp/robosats-client.sh
Due: none

Add Nomad payment method and associated icon
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/components/PaymentMethods/Icons/nomad.png
  frontend/src/components/PaymentMethods/MethodList.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Refactor Nomad payment method icon to use single quotes for consistency
  frontend/src/components/PaymentMethods/Icons/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix nginx nodeapp
  nodeapp/coordinators/bazaar/locations.conf
  nodeapp/coordinators/lake/locations.conf
  nodeapp/coordinators/moon/locations.conf
  nodeapp/coordinators/temple/locations.conf
  nodeapp/coordinators/veneto/locations.conf
Due: none

fix result not present in telegram api response
  api/management/commands/telegram_watcher.py
Due: none

allow logging to file and setting LOGGER_LEVEL
  .env-sample
  robosats/settings.py
Due: none

read LOG_TO_CONSOLE with decouple
  robosats/settings.py
Due: none

remove os import
  robosats/settings.py
Due: none

fix ruff warning in telegram_watcher
  api/management/commands/telegram_watcher.py
Due: none

document LOG_TO_CONSOLE in .env-sample
  .env-sample
Due: none

increase tests trade range
  tests/test_trade_pipeline.py
  tests/utils/trade.py
Due: none

fix typo in tests and update api-latest.yaml
  docs/assets/schemas/api-latest.yaml
  tests/test_trade_pipeline.py
Due: none

read REDIS_URL with decouple
  robosats/celery/__init__.py
Due: none

traditional environment
  .gitignore
  api/nostr.py
  api/utils.py
  api/views.py
  requirements_dev.txt
  scripts/traditional/README.md
  scripts/traditional/regtest-nodes
  scripts/traditional/robosats.bash-completion
  scripts/traditional/templates/strfry.conf
  scripts/traditional/traditional-services
  setup.md
  tests/test_frontend_fetch.py
  tests/utils/node.py
  tests/utils/pgp.py
Due: none

Update LNProxy relay list on 2025-05-18
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Run tests in PRs
  .github/workflows/integration-tests.yml
Due: none

Bump frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/PaymentMethods/Icons/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix relay conection
  frontend/src/models/Coordinator.model.ts
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Check protocol
  frontend/src/models/Coordinator.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Check protocol
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

v0.7.8-alpha
  desktopApp/package-lock.json
  desktopApp/package.json
  docs/assets/schemas/api-latest.yaml
  frontend/package-lock.json
  frontend/package.json
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/package.json
  release_notes.md
  version.json
Due: prettier-frontend, lintern-frontend, prettier-mobile, lintern-mobile

Discard jest in action
  .github/workflows/frontend-build.yml
Due: none

Path conditions:
  collect-phrases: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((api|chat|control)/migrations/.*)
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  lintern-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  prettier-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  lintern-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
