Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile

.pre-commit-config.yaml:

exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v2.3.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.11
    hooks:
    - id: ruff
      stages:
        - commit
        - merge-commit
      language: system
      args: [ --fix ]
      types: [python]
    - id: ruff-format
      stages:
        - commit
        - merge-commit
      language: system
      types: [python]

Fix too-many fetchRobots and coordinator endpoints print
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Fix currentOrder fetch
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/components/TradeBox/CancelButton.tsx
  frontend/src/contexts/FederationContext.tsx
Due: collect-phrases, prettier-frontend

Update pre-release blogpost
  docs/_posts/2023-12-31-pre-release-robosats-decentralized.md
Due: none

Fix duplicated version on stats for nerds
  frontend/src/components/Dialogs/Coordinator.tsx
Due: collect-phrases, prettier-frontend

Minor lint fixes
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/contexts/GarageContext.tsx
Due: collect-phrases, prettier-frontend

Fix coordinator hosted web app
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/Dialogs/Exchange.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Fix amount string on order details
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/FederationContext.tsx
Due: collect-phrases, prettier-frontend

Delete suspended tg account link
  docs/_config.yml
Due: none

Bump Django to 4.2.9, replace dev dependencies ruff
  .github/workflows/py-linter.yml
  .pre-commit-config.yaml
  requirements.txt
  requirements_dev.txt
Due: none

Fix unsafe_alert locale string
  frontend/static/locales/en.json
Due: prettier-frontend

Add docs video on robosats federation introduction
  docs/_pages/tutorials/watch/videos-es.md
Due: none

Add all Spanish docs translations
  docs/_pages/docs/es/00-quick-start/00-quicks-start-guide.md
  docs/_pages/docs/es/00-quick-start/01-lightning.md
  docs/_pages/docs/es/00-quick-start/02-tor.md
  docs/_pages/docs/es/00-quick-start/03-access.md
  docs/_pages/docs/es/01-best-practices/00-best-practices.md
  docs/_pages/docs/es/01-best-practices/01-pgp-guide.md
  docs/_pages/docs/es/01-best-practices/01-pgp-guide_es.md
  docs/_pages/docs/es/01-best-practices/02-payment-methods.md
  docs/_pages/docs/es/01-best-practices/03-proxy-wallets.md
  docs/_pages/docs/es/01-best-practices/04-channels.md
  docs/_pages/docs/es/02-features/01-private.md
  docs/_pages/docs/es/02-features/02-fast.md
  docs/_pages/docs/es/02-features/03-safe.md
  docs/_pages/docs/es/03-understand/01-trade-pipeline.md
  docs/_pages/docs/es/03-understand/02-robots.md
  docs/_pages/docs/es/03-understand/03-premium.md
  docs/_pages/docs/es/03-understand/04-bonds.md
  docs/_pages/docs/es/03-understand/05-trade-escrow.md
  docs/_pages/docs/es/03-understand/06-disputes.md
  docs/_pages/docs/es/03-understand/07-wallets.md
  docs/_pages/docs/es/03-understand/08-limits.md
  docs/_pages/docs/es/03-understand/09-swaps.md
  docs/_pages/docs/es/03-understand/10-telegram.md
  docs/_pages/docs/es/03-understand/11-api.md
  docs/_pages/docs/es/03-understand/12-prices.md
  docs/_pages/docs/es/03-understand/13-fees.md
  docs/_pages/docs/es/03-understand/14-on-chain-payouts.md
Due: none

Fix french typos and links
  docs/_pages/docs/fr/00-quick-start/00-quicks-start-guide.md
  docs/_pages/docs/fr/00-quick-start/01-lightning.md
  docs/_pages/docs/fr/00-quick-start/02-tor.md
  docs/_pages/docs/fr/01-best-practices/00-best-practices.md
  docs/_pages/docs/fr/01-best-practices/01-pgp-guide.md
  docs/_pages/docs/fr/01-best-practices/02-payment-methods.md
  docs/_pages/docs/fr/03-understand/11-api.md
  docs/_pages/docs/fr/03-understand/14-on-chain-payouts.md
Due: none

Change garantia for finanza
  docs/_pages/docs/es/03-understand/04-bonds.md
  docs/_pages/docs/es/03-understand/05-trade-escrow.md
Due: none

Add devfund donation to coordinator summary accordion
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Fill federation form for jonthdiaz
  frontend/static/federation.json
Due: prettier-frontend

Fix french typos and links (#1074)
  docs/_pages/docs/fr/00-quick-start/00-quicks-start-guide.md
  docs/_pages/docs/fr/00-quick-start/01-lightning.md
  docs/_pages/docs/fr/00-quick-start/02-tor.md
  docs/_pages/docs/fr/01-best-practices/00-best-practices.md
  docs/_pages/docs/fr/01-best-practices/01-pgp-guide.md
  docs/_pages/docs/fr/01-best-practices/02-payment-methods.md
  docs/_pages/docs/fr/03-understand/11-api.md
  docs/_pages/docs/fr/03-understand/14-on-chain-payouts.md
Due: none

Spanish docs translation (#1075)
  docs/_pages/docs/es/00-quick-start/00-quicks-start-guide.md
  docs/_pages/docs/es/00-quick-start/01-lightning.md
  docs/_pages/docs/es/00-quick-start/02-tor.md
  docs/_pages/docs/es/00-quick-start/03-access.md
  docs/_pages/docs/es/01-best-practices/00-best-practices.md
  docs/_pages/docs/es/01-best-practices/01-pgp-guide.md
  docs/_pages/docs/es/01-best-practices/01-pgp-guide_es.md
  docs/_pages/docs/es/01-best-practices/02-payment-methods.md
  docs/_pages/docs/es/01-best-practices/03-proxy-wallets.md
  docs/_pages/docs/es/01-best-practices/04-channels.md
  docs/_pages/docs/es/02-features/01-private.md
  docs/_pages/docs/es/02-features/02-fast.md
  docs/_pages/docs/es/02-features/03-safe.md
  docs/_pages/docs/es/03-understand/01-trade-pipeline.md
  docs/_pages/docs/es/03-understand/02-robots.md
  docs/_pages/docs/es/03-understand/03-premium.md
  docs/_pages/docs/es/03-understand/04-bonds.md
  docs/_pages/docs/es/03-understand/05-trade-escrow.md
  docs/_pages/docs/es/03-understand/06-disputes.md
  docs/_pages/docs/es/03-understand/07-wallets.md
  docs/_pages/docs/es/03-understand/08-limits.md
  docs/_pages/docs/es/03-understand/09-swaps.md
  docs/_pages/docs/es/03-understand/10-telegram.md
  docs/_pages/docs/es/03-understand/11-api.md
  docs/_pages/docs/es/03-understand/12-prices.md
  docs/_pages/docs/es/03-understand/13-fees.md
  docs/_pages/docs/es/03-understand/14-on-chain-payouts.md
Due: none

Fix docs spanish api embed
  docs/_pages/docs/es/03-understand/11-api.md
Due: none

Pull only last commit from `googleapi`
  scripts/generate_grpc.sh
Due: none

Get favorites from context
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend

Rerender objects on favorite mode change
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend

Format sats amount in millionths
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend

Make only 1 curl call with `--parallel` arg
  scripts/generate_grpc.sh
Due: none

Update devfund node info
  devfund_pubkey.json
Due: none

Reduce GRPC api generation build time (#1084)
  scripts/generate_grpc.sh
Due: none

Fix book table object updates (#1078)
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend

Fix book table in the v0.6.0 version (#1083)
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend

Bump to v0.5.4
  frontend/package-lock.json
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/package.json
  release_notes.md
  version.json
Due: prettier-frontend, prettier-mobile

Revert to v0.6.0 deps and notes
  frontend/package-lock.json
  frontend/package.json
  release_notes.md
Due: prettier-frontend

Fix release workflow
  .github/workflows/frontend-build.yml
  .github/workflows/release.yml
Due: none

Bump client to 0.5.4
  frontend/package.json
Due: prettier-frontend

Fix deprecated set-output usage
  .github/workflows/release.yml
Due: none

Fix devfund fraction validation
  api/tasks.py
Due: none

Add public view of devfund donations script
  scripts/get_devfund_donations.py
Due: none

Fix garage deletion
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Slot.model.ts
Due: collect-phrases, prettier-frontend

Fix garage deletion (#1085)
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Slot.model.ts
Due: collect-phrases, prettier-frontend
