Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, prettier-mobile, isort, black, flake8

prettier-frontend:
  name: prettier-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

prettier-mobile:
  name: prettier-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run format'

isort:
  name: isort
  stages:
  - commit
  - merge-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  - merge-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  - merge-commit
  language: system
  entry: flake8

Contexts Working
  frontend/src/App.tsx
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/Charts/MapChart/index.tsx
  frontend/src/components/Charts/helpers/OrderTooltip/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/Dialogs/Exchange.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/contexts/FederationContext.ts
  frontend/src/contexts/GarageContext.ts
  frontend/src/models/Limit.model.ts
  frontend/src/pro/Widgets/Book.tsx
  frontend/src/pro/Widgets/Depth.tsx
  frontend/src/pro/Widgets/Maker.tsx
Due: prettier-frontend

Garage Working
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/Recovery.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/TokenInput.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/Dialogs/StoreToken.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/contexts/FederationContext.ts
  frontend/src/contexts/GarageContext.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Robot.model.ts
Due: prettier-frontend

Add util tests
  api/tests.py
  api/tests/__init__.py
  api/tests/test_enc_priv_key
  api/tests/test_pub_key
  api/tests/test_signed_message
  api/tests/test_utils.py
Due: isort, black, flake8

Enable coordinator test workflow
  .env-sample
  .github/workflows/django-test.yml
  .github/workflows/py-linter.yml
  .github/workflows/release.yml
  api/lightning/cln.py
  api/tests/test_utils.py
Due: isort, black, flake8

Add django utils tests (#911)
  .env-sample
  .github/workflows/django-test.yml
  .github/workflows/py-linter.yml
  .github/workflows/release.yml
  api/lightning/cln.py
  api/tests.py
  api/tests/__init__.py
  api/tests/test_enc_priv_key
  api/tests/test_pub_key
  api/tests/test_signed_message
  api/tests/test_utils.py
Due: isort, black, flake8

CurrentOrder working
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/components/Notifications/index.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/TradeBox/CancelButton.tsx
  frontend/src/components/TradeBox/CollabCancelAlert.tsx
  frontend/src/components/TradeBox/Dialogs/ConfirmFiatReceived.tsx
  frontend/src/components/TradeBox/Dialogs/ConfirmFiatSent.tsx
  frontend/src/components/TradeBox/Dialogs/ConfirmUndoFiatSent.tsx
  frontend/src/components/TradeBox/Title/index.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/FederationContext.ts
  frontend/src/contexts/GarageContext.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Order.model.ts
Due: prettier-frontend

Update 02-payment-methods.md
  docs/_pages/docs/01-best-practices/02-payment-methods.md
Due: none

Fix allow blank on order geolocation
  api/migrations/0045_alter_order_latitude_alter_order_longitude.py
  api/models/order.py
Due: isort, black, flake8

Update Amazon GC Payment Method (#912)
  docs/_pages/docs/01-best-practices/02-payment-methods.md
Due: none

Update 07-wallets.md
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Update 07-wallets.md (#916)
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Fix version, release_note and small typo
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/FederationTable/index.tsx
  frontend/src/models/Federation.model.ts
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/package.json
  version.json
Due: prettier-frontend, prettier-mobile

Fix (some) lint issues
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/TokenInput.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/Charts/MapChart/index.tsx
  frontend/src/components/Charts/helpers/OrderTooltip/index.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/Notifications/index.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/contexts/FederationContext.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/pro/Widgets/Book.tsx
  frontend/src/pro/Widgets/Depth.tsx
  frontend/src/pro/Widgets/Maker.tsx
  frontend/src/utils/federationLottery.ts
Due: prettier-frontend

Fix old merge conflict on federation.md
  federation.md
Due: none

Add cordinator: Temple of Sats
  frontend/static/federation.json
  frontend/static/federation/temple.small.webp
  frontend/static/federation/temple.webp
  nodeapp/coordinators/exp/upstreams.conf
  nodeapp/coordinators/temp/upstreams.conf
  nodeapp/coordinators/temple/locations.conf
  nodeapp/coordinators/temple/upstreams.conf
  nodeapp/robosats-client.sh
Due: prettier-frontend

Fix estimate minning fee on testnet
  api/lightning/lnd.py
Due: isort, black, flake8

Fix exclude ARS from blockchain.info
  api/utils.py
Due: isort, black, flake8

Federation view fixes
  .pre-commit-config.yaml
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
Due: prettier-frontend

Federation view fixes (#923)
  .pre-commit-config.yaml
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
Due: prettier-frontend

Fix lint issues
  frontend/src/App.tsx
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/Recovery.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/Charts/MapChart/index.tsx
  frontend/src/components/Charts/helpers/OrderTooltip/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/Dialogs/F2fMap.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
Due: prettier-frontend

More fixes
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/components/TradeBox/CancelButton.tsx
  frontend/src/components/TradeBox/CollabCancelAlert.tsx
  frontend/src/components/TradeBox/Dialogs/ConfirmUndoFiatSent.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/FederationContext.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Exchange.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Robot.model.ts
  frontend/src/pro/Widgets/Book.tsx
  frontend/src/pro/Widgets/Depth.tsx
  frontend/src/pro/Widgets/Maker.tsx
Due: prettier-frontend

Fix PRO
  frontend/src/pro/Widgets/Federation.tsx
  frontend/src/pro/Widgets/Maker.tsx
Due: prettier-frontend

Remove template coordinator
  frontend/static/federation.json
  frontend/static/federation/temp.small.webp
  frontend/static/federation/temp.webp
  nodeapp/coordinators/temp/locations.conf
  nodeapp/coordinators/temp/upstreams.conf
  nodeapp/nginx.conf
  nodeapp/robosats-client.sh
Due: prettier-frontend

Add coordinator: Satstralia
  frontend/static/federation.json
  frontend/static/federation/satstralia.small.webp
  frontend/static/federation/satstralia.webp
  nodeapp/coordinators/satstralia/locations.conf
  nodeapp/coordinators/satstralia/upstreams.conf
  nodeapp/nginx.conf
  nodeapp/robosats-client.sh
Due: prettier-frontend

Add Simplex contact method to coordinator dialog
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/pro/Widgets/Federation.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Add new X icons, replace Twitter
  frontend/src/components/Dialogs/Community.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/Icons/X.tsx
  frontend/src/components/Icons/index.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

back at it ru.json
  frontend/static/locales/ru.json
Due: prettier-frontend

Add satstralia PGP keys
  frontend/static/federation.json
Due: prettier-frontend

Add PGP keys to /static
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/contexts/FederationContext.ts
  frontend/src/pro/Widgets/Federation.tsx
  frontend/static/federation.json
  frontend/static/federation/avatars/exp.small.webp
  frontend/static/federation/avatars/exp.webp
  frontend/static/federation/avatars/local.small.webp
  frontend/static/federation/avatars/local.webp
  frontend/static/federation/avatars/satstralia.small.webp
  frontend/static/federation/avatars/satstralia.webp
  frontend/static/federation/avatars/temple.small.webp
  frontend/static/federation/avatars/temple.webp
  frontend/static/federation/pgp/25791752E9661C1DE118A8C6F78CD3D6471B6789.asc
  frontend/static/federation/pgp/B4AB5F19113D4125DDF217739C4585B561315571.asc
  frontend/static/federation/pgp/D1894C9862A9D02D47D96C84AE30B6904210DA14.asc
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Upgrade to bookworm
  Dockerfile
  requirements.txt
Due: none

Update base image to python 3.12-bookworm
  .github/workflows/django-test.yml
  Dockerfile
Due: none

Update learn docs API to v0.5.3
  docs/_includes/api-v0.1.html
  docs/_includes/api-v0.5.3.html
  docs/_pages/docs/03-understand/11-api-v0.1.md
  docs/_pages/docs/03-understand/11-api.md
  docs/assets/schemas/api-v0.5.3.yaml
Due: none

Add robot creation tests
  .env-sample
  api/notifications.py
  api/tests/test_utils.py
  tests/__init__.py
  tests/robots/1/b91_token
  tests/robots/1/enc_priv_key
  tests/robots/1/nickname
  tests/robots/1/pub_key
  tests/robots/1/signed_message
  tests/robots/1/token
  tests/test_trade_pipeline.py
Due: isort, black, flake8

Add order creation tests
  api/views.py
  tests/robots/2/b91_token
  tests/robots/2/enc_priv_key
  tests/robots/2/nickname
  tests/robots/2/pub_key
  tests/robots/2/token
  tests/test_trade_pipeline.py
Due: isort, black, flake8

Add LND mock up classes
  .github/workflows/django-test.yml
  api/lightning/lnd.py
  tests/mocks/__init__.py
  tests/mocks/lnd.py
  tests/robots/2/token
  tests/test_trade_pipeline.py
Due: isort, black, flake8

Add draft LND gRCP mocks
  api/lightning/lnd.py
  docker/lnd/Dockerfile
  tests/mocks/lnd.py
Due: isort, black, flake8

Refactor gRPC and mocks. Add coordinator info test.
  api/lightning/cln.py
  api/lightning/lnd.py
  api/tests/test_utils.py
  tests/mocks/cln.py
  tests/mocks/lnd.py
  tests/test_coordinator_info.py
  tests/test_trade_pipeline.py
Due: isort, black, flake8

Exclude gRPC, tests and mocks from coverage reports
  pyproject.toml
Due: none

Path conditions:
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  prettier-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  isort: any of: \.py$, but not: (api|chat|control)/migrations/.*
  black: any of: \.py$, but not: (api|chat|control)/migrations/.*
  flake8: any of: \.py$, but not: (api|chat|control)/migrations/.*
