Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, prettier-mobile, isort, black, flake8

.pre-commit-config.yaml:

# TODO
# add a hook which automatically generates the OpenApi schema on API changes
# and places them in an appropriate location
exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v2.3.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      # - id: collect-phrases
      #   name: Collect i18n phrases
      #   stages:
      #     - commit
      #     - merge-commit
      #   language: system
      #   files: ^frontend/
      #   types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
      #   entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
      - id: isort
        name: isort
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: isort
      - id: black
        name: black
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: black
      - id: flake8
        name: flake8
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: flake8

Add keysend devfund donations functionality (#589)
  .env-sample
  api/admin.py
  api/lightning/node.py
  api/logics.py
  api/migrations/0037_lnpayment_order_donated_alter_lnpayment_concept_and_more.py
  api/models/ln_payment.py
  api/tasks.py
  robosats/celery/__init__.py
  scripts/generate_grpc.sh
Due: isort, black, flake8

PR Feedback
  frontend/src/components/TradeBox/Forms/LightningPayout.tsx
Due: prettier-frontend

Actually set host in settings
  frontend/src/models/Settings.model.ts
Due: prettier-frontend

Updated parsing of LnProxy response
  frontend/src/components/TradeBox/Forms/LightningPayout.tsx
Due: prettier-frontend

Minor fixes on dev setup start up
  frontend/Dockerfile
  scripts/entrypoint.sh
Due: none

Add switch Amount Exact/Range
  frontend/src/components/MakerForm/MakerForm.tsx
Due: prettier-frontend

Minor fixes on dev setup start up
  frontend/entrypoint.sh
Due: none

Add pgp cleartext signatures
  api/serializers.py
  api/utils.py
  api/views.py
  frontend/.prettierignore
  frontend/entrypoint.sh
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/pgp/index.js
Due: prettier-frontend, isort, black, flake8

Add pgp signature to sensitive client - coordinator messages (#592)
  api/serializers.py
  api/utils.py
  api/views.py
  frontend/.prettierignore
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/pgp/index.js
Due: prettier-frontend, isort, black, flake8

Fix lnproxy support and add lnproxy relays workflow (#586)
  .github/workflows/lnproxy-sync.yml
  .github/workflows/scripts/lnproxy-sync.js
  frontend/src/components/TradeBox/Forms/LightningPayout.tsx
  frontend/src/models/Settings.model.ts
  frontend/static/lnproxies.json
Due: prettier-frontend

Small fixes lnproxy relay sync workflow
  .github/workflows/lnproxy-sync.yml
Due: none

Add switch Amount Exact/Range (#577)
  frontend/src/components/MakerForm/MakerForm.tsx
Due: prettier-frontend

Fix robosats on blixt's react-native-webview
  frontend/src/services/System/index.ts
  mobile/App.tsx
  nodeapp/nginx.conf
  nodeapp/robosats-client.sh
Due: prettier-frontend, prettier-mobile

Fix robosats on blixt's react-native-webview (#594)
  frontend/src/services/System/index.ts
  mobile/App.tsx
  nodeapp/nginx.conf
  nodeapp/robosats-client.sh
Due: prettier-frontend, prettier-mobile

Allow blank order donated field on lnpayment admin edits
  api/admin.py
  api/migrations/0038_alter_lnpayment_order_donated.py
  api/models/ln_payment.py
Due: isort, black, flake8

Support newlines for sender
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
Due: prettier-frontend

Support newlines for receiver
  frontend/src/components/TradeBox/EncryptedChat/MessageCard/index.tsx
Due: prettier-frontend

Also add newline support for turtle mode senders
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
Due: prettier-frontend

Styling adjustment for send button
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
Due: prettier-frontend

Add placeholder commit_sha
  .github/workflows/coordinator-image.yml
  .gitignore
  api/utils.py
  commit_sha
Due: isort, black, flake8

Implement styling feedback
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
Due: prettier-frontend

Fix flake8 unused imported dep
  api/utils.py
Due: isort, black, flake8

Do not watch all locked invoices in follow-invoices
  api/management/commands/follow_invoices.py
Due: isort, black, flake8

Add CLN node backend image and service (#418)
  docker-compose.yml
  docker/cln/Dockerfile
  docker/cln/config
  docker/cln/entrypoint.sh
Due: none

Add CLN version to frontend and other fixes
  api/lightning/cln.py
  api/utils.py
  api/views.py
  docker-compose.yml
  frontend/src/components/Dialogs/Stats.tsx
  frontend/src/models/Info.model.ts
Due: prettier-frontend, isort, black, flake8

Add lnnode vendor switch (#431)
  .env-sample
  api/lightning/cln.py
  api/lightning/lnd.py
  api/lightning/node.py
Due: isort, black, flake8

first draft
  api/lightning/node_cln.py
  scripts/generate_grpc.sh
Due: isort, black, flake8

init
  api/lightning/node_cln.py
  scripts/generate_grpc.sh
Due: isort, black, flake8

renaming cln file, class and get_version
  api/lightning/cln.py
  api/lightning/node_cln.py
Due: isort, black, flake8

rename htlc_cltv to htlc_expiry
  api/lightning/cln.py
Due: isort, black, flake8

remove comment
  api/lightning/node_cln.py
Due: isort, black, flake8

add clns lookup_invoice_status
  api/lightning/cln.py
Due: isort, black, flake8

add unsettled_local_balance and unsettled_remote_balance
  api/lightning/node_cln.py
Due: isort, black, flake8

gen_hold_invoice now takes 3 more variables to build a label for cln
  api/lightning/node_cln.py
Due: isort, black, flake8

get_version: add try/except, refactor to top to mimic lnd.py
  api/lightning/cln.py
Due: isort, black, flake8

remove unneeded payment_hash from gen_hold_invoice
  api/lightning/node_cln.py
Due: isort, black, flake8

first draft of clns follow_send_payment
  api/lightning/node_cln.py
Due: isort, black, flake8

remove lnd specific commented code
  api/lightning/cln.py
Due: isort, black, flake8

add get_cln_version
  api/lightning/node_cln.py
Due: isort, black, flake8

enable flake8
  api/lightning/node_cln.py
Due: isort, black, flake8
