Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, lintern-frontend, lintern-android, check-android

collect-phrases:
  name: Collect i18n phrases
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'

prettier-frontend:
  name: prettier-frontend
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

lintern-frontend:
  name: lintern-frontend
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run lint'

lintern-android:
  name: lintern-android
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd android && ./gradlew lint'

check-android:
  name: check-android
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd android && ./gradlew check'

Code Review 3
  api/logics.py
Due: none

Seed glossary from existing translations
  translations/README.md
  translations/config.yaml
  translations/glossary.json
Due: none

Code Review 4
  api/logics.py
Due: none

Atomic on-chain payouts and evaluation
  api/lightning/cln.py
  api/lightning/lnd.py
  api/logics.py
  api/tests/test_pay_onchain_atomic.py
Due: none

Better cooridnator selector
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

feat: Implement Garage Key functionality and account recovery
  frontend/src/basic/GaragePage/AccountNavigator.tsx
  frontend/src/basic/GaragePage/GarageKeyInput.tsx
  frontend/src/basic/GaragePage/GarageKeyOnboarding.tsx
  frontend/src/basic/GaragePage/GarageKeyProfile.tsx
  frontend/src/basic/GaragePage/index.tsx
  frontend/src/basic/RobotPage/Welcome.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/basic/Routes.tsx
  frontend/src/basic/TopBar/MenuDrawer/index.tsx
  frontend/src/basic/index.ts
  frontend/src/components/Dialogs/DeleteGarageKeyConfirmation.tsx
  frontend/src/components/Dialogs/Recovery.tsx
  frontend/src/components/Dialogs/StoreToken.tsx
  frontend/src/components/Dialogs/index.ts
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/components/TradeBox/Prompts/Expired.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/GarageKey.model.ts
  frontend/src/models/Settings.model.ts
  frontend/src/models/Slot.model.ts
  frontend/src/models/index.ts
  frontend/src/services/RoboPool/index.ts
  frontend/src/utils/accountRecovery.ts
  frontend/src/utils/garageKey.ts
  frontend/src/utils/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

chore: remove unused label prop from GarageKeyInput component
  frontend/src/basic/GaragePage/GarageKeyInput.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

refactor: Move GarageMode type definition to Garage.model.ts and update imports Ref: https://github.com/RoboSats/robosats/pull/2375#discussion_r2720426279
  frontend/src/models/Garage.model.ts
  frontend/src/models/GarageKey.model.ts
  frontend/src/models/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: add error handling for RobotAvatar when slot is not reusable
  frontend/src/basic/GaragePage/GarageKeyProfile.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

refactor: Update Garage mode handling to use Garage context and remove settings dependency Ref: https://github.com/RoboSats/robosats/pull/2375#discussion_r2720434707
  frontend/src/basic/GaragePage/index.tsx
  frontend/src/basic/NavBar/DesktopBar/index.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/hooks/useLegacyMode.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Settings.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

refactor: Reuse onSlotUpdate for GarageKey updates Consolidates garage hooks as suggested in PR review. Ref: https://github.com/RoboSats/robosats/pull/2375#discussion_r2720418057
  frontend/src/basic/GaragePage/index.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/models/Garage.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

feat: add legacy mode support across the app with state hook, UI restrictions, mode toggle, and safety confirmations
  frontend/src/basic/GaragePage/GarageKeyInput.tsx
  frontend/src/basic/GaragePage/GarageKeyProfile.tsx
  frontend/src/basic/GaragePage/index.tsx
  frontend/src/basic/NavBar/AppBar/index.tsx
  frontend/src/basic/NavBar/DesktopBar/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/Welcome.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/basic/Routes.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/hooks/useLegacyMode.ts
  frontend/src/models/Settings.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

feat: implement notification subscription management in RoboPool and FederationContext
  frontend/src/contexts/FederationContext.tsx
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

feat: enhance garage key onboarding and recovery dialogs with toast notifications and async handling
  frontend/src/basic/GaragePage/GarageKeyOnboarding.tsx
  frontend/src/basic/GaragePage/index.tsx
  frontend/src/components/Dialogs/Recovery.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/Slot.model.ts
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

chore: update locale translations
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend, lintern-frontend

fix: update import path for xchacha20poly1305 to correct module
  frontend/src/utils/crypto/xchacha20.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: restore slotUpdatedAt dependency in OrderPage effect to refresh on in-slot updates
  frontend/src/basic/OrderPage/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

refactor: remove unused slotUpdatedAt dependency and optimize onSlotUpdate calls in Slot model
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/Slot.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix admin trade resolution swap
  api/admin.py
  tests/test_trade_pipeline.py
Due: none

fix: adapt garage key to updated frontend dependencies
  frontend/jest.config.js
  frontend/src/basic/GaragePage/GarageKeyInput.tsx
  frontend/src/basic/GaragePage/GarageKeyOnboarding.tsx
  frontend/src/basic/GaragePage/GarageKeyProfile.tsx
  frontend/src/basic/GaragePage/index.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/Dialogs/DeleteGarageKeyConfirmation.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/Dialogs/Recovery.tsx
  frontend/src/utils/__tests__/garageKey.test.ts
  frontend/src/utils/crypto/xchacha20.ts
  frontend/src/utils/garageKey.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix dispute order ID corruption
  api/logics.py
  tests/test_trade_pipeline.py
Due: none

fix: harden garage key recovery across relay changes
  frontend/src/services/RoboPool/index.ts
  frontend/src/services/__tests__/RoboPool.garageKey.test.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Code review
  frontend/src/models/Coordinator.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Enable keyless translation endpoints
  .github/workflows/translate.yml
  translations/README.md
  translations/config.yaml
Due: none

fix: wrap long words in chat
  frontend/src/components/TradeBox/EncryptedChat/MessageCard/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Use DevFund pubkey ENV
  .env-sample
  api/tasks.py
  api/utils.py
  scripts/get_devfund_donations.py
Due: none

DevFund community split
  .env-sample
  api/AGENTS.md
  api/migrations/0058_lnpayment_concept_community_donation.py
  api/models/AGENTS.md
  api/models/ln_payment.py
  api/tasks.py
  api/tests/test_community_donation.py
  api/utils.py
Due: none

Add Matrix and include all 3 everywhere
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/components/Dialogs/About.tsx
  frontend/src/components/Dialogs/Community.tsx
  frontend/src/components/Icons/Matrix.tsx
  frontend/src/components/Icons/Telegram.tsx
  frontend/src/components/Icons/index.ts
  frontend/src/components/TradeBox/Prompts/Successful.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Cache first call
  api/tests/test_community_donation.py
  api/utils.py
Due: none

Fix tests
  api/tests/test_community_donation.py
Due: none

Remove nostr group
  README.md
  docs/_pages/contribute/01-development.md
  docs/_pages/contribute/07-donate.md
  docs/_pages/docs/es/contribute/01-development.md
  docs/_pages/docs/fr/contribute/01-development.md
  docs/_pages/docs/fr/contribute/06-outreach.md
  docs/_pages/docs/fr/contribute/07-donate.md
  docs/_pages/docs/pt/contribute/07-donate.md
Due: none

Document restricted LND macaroon
  .env-sample
  development/setup.md
Due: none

Fix bug
  .env-sample
  api/tasks.py
  api/tests/test_community_donation.py
Due: none

update ENV
  .env-sample
Due: none

fix: repair Nostr forwarding and robot settings saves
  api/nostr.py
  api/notifications.py
  api/serializers.py
  api/tests/test_nostr_forward.py
  frontend/src/models/Robot.model.test.ts
  frontend/src/models/Robot.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix: price column sorting in offers table
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: preserve rewards and apply payout routing budgets
  api/admin.py
  api/lightning/cln.py
  api/lightning/lnd.py
  api/logics.py
  api/models/ln_payment.py
  api/models/robot.py
  api/oas_schemas.py
  api/serializers.py
  api/tests/test_reward_accounting.py
  api/tests/test_reward_routing_budget.py
  api/tests/test_withdraw_rewards.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  robosats/middleware.py
Due: none

feat: add routing budgets to reward claims
  frontend/src/components/RobotInfo/index.test.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/models/Robot.model.ts
  frontend/src/models/__tests__/Robot.model.test.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

migration alter order logs
  api/migrations/0058_alter_order_logs.py
Due: none

Path conditions:
  collect-phrases: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((api|chat|control)/migrations/.*)
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  lintern-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  lintern-android: any of: ^android/ and \.(kt|kts)$ and not ((api|chat|control)/migrations/.*)
  check-android: any of: ^android/ and \.(kt|kts)$ and not ((api|chat|control)/migrations/.*)
