Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, prettier-mobile, isort, black, flake8

.pre-commit-config.yaml:

# TODO
# add a hook which automatically generates the OpenApi schema on API changes
# and places them in an appropriate location
exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v2.3.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      # - id: collect-phrases
      #   name: Collect i18n phrases
      #   stages:
      #     - commit
      #     - merge-commit
      #   language: system
      #   files: ^frontend/
      #   types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
      #   entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
      - id: isort
        name: isort
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: isort
      - id: black
        name: black
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: black
      - id: flake8
        name: flake8
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: flake8

rework follow_send_payment logic and payment_hash, watch harder if pending
  api/lightning/cln.py
Due: isort, black, flake8

switch to use hodlinvoicelookup in double_check
  api/lightning/cln.py
Due: isort, black, flake8

use fully qualified names for status instead of raw int
  api/lightning/cln.py
Due: isort, black, flake8

refactor follow_send_payment and add pending check to expired case
  api/lightning/cln.py
Due: isort, black, flake8

missed 2 status from prev commit
  api/lightning/cln.py
Due: isort, black, flake8

fix status comments
  api/lightning/cln.py
Due: isort, black, flake8

add send_keysend method
  api/lightning/cln.py
Due: isort, black, flake8

Always copy the cln-grpc-hodl plugin on start up
  docker/cln/entrypoint.sh
Due: none

Fix ALLOW_SELF_KEYSEND linting error
  api/lightning/cln.py
Due: isort, black, flake8

Fix missing definition of failure_reason
  api/lightning/cln.py
Due: isort, black, flake8

Add core-lightning as backend lightning node vendor (#611)
  .env-sample
  api/lightning/cln.py
  api/lightning/lnd.py
  api/lightning/node.py
  api/logics.py
  api/utils.py
  api/views.py
  docker-compose.yml
  docker/cln/Dockerfile
  docker/cln/config
  docker/cln/entrypoint.sh
  frontend/src/components/Dialogs/Stats.tsx
  frontend/src/models/Info.model.ts
  scripts/generate_grpc.sh
Due: prettier-frontend, isort, black, flake8

Update how-to-use.md
  docs/_pages/tutorials/read/how-to-use.md
Due: none

Add BitcoinQnA tutorial to how-to-use.md (#612)
  docs/_pages/tutorials/read/how-to-use.md
Due: none

Delete user view, session auth and png avatars
  api/models/robot.py
  api/oas_schemas.py
  api/serializers.py
  api/views.py
  chat/views.py
  requirements.txt
  robosats/middleware.py
Due: isort, black, flake8

Submit PRs for LnProxy relay list updates
  .github/workflows/lnproxy-sync.yml
Due: none

Added reviews section with a few starter sites
  docs/_pages/home.md
Due: none

Added Reviews section with a few starter sites
  README.md
Due: none

Update home.md
  docs/_pages/home.md
Due: none

Added styles to align things
  docs/_pages/home.md
Due: none

Fix bug in discount field
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/collect_phrases.py
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend, isort, black, flake8

Bump all the things
  mobile/android/app/build.gradle
  mobile/android/build.gradle
  mobile/android/gradle.properties
  mobile/android/gradle/wrapper/gradle-wrapper.jar
  mobile/android/gradle/wrapper/gradle-wrapper.properties
  mobile/android/gradlew
  mobile/android/gradlew.bat
  mobile/package-lock.json
  mobile/package.json
Due: prettier-mobile

Post CLN small fixes
  .gitignore
  frontend/src/components/Dialogs/Stats.tsx
Due: prettier-frontend

Submit PRs for LnProxy relay list updates (#613)
  .github/workflows/lnproxy-sync.yml
Due: none

Add Reviews section to home in learn.robosats (#605)
  README.md
  docs/_pages/home.md
  docs/_pages/tutorials/read/how-to-use.md
Due: none

Fix style reviews home page learn.robosats
  docs/_pages/home.md
  docs/assets/images/reviews/athena_alpha.webp
  docs/assets/images/reviews/bitcoin_magazine.webp
  docs/assets/images/reviews/h17n_bitcoin.jpg
  docs/assets/images/reviews/kycnotme.webp
Due: none

Fix exceptions for no CLN nodes
  api/lightning/cln.py
  api/lightning/node.py
  api/utils.py
Due: isort, black, flake8

Fix main.js path on coordinator image
  .github/workflows/coordinator-image.yml
Due: none

Fix bug with negative premium textfield (#614)
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/collect_phrases.py
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend, isort, black, flake8

Disable maker submit button on bad payment methods field
  frontend/src/components/MakerForm/MakerForm.tsx
Due: prettier-frontend

Modify release workflow permissions
  .github/workflows/release.yml
Due: none

Small style fixes, add sinpe as payment method
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/components/PaymentMethods/Icons/sinpe.png
  frontend/src/components/PaymentMethods/MethodList.ts
  frontend/src/components/RobotAvatar/index.tsx
Due: prettier-frontend

Fix tradebox phrase to be swap/fiat ambivalent
  frontend/src/components/TradeBox/Prompts/PayoutWait.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Bump to v0.5.1
  .github/workflows/release.yml
  frontend/package-lock.json
  frontend/package.json
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/package.json
  release_notes.md
  version.json
Due: prettier-frontend, prettier-mobile

Bump Android SDK to 33
  mobile/android/build.gradle
Due: none

Update setup.md ; delete deprecated maven repos
  mobile/android/build.gradle
  mobile/setup.md
Due: prettier-mobile

Enable ProGuard and add rules
  mobile/android/app/build.gradle
  mobile/android/app/proguard-rules.pro
Due: none

Remove v8
  mobile/android/app/src/main/java/com/robosats/MainApplication.java
  mobile/android/build.gradle
  mobile/package-lock.json
  mobile/package.json
Due: prettier-mobile

Remove v8
  mobile/android/build.gradle
Due: none

Fix android sound notifications
  .gitignore
  frontend/src/components/Notifications/index.tsx
  frontend/webpack.config.ts
  mobile/App.tsx
Due: prettier-frontend, prettier-mobile
