Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile

.pre-commit-config.yaml:

exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v2.3.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.11
    hooks:
    - id: ruff
      stages:
        - commit
        - merge-commit
      language: system
      args: [ --fix ]
      types: [python]
    - id: ruff-format
      stages:
        - commit
        - merge-commit
      language: system
      types: [python]

New notifications
  api/admin.py
  api/models/order.py
  api/notifications.py
  api/serializers.py
  api/tasks.py
  api/views.py
  tests/test_trade_pipeline.py
  tests/utils/trade.py
Due: none

Test trigger
  tests/utils/trade.py
Due: none

Fix endpoint fields
  api/migrations/0048_alter_order_reference.py
  api/serializers.py
  api/views.py
  docker-tests.yml
  docs/assets/schemas/api-latest.yaml
Due: none

Test fix
  api/serializers.py
  api/views.py
Due: none

Update test comment
  tests/test_trade_pipeline.py
Due: none

Include created_at
  api/serializers.py
  docs/assets/schemas/api-latest.yaml
Due: none

fix ruff
  api/models/robot.py
Due: none

desktop-build workflow added
  .github/workflows/desktop-build.yml
Due: none

Notifications fully working
  frontend/src/basic/Main.tsx
  frontend/src/basic/Routes.tsx
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/services/Native/index.d.ts
  frontend/src/services/Native/index.ts
  mobile/App.tsx
  mobile/android/app/src/main/java/com/robosats/MainActivity.java
  mobile/android/app/src/main/java/com/robosats/RobosatsPackage.java
  mobile/android/app/src/main/java/com/robosats/modules/SystemModule.java
  mobile/android/app/src/main/java/com/robosats/modules/TorModule.java
  mobile/android/app/src/main/java/com/robosats/tor/TorKmpManager.kt
  mobile/android/app/src/main/java/com/robosats/workers/NotificationWorker.java
  mobile/native/NotificationsModule.ts
  mobile/native/SystemModule.ts
Due: collect-phrases, prettier-frontend, prettier-mobile

Notifications working with the app off
  frontend/src/basic/Routes.tsx
  frontend/src/models/Garage.model.ts
  mobile/App.tsx
  mobile/android/app/build.gradle
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/main/java/com/robosats/MainActivity.java
  mobile/android/app/src/main/java/com/robosats/NotificationsService.java
  mobile/android/app/src/main/res/mipmap-hdpi/ic_icon.png
Due: collect-phrases, prettier-frontend, prettier-mobile

fix linter remove unused imports and variables
  api/nick_generator/nick_generator.py
Due: none

add UNUSED comment
  api/nick_generator/nick_generator.py
Due: none

script to generate latest api specs file
  scripts/api-specs-update.py
Due: none

split host and port in .env variables
  .env-sample
  api/lightning/cln.py
  api/lightning/lnd.py
  api/tests/test_utils.py
  api/utils.py
  docker-compose.yml
  docker-tests.yml
  robosats/celery/__init__.py
  robosats/settings.py
Due: none

Traditional environment for backend development
  .env-sample
  .gitignore
  api/utils.py
  api/views.py
  requirements_dev.txt
  robosats/settings.py
  scripts/traditional/README.md
  scripts/traditional/regtest-nodes
  scripts/traditional/regtest-services
  scripts/traditional/robosats.bash-completion
  setup.md
  tests/utils/node.py
  tests/utils/pgp.py
Due: none

Notification config
  mobile/android/app/src/main/java/com/robosats/NotificationsService.java
Due: none

Typo
  mobile/android/app/src/main/java/com/robosats/NotificationsService.java
Due: none

Remove added files
  api/lightning/pip-build-env-wwuhobll/site/sitecustomize.py
  api/lightning/pip-build-tracker-bjlgta7z/8bdde18590295c5842ccad049a1ac390714fb6975e494a7bbd1455e6
Due: none

Better sentence and interactive permanent notification
  mobile/android/app/src/main/java/com/robosats/NotificationsService.java
Due: none

Better sentence 2
  mobile/android/app/src/main/java/com/robosats/NotificationsService.java
Due: none

NavBar update
  frontend/src/basic/NavBar/NavBar.tsx
Due: collect-phrases, prettier-frontend

TopNavBar Added
  frontend/src/basic/Main.tsx
  frontend/src/basic/TopNavBar/TopNavBar.tsx
  frontend/src/basic/TopNavBar/index.tsx
  frontend/src/basic/index.ts
Due: collect-phrases, prettier-frontend

Welcome Update
  frontend/src/basic/RobotPage/Welcome.tsx
  frontend/src/basic/RobotPage/index.tsx
Due: collect-phrases, prettier-frontend

Onboarding Update
  frontend/src/basic/RobotPage/Onboarding.tsx
Due: collect-phrases, prettier-frontend

Refactor: Move inline styles to styled components
  frontend/src/basic/Main.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/Welcome.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/basic/TopNavBar/TopNavBar.tsx
Due: collect-phrases, prettier-frontend

fix: Adjust component heights to prevent nav bar overlap
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/SettingsPage/index.tsx
Due: collect-phrases, prettier-frontend

Fix telegram bot
  api/management/commands/telegram_watcher.py
Due: none

Fix telegram bot
  api/management/commands/telegram_watcher.py
  api/notifications.py
Due: none

release configuration added for desktop-app
  .github/workflows/desktop-build.yml
  .github/workflows/release.yml
  desktopApp/package.json
  desktopApp/yarn.lock
Due: none

window and linux released configuration added
  .github/workflows/release.yml
Due: none

all keystore remove from desktop-build.yml
  .github/workflows/desktop-build.yml
Due: none

changed app name
  desktopApp/index.js
  desktopApp/index.js.map
  desktopApp/package.json
Due: none
