Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile

.pre-commit-config.yaml:

exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v2.3.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.11
    hooks:
    - id: ruff
      stages:
        - commit
        - merge-commit
      language: system
      args: [ --fix ]
      types: [python]
    - id: ruff-format
      stages:
        - commit
        - merge-commit
      language: system
      types: [python]

Make it dynamic
  frontend/src/models/Exchange.model.ts
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend

Make it dynamic
  frontend/src/components/Dialogs/Exchange.tsx
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend

Fix federation summary (#1180)
  frontend/src/components/Dialogs/Exchange.tsx
  frontend/src/models/Exchange.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/utils/aggregateInfo.ts
Due: collect-phrases, prettier-frontend

Fix depth chart borked and premium precision
  frontend/src/components/Charts/DepthChart/index.tsx
Due: collect-phrases, prettier-frontend

Update coordinator BitcoinVeneto
  frontend/static/federation.json
Due: prettier-frontend

Add established date to coordinator dialog
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Update release notes for v0.6.0
  release_notes.md
Due: none

Fix check versions action
  .github/workflows/release.yml
Due: none

Fix workflow dispatch action version
  .github/workflows/frontend-build.yml
Due: none

Load map JSON in advance
  frontend/src/components/Map/index.tsx
  frontend/src/contexts/AppContext.tsx
Due: collect-phrases, prettier-frontend

Detect federation testnet
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend

Detect federation testnet (#1193)
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend

Update ca.json
  frontend/static/locales/ca.json
Due: prettier-frontend

Update it.json
  frontend/static/locales/it.json
Due: prettier-frontend

Update ca.json (#1194)
  frontend/static/locales/ca.json
Due: prettier-frontend

Update federation.json
  frontend/static/federation.json
Due: prettier-frontend

notify coordinator admin for new disputes
  .env-sample
  api/notifications.py
Due: none

portuguese translation
  frontend/static/locales/pt.json
Due: prettier-frontend

Notify coordinator admin for new disputes (#1204)
  .env-sample
  api/notifications.py
Due: none

portuguese translation (#1205)
  frontend/static/locales/pt.json
Due: prettier-frontend

Italian translation (#1195)
  frontend/static/locales/it.json
  frontend/static/locales/pt.json
Due: prettier-frontend

Federation Android App and new Tor engine
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/RobotAvatar/RobohashGenerator.ts
  frontend/src/components/RobotAvatar/robohash.worker.ts
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/components/TorConnection.tsx
  frontend/src/components/TorConnection/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Slot.model.ts
  frontend/src/services/api/ApiNativeClient/index.ts
  mobile/App.tsx
  mobile/android/app/build.gradle
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/main/java/com/robosats/MainApplication.java
  mobile/android/app/src/main/java/com/robosats/RobosatsPackage.java
  mobile/android/app/src/main/java/com/robosats/modules/TorModule.java
  mobile/android/app/src/main/java/com/robosats/tor/EnumTorState.kt
  mobile/android/app/src/main/java/com/robosats/tor/TorKmpManager.kt
  mobile/android/app/src/main/java/com/robosats/tor/TorState.kt
  mobile/android/build.gradle
  mobile/package-lock.json
  mobile/package.json
  mobile/services/Tor/index.ts
Due: collect-phrases, prettier-frontend, prettier-mobile

Improve Federation start order
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/services/Native/index.d.ts
  frontend/src/services/api/ApiNativeClient/index.ts
  frontend/src/services/api/index.ts
  mobile/App.tsx
  mobile/android/app/src/main/java/com/robosats/modules/TorModule.java
Due: collect-phrases, prettier-frontend, prettier-mobile

Recover WebWorkers
  frontend/src/components/RobotAvatar/RobohashGenerator.ts
  frontend/src/components/RobotAvatar/robohash.worker.ts
  frontend/src/models/Slot.model.ts
Due: collect-phrases, prettier-frontend

Remove react-native-tor
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/package-lock.json
  mobile/services/Tor/index.ts
Due: prettier-mobile

Remove deprecated code
  mobile/services/Tor/index.ts
Due: prettier-mobile

Fix loading line in Book
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend

refactor webpacks
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Settings.default.basic.selfhosted.ts
  frontend/src/models/Settings.default.pro.selfhosted.ts
  frontend/src/models/Settings.default.pro.ts
  frontend/src/services/Native/index.d.ts
  frontend/webpack.config.ts
  nodeapp/basic.html
  nodeapp/pro.html
  web/basic.html
  web/pro.html
Due: collect-phrases, prettier-frontend

Fix dependencies
  frontend/package-lock.json
Due: prettier-frontend

Fix build
  mobile/App.tsx
  mobile/native/TorModule.ts
  mobile/services/Tor/index.ts
Due: prettier-mobile

Disable robo-identities
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Slot.model.ts
Due: collect-phrases, prettier-frontend

Refactor Webpacks (#1212)
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Settings.default.basic.selfhosted.ts
  frontend/src/models/Settings.default.pro.selfhosted.ts
  frontend/src/models/Settings.default.pro.ts
  frontend/src/services/Native/index.d.ts
  frontend/webpack.config.ts
  nodeapp/basic.html
  nodeapp/pro.html
  web/basic.html
  web/pro.html
Due: collect-phrases, prettier-frontend

feat: add pt folder and translate quick-start to portuguese
  docs/_includes/improve_pt
  docs/_includes/wip_pt
  docs/_pages/docs/pt/00-quick-start/00-quicks-start-guide.md
  docs/_pages/docs/pt/00-quick-start/01-lightning.md
  docs/_pages/docs/pt/00-quick-start/02-tor.md
  docs/_pages/docs/pt/00-quick-start/03-access.md
  docs/_pages/docs/pt/01-best-practices/00-best-practices.md
  docs/_pages/docs/pt/01-best-practices/01-pgp-guide.md
  docs/_pages/docs/pt/01-best-practices/01-pgp-guide_es.md
  docs/_pages/docs/pt/01-best-practices/02-payment-methods.md
  docs/_pages/docs/pt/01-best-practices/03-proxy-wallets.md
  docs/_pages/docs/pt/01-best-practices/04-channels.md
  docs/_pages/docs/pt/02-features/01-private.md
  docs/_pages/docs/pt/02-features/02-fast.md
  docs/_pages/docs/pt/02-features/03-safe.md
  docs/_pages/docs/pt/03-understand/01-trade-pipeline.md
  docs/_pages/docs/pt/03-understand/02-robots.md
  docs/_pages/docs/pt/03-understand/03-premium.md
  docs/_pages/docs/pt/03-understand/04-bonds.md
  docs/_pages/docs/pt/03-understand/05-trade-escrow.md
  docs/_pages/docs/pt/03-understand/06-disputes.md
  docs/_pages/docs/pt/03-understand/07-wallets.md
  docs/_pages/docs/pt/03-understand/08-limits.md
  docs/_pages/docs/pt/03-understand/09-swaps.md
  docs/_pages/docs/pt/03-understand/10-telegram.md
  docs/_pages/docs/pt/03-understand/11-api.md
  docs/_pages/docs/pt/03-understand/12-prices.md
  docs/_pages/docs/pt/03-understand/13-fees.md
  docs/_pages/docs/pt/03-understand/14-on-chain-payouts.md
  docs/_pages/docs/pt/contribute/00-contribute.md
  docs/_pages/docs/pt/contribute/01-development.md
  docs/_pages/docs/pt/contribute/02-languages.md
  docs/_pages/docs/pt/contribute/03-liquidity.md
  docs/_pages/docs/pt/contribute/04-guides.md
  docs/_pages/docs/pt/contribute/05-art.md
  docs/_pages/docs/pt/contribute/06-outreach.md
  docs/_pages/docs/pt/contribute/07-donate.md
  docs/_pages/docs/pt/home.md
  docs/_pages/docs/pt/stats.md
Due: none

feat: translate home to portuguese
  docs/_pages/docs/pt/home.md
Due: none

feat: translation best practices to portuguese
  docs/_pages/docs/pt/01-best-practices/00-best-practices.md
  docs/_pages/docs/pt/01-best-practices/01-pgp-guide.md
  docs/_pages/docs/pt/01-best-practices/01-pgp-guide_es.md
  docs/_pages/docs/pt/01-best-practices/02-payment-methods.md
  docs/_pages/docs/pt/01-best-practices/03-proxy-wallets.md
  docs/_pages/docs/pt/01-best-practices/04-channels.md
Due: none

feat: translation features to portuguese
  docs/_pages/docs/pt/02-features/01-private.md
  docs/_pages/docs/pt/02-features/02-fast.md
  docs/_pages/docs/pt/02-features/03-safe.md
Due: none

feat: translation understand to portuguese
  docs/_pages/docs/pt/03-understand/01-trade-pipeline.md
  docs/_pages/docs/pt/03-understand/02-robots.md
  docs/_pages/docs/pt/03-understand/03-premium.md
  docs/_pages/docs/pt/03-understand/04-bonds.md
  docs/_pages/docs/pt/03-understand/05-trade-escrow.md
  docs/_pages/docs/pt/03-understand/06-disputes.md
  docs/_pages/docs/pt/03-understand/07-wallets.md
  docs/_pages/docs/pt/03-understand/08-limits.md
  docs/_pages/docs/pt/03-understand/09-swaps.md
  docs/_pages/docs/pt/03-understand/10-telegram.md
  docs/_pages/docs/pt/03-understand/11-api.md
  docs/_pages/docs/pt/03-understand/12-prices.md
  docs/_pages/docs/pt/03-understand/13-fees.md
  docs/_pages/docs/pt/03-understand/14-on-chain-payouts.md
Due: none

feat: translation contribute to portuguese
  docs/_pages/docs/pt/contribute/00-contribute.md
  docs/_pages/docs/pt/contribute/01-development.md
  docs/_pages/docs/pt/contribute/02-languages.md
  docs/_pages/docs/pt/contribute/03-liquidity.md
  docs/_pages/docs/pt/contribute/04-guides.md
  docs/_pages/docs/pt/contribute/05-art.md
  docs/_pages/docs/pt/contribute/06-outreach.md
  docs/_pages/docs/pt/contribute/07-donate.md
Due: none

feat: translation stats to portuguese
  docs/_pages/docs/pt/stats.md
Due: none
