Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, prettier-mobile, isort, black, flake8

.pre-commit-config.yaml:

# TODO
# add a hook which automatically generates the OpenApi schema on API changes
# and places them in an appropriate location
exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v2.3.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      # - id: collect-phrases
      #   name: Collect i18n phrases
      #   stages:
      #     - commit
      #     - merge-commit
      #   language: system
      #   files: ^frontend/
      #   types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
      #   entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
      - id: isort
        name: isort
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: isort
      - id: black
        name: black
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: black
      - id: flake8
        name: flake8
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: flake8

Add collect_phrases pre-commit hook; run new collect phrases
  .github/pull_request_template.md
  .pre-commit-config.yaml
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Add collect_phrases pre-commit hook; run new collect phrases (#610)
  .github/pull_request_template.md
  .pre-commit-config.yaml
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Additional updates to LnProxy support (#609)
  .github/workflows/lnproxy-sync.yml
Due: none

Add tracking of old locked invoices to follow-invoices
  api/management/commands/follow_invoices.py
Due: isort, black, flake8

Add CLN node backend image and service (#418)
  docker-compose.yml
  docker/cln/Dockerfile
  docker/cln/config
  docker/cln/entrypoint.sh
Due: none

enable flake8
  api/lightning/node_cln.py
Due: isort, black, flake8

first draft of clns follow_send_payment
  api/lightning/node_cln.py
Due: isort, black, flake8

renaming cln file, class and get_version
  api/lightning/cln.py
  api/lightning/node_cln.py
Due: isort, black, flake8

remove lnd specific commented code
  api/lightning/cln.py
Due: isort, black, flake8

flake8 fixes
  api/lightning/node_cln.py
Due: isort, black, flake8

Add lnnode vendor switch (#431)
  .env-sample
  api/lightning/cln.py
  api/lightning/lnd.py
  api/lightning/node.py
Due: isort, black, flake8

refactored double_check_htlc_is_settled to the end to match lnds file
  api/lightning/cln.py
Due: isort, black, flake8

add clns lookup_invoice_status
  api/lightning/cln.py
Due: isort, black, flake8

init
  api/lightning/node_cln.py
  scripts/generate_grpc.sh
Due: isort, black, flake8

gen_hold_invoice now takes 3 more variables to build a label for cln
  api/lightning/node_cln.py
Due: isort, black, flake8

first draft
  api/lightning/node_cln.py
  scripts/generate_grpc.sh
Due: isort, black, flake8

fix name of get_lnd_version
  api/lightning/node_cln.py
Due: isort, black, flake8

remove comment
  api/lightning/node_cln.py
Due: isort, black, flake8

add unsettled_local_balance and unsettled_remote_balance
  api/lightning/node_cln.py
Due: isort, black, flake8

rename htlc_cltv to htlc_expiry
  api/lightning/cln.py
Due: isort, black, flake8

get_version: add try/except, refactor to top to mimic lnd.py
  api/lightning/cln.py
Due: isort, black, flake8

remove unneeded payment_hash from gen_hold_invoice
  api/lightning/node_cln.py
Due: isort, black, flake8

Add sample environmental variables, small fixes
  .env-sample
  api/lightning/cln.py
  docker-compose.yml
  scripts/generate_grpc.sh
Due: isort, black, flake8

fix generate_rpc
  scripts/generate_grpc.sh
Due: none

add get_cln_version
  api/lightning/node_cln.py
Due: isort, black, flake8

Add CLN version to frontend and other fixes
  api/lightning/cln.py
  api/utils.py
  api/views.py
  docker-compose.yml
  frontend/src/components/Dialogs/Stats.tsx
  frontend/src/models/Info.model.ts
Due: prettier-frontend, isort, black, flake8

Add CLN/LND volume to celery-beat service
  docker-compose.yml
Due: none

Bump CLN to v23.05
  docker/cln/Dockerfile
Due: none

changes for 0.5 and some small fixes
  api/lightning/cln.py
Due: isort, black, flake8

Fix channel_balance to use int object inside Amount (#438)
  api/lightning/cln.py
Due: isort, black, flake8

Fix CLN gRPC port
  .env-sample
  api/lightning/cln.py
  docker/cln/config
Due: isort, black, flake8

change invoice expiry from absolute to relative duration
  api/lightning/cln.py
Due: isort, black, flake8

Fix gen_hold_invoice, plus some other tiny fixes (#435)
  api/lightning/cln.py
  api/lightning/lnd.py
  api/lightning/node.py
  api/logics.py
Due: isort, black, flake8

fix typeerror for payment_hash
  api/lightning/cln.py
Due: isort, black, flake8

fix wrong state ints in cancel and settle
  api/lightning/cln.py
Due: isort, black, flake8

fix failure_reason to be ln_payment failure reasons, albeit inaccurate sometimes
  api/lightning/cln.py
Due: isort, black, flake8

move pay command after lnpayment status update
  api/lightning/cln.py
Due: isort, black, flake8

remove loop in follow_send_payment and add error result for edge case
  api/lightning/cln.py
Due: isort, black, flake8

add try/except to catch timeout error
  api/lightning/cln.py
Due: isort, black, flake8
