Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, prettier-mobile, isort, black, flake8

prettier-frontend:
  name: prettier-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

prettier-mobile:
  name: prettier-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run format'

isort:
  name: isort
  stages:
  - commit
  - merge-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  - merge-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  - merge-commit
  language: system
  entry: flake8

Sync package-lock
  mobile/package-lock.json
Due: prettier-mobile

Add scripts for selfhosted client
  .github/workflows/client-image.yml
  .github/workflows/frontend-build.yml
  frontend/src/App.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/HostAlert/SelfhostedAlert.tsx
  frontend/src/components/HostAlert/UnsafeAlert.tsx
  frontend/src/components/HostAlert/index.tsx
  frontend/src/models/Settings.default.basic.selfhosted.ts
  frontend/src/models/Settings.default.pro.selfhosted.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
  frontend/webpack.config.ts
  nodeapp/basic.html
  nodeapp/pro.html
Due: prettier-frontend

Add selfhosted client custom builds (#630)
  .github/workflows/client-image.yml
  .github/workflows/frontend-build.yml
  frontend/src/App.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/HostAlert/SelfhostedAlert.tsx
  frontend/src/components/HostAlert/UnsafeAlert.tsx
  frontend/src/components/HostAlert/index.tsx
  frontend/src/models/Settings.default.basic.selfhosted.ts
  frontend/src/models/Settings.default.pro.selfhosted.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
  frontend/webpack.config.ts
  nodeapp/basic.html
  nodeapp/pro.html
Due: prettier-frontend

Update changelog, fix release workflow, re-sync package-lock
  .github/workflows/django-test.yml
  .github/workflows/lnproxy-sync.yml
  .github/workflows/release.yml
  frontend/package-lock.json
  release_notes.md
  scripts/lnproxy-sync.js
Due: prettier-frontend

Fix connected chat status
  frontend/src/components/Notifications/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
Due: prettier-frontend

Fix connected chat status (#632)
  frontend/src/components/Notifications/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
Due: prettier-frontend

Delete option to submit unsigned address and invoices
  api/oas_schemas.py
  api/views.py
Due: isort, black, flake8

Update ca.json
  frontend/static/locales/ca.json
Due: prettier-frontend

Update ca.json (#634)
  frontend/static/locales/ca.json
Due: prettier-frontend

Fix typo: if you if you -> if you
  frontend/src/components/TradeBox/Dialogs/ConfirmFiatReceived.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Fix typo: if you if you -> if you (#647)
  frontend/src/components/TradeBox/Dialogs/ConfirmFiatReceived.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

use base-ex hex converter / correct fn name
  frontend/src/utils/hexToBase91.ts
Due: prettier-frontend

Update 05-trade-escrow.md
  docs/_pages/docs/03-understand/05-trade-escrow.md
Due: none

add bd to worldflags
  frontend/src/components/Icons/WorldFlags.tsx
Due: prettier-frontend

added bdt to currencies.json
  frontend/static/assets/currencies.json
Due: prettier-frontend

fix 02-languages.md locales path
  docs/_pages/contribute/02-languages.md
Due: none

translate it.json sections 1 to 12
  frontend/static/locales/it.json
Due: prettier-frontend

translate it.json sections 13 to 15
  frontend/static/locales/it.json
Due: prettier-frontend

Update 05-trade-escrow.md (#650)
  docs/_pages/docs/03-understand/05-trade-escrow.md
Due: none

Use base-ex hex converter for base16 / correct fn name (#649)
  frontend/src/utils/hexToBase91.ts
Due: prettier-frontend

Add bd taka to available currencies (#659)
  frontend/src/components/Icons/WorldFlags.tsx
  frontend/static/assets/currencies.json
Due: prettier-frontend

translate it.json sections 18 to 38
  frontend/static/locales/it.json
Due: prettier-frontend

translate it.json sections 41 to 46
  frontend/static/locales/it.json
Due: prettier-frontend

translate it.json sections 43 to 73
  frontend/static/locales/it.json
Due: prettier-frontend

finalize translate it.json
  frontend/static/locales/it.json
Due: prettier-frontend

typo fix in it.json
  frontend/static/locales/it.json
Due: prettier-frontend

Adds Italian translations (#660)
  docs/_pages/contribute/02-languages.md
  frontend/static/locales/it.json
Due: prettier-frontend

Add admin action to solve disputes as successful trades
  api/admin.py
  api/migrations/0039_alter_currency_currency.py
Due: isort, black, flake8

Add admin action to solve disputes as successful trades (#672)
  api/admin.py
  api/migrations/0039_alter_currency_currency.py
Due: isort, black, flake8

Updated BBW to Blink Wallet
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Fix Blink paragraph link
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Updated BBW to Blink Wallet (#673)
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Update 07-wallets.md
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Update Blink wallet in wallet compatibility documentation (#686)
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Update handleCurrencyChange to not reset amount range on currency change
  frontend/src/components/MakerForm/MakerForm.tsx
Due: prettier-frontend

Update 01-development.md
  docs/_pages/contribute/01-development.md
Due: none

Update 02-languages.md
  docs/_pages/contribute/02-languages.md
Due: none

Update 04-guides.md
  docs/_pages/contribute/04-guides.md
Due: none

Update 05-art.md
  docs/_pages/contribute/05-art.md
Due: none

Path conditions:
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  prettier-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  isort: any of: \.py$, but not: (api|chat|control)/migrations/.*
  black: any of: \.py$, but not: (api|chat|control)/migrations/.*
  flake8: any of: \.py$, but not: (api|chat|control)/migrations/.*
