Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, lintern-frontend, lintern-android, check-android

collect-phrases:
  name: Collect i18n phrases
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'

prettier-frontend:
  name: prettier-frontend
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

lintern-frontend:
  name: lintern-frontend
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run lint'

lintern-android:
  name: lintern-android
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd android && ./gradlew lint'

check-android:
  name: check-android
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd android && ./gradlew check'

Expose OPENAI_BASE_URL as a workflow setting
  .github/workflows/translate.yml
  translations/README.md
  translations/config.yaml
Due: none

Code Review
  api/lightning/AGENTS.md
  api/lightning/cln.py
  api/lightning/decoded.py
  api/lightning/lnd.py
  api/tests/test_community_donation.py
Due: none

Record blocked upgrades
  AGENTS.md
  development/AGENTS.md
  development/README.md
  development/blocked-upgrades.md
Due: none

Record blocked upgrades
  development/AGENTS.md
Due: none

Stop dependabot on blocked libraries
  .github/dependabot.yml
Due: none

Display coordinator fees in order view
  frontend/src/components/CoordinatorFeeRow/index.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix migration #
  api/migrations/0059_merge_0058_alter_order_logs_0058_lnpayment_concept_community_donation.py
Due: none

feat: Implement Garage Key functionality and account recovery
  frontend/src/basic/GaragePage/AccountNavigator.tsx
  frontend/src/basic/GaragePage/GarageKeyInput.tsx
  frontend/src/basic/GaragePage/GarageKeyOnboarding.tsx
  frontend/src/basic/GaragePage/GarageKeyProfile.tsx
  frontend/src/basic/GaragePage/index.tsx
  frontend/src/basic/RobotPage/Welcome.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/basic/Routes.tsx
  frontend/src/basic/TopBar/MenuDrawer/index.tsx
  frontend/src/basic/index.ts
  frontend/src/components/Dialogs/DeleteGarageKeyConfirmation.tsx
  frontend/src/components/Dialogs/Recovery.tsx
  frontend/src/components/Dialogs/StoreToken.tsx
  frontend/src/components/Dialogs/index.ts
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/components/TradeBox/Prompts/Expired.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/GarageKey.model.ts
  frontend/src/models/Settings.model.ts
  frontend/src/models/Slot.model.ts
  frontend/src/models/index.ts
  frontend/src/services/RoboPool/index.ts
  frontend/src/utils/accountRecovery.ts
  frontend/src/utils/garageKey.ts
  frontend/src/utils/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

refactor: Update Garage mode handling to use Garage context and remove settings dependency Ref: https://github.com/RoboSats/robosats/pull/2375#discussion_r2720434707
  frontend/src/basic/GaragePage/index.tsx
  frontend/src/basic/NavBar/DesktopBar/index.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/hooks/useLegacyMode.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Settings.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: add error handling for RobotAvatar when slot is not reusable
  frontend/src/basic/GaragePage/GarageKeyProfile.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

refactor: Reuse onSlotUpdate for GarageKey updates Consolidates garage hooks as suggested in PR review. Ref: https://github.com/RoboSats/robosats/pull/2375#discussion_r2720418057
  frontend/src/basic/GaragePage/index.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/models/Garage.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

refactor: Move GarageMode type definition to Garage.model.ts and update imports Ref: https://github.com/RoboSats/robosats/pull/2375#discussion_r2720426279
  frontend/src/models/Garage.model.ts
  frontend/src/models/GarageKey.model.ts
  frontend/src/models/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

feat: add legacy mode support across the app with state hook, UI restrictions, mode toggle, and safety confirmations
  frontend/src/basic/GaragePage/GarageKeyInput.tsx
  frontend/src/basic/GaragePage/GarageKeyProfile.tsx
  frontend/src/basic/GaragePage/index.tsx
  frontend/src/basic/NavBar/AppBar/index.tsx
  frontend/src/basic/NavBar/DesktopBar/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/Welcome.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/basic/Routes.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/hooks/useLegacyMode.ts
  frontend/src/models/Settings.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

chore: remove unused label prop from GarageKeyInput component
  frontend/src/basic/GaragePage/GarageKeyInput.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

feat: enhance garage key onboarding and recovery dialogs with toast notifications and async handling
  frontend/src/basic/GaragePage/GarageKeyOnboarding.tsx
  frontend/src/basic/GaragePage/index.tsx
  frontend/src/components/Dialogs/Recovery.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/Slot.model.ts
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: address Garage Key recovery and account lifecycle review
  frontend/src/basic/GaragePage/GarageKeyInput.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/GarageKey.model.ts
  frontend/src/models/Slot.model.ts
  frontend/src/models/__tests__/Garage.model.test.ts
  frontend/src/services/__tests__/RoboPool.garageKey.test.ts
  frontend/src/utils/__tests__/garageKey.test.ts
  frontend/src/utils/accountRecovery.ts
  frontend/src/utils/garageKey.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

chore: update locale translations
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend, lintern-frontend

fix: harden garage key recovery across relay changes
  frontend/src/services/RoboPool/index.ts
  frontend/src/services/__tests__/RoboPool.garageKey.test.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

style: format Garage Key frontend changes
  frontend/src/basic/GaragePage/AccountNavigator.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/Dialogs/StoreToken.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/models/Settings.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

feat: implement notification subscription management in RoboPool and FederationContext
  frontend/src/contexts/FederationContext.tsx
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: restore slotUpdatedAt dependency in OrderPage effect to refresh on in-slot updates
  frontend/src/basic/OrderPage/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: update import path for xchacha20poly1305 to correct module
  frontend/src/utils/crypto/xchacha20.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

refactor: remove unused slotUpdatedAt dependency and optimize onSlotUpdate calls in Slot model
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/Slot.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: adapt garage key to updated frontend dependencies
  frontend/jest.config.js
  frontend/src/basic/GaragePage/GarageKeyInput.tsx
  frontend/src/basic/GaragePage/GarageKeyOnboarding.tsx
  frontend/src/basic/GaragePage/GarageKeyProfile.tsx
  frontend/src/basic/GaragePage/index.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/Dialogs/DeleteGarageKeyConfirmation.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/Dialogs/Recovery.tsx
  frontend/src/utils/__tests__/garageKey.test.ts
  frontend/src/utils/crypto/xchacha20.ts
  frontend/src/utils/garageKey.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Update agents files
  .github/AGENTS.md
  api/AGENTS.md
  api/migrations/AGENTS.md
  api/tests/AGENTS.md
  development/AGENTS.md
Due: none

Fix inconsistencies
  AGENTS.md
  api/models/AGENTS.md
  api/tests/AGENTS.md
  frontend/src/contexts/AGENTS.md
  nodeapp/AGENTS.md
  nodeapp/coordinators/AGENTS.md
  tests/AGENTS.md
Due: prettier-frontend, lintern-frontend

Fill gaps
  api/AGENTS.md
  api/lightning/AGENTS.md
  api/models/AGENTS.md
  chat/AGENTS.md
  frontend/src/components/AGENTS.md
  frontend/src/utils/AGENTS.md
Due: prettier-frontend, lintern-frontend

Update 02-robots.md
  docs/_pages/docs/03-understand/02-robots.md
Due: none

Update how-to-use.md
  docs/_pages/tutorials/read/how-to-use.md
Due: none

Update 01-private.md
  docs/_pages/docs/02-features/01-private.md
Due: none

Update home.md
  docs/_pages/home.md
Due: none

Update 04-bonds.md
  docs/_pages/docs/03-understand/04-bonds.md
Due: none

Update 05-trade-escrow.md
  docs/_pages/docs/03-understand/05-trade-escrow.md
Due: none

Update 01-lightning.md
  docs/_pages/docs/00-quick-start/01-lightning.md
Due: none

Update 01-pgp-guide.md
  docs/_pages/docs/01-best-practices/01-pgp-guide.md
Due: none

Update 02-payment-methods.md
  docs/_pages/docs/01-best-practices/02-payment-methods.md
Due: none

Update 12-prices.md
  docs/_pages/docs/03-understand/12-prices.md
Due: none

Path conditions:
  collect-phrases: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((api|chat|control)/migrations/.*)
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  lintern-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  lintern-android: any of: ^android/ and \.(kt|kts)$ and not ((api|chat|control)/migrations/.*)
  check-android: any of: ^android/ and \.(kt|kts)$ and not ((api|chat|control)/migrations/.*)
