Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile, isort, black, flake8

collect-phrases:
  name: collect-phrases
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'

prettier-frontend:
  name: prettier-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

prettier-mobile:
  name: prettier-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run format'

isort:
  name: isort
  stages:
  - commit
  - merge-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  - merge-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  - merge-commit
  language: system
  entry: flake8

Small fixes
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Coordinator.model.ts
Due: collect-phrases, prettier-frontend

Refactor federation state management with useReduce
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Book.model.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/pro/Widgets/Federation.tsx
Due: collect-phrases, prettier-frontend

Fix exchange state
  frontend/src/App.tsx
  frontend/src/basic/BookPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Dialogs/Exchange.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Book.model.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Exchange.model.ts
  frontend/src/models/Limit.model.ts
  frontend/src/models/index.ts
  frontend/src/utils/checkVer.ts
  frontend/static/federation.json
  frontend/static/federation/temp.png
  frontend/static/federation/template.png
Due: collect-phrases, prettier-frontend

Fixes
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/NavBar/MoreTooltip.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Dialogs/Exchange.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Exchange.model.ts
  frontend/src/pro/Widgets/Depth.tsx
  frontend/static/federation.json
  frontend/static/federation/exp.png
  frontend/static/federation/exp.small.webp
  frontend/static/federation/exp.webp
  frontend/static/federation/local.png
  frontend/static/federation/local.small.webp
  frontend/static/federation/local.webp
  frontend/static/federation/temp.png
  frontend/static/federation/temp.small.webp
  frontend/static/federation/temp.webp
Due: collect-phrases, prettier-frontend

Refactor urls 1/2
  frontend/src/basic/Main.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Settings.model.ts
  frontend/src/pro/Widgets/Federation.tsx
  frontend/static/federation.json
  frontend/urls.py
Due: collect-phrases, prettier-frontend, isort, black, flake8

Optimize follow-invoices service performance
  api/lightning/node.py
  api/management/commands/follow_invoices.py
Due: isort, black, flake8

Optimize follow-invoices service performance (#480)
  api/lightning/node.py
  api/management/commands/follow_invoices.py
Due: isort, black, flake8

Fix invoice-follower output logs and order_update
  api/management/commands/follow_invoices.py
Due: isort, black, flake8

Refactor models into a module
  api/admin.py
  api/logics.py
  api/models.py
  api/models/__init__.py
  api/models/currency.py
  api/models/ln_payment.py
  api/models/market_tick.py
  api/models/onchain_payment.py
  api/models/order.py
  api/models/profile.py
  chat/models.py
  chat/views.py
Due: isort, black, flake8

Rename Profile model as Robot
  api/admin.py
  api/logics.py
  api/management/commands/telegram_watcher.py
  api/models/__init__.py
  api/models/robot.py
  api/nick_generator/dicts/en/nouns.py
  api/notifications.py
  api/tasks.py
  api/views.py
  chat/consumers.py
  chat/views.py
  control/tasks.py
Due: isort, black, flake8

Underscore numeric literals
  api/lightning/node.py
  api/logics.py
  api/nick_generator/nick_generator.py
  api/serializers.py
  api/tasks.py
  api/views.py
Due: isort, black, flake8

Refactor models into a module (#481)
  api/admin.py
  api/lightning/node.py
  api/logics.py
  api/management/commands/telegram_watcher.py
  api/models.py
  api/models/__init__.py
  api/models/currency.py
  api/models/ln_payment.py
  api/models/market_tick.py
  api/models/onchain_payment.py
  api/models/order.py
  api/models/robot.py
  api/nick_generator/dicts/en/nouns.py
  api/nick_generator/nick_generator.py
  api/notifications.py
  api/serializers.py
  api/tasks.py
  api/views.py
  chat/consumers.py
  chat/models.py
  chat/views.py
  control/tasks.py
Due: isort, black, flake8

Remove typo
  frontend/src/components/TradeBox/index.tsx
Due: collect-phrases, prettier-frontend

Bump to python 3.11, optimize Coordinator image size, update dependabot config
  .github/dependabot.yml
  Dockerfile
  docker-compose.yml
  requirements.txt
Due: none

Bump django to 4.2 (and all dependencies)
  Dockerfile
  requirements.txt
Due: none

Enable coordinator docker commented generate_grpc
  Dockerfile
Due: none

Bump Channels and Daphne to 4.0
  requirements.txt
  robosats/routing.py
  robosats/settings.py
Due: isort, black, flake8

Small fixes
  api/lightning/node.py
  api/models/currency.py
  docker-compose.yml
  frontend/src/components/RobotAvatar/index.tsx
  robosats/routing.py
  robosats/settings.py
Due: collect-phrases, prettier-frontend, isort, black, flake8

Disable CSRF checks
  frontend/src/services/api/ApiNativeClient/index.ts
  frontend/src/services/api/ApiWebClient/index.ts
  mobile/App.tsx
  robosats/middleware.py
  robosats/settings.py
Due: collect-phrases, prettier-frontend, prettier-mobile, isort, black, flake8

Enable Japanese on Android app
  frontend/src/i18n/Native.js
Due: collect-phrases, prettier-frontend

Add maker summary to collected phrases
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Fix and improve admin search fields
  api/admin.py
Due: isort, black, flake8

Add github-actions to dependabot
  .github/dependabot.yml
Due: none

Add RobotView, fix middleware, upgrade frontend
  api/urls.py
  api/utils.py
  api/views.py
  frontend/models.py
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Robot.model.ts
  frontend/src/services/api/ApiNativeClient/index.ts
  frontend/src/services/api/ApiWebClient/index.ts
  frontend/src/services/api/index.ts
  robosats/middleware.py
  robosats/settings.py
Due: collect-phrases, prettier-frontend, isort, black, flake8

Add RobotTokenSHA256 middleware for in-the-fly robot generation/login
  api/logics.py
  api/utils.py
  api/views.py
  frontend/src/services/api/ApiNativeClient/index.ts
  frontend/src/services/api/ApiWebClient/index.ts
  robosats/middleware.py
  robosats/models.py
  robosats/settings.py
Due: collect-phrases, prettier-frontend, isort, black, flake8

Token header as base91
  api/nick_generator/dicts/en/nouns.py
  api/utils.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/contexts/AppContext.ts
  frontend/src/utils/hexToBase91.ts
  frontend/src/utils/index.ts
  requirements.txt
  robosats/middleware.py
Due: collect-phrases, prettier-frontend, isort, black, flake8

Add OAS schema of RobotView
  api/oas_schemas.py
  api/utils.py
  api/views.py
  robosats/settings.py
Due: isort, black, flake8

Use RobotView on new fetchRobot(), mimick old fetchRobot() functionality
  api/oas_schemas.py
  api/utils.py
  api/views.py
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Robot.model.ts
  frontend/src/services/System/SystemWebClient/index.ts
  frontend/src/services/api/ApiNativeClient/index.ts
  frontend/src/utils/hexToBase91.ts
  robosats/middleware.py
Due: collect-phrases, prettier-frontend, isort, black, flake8

Upgrade websockets for token based authentication
  api/utils.py
  chat/views.py
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/PaymentMethods/StringAsIcons.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  robosats/middleware.py
  robosats/models.py
  robosats/routing.py
Due: collect-phrases, prettier-frontend, isort, black, flake8

Small fixes
  api/views.py
  chat/views.py
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/contexts/AppContext.ts
Due: collect-phrases, prettier-frontend, isort, black, flake8

Add frontend token entropy checks, add token on route /robot/<token>
  frontend/src/basic/Main.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/Recovery.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/TokenInput.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Robot.model.ts
  frontend/src/utils/index.ts
  frontend/src/utils/token.js
  frontend/src/utils/token.ts
  frontend/urls.py
Due: collect-phrases, prettier-frontend, isort, black, flake8

Rename admin panel
  .env-sample
  robosats/urls.py
Due: isort, black, flake8

Collect phrases
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Add slashed return on uneven stake slashed bonds
  api/logics.py
  frontend/src/components/MakerForm/MakerForm.tsx
Due: collect-phrases, prettier-frontend, isort, black, flake8

Add slashed return as rewards when bonded stake is uneven (#538)
  api/logics.py
  frontend/src/components/MakerForm/MakerForm.tsx
Due: collect-phrases, prettier-frontend, isort, black, flake8

Delete coordinator referral program functionality
  .env-sample
  api/admin.py
  api/logics.py
  api/models/robot.py
  api/oas_schemas.py
  api/serializers.py
  api/tasks.py
  api/views.py
Due: isort, black, flake8

Delete old user rating functionality
  api/admin.py
  api/logics.py
  api/models/robot.py
  api/oas_schemas.py
  api/serializers.py
  api/views.py
Due: isort, black, flake8

Add switch for light QR codes on dark theme
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/Dialogs/EnableTelegram.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/components/TradeBox/Prompts/LockInvoice.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Settings.model.ts
  mobile/App.tsx
Due: collect-phrases, prettier-frontend, prettier-mobile

Path conditions:
  collect-phrases: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$
  prettier-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
