Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile, isort, black, flake8

.pre-commit-config.yaml:

# TODO
# add a hook which automatically generates the OpenApi schema on API changes
# and places them in an appropriate location
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: collect-phrases
        name: collect-phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
  - repo: local
    hooks:
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
      - id: isort
        name: isort
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: isort
      - id: black
        name: black
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: black
      - id: flake8
        name: flake8
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: flake8

Add Iranian Toman (IRT) currency (#412)
  frontend/src/components/Icons/WorldFlags.tsx
  frontend/static/assets/currencies.json
Due: collect-phrases, prettier-frontend

Fix overflow by IRT on exchange_rate DecimalField
  api/models.py
Due: isort, black, flake8

Fix fetchInfo android
  frontend/src/contexts/AppContext.tsx
Due: collect-phrases, prettier-frontend

Add multi architecture Android builds and reduce bundle sizes
  .github/workflows/android-build.yml
  .github/workflows/release.yml
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/package.json
Due: prettier-mobile

Disable Proguard
  mobile/android/app/build.gradle
Due: none

Add universal build
  .github/workflows/android-build.yml
  .github/workflows/release.yml
  mobile/android/app/build.gradle
Due: none

Add multi architecture Android builds and reduce bundle sizes (#413)
  .github/workflows/android-build.yml
  .github/workflows/release.yml
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/package.json
Due: prettier-mobile

Fix hide currency column in book when mode is swaps
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend

Bump to v0.4.3
  frontend/package-lock.json
  frontend/package.json
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/package.json
  version.json
Due: prettier-frontend, prettier-mobile

Fix conflicting release workflow ids
  .github/workflows/release.yml
Due: none

Fix parameter typo
  frontend/src/basic/BookPage/index.tsx
Due: collect-phrases, prettier-frontend

Fix parameter typo (#416)
  frontend/src/basic/BookPage/index.tsx
Due: collect-phrases, prettier-frontend

Add cln service
  docker-compose.yml
Due: none

Add hodlvoice Dockerfile and entrypoint
  docker-compose.yml
  docker/cln/Dockerfile
  docker/cln/config
  docker/cln/entrypoint.sh
Due: none

Fix not found npm dev container node_modules, new entrypoint
  frontend/Dockerfile
  frontend/entrypoint.sh
Due: none

Move db and i2p config to /node
  docker-compose.yml
Due: none

Add error boundary
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundary.tsx
Due: collect-phrases, prettier-frontend

Add error boundary (#421)
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundary.tsx
Due: collect-phrases, prettier-frontend

Migrate to react-dom-router v6
  frontend/entrypoint.sh
  frontend/package-lock.json
  frontend/package.json
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/Dialogs/NoRobot.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/Notifications/index.tsx
Due: collect-phrases, prettier-frontend

Migrate to react-dom-router v6 (#422)
  frontend/entrypoint.sh
  frontend/package-lock.json
  frontend/package.json
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/Dialogs/NoRobot.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/Notifications/index.tsx
Due: collect-phrases, prettier-frontend

Fix ErrorBoundary background
  frontend/src/components/ErrorBoundary.tsx
Due: collect-phrases, prettier-frontend

Move AppContext to top level
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/contexts/AppContext.tsx
Due: collect-phrases, prettier-frontend

Update zh-SI.json
  frontend/static/locales/zh-SI.json
Due: prettier-frontend

Update zh-TR.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Refactor context
  frontend/src/App.tsx
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/MoreTooltip.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/TokenInput.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/Dialogs/NoRobot.tsx
  frontend/src/components/Dialogs/StoreToken.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/components/TorConnection.tsx
  frontend/src/components/UnsafeAlert.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Garage.model.ts
  frontend/src/pro/Main.tsx
  frontend/src/pro/Widgets/Book.tsx
  frontend/src/pro/Widgets/Depth.tsx
  frontend/src/pro/Widgets/Maker.tsx
  frontend/src/pro/Widgets/Settings.tsx
Due: collect-phrases, prettier-frontend

Refactor context (#427)
  frontend/src/App.tsx
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/MoreTooltip.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/TokenInput.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/Dialogs/NoRobot.tsx
  frontend/src/components/Dialogs/StoreToken.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/components/TorConnection.tsx
  frontend/src/components/UnsafeAlert.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Garage.model.ts
  frontend/src/pro/Main.tsx
  frontend/src/pro/Widgets/Book.tsx
  frontend/src/pro/Widgets/Depth.tsx
  frontend/src/pro/Widgets/Maker.tsx
  frontend/src/pro/Widgets/Settings.tsx
Due: collect-phrases, prettier-frontend

Refactor tradebox states as switch, fix websocket first connect, show PGP erros.
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/components/TradeBox/index.tsx
Due: collect-phrases, prettier-frontend

Improve preliminary sats summary, add taker satoshis
  api/views.py
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/models/Order.model.ts
  frontend/src/utils/computeSats.ts
Due: collect-phrases, prettier-frontend, isort, black, flake8

Collect phrases
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Update zh-SI.json (#424)
  frontend/static/locales/zh-SI.json
Due: prettier-frontend

Update zh-TR.json (#425)
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Improve preliminary sats summary, add taker satoshis (#429)
  api/views.py
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/models/Order.model.ts
  frontend/src/utils/computeSats.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, isort, black, flake8

Add CLN node backend image and service (#418)
  docker-compose.yml
  docker/cln/Dockerfile
  docker/cln/config
  docker/cln/entrypoint.sh
Due: none

Add LNNode vendor switch
  .env-sample
  api/lightning/lnd.py
  api/lightning/node.py
Due: isort, black, flake8

Add LNNode vendor switch
  .env-sample
  api/lightning/cln.py
  api/lightning/lnd.py
  api/lightning/node.py
Due: isort, black, flake8

Add Versioner rpc, use versioner for LND get_version, refactor macaroon
  .gitignore
  api/lightning/node.py
  api/utils.py
  generate_grpc.sh
Due: isort, black, flake8

Move LND specific rpc calls from the follow-invoices thread to LNNode
  api/lightning/node.py
  api/management/commands/follow_invoices.py
Due: isort, black, flake8
