Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile, isort, black, flake8

.pre-commit-config.yaml:

# TODO
# add a hook which automatically generates the OpenApi schema on API changes
# and places them in an appropriate location
exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
      - id: isort
        name: isort
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: isort
      - id: black
        name: black
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: black
      - id: flake8
        name: flake8
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: flake8

Refactor CLN stubs to allow for mocking
  api/lightning/cln.py
Due: isort, black, flake8

Add test publish and view orders
  tests/mocks/cln.py
  tests/mocks/lnd.py
  tests/test_trade_pipeline.py
Due: isort, black, flake8

Add testing against API specs with assertResponse
  .env-sample
  api/models/order.py
  api/oas_schemas.py
  api/serializers.py
  api/urls.py
  api/views.py
  robosats/settings.py
  tests/api_specs.yaml
  tests/test_api.py
  tests/test_coordinator_info.py
  tests/test_trade_pipeline.py
Due: isort, black, flake8

Fix docs API navigation link
  docs/_data/navigation.yml
Due: none

Add dev dependencies and regtest test environments
  .github/workflows/django-test.yml
  api/lightning/lnd.py
  api/models/order.py
  api/serializers.py
  docker-tests.yml
  requirements.txt
  requirements_dev.txt
  robosats/middleware.py
  scripts/entrypoint.sh
  tests/api_specs.yaml
  tests/compose.env
  tests/mocks/cln.py
  tests/mocks/lnd.py
  tests/node_utils.py
  tests/test_coordinator_info.py
  tests/test_trade_pipeline.py
Due: isort, black, flake8

Fix Robot recovery
  frontend/src/basic/RobotPage/Recovery.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
  frontend/static/federation.json
Due: collect-phrases, prettier-frontend

Change testralia onion
  frontend/static/federation.json
  nodeapp/robosats-client.sh
Due: prettier-frontend

Fix tests failures when LND node is not used
  .github/workflows/django-test.yml
  api/lightning/cln.py
  api/lightning/lnd.py
  api/tests/test_utils.py
  api/utils.py
  tests/node_utils.py
Due: isort, black, flake8

Fix robot recovery (#945)
  frontend/src/basic/RobotPage/Recovery.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
  frontend/static/federation.json
  nodeapp/robosats-client.sh
Due: collect-phrases, prettier-frontend

Rename integration tests workflow
  .github/workflows/integration-tests.yml
Due: none

Refactor API specs latest
  docs/_includes/api-latest.html
  docs/_pages/docs/03-understand/11-api.md
  docs/assets/schemas/api-latest.yaml
  tests/test_api.py
Due: isort, black, flake8

Remove unused CLN/LND mocks
  docker-tests.yml
  pyproject.toml
  tests/mocks/__init__.py
  tests/mocks/cln.py
  tests/mocks/lnd.py
Due: isort, black, flake8

Add LND mock up classes
  .github/workflows/django-test.yml
  api/lightning/lnd.py
  tests/mocks/__init__.py
  tests/mocks/lnd.py
  tests/robots/2/token
  tests/test_trade_pipeline.py
Due: isort, black, flake8

Refactor gRPC and mocks. Add coordinator info test.
  api/lightning/cln.py
  api/lightning/lnd.py
  api/tests/test_utils.py
  tests/mocks/cln.py
  tests/mocks/lnd.py
  tests/test_coordinator_info.py
  tests/test_trade_pipeline.py
Due: isort, black, flake8

Exclude gRPC, tests and mocks from coverage reports
  pyproject.toml
Due: none

Add draft LND gRCP mocks
  api/lightning/lnd.py
  docker/lnd/Dockerfile
  tests/mocks/lnd.py
Due: isort, black, flake8

Fix py linter workflow
  .github/workflows/py-linter.yml
Due: none

Add lock escrow tests
  api/serializers.py
  docker-tests.yml
  docs/assets/schemas/api-latest.yaml
  tests/node_utils.py
  tests/test_trade_pipeline.py
Due: isort, black, flake8

Fix order page
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/FederationContext.ts
  frontend/src/contexts/GarageContext.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Order.model.ts
  frontend/src/models/Robot.model.ts
Due: collect-phrases, prettier-frontend

Fix last order
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/Order.model.ts
  frontend/src/models/Robot.model.ts
Due: collect-phrases, prettier-frontend

Not expose current notification order
  frontend/src/contexts/FederationContext.ts
Due: collect-phrases, prettier-frontend

Fix
  frontend/src/models/Garage.model.ts
Due: collect-phrases, prettier-frontend

Add tests for onchain address, pgp sign verification. Improve Dockerfile
  .github/workflows/integration-tests.yml
  Dockerfile
  api/lightning/cln.py
  api/lightning/lnd.py
  api/tests/test_utils.py
  control/models.py
  docker-compose.yml
  docker-tests.yml
  tests/node_utils.py
  tests/pgp_utils.py
  tests/robots/1/b91_token
  tests/robots/1/enc_priv_key
  tests/robots/1/nickname
  tests/robots/1/pub_key
  tests/robots/1/signed_message
  tests/robots/1/token
  tests/test_trade_pipeline.py
Due: isort, black, flake8

Add fiat sent/received confirmation tests. Improve API documentation
  api/logics.py
  api/nick_generator/nick_generator.py
  api/serializers.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  tests/node_utils.py
  tests/test_trade_pipeline.py
Due: isort, black, flake8

Delete codeql workflows
  .github/workflows/codeql-client.yml
  .github/workflows/codeql-coordinator.yml
Due: none

Fix weird flake8 mismatch of expectations
  .flake8
Due: none

Add pause/unpause tests
  api/logics.py
  api/serializers.py
  docs/assets/schemas/api-latest.yaml
  tests/node_utils.py
  tests/test_trade_pipeline.py
Due: isort, black, flake8
