Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, lintern-frontend, lintern-android, check-android

.pre-commit-config.yaml:

exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/|^mobile/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: lintern-frontend
        name: lintern-frontend
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run lint'
      - id: lintern-android
        name: lintern-android
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^android/
        types_or: [kotlin]
        entry: bash -c 'cd android && ./gradlew lint'
      - id: check-android
        name: check-android
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^android/
        types_or: [kotlin]
        entry: bash -c 'cd android && ./gradlew check'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.13
    hooks:
    - id: ruff
      stages:
        - pre-commit
        - pre-merge-commit
      language: system
      args: [ --fix ]
      types: [python]
    - id: ruff-format
      stages:
        - pre-commit
        - pre-merge-commit
      language: system
      types: [python]

Align api and socket
  frontend/src/components/TradeBox/EncryptedChat/EncryptedApiChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Align api and socket
  frontend/src/components/TradeBox/EncryptedChat/EncryptedApiChat/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix
  frontend/src/components/TradeBox/EncryptedChat/EncryptedApiChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Android implementation
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/robosats/MainActivity.kt
  android/app/src/main/java/com/robosats/WebAppInterface.kt
  frontend/src/components/Charts/MapChart/index.tsx
  frontend/src/components/Dialogs/F2fMap.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedApiChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedNostrChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/MessageCard/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/PrivacyWarningDialog.tsx
  frontend/src/services/Android/index.ts
  frontend/src/services/api/ApiAndroidClient/index.ts
  frontend/src/services/api/ApiWebClient/index.ts
  frontend/src/services/api/index.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend, lintern-android, check-android

fix: resolve order page loading race condn
  frontend/src/basic/OrderPage/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

added webhook fields
  api/migrations/0056_robot_webhook_fields.py
  api/models/robot.py
Due: none

added backend notification logic
  api/notifications.py
Due: none

fix: resolve infinite loading and show errors on order renewal
  frontend/src/components/TradeBox/Prompts/Expired.tsx
  frontend/src/components/TradeBox/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

added webhook configuration
  api/serializers.py
  api/views.py
Due: none

added webhook config
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/models/Robot.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Add webhook tests and API documentation
  api/oas_schemas.py
  tests/test_api_robot_webhook.py
Due: none

minor fixes
  tests/test_api_robot_webhook.py
Due: none

Fix webhook test authentication
  api/views.py
  tests/test_api_robot_webhook.py
Due: none

Update LNProxy relay list on 2026-02-01
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

refactor: simplify webhook implementation
  api/migrations/0056_robot_webhook_fields.py
  api/models/robot.py
  api/notifications.py
  api/oas_schemas.py
  api/serializers.py
  api/views.py
  tests/test_api_robot_webhook.py
Due: none

fix: added silent flag to suppress background loading errors
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Robot.model.ts
  frontend/src/services/api/ApiAndroidClient/index.ts
  frontend/src/services/api/ApiWebClient/index.ts
  frontend/src/services/api/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Remove Tor access details for Experimental coordinator
  docs/_pages/docs/00-quick-start/03-access.md
Due: none

fix: replace Bitcoin symbol with BTC axis label for Tor Browser compatibility
  frontend/src/components/Charts/DepthChart/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

feat: price-limit function added in backend
  api/errors.py
  api/logics.py
  api/management/commands/clean_orders.py
  api/migrations/0056_add_price_limit_fields.py
  api/models/order.py
  api/serializers.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  tests/test_trade_pipeline.py
  tests/utils/price.py
Due: none

refactor: simplify webhook implementation
  api/admin.py
  api/migrations/0056_robot_webhook_fields.py
  api/migrations/0057_robot_webhook_enabled_alter_order_escrow_duration.py
  api/models/robot.py
  api/notifications.py
  api/oas_schemas.py
  api/serializers.py
  api/tasks.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/models/Robot.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
  tests/test_api_robot_webhook.py
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: prevent satoshis_now overwrite in OrderView
  api/views.py
Due: none

feat: added nostr forwarding fields to Robot model
  api/migrations/0058_add_nostr_forward_fields.py
  api/models/robot.py
Due: none

feat: added nostr fwd API endpoints and test notifs
  api/nostr.py
  api/notifications.py
  api/serializers.py
  api/tasks.py
  api/views.py
Due: none

feat: added nostr notif fwd to main acc
  api/nostr.py
Due: none

feat: added nostr fwd fields to frontend Robot model
  frontend/src/models/Robot.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

feat: added nostr fwd settings UI
  frontend/src/components/RobotInfo/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

feat: added forwarding tests and fix relay field type
  api/migrations/0058_add_nostr_forward_fields.py
  api/models/robot.py
  api/oas_schemas.py
  docs/assets/schemas/api-latest.yaml
  tests/test_api_robot_nostr_forward.py
Due: none

fix: ensure consistent satoshis_now for range orders between maker and taker
  api/views.py
  tests/test_trade_pipeline.py
Due: none

fix(api): return empty list for empty book
  api/views.py
  tests/test_trade_pipeline.py
Due: none

feat: persist book filters and decouple maker form state
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/hooks/useBondEstimate.ts
  frontend/src/models/Maker.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

fix(merge): merge migrations in python
  api/migrations/0058_merge_20260206_1213.py
Due: none

Migrate CLN hold invoice plugin from daywalker90/holdinvoice to BoltzExchange/hold
  api/lightning/cln.py
  docker-tests.yml
  docker/cln/Dockerfile
  docker/cln/config
  docker/cln/entrypoint.sh
  scripts/generate_grpc.sh
  scripts/traditional/README.md
  scripts/traditional/regtest-nodes
Due: none

fix: remove unused random import in cln.py
  api/lightning/cln.py
Due: none

Update LNProxy relay list on 2026-02-08
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

feat: zip static files
  .dockerignore
  .gitignore
  Dockerfile
  docker-compose.yml
  docker-tests.yml
  nodeapp/nginx.conf
  robosats/settings.py
  scripts/entrypoint.sh
  scripts/traditional/templates/nginx.conf
  web/nginx.conf
Due: none

fix(frontend): normalize empty /api/book responses
  frontend/src/models/Coordinator.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

feat: Implement Garage Key functionality and account recovery
  frontend/src/basic/GaragePage/AccountNavigator.tsx
  frontend/src/basic/GaragePage/GarageKeyInput.tsx
  frontend/src/basic/GaragePage/GarageKeyOnboarding.tsx
  frontend/src/basic/GaragePage/GarageKeyProfile.tsx
  frontend/src/basic/GaragePage/index.tsx
  frontend/src/basic/RobotPage/Welcome.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/basic/Routes.tsx
  frontend/src/basic/TopBar/MenuDrawer/index.tsx
  frontend/src/basic/index.ts
  frontend/src/components/Dialogs/DeleteGarageKeyConfirmation.tsx
  frontend/src/components/Dialogs/Recovery.tsx
  frontend/src/components/Dialogs/StoreToken.tsx
  frontend/src/components/Dialogs/index.ts
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/components/TradeBox/Prompts/Expired.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/GarageKey.model.ts
  frontend/src/models/Settings.model.ts
  frontend/src/models/Slot.model.ts
  frontend/src/models/index.ts
  frontend/src/services/RoboPool/index.ts
  frontend/src/utils/accountRecovery.ts
  frontend/src/utils/garageKey.ts
  frontend/src/utils/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

refactor: Update Garage mode handling to use Garage context and remove settings dependency Ref: https://github.com/RoboSats/robosats/pull/2375#discussion_r2720434707
  frontend/src/basic/GaragePage/index.tsx
  frontend/src/basic/NavBar/DesktopBar/index.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/hooks/useLegacyMode.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Settings.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: add error handling for RobotAvatar when slot is not reusable
  frontend/src/basic/GaragePage/GarageKeyProfile.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

chore: remove unused label prop from GarageKeyInput component
  frontend/src/basic/GaragePage/GarageKeyInput.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend
