Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, prettier-mobile, isort, black, flake8

.pre-commit-config.yaml:

# TODO
# add a hook which automatically generates the OpenApi schema on API changes
# and places them in an appropriate location
exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v2.3.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      # - id: collect-phrases
      #   name: Collect i18n phrases
      #   stages:
      #     - commit
      #     - merge-commit
      #   language: system
      #   files: ^frontend/
      #   types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
      #   entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
      - id: isort
        name: isort
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: isort
      - id: black
        name: black
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: black
      - id: flake8
        name: flake8
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: flake8

swahili translations added here
  frontend/static/locales/sw.json
Due: prettier-frontend

forgotten rename
  scripts/generate_grpc.sh
Due: none

add proto files from cln repo
  scripts/generate_grpc.sh
Due: none

Update fr.json
  frontend/static/locales/fr.json
Due: prettier-frontend

Add Swahili translation (#819)
  frontend/static/locales/sw.json
Due: prettier-frontend

Enable Swahili
  frontend/src/components/SettingsForm/SelectLanguage.tsx
  frontend/src/i18n/Native.js
  frontend/src/models/Settings.model.ts
  frontend/static/locales/sw.json
Due: prettier-frontend

Update fr.json (#823)
  frontend/static/locales/fr.json
Due: prettier-frontend

Fix malformed French translation
  frontend/static/locales/fr.json
Due: prettier-frontend

add CLN_GRPC_HOLD_HOST to .env-sample
  .env-sample
Due: none

Update to newer CLN hold plugin (#816)
  .env-sample
  api/lightning/cln.py
  docker/cln/Dockerfile
  docker/cln/config
  docker/cln/entrypoint.sh
  scripts/generate_grpc.sh
Due: isort, black, flake8

Bump CLN docker to v23.08 and other fixes
  docker/cln/Dockerfile
  robosats/middleware.py
  robosats/settings.py
Due: isort, black, flake8

Fix simplify CLN Dockerfile
  docker/cln/Dockerfile
Due: none

Drop django-timezone-field dependency
  requirements.txt
Due: none

Add migrations for new Order logs and Robot avatar defaults
  api/migrations/0042_alter_order_logs_alter_robot_avatar.py
Due: none

Add coordinator maintainance notice
  .env-sample
  api/views.py
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/components/Dialogs/Notice.tsx
  frontend/src/components/Dialogs/index.ts
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Info.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend, isort, black, flake8

Improve hodl invoice description
  api/logics.py
Due: isort, black, flake8

Bump to v0.5.2
  frontend/package-lock.json
  frontend/package.json
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/package.json
  release_notes.md
  version.json
Due: prettier-frontend, prettier-mobile

Fix contract finalization logging
  api/logics.py
Due: isort, black, flake8

Fix order status change must happen exactly when last sats update on contract finalization
  api/logics.py
  api/views.py
Due: isort, black, flake8

Perf reduce DB writes on last_login updates
  robosats/middleware.py
Due: isort, black, flake8

Add option to disable order logging
  .env-sample
  api/models/order.py
Due: isort, black, flake8

Fix last_login is None on update last login
  robosats/middleware.py
Due: isort, black, flake8

Fix list out of range on contract formalized order logging
  api/logics.py
Due: isort, black, flake8

Fix order logging on automatic dispute resolution slashed bonds
  api/logics.py
Due: isort, black, flake8

after pre-commit cleanup
  frontend/src/components/Dialogs/Stats.tsx
Due: prettier-frontend

Use amboss.space onion link in Stats (#859)
  frontend/src/components/Dialogs/Stats.tsx
Due: prettier-frontend

Add federation basis and new coordinator form (#793)
  federation.md
Due: none

Federation robots (#635)
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/Icons/index.ts
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/services/api/ApiWebClient/index.ts
  nodeapp/nginx.conf
Due: prettier-frontend

Add use sorted coordinators on book and maker page
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/utils/federationLottery.ts
  frontend/static/federation.json
Due: prettier-frontend

Improve main readability
  frontend/src/basic/Main.tsx
  frontend/src/basic/index.ts
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/RobotInfo/index.tsx
Due: prettier-frontend

Add tldr to coordinator on book and maker pages
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
Due: prettier-frontend

Fix federation limits
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Limit.model.ts
Due: prettier-frontend

Enable on pull request JS linter
  .github/workflows/js-linter.yml
Due: none

Add coordinator selection component to maker form
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/models/Maker.model.ts
Due: prettier-frontend

Add coordinator lottery sorting
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/components/MakerForm/AmountRange.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/utils/federationLottery.ts
  frontend/src/utils/index.ts
Due: prettier-frontend

Add selfhosted logics for federation endpoints
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/index.ts
  frontend/static/federation.json
  nodeapp/coordinators/temp/upstreams.conf
  nodeapp/nginx.conf
Due: prettier-frontend

Fix and adapt order page and navigation to federation
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/contexts/AppContext.ts
Due: prettier-frontend

Fix routing in selfhosted app for multi-coordinators
  docker-compose.yml
  nodeapp/Dockerfile
  nodeapp/coordinators/exp/locations.conf
  nodeapp/coordinators/exp/upstreams.conf
  nodeapp/coordinators/temp/locations.conf
  nodeapp/coordinators/temp/upstreams.conf
  nodeapp/docker-compose.yml
  nodeapp/nginx.conf
  nodeapp/robosats-client.sh
Due: none
