Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile

collect-phrases:
  name: Collect i18n phrases
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'

prettier-frontend:
  name: prettier-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

prettier-mobile:
  name: prettier-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run format'

Add external coordinator (#1297)
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Slot.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Fix custom Coordinator error
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Check tests
  tests/test_trade_pipeline.py
  tests/utils/trade.py
Due: none

Fix RegExp
  frontend/src/basic/SettingsPage/index.tsx
Due: collect-phrases, prettier-frontend

Fix Tests
  tests/test_trade_pipeline.py
Due: none

chore: add lightning protobuf files in gitignore (#1342)
  .gitignore
Due: none

Fix Avatar
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
Due: collect-phrases, prettier-frontend

Fix Chat
  tests/test_trade_pipeline.py
Due: none

Remove unused notifications
  tests/test_trade_pipeline.py
Due: none

fix verify_signed_message
  api/utils.py
  tests/robots/1/signed_message
Due: none

Fix chat
  tests/test_trade_pipeline.py
Due: none

Feat: add notifications api endpoint (#1347)
  api/management/commands/telegram_watcher.py
  api/migrations/0047_notification.py
  api/models/__init__.py
  api/models/notification.py
  api/notifications.py
  api/oas_schemas.py
  api/serializers.py
  api/tasks.py
  api/urls.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  tests/test_trade_pipeline.py
  tests/utils/trade.py
Due: none

Add cancel_status to POST /api/order
  api/logics.py
  api/oas_schemas.py
  api/serializers.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  frontend/src/components/TradeBox/index.tsx
  robosats/settings.py
  tests/test_trade_pipeline.py
  tests/utils/trade.py
Due: collect-phrases, prettier-frontend

Fix build-it in
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/services/api/ApiNativeClient/index.ts
Due: collect-phrases, prettier-frontend

Fix autocomplete
  frontend/src/components/MakerForm/AutocompletePayments.tsx
Due: collect-phrases, prettier-frontend

New notifications
  api/admin.py
  api/models/order.py
  api/notifications.py
  api/serializers.py
  api/tasks.py
  api/views.py
  tests/test_trade_pipeline.py
  tests/utils/trade.py
Due: none

Fix endpoint fields
  api/migrations/0048_alter_order_reference.py
  api/serializers.py
  api/views.py
  docker-tests.yml
  docs/assets/schemas/api-latest.yaml
Due: none

Test fix
  api/serializers.py
  api/views.py
Due: none

Test trigger
  tests/utils/trade.py
Due: none

Update test comment
  tests/test_trade_pipeline.py
Due: none

Web notifications
  frontend/src/components/Notifications/index.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/index.ts
  frontend/src/services/api/index.ts
Due: collect-phrases, prettier-frontend

Use nostr as cache system
  api/logics.py
  api/migrations/0048_alter_order_reference.py
  api/nostr.py
  api/tasks.py
  docker-compose.yml
  docker-tests.yml
  nodeapp/rnostr/config/rnostr.toml
  requirements.txt
  tests/test_trade_pipeline.py
  tests/utils/trade.py
Due: none

Prepare for other events
  api/nostr.py
  api/tasks.py
Due: none

small fix in get_exchange_rates
  api/utils.py
Due: none

remove leftover of avatar generator
  api/models/robot.py
Due: none

small fix in get_exchange_rates (#1365)
  api/utils.py
Due: none

remove leftover of avatar generator (#1366)
  api/models/robot.py
Due: none

Update coordinator temple of sats
  frontend/src/components/SettingsForm/index.tsx
  frontend/static/federation.json
Due: collect-phrases, prettier-frontend

Bump to v0.6.3
  frontend/package-lock.json
  frontend/package.json
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/package.json
  release_notes.md
  version.json
Due: prettier-frontend, prettier-mobile

Update api specs version
  docs/assets/schemas/api-latest.yaml
Due: none

Bump numpy
  requirements.txt
Due: none

Set cancel_status if it's not None
  tests/utils/trade.py
Due: none

Fix temporary silence to integration tests
  .github/workflows/release.yml
Due: none

Fix re-enable tests on release
  .github/workflows/release.yml
Due: none

Add TOTP to admin panel
  requirements.txt
  robosats/settings.py
  robosats/urls.py
Due: none

Android notification system
  mobile/android/app/build.gradle
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/main/java/com/robosats/MainActivity.java
  mobile/android/app/src/main/java/com/robosats/workers/NotificationWorker.java
  mobile/patch_modules/react-native-tor/android/build.gradle
Due: none

Path conditions:
  collect-phrases: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((api|chat|control)/migrations/.*)
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  prettier-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
