Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile

.pre-commit-config.yaml:

exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v2.3.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.11
    hooks:
    - id: ruff
      stages:
        - commit
        - merge-commit
      language: system
      args: [ --fix ]
      types: [python]
    - id: ruff-format
      stages:
        - commit
        - merge-commit
      language: system
      types: [python]

add api info entries for limits and swap availability
  api/serializers.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
Due: none

Add size limits and onchain swap status to coordinator prof
  api/views.py
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Fix max swap amount var name
  api/views.py
Due: none

Update templeofsats tg handle
  frontend/static/federation.json
Due: prettier-frontend

Update dispute prompt contacts
  frontend/src/components/TradeBox/Prompts/Dispute.tsx
  frontend/src/components/TradeBox/Prompts/DisputeLoser.tsx
  frontend/src/components/TradeBox/Prompts/DisputeWaitResolution.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

update temple of sats
  frontend/static/federation.json
  frontend/static/federation/avatars/temple.small.webp
  frontend/static/federation/avatars/temple.webp
Due: prettier-frontend

Update ca.json
  frontend/static/locales/ca.json
Due: prettier-frontend

Add coordinator: BitcoinVeneto
  frontend/static/federation.json
  frontend/static/federation/avatars/veneto.small.webp
  frontend/static/federation/avatars/veneto.webp
  frontend/static/federation/pgp/498E269DDDF63969A215FED32A2C489EAF23D549.asc
  nodeapp/coordinators/veneto/locations.conf
  nodeapp/coordinators/veneto/upstreams.conf
  nodeapp/nginx.conf
  nodeapp/robosats-client.sh
Due: prettier-frontend

fix change veneto coordinator badges
  frontend/static/federation.json
Due: prettier-frontend

Update 07-wallets.md
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Change comment types in masthead.html
  docs/_includes/masthead.html
Due: none

fix comments on doc multilang
  docs/_includes/masthead.html
Due: none

Fix coordinator selector on Maker page
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Exchange.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/utils/filterOrders.ts
Due: collect-phrases, prettier-frontend

Refactor onUpdate naming
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend

update bitcoinveneto contact methods
  frontend/static/federation.json
Due: prettier-frontend

Fix coordinator selector maker page (#1157)
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/MakerForm/SelectCoordinator.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Exchange.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/utils/filterOrders.ts
Due: collect-phrases, prettier-frontend

Fix loading Robot orders
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/models/Coordinator.model.ts
Due: collect-phrases, prettier-frontend

remove logs
  frontend/src/basic/RobotPage/RobotProfile.tsx
Due: collect-phrases, prettier-frontend

Update 07-wallets.md (#1152)
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

feat: move looking for orders loading bar
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Fix loading robots (#1166)
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

makes filtering by MULTIPLE PAYMENT METHODS possible without great impact in the current experience on DESKTOP only
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
Due: collect-phrases, prettier-frontend

Make the payments autocomplete header text independant on isFilter prop
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
Due: collect-phrases, prettier-frontend

Fix undefined prices error
  frontend/src/models/Limit.model.ts
Due: collect-phrases, prettier-frontend

Add loading robot profile
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Typo
  frontend/src/components/Dialogs/Profile.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Add loading robot profile (#1176)
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend

Update 07-wallets.md (#1088)
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Fix undefined prices error (#1173)
  frontend/src/models/Limit.model.ts
Due: collect-phrases, prettier-frontend

Makes filtering by multiple payment methods in desktop possible (#1172)
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
Due: collect-phrases, prettier-frontend

docs: fix wallet table
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Fix order navbar
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
Due: collect-phrases, prettier-frontend

Fix renew order refresh
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/components/TradeBox/index.tsx
Due: collect-phrases, prettier-frontend

Fix federation summary
  frontend/src/components/Dialogs/Exchange.tsx
  frontend/src/models/Exchange.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/utils/aggregateInfo.ts
Due: collect-phrases, prettier-frontend

Fix federation summary
  frontend/src/components/Dialogs/Exchange.tsx
Due: collect-phrases, prettier-frontend

Fix order navbar (#1178)
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
Due: collect-phrases, prettier-frontend

Fix renew order refresh (#1179)
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/components/TradeBox/index.tsx
Due: collect-phrases, prettier-frontend
