Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, lintern-frontend, lintern-android, check-android

.pre-commit-config.yaml:

exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/|^mobile/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: lintern-frontend
        name: lintern-frontend
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run lint'
      - id: lintern-android
        name: lintern-android
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^android/
        types_or: [kotlin]
        entry: bash -c 'cd android && ./gradlew lint'
      - id: check-android
        name: check-android
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^android/
        types_or: [kotlin]
        entry: bash -c 'cd android && ./gradlew check'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.13
    hooks:
    - id: ruff
      stages:
        - pre-commit
        - pre-merge-commit
      language: system
      args: [ --fix ]
      types: [python]
    - id: ruff-format
      stages:
        - pre-commit
        - pre-merge-commit
      language: system
      types: [python]

v0.8.3-alpha
  .pre-commit-config.yaml
  android/app/build.gradle.kts
  desktopApp/package-lock.json
  desktopApp/package.json
  docs/assets/schemas/api-latest.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
  release_notes.md
Due: collect-phrases, prettier-frontend, lintern-frontend, lintern-android, check-android

Fix CI
  .github/workflows/frontend-build.yml
Due: none

Use tor to resolve DNS
  api/utils.py
Due: none

Fix version
  version.json
Due: none

feat: Implement dynamic default sorting for offer book
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix: Respect user's sort selection when offer type changes
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

feat: Add new feedback messages translations
  docs/_pages/docs/01-best-practices/02-payment-methods.md
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend, lintern-frontend

Correctly clean maker form
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/models/Maker.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Clear type
  frontend/src/components/MakerForm/MakerForm.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Update LNProxy relay list on 2025-12-14
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Fix header name
  frontend/src/components/FederationTable/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Update nodeapp
  frontend/src/components/OrderDetails/index.tsx
  frontend/static/federation.json
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
  nodeapp/coordinators/alice/locations.conf
  nodeapp/coordinators/alice/upstreams.conf
  nodeapp/coordinators/whiteyesats/locations.conf
  nodeapp/coordinators/whiteyesats/upstreams.conf
  nodeapp/nginx.conf
Due: collect-phrases, prettier-frontend, lintern-frontend

Update LNProxy relay list on 2025-12-21
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

feat: add real-time bond estimation to order form
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/utils/bondCalculator.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Add Binance and DANA payment methods
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/components/PaymentMethods/MethodList.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

refactor: unify order amount selection using has_range in OrderDetails
  frontend/src/components/OrderDetails/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Update LNProxy relay list on 2025-12-28
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Clear payment methods on mode change
  frontend/src/components/MakerForm/MakerForm.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Update LNProxy relay list on 2026-01-04
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

feat: display global snackbar notification on API failures (fixes #2106)
  frontend/src/App.tsx
  frontend/src/services/api/ApiWebClient/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

style: apply pre-commit formatting
  frontend/src/App.tsx
  frontend/src/services/api/ApiWebClient/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

update traditional scripts
  development/setup.md
  scripts/traditional/strfry-sync-external
  scripts/traditional/strfry-sync-federation
Due: none

feat: implement Pro Toolbar with Import/Export settings
  frontend/src/pro/ToolBar/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

feat: apply error handling logic to androidclient
  frontend/src/services/api/ApiAndroidClient/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: resolve typescript type mismatch for request method
  frontend/src/services/api/ApiAndroidClient/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: correct exchange rate calculation for taken range orders
  frontend/src/components/OrderDetails/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

remove comments as requested
  frontend/src/App.tsx
  frontend/src/services/api/ApiAndroidClient/index.ts
  frontend/src/services/api/ApiWebClient/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

config: Replace the problematic location block with upstream in nginx.conf
  nodeapp/nginx.conf
Due: none

fix: use 127.0.0.1 instead of localhost to match socat bindings
  nodeapp/coordinators/alice/upstreams.conf
  nodeapp/coordinators/bazaar/upstreams.conf
  nodeapp/coordinators/freedomsats/upstreams.conf
  nodeapp/coordinators/lake/upstreams.conf
  nodeapp/coordinators/moon/upstreams.conf
  nodeapp/coordinators/temple/upstreams.conf
  nodeapp/coordinators/veneto/upstreams.conf
  nodeapp/coordinators/whiteyesats/upstreams.conf
Due: none

feat: display bond % stacked under premium on mobile
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

added dotted bg
  frontend/src/pro/Main.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

refactor: extract bond calculation to a custom hook
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/hooks/useBondEstimate.ts
  frontend/src/utils/bondCalculator.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: improve sort persistence and initial unsorted state
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Update LNProxy relay list on 2026-01-11
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

chore(deps): bump react-router and react-router-dom
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, lintern-frontend

fix: change bond amount calculation to use Math.floor for consistency
  frontend/src/utils/bondCalculator.ts
Due: collect-phrases, prettier-frontend, lintern-frontend
