Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, lintern-frontend, prettier-mobile, lintern-mobile

.pre-commit-config.yaml:

exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/|^mobile/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: lintern-frontend
        name: lintern-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run lint'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
      - id: lintern-mobile
        name: lintern-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run lint'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.13
    hooks:
    - id: ruff
      stages:
        - commit
        - merge-commit
      language: system
      args: [ --fix ]
      types: [python]
    - id: ruff-format
      stages:
        - commit
        - merge-commit
      language: system
      types: [python]

Loan JSON map on demand
  frontend/src/components/Map/index.tsx
  frontend/src/contexts/AppContext.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Better information when sclosing trade
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/SettingsPage/Coordinators.tsx
  frontend/src/components/TradeBox/Dialogs/ConfirmFiatReceived.tsx
  frontend/src/components/TradeBox/Dialogs/ConfirmFiatSent.tsx
  frontend/src/components/TradeBox/Prompts/Chat.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Remember hidden selfhosted alert
  frontend/src/components/HostAlert/SelfhostedAlert.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Finally fix RobotAvatar
  frontend/src/components/Dialogs/GoToOrder.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Bump eslint
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, lintern-frontend

ES
  frontend/static/locales/es.json
Due: prettier-frontend, lintern-frontend

CS and DE
  frontend/src/basic/OrderPage/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

CEU, FR and IT
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
Due: prettier-frontend, lintern-frontend

Refresh
  frontend/src/components/Dialogs/Client.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Refresh All
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/Dialogs/Client.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Movile nav bar
  frontend/src/basic/DesktopBar/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/NavBar/AppBar/index.tsx
  frontend/src/basic/NavBar/DesktopBar/MoreTooltip.tsx
  frontend/src/basic/NavBar/DesktopBar/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/NavBar/index.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/HostAlert/UnsafeAlert.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Slot.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Best distribution
  frontend/src/basic/NavBar/AppBar/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Robot garage in mobile navbar
  frontend/src/basic/NavBar/AppBar/index.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/models/Garage.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

v0.8.0-alpha
  desktopApp/package-lock.json
  desktopApp/package.json
  docs/assets/schemas/api-latest.yaml
  frontend/package-lock.json
  frontend/package.json
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/package.json
  release_notes.md
  version.json
Due: prettier-frontend, lintern-frontend, prettier-mobile, lintern-mobile

Enforce nostr pubkey in header
  robosats/middleware.py
Due: none

Keep nostr updated
  frontend/src/basic/NavBar/AppBar/index.tsx
  robosats/middleware.py
Due: collect-phrases, prettier-frontend, lintern-frontend

Better comments
  robosats/middleware.py
Due: none

Avoid unnecesary DB queries
  robosats/middleware.py
Due: none

Update LNProxy relay list on 2025-07-13
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Fix navbar color
  frontend/src/basic/NavBar/AppBar/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Update README.md
  development/README.md
Due: none

WebView squeleton
  mobile_new/.gitignore
  mobile_new/app/.gitignore
  mobile_new/app/build.gradle.kts
  mobile_new/app/proguard-rules.pro
  mobile_new/app/src/androidTest/java/com/koalasat/robosats/ExampleInstrumentedTest.kt
  mobile_new/app/src/main/AndroidManifest.xml
  mobile_new/app/src/main/java/com/koalasat/robosats/MainActivity.kt
  mobile_new/app/src/main/res/drawable/ic_launcher_background.xml
  mobile_new/app/src/main/res/drawable/ic_launcher_foreground.xml
  mobile_new/app/src/main/res/layout/activity_main.xml
  mobile_new/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  mobile_new/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  mobile_new/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  mobile_new/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  mobile_new/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  mobile_new/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  mobile_new/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  mobile_new/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  mobile_new/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  mobile_new/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  mobile_new/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  mobile_new/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  mobile_new/app/src/main/res/values-night/themes.xml
  mobile_new/app/src/main/res/values/colors.xml
  mobile_new/app/src/main/res/values/strings.xml
  mobile_new/app/src/main/res/values/themes.xml
  mobile_new/app/src/main/res/xml/backup_rules.xml
  mobile_new/app/src/main/res/xml/data_extraction_rules.xml
  mobile_new/app/src/main/res/xml/network_security_config.xml
  mobile_new/app/src/test/java/com/koalasat/robosats/ExampleUnitTest.kt
  mobile_new/build.gradle.kts
  mobile_new/gradle.properties
  mobile_new/gradle/libs.versions.toml
  mobile_new/gradle/wrapper/gradle-wrapper.jar
  mobile_new/gradle/wrapper/gradle-wrapper.properties
  mobile_new/gradlew
  mobile_new/gradlew.bat
  mobile_new/settings.gradle.kts
Due: none

Remove
  mobile_new/html/Web.bundle/assets/federation/avatars/bazaar.small.webp
  mobile_new/html/Web.bundle/assets/federation/avatars/bazaar.webp
  mobile_new/html/Web.bundle/assets/federation/avatars/exp.small.webp
  mobile_new/html/Web.bundle/assets/federation/avatars/exp.webp
  mobile_new/html/Web.bundle/assets/federation/avatars/freedomsats.small.webp
  mobile_new/html/Web.bundle/assets/federation/avatars/freedomsats.webp
  mobile_new/html/Web.bundle/assets/federation/avatars/lake.small.webp
  mobile_new/html/Web.bundle/assets/federation/avatars/lake.webp
  mobile_new/html/Web.bundle/assets/federation/avatars/local.small.webp
  mobile_new/html/Web.bundle/assets/federation/avatars/local.webp
  mobile_new/html/Web.bundle/assets/federation/avatars/moon.small.webp
  mobile_new/html/Web.bundle/assets/federation/avatars/moon.webp
  mobile_new/html/Web.bundle/assets/federation/avatars/mostro.small.webp
  mobile_new/html/Web.bundle/assets/federation/avatars/mostro.webp
  mobile_new/html/Web.bundle/assets/federation/avatars/p2plightning.small.webp
  mobile_new/html/Web.bundle/assets/federation/avatars/p2plightning.webp
  mobile_new/html/Web.bundle/assets/federation/avatars/peach.small.webp
  mobile_new/html/Web.bundle/assets/federation/avatars/peach.webp
  mobile_new/html/Web.bundle/assets/federation/avatars/satstralia.small.webp
  mobile_new/html/Web.bundle/assets/federation/avatars/satstralia.webp
  mobile_new/html/Web.bundle/assets/federation/avatars/temple.small.webp
  mobile_new/html/Web.bundle/assets/federation/avatars/temple.webp
  mobile_new/html/Web.bundle/assets/federation/avatars/veneto.small.webp
  mobile_new/html/Web.bundle/assets/federation/avatars/veneto.webp
  mobile_new/html/Web.bundle/assets/federation/pgp/19D833CB2258715B4E627291942B7D51A8533742.asc
  mobile_new/html/Web.bundle/assets/federation/pgp/25791752E9661C1DE118A8C6F78CD3D6471B6789.asc
  mobile_new/html/Web.bundle/assets/federation/pgp/48339A19645E2E53488E0E5479E1B270FACD1BD2.asc
  mobile_new/html/Web.bundle/assets/federation/pgp/498E269DDDF63969A215FED32A2C489EAF23D549.asc
  mobile_new/html/Web.bundle/assets/federation/pgp/9D3D3BAF4744305EE3F0B837331AB575DD78D930.asc
  mobile_new/html/Web.bundle/assets/federation/pgp/B4AB5F19113D4125DDF217739C4585B561315571.asc
  mobile_new/html/Web.bundle/assets/federation/pgp/C6894FC235E06C4FC2FE77916FA7713E574EDEC3.asc
  mobile_new/html/Web.bundle/assets/federation/pgp/D1894C9862A9D02D47D96C84AE30B6904210DA14.asc
  mobile_new/html/Web.bundle/assets/federation/pgp/EC4F94F629AA28242B54265F1ABE1CA3582A031A.asc
Due: none

TS <> Korlin communication
  frontend/package-lock.json
  frontend/package.json
  frontend/src/geo/Mobile.js
  frontend/src/i18n/Mobile.js
  frontend/src/services/Android/index.ts
  frontend/src/services/Roboidentities/Android.ts
  frontend/src/services/Roboidentities/RoboidentitiesAndroidClient/index.ts
  frontend/src/services/System/SystemAndroidClient/index.ts
  frontend/src/services/System/index.ts
  frontend/webpack.config.ts
  mobile_new/app/src/main/java/com/koalasat/robosats/MainActivity.kt
  mobile_new/app/src/main/java/com/koalasat/robosats/tor/WebAppInterface.kt
Due: collect-phrases, prettier-frontend, lintern-frontend

Working
  frontend/src/services/Android/index.ts
  frontend/src/services/Roboidentities/RoboidentitiesAndroidClient/index.ts
  mobile_new/app/build.gradle.kts
  mobile_new/app/src/androidTest/java/com/koalasat/robosats/ExampleInstrumentedTest.kt
  mobile_new/app/src/main/AndroidManifest.xml
  mobile_new/app/src/main/java/com/robosats/MainActivity.kt
  mobile_new/app/src/main/java/com/robosats/RoboIdentities.kt
  mobile_new/app/src/main/java/com/robosats/WebAppInterface.kt
  mobile_new/app/src/main/java/com/robosats/tor/EnumTorState.kt
  mobile_new/app/src/main/java/com/robosats/tor/TorKmpManager.kt
  mobile_new/app/src/main/java/com/robosats/tor/TorState.kt
  mobile_new/app/src/main/res/layout/activity_main.xml
  mobile_new/app/src/test/java/com/koalasat/robosats/ExampleUnitTest.kt
Due: collect-phrases, prettier-frontend, lintern-frontend

Working robohash
  frontend/src/services/Roboidentities/RoboidentitiesAndroidClient/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Clipboard
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/services/Android/index.ts
  frontend/src/services/System/SystemAndroidClient/index.ts
  mobile_new/app/src/main/java/com/robosats/WebAppInterface.kt
Due: collect-phrases, prettier-frontend, lintern-frontend

New Tor icon
  docs/header-menu-jsons/navigation.json
  docs/header-menu-jsons/navigation_es.json
  docs/header-menu-jsons/navigation_fr.json
  docs/header-menu-jsons/navigation_pt.json
  frontend/src/App.tsx
  frontend/src/basic/DesktopBar/index.tsx
  frontend/src/basic/NavBar/AppBar/index.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/TorConnection/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/static/federation.json
  frontend/static/lnproxies.json
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Loading screen
  mobile_new/app/src/main/java/com/robosats/MainActivity.kt
  mobile_new/app/src/main/res/layout/activity_main.xml
Due: none

Clear code
  frontend/src/components/TorConnection/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Notifications button
  frontend/src/App.tsx
  frontend/src/components/NotificationSwitch/index.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

UX imrovements
  frontend/src/basic/Main.tsx
  frontend/src/basic/NavBar/index.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/SettingsPage/Coordinators.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Tor state
  frontend/src/basic/Routes.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/services/Android/index.ts
  mobile_new/app/src/main/java/com/robosats/WebAppInterface.kt
Due: collect-phrases, prettier-frontend, lintern-frontend

Security checks
  frontend/src/contexts/AppContext.tsx
  mobile_new/app/src/main/java/com/robosats/MainActivity.kt
  mobile_new/app/src/main/java/com/robosats/WebAppInterface.kt
Due: collect-phrases, prettier-frontend, lintern-frontend

websockets
  frontend/src/services/Android/index.ts
  frontend/src/services/Websocket/WebsocketAndroidClient/index.ts
  frontend/src/services/Websocket/index.ts
  mobile_new/app/build.gradle.kts
  mobile_new/app/src/main/java/com/robosats/MainActivity.kt
  mobile_new/app/src/main/java/com/robosats/WebAppInterface.kt
  mobile_new/gradle/libs.versions.toml
Due: collect-phrases, prettier-frontend, lintern-frontend
