Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, lintern-frontend, lintern-android, check-android

.pre-commit-config.yaml:

exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/|^mobile/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: lintern-frontend
        name: lintern-frontend
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run lint'
      - id: lintern-android
        name: lintern-android
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^android/
        types_or: [kotlin]
        entry: bash -c 'cd android && ./gradlew lint'
      - id: check-android
        name: check-android
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^android/
        types_or: [kotlin]
        entry: bash -c 'cd android && ./gradlew check'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.13
    hooks:
    - id: ruff
      stages:
        - pre-commit
        - pre-merge-commit
      language: system
      args: [ --fix ]
      types: [python]
    - id: ruff-format
      stages:
        - pre-commit
        - pre-merge-commit
      language: system
      types: [python]

Remove @mui/base
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/MakerForm/AutocompletePayments.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

chore(frontend): dependency audit P1+P2 — safe patches/minors + nostr-tools migration
  frontend/AGENTS.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/models/Slot.model.ts
  frontend/src/utils/AGENTS.md
  frontend/src/utils/nostr.ts
  frontend/static/AGENTS.md
Due: collect-phrases, prettier-frontend, lintern-frontend

Expose DEVFUND in GET /api/info
  .env-sample
  api/AGENTS.md
  api/oas_schemas.py
  api/serializers.py
  api/tests/test_info.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  federation.md
Due: none

Plumb devfund probes into lottery
  frontend/src/models/Coordinator.model.ts
  frontend/src/services/AGENTS.md
  frontend/src/services/DevFundProfile.ts
  frontend/src/utils/AGENTS.md
  frontend/src/utils/federationLottery.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Federation live devfund weights
  frontend/src/models/AGENTS.md
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Rank default host from live devfund
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/contexts/AGENTS.md
  frontend/src/contexts/FederationContext.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/static/AGENTS.md
Due: collect-phrases, prettier-frontend, lintern-frontend

Reuse loadInfo for devfund probe
  frontend/src/models/AGENTS.md
  frontend/src/models/Coordinator.model.ts
  frontend/src/services/AGENTS.md
  frontend/src/services/DevFundProfile.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: store order logs as JSON instead of HTML (resolves XSS)
  api/admin.py
  api/lightning/cln.py
  api/lightning/lnd.py
  api/logics.py
  api/management/commands/follow_invoices.py
  api/models/order.py
  api/tests/test_utils.py
  api/utils.py
Due: none

Weight lottery by actual sats donated (devfund% × fee rate)
  frontend/src/models/Federation.model.ts
  frontend/src/utils/federationLottery.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Upgrae django and pillow
  requirements.txt
  requirements_dev.txt
Due: none

Upgrae backend minor libraries
  requirements.txt
  requirements_dev.txt
Due: none

Bump numpy 2.5.2
  requirements.txt
Due: none

Run tests
  .github/workflows/integration-tests.yml
Due: none

Fix CI
  .github/workflows/integration-tests.yml
  docker-tests.yml
Due: none

Fix dependencies
  .github/workflows/integration-tests.yml
  requirements.txt
Due: none

Fix frontend tests
  .github/workflows/integration-tests.yml
Due: none

Bump Redis 7.2.1
  requirements.txt
Due: none

Bump nostr-tools 0.45.0
  api/nostr.py
  requirements.txt
Due: none

Bump gunicorn 26.0
  requirements.txt
Due: none

Bump sidecar 2026.08.1
  requirements.txt
Due: none

Secutirty audit hygiene
  .github/dependabot.yml
  requirements_dev.txt
Due: none

Bump grpcio 1.83.0
  requirements.txt
  tests/test_grpc_stubs.py
Due: none

Dependabot security fixes
  desktopApp/index.js.map
  desktopApp/package-lock.json
  desktopApp/package.json
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: prettier-frontend, lintern-frontend

CI checks
  .github/workflows/js-linter.yml
Due: none

v0.8.6-alpha
  android/app/build.gradle.kts
  desktopApp/package-lock.json
  desktopApp/package.json
  docs/assets/schemas/api-latest.yaml
  frontend/package-lock.json
  frontend/package.json
  release_notes.md
  version.json
Due: prettier-frontend, lintern-frontend, lintern-android, check-android

Fix Desktop build
  .github/workflows/desktop-build.yml
Due: none

Fix nostr
  api/nostr.py
  api/tests/test_nostr.py
Due: none

Fix nostr tests
  api/tests/test_nostr.py
Due: none

Fix CLN race condition
  api/lightning/cln.py
  api/tests/test_lightning_node.py
Due: none

Fix tests
  api/lightning/cln.py
  api/tests/test_lightning_node.py
Due: none

Fix tests
  api/tests/test_lightning_node.py
Due: none

Bump CI workflows
  .github/workflows/AGENTS.md
  .github/workflows/android-build.yml
  .github/workflows/codeql.yml
  .github/workflows/coordinator-image.yml
  .github/workflows/desktop-build.yml
  .github/workflows/frontend-build.yml
  .github/workflows/integration-tests.yml
  .github/workflows/js-linter.yml
  .github/workflows/lnproxy-sync.yml
  .github/workflows/release.yml
  .github/workflows/selfhosted-client-image.yml
  .github/workflows/web-client-image.yml
Due: none

Bump Desktop dependencies
  desktopApp/index.js
  desktopApp/index.js.map
  desktopApp/index.ts
  desktopApp/package-lock.json
  desktopApp/package.json
  desktopApp/tsconfig.json
Due: none

Run CI build
  .github/workflows/desktop-build.yml
Due: none

upgrade adaptations
  frontend/package-lock.json
  frontend/src/basic/NavBar/DesktopBar/MoreTooltip.tsx
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/ChatHeader/index.tsx
  frontend/src/components/TradeBox/Forms/LightningPayout.tsx
  frontend/src/components/TradeBox/Prompts/Payout.tsx
  frontend/src/components/TradeBox/Prompts/RoutingFailed.tsx
  frontend/src/components/TradeBox/Prompts/SendingSats.tsx
  frontend/src/components/TradeBox/Prompts/Successful.tsx
  frontend/src/components/TradeBox/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Use RelayUrl in nostr add_relay
  api/nostr.py
  api/tests/test_nostr.py
Due: none
