Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, prettier-mobile, isort, black, flake8

prettier-frontend:
  name: prettier-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

prettier-mobile:
  name: prettier-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run format'

isort:
  name: isort
  stages:
  - commit
  - merge-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  - merge-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  - merge-commit
  language: system
  entry: flake8

Fix book header labels (#750)
  frontend/src/components/BookTable/index.tsx
Due: prettier-frontend

fix(booktable): memoized swap/fiat columns
  frontend/src/components/BookTable/index.tsx
Due: prettier-frontend

feat(api/db); add hash_id order field
  api/admin.py
  api/migrations/0040_robot_hash_id.py
  api/models/robot.py
Due: isort, black, flake8

feat(api/db); add hash_id order field (#763)
  api/admin.py
  api/migrations/0040_robot_hash_id.py
  api/models/robot.py
Due: isort, black, flake8

Append hash_id to existing robots on first login after upgrade
  frontend/src/components/RobotAvatar/RobohashGenerator.ts
  frontend/src/contexts/AppContext.ts
  robosats/middleware.py
Due: prettier-frontend, isort, black, flake8

Small fixes
  frontend/src/components/RobotAvatar/RobohashGenerator.ts
  frontend/src/components/RobotAvatar/index.tsx
Due: prettier-frontend

Add robot hash_id field
  frontend/src/components/RobotAvatar/RobohashGenerator.ts
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/RobotAvatar/robohash.worker.ts
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Robot.model.ts
  robosats/middleware.py
Due: prettier-frontend, isort, black, flake8

Add robohash webworker
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/RobotAvatar/RobohashGenerator.ts
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/RobotAvatar/robohash.worker.ts
  frontend/src/contexts/AppContext.ts
  frontend/tsconfig.json
  frontend/webpack.config.ts
Due: prettier-frontend

fix(infoview): 0 if marketticks are none
  api/views.py
Due: isort, black, flake8

Add more logs. Format as table.
  api/admin.py
  api/logics.py
  api/models/order.py
Due: isort, black, flake8

add logs field
  api/admin.py
  api/migrations/0041_order_logs.py
  api/models/order.py
Due: isort, black, flake8

Add more logs
  api/admin.py
  api/lightning/cln.py
  api/lightning/lnd.py
  api/logics.py
  api/management/commands/clean_orders.py
  api/models/order.py
Due: isort, black, flake8

Log some order events
  api/admin.py
  api/logics.py
  api/models/order.py
  api/views.py
Due: isort, black, flake8

Add lasts set of logs
  api/admin.py
  api/lightning/cln.py
  api/lightning/lnd.py
  api/logics.py
  api/models/market_tick.py
  api/tasks.py
  api/utils.py
Due: isort, black, flake8

Add admin panel hyperlinks to order logs
  api/admin.py
  api/logics.py
  api/models/order.py
  api/utils.py
  api/views.py
Due: isort, black, flake8

Some fixes
  api/logics.py
  api/management/commands/follow_invoices.py
  api/utils.py
Due: isort, black, flake8

feat(coordinator): add verbose order logs as table to admin (#764)
  api/admin.py
  api/lightning/cln.py
  api/lightning/lnd.py
  api/logics.py
  api/management/commands/clean_orders.py
  api/management/commands/follow_invoices.py
  api/migrations/0041_order_logs.py
  api/models/market_tick.py
  api/models/order.py
  api/tasks.py
  api/utils.py
  api/views.py
Due: isort, black, flake8

Squash and rebase the-federation-layer over main v0.5.0
  frontend/src/components/Icons/index.ts
Due: prettier-frontend

Refactor fetchRobot for multi-coordinator set up
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Coordinator.model.ts
Due: prettier-frontend

Add RobotInfo per coordinator
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/Icons/index.ts
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/services/api/ApiWebClient/index.ts
  nodeapp/nginx.conf
Due: prettier-frontend

Small cosmetic fixes
  frontend/src/components/RobotInfo/index.tsx
Due: prettier-frontend

Federation robots (#635)
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/Icons/index.ts
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/services/api/ApiWebClient/index.ts
  nodeapp/nginx.conf
Due: prettier-frontend

Improve main readability
  frontend/src/basic/Main.tsx
  frontend/src/basic/index.ts
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/RobotInfo/index.tsx
Due: prettier-frontend

Fix lint errors
  frontend/src/App.tsx
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/Main.tsx
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/NavBar/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/models/Coordinator.model.ts
Due: prettier-frontend

Fix more linting issues
  frontend/package.json
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/RobotPage/Recovery.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/TokenInput.tsx
  frontend/src/basic/RobotPage/Welcome.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/utils/prettyNumbers.test.ts
Due: prettier-frontend

Fix more linting issues
  frontend/src/basic/BookPage/index.tsx
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/Dialogs/AuditPGP.tsx
  frontend/src/components/Dialogs/Community.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/Dialogs/EnableTelegram.tsx
  frontend/src/components/Dialogs/Exchange.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/utils/checkVer.ts
  frontend/src/utils/prettyNumbers.test.ts
  frontend/src/utils/prettyNumbers.ts
Due: prettier-frontend

Alphebetized 07-wallets.md
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Alphebitized Descriptions 07-wallets.md
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Added Cash App to Table and Description 07-wallets.md
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Added Robo Garage Tutorial Article how-to-use.md
  docs/_pages/tutorials/read/how-to-use.md
Due: none

Fix wallets docs alphabetical and add CashApp (#777)
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Add new guide Robo Garage Article to how-to-use.md (#778)
  docs/_pages/tutorials/read/how-to-use.md
Due: none

Fix more linting issues
  frontend/src/components/HostAlert/UnsafeAlert.tsx
  frontend/src/components/HostAlert/index.tsx
  frontend/src/components/Icons/Amboss.tsx
  frontend/src/components/Icons/BadgeDevFund.tsx
  frontend/src/components/Icons/BadgeFounder.tsx
  frontend/src/components/Icons/BadgeLimits.tsx
  frontend/src/components/Icons/BadgeLoved.tsx
  frontend/src/components/Icons/BadgePrivacy.tsx
  frontend/src/components/Icons/BasqueCountryFlag.tsx
  frontend/src/components/Icons/Bitcoin.tsx
  frontend/src/components/Icons/BitcoinSign.tsx
  frontend/src/components/Icons/BuySats.tsx
  frontend/src/components/Icons/BuySatsChecked.tsx
  frontend/src/components/Icons/CataloniaFlag.tsx
  frontend/src/components/Icons/Earth.tsx
  frontend/src/components/Icons/Export.tsx
  frontend/src/components/Icons/Gold.tsx
  frontend/src/components/Icons/NewTab.tsx
  frontend/src/components/Icons/Nostr.tsx
  frontend/src/components/Icons/RoboSats.tsx
  frontend/src/components/Icons/RoboSatsNoText.tsx
  frontend/src/components/Icons/RoboSatsText.tsx
  frontend/src/components/Icons/SellSats.tsx
  frontend/src/components/Icons/SellSatsChecked.tsx
  frontend/src/components/Icons/SendReceive.tsx
  frontend/src/components/Icons/Simplex.tsx
  frontend/src/components/Icons/Tor.tsx
  frontend/src/components/Icons/UserNinja.tsx
  frontend/src/components/MakerForm/AmountRange.tsx
  frontend/src/components/MakerForm/AutocompletePayments.tsx
Due: prettier-frontend

Fix more linting issues
  frontend/src/basic/SettingsPage/index.tsx
  frontend/src/components/Dialogs/Update.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/HostAlert/SelfhostedAlert.tsx
  frontend/src/components/HostAlert/UnsafeAlert.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/models/Coordinator.model.ts
  frontend/src/utils/checkVer.ts
Due: prettier-frontend

Fix more linting issues
  frontend/.eslintrc.json
  frontend/src/basic/NavBar/NavBar.tsx
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/Notifications/index.tsx
  frontend/src/components/OrderDetails/LinearDeterminate.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/PaymentMethods/StringAsIcons.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/RobotInfo/index.tsx
Due: prettier-frontend

Path conditions:
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  prettier-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  isort: any of: \.py$, but not: (api|chat|control)/migrations/.*
  black: any of: \.py$, but not: (api|chat|control)/migrations/.*
  flake8: any of: \.py$, but not: (api|chat|control)/migrations/.*
