Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, lintern-frontend, prettier-mobile, lintern-mobile

.pre-commit-config.yaml:

exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/|^mobile/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: lintern-frontend
        name: lintern-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run lint'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
      - id: lintern-mobile
        name: lintern-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run lint'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.13
    hooks:
    - id: ruff
      stages:
        - commit
        - merge-commit
      language: system
      args: [ --fix ]
      types: [python]
    - id: ruff-format
      stages:
        - commit
        - merge-commit
      language: system
      types: [python]

Fix nostr
  api/nostr.py
Due: none

Subscribe notifications
  api/nostr.py
  api/notifications.py
  frontend/src/basic/TopBar/NotificationsDrawer/index.tsx
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix pyhton
  api/nostr.py
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Frontend
  api/nostr.py
  frontend/src/basic/TopBar/NotificationsDrawer/NotificationCard/index.tsx
  frontend/src/basic/TopBar/NotificationsDrawer/index.tsx
  frontend/src/basic/TopBar/index.tsx
  frontend/src/components/Dialogs/AuditPGP.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/TradeBox/Forms/LightningPayout.tsx
  frontend/src/components/TradeBox/Forms/OnchainPayout.tsx
  frontend/src/components/TradeBox/Prompts/Chat.tsx
  frontend/src/components/TradeBox/Prompts/LockInvoice.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/services/RoboPool/index.ts
  frontend/src/utils/array.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Remove old notifications
  frontend/src/basic/TopBar/NotificationsDrawer/index.tsx
  frontend/src/components/Notifications/index.tsx
  frontend/src/services/RoboPool/index.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix
  frontend/src/basic/TopBar/NotificationsDrawer/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix chat
  android/app/src/main/java/com/robosats/WebAppInterface.kt
  frontend/src/basic/TopBar/NotificationsDrawer/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix external links
  android/app/src/main/java/com/robosats/MainActivity.kt
Due: none

Fix comments
  android/app/src/main/java/com/robosats/WebAppInterface.kt
Due: none

Fix logs
  frontend/src/basic/TopBar/NotificationsDrawer/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Refactor android app messages
  android/app/src/main/java/com/robosats/WebAppInterface.kt
Due: none

Refactor android app messages 2
  android/app/src/main/java/com/robosats/WebAppInterface.kt
Due: none

loan robot profile if created in NavBar
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/Welcome.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/Dialogs/Recovery.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Bump frontend libraries
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, lintern-frontend

Mobile nostr notifications
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/robosats/Connectivity.kt
  android/app/src/main/java/com/robosats/MainActivity.kt
  android/app/src/main/java/com/robosats/models/NostrClient.kt
  android/app/src/main/java/com/robosats/services/NotificationsService.kt
  android/app/src/main/res/drawable/ic_notification.xml
  android/app/src/main/res/values/strings.xml
  android/gradle/libs.versions.toml
  android/settings.gradle.kts
  frontend/src/basic/RobotPage/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Encrypted Storage
  android/app/build.gradle.kts
  android/app/src/main/java/com/robosats/MainActivity.kt
  android/app/src/main/java/com/robosats/WebAppInterface.kt
  android/app/src/main/java/com/robosats/models/EncryptedStorage.kt
  android/app/src/main/java/com/robosats/models/NostrClient.kt
  android/gradle/libs.versions.toml
  frontend/src/basic/TopBar/NotificationsDrawer/index.tsx
  frontend/src/components/HostAlert/SelfhostedAlert.tsx
  frontend/src/components/HostAlert/UnsafeAlert.tsx
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Settings.default.basic.selfhosted.ts
  frontend/src/models/Settings.default.basic.ts
  frontend/src/models/Settings.default.pro.selfhosted.ts
  frontend/src/models/Settings.default.pro.ts
  frontend/src/models/Settings.model.ts
  frontend/src/services/Android/index.ts
  frontend/src/services/System/SystemAndroidClient/index.ts
  frontend/src/services/System/SystemDesktopClient/index.ts
  frontend/src/services/System/SystemWebClient/index.ts
  frontend/src/services/System/index.ts
  frontend/src/services/api/ApiAndroidClient/index.ts
  frontend/templates/frontend/index.ejs
Due: collect-phrases, prettier-frontend, lintern-frontend

Notifications
  android/app/build.gradle.kts
  android/app/src/main/java/com/robosats/MainActivity.kt
  android/app/src/main/java/com/robosats/WebAppInterface.kt
  android/app/src/main/java/com/robosats/models/NostrClient.kt
  android/app/src/main/java/com/robosats/services/NotificationsService.kt
  android/gradle/libs.versions.toml
  frontend/src/basic/Routes.tsx
  frontend/src/components/HostAlert/SelfhostedAlert.tsx
  frontend/src/components/HostAlert/UnsafeAlert.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/models/Garage.model.ts
  frontend/src/services/Android/index.ts
  frontend/src/services/RoboPool/index.ts
  frontend/static/federation.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Configuration and fixes
  android/app/src/main/java/com/robosats/MainActivity.kt
  android/app/src/main/java/com/robosats/WebAppInterface.kt
  android/app/src/main/java/com/robosats/models/NostrClient.kt
  android/app/src/main/java/com/robosats/services/NotificationsService.kt
  frontend/src/basic/TopBar/NotificationsDrawer/index.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/models/Settings.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Remove unused code
  frontend/src/basic/Routes.tsx
  frontend/src/basic/TopBar/NotificationsDrawer/NotificationCard/index.tsx
  frontend/src/basic/TopBar/NotificationsDrawer/index.tsx
  frontend/src/contexts/AppContext.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Remove unused code
  frontend/static/federation.json
Due: prettier-frontend, lintern-frontend

Use Orbot button
  android/app/src/main/java/com/robosats/MainActivity.kt
  android/app/src/main/java/com/robosats/WebAppInterface.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/values/strings.xml
  frontend/src/basic/TopBar/MenuDrawer/index.tsx
  frontend/src/models/Settings.model.ts
  frontend/src/services/Websocket/WebsocketAndroidClient/index.ts
  frontend/src/services/Websocket/WebsocketWebClient/index.ts
  frontend/src/services/Websocket/index.ts
  frontend/src/services/api/ApiAndroidClient/index.ts
  frontend/src/services/api/ApiWebClient/index.ts
  frontend/src/services/api/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Update LNProxy relay list on 2025-07-27
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Revertible payments warning
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/components/PaymentMethods/MethodList.ts
  frontend/src/components/PaymentMethods/StringAsIcons.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Translations
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend, lintern-frontend

Mobile multi-language
  android/app/src/main/java/com/robosats/MainActivity.kt
  android/app/src/main/java/com/robosats/WebAppInterface.kt
  android/app/src/main/java/com/robosats/models/LanguageManager.kt
  android/app/src/main/res/values-ca/strings.xml
  android/app/src/main/res/values-cs/strings.xml
  android/app/src/main/res/values-de/strings.xml
  android/app/src/main/res/values-es/strings.xml
  android/app/src/main/res/values-eu/strings.xml
  android/app/src/main/res/values-fr/strings.xml
  android/app/src/main/res/values-it/strings.xml
  android/app/src/main/res/values-ja/strings.xml
  android/app/src/main/res/values-pl/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values-ru/strings.xml
  android/app/src/main/res/values-sv/strings.xml
  android/app/src/main/res/values-sw/strings.xml
  android/app/src/main/res/values-th/strings.xml
  android/app/src/main/res/values-zh-rCN/strings.xml
  android/app/src/main/res/values-zh-rTW/strings.xml
  frontend/src/services/Android/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix
  android/app/src/main/java/com/robosats/MainActivity.kt
  android/app/src/main/java/com/robosats/WebAppInterface.kt
  android/app/src/main/java/com/robosats/models/LanguageManager.kt
Due: none

Apply system locale
  android/app/src/main/java/com/robosats/MainActivity.kt
  android/app/src/main/java/com/robosats/WebAppInterface.kt
  android/app/src/main/java/com/robosats/models/LanguageManager.kt
  android/app/src/main/java/com/robosats/models/NostrClient.kt
  android/app/src/main/java/com/robosats/services/NotificationsService.kt
  android/app/src/main/res/values-ca/strings.xml
  android/app/src/main/res/values-cs/strings.xml
  android/app/src/main/res/values-de/strings.xml
  android/app/src/main/res/values-es/strings.xml
  android/app/src/main/res/values-eu/strings.xml
  android/app/src/main/res/values-fr/strings.xml
  android/app/src/main/res/values-it/strings.xml
  android/app/src/main/res/values-ja/strings.xml
  android/app/src/main/res/values-pl/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values-ru/strings.xml
  android/app/src/main/res/values-sv/strings.xml
  android/app/src/main/res/values-sw/strings.xml
  android/app/src/main/res/values-th/strings.xml
  android/app/src/main/res/values-zh-rCN/strings.xml
  android/app/src/main/res/values-zh-rTW/strings.xml
  android/app/src/main/res/values/strings.xml
Due: none

CR
  android/app/src/main/java/com/robosats/MainActivity.kt
  frontend/src/services/Android/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix dark theme
  frontend/src/models/Settings.model.ts
  frontend/src/services/System/SystemWebClient/index.ts
  frontend/src/services/System/index.ts
  frontend/templates/frontend/index.ejs
Due: collect-phrases, prettier-frontend, lintern-frontend

Remove code
  frontend/src/services/System/SystemWebClient/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Remove code
  frontend/templates/frontend/index.ejs
Due: none

v0.8.1-alpha
  android/zapstore.yaml
  fastlane/metadata/en-US/images/phoneScreenshots/01.jpg
  fastlane/metadata/en-US/images/phoneScreenshots/01.png
  fastlane/metadata/en-US/images/phoneScreenshots/02.jpg
  fastlane/metadata/en-US/images/phoneScreenshots/02.png
  fastlane/metadata/en-US/images/phoneScreenshots/03.jpg
  fastlane/metadata/en-US/images/phoneScreenshots/03.png
  fastlane/metadata/en-US/images/phoneScreenshots/04.jpg
  fastlane/metadata/en-US/images/phoneScreenshots/04.png
  fastlane/metadata/en-US/images/phoneScreenshots/05.jpg
  fastlane/metadata/en-US/images/phoneScreenshots/05.png
  fastlane/metadata/en-US/images/phoneScreenshots/06.jpg
  fastlane/metadata/en-US/images/phoneScreenshots/06.png
  frontend/src/components/OrderDetails/index.tsx
  release_notes.md
  version.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix map bug
  frontend/src/components/Dialogs/F2fMap.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix release workflow
  .github/workflows/release.yml
  desktopApp/package-lock.json
  desktopApp/package.json
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, lintern-frontend

Fix release workflow
  .github/workflows/android-build.yml
Due: none

Fix release workflow
  .github/workflows/android-build.yml
  .github/workflows/release.yml
Due: none

Fix release workflow
  .github/workflows/release.yml
Due: none
