Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, lintern-frontend, lintern-android, check-android

collect-phrases:
  name: Collect i18n phrases
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'

prettier-frontend:
  name: prettier-frontend
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

lintern-frontend:
  name: lintern-frontend
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run lint'

lintern-android:
  name: lintern-android
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd android && ./gradlew lint'

check-android:
  name: check-android
  stages:
  - pre-commit
  - pre-merge-commit
  language: system
  entry: bash -c 'cd android && ./gradlew check'

Federation concensus
  .env-sample
  .gitignore
  api/views.py
  frontend/src/components/HostAlert/UnsafeAlert.tsx
  frontend/src/models/Federation.model.ts
  frontend/src/models/Maker.model.ts
  frontend/src/utils/getHost.ts
  frontend/webpack.config.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Federation concensus
  .env-sample
  .gitignore
  api/federation.json
  api/serializers.py
  api/views.py
  development/federation-discovery.md
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
  frontend/src/services/FederationDiscovery/index.ts
  frontend/webpack.config.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

CI release check
  .github/workflows/release.yml
Due: none

CR
  api/oas_schemas.py
Due: none

CR
  api/oas_schemas.py
  api/tests/test_federation.py
  api/views.py
  frontend/src/services/FederationDiscovery/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Refresh nostr book
  .env-sample
  api/tests/test_federation.py
  api/views.py
  development/federation-discovery.md
  frontend/src/basic/SettingsPage/Coordinators.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/HostAlert/UnsafeAlert.tsx
  frontend/src/models/Federation.model.ts
  frontend/src/services/FederationDiscovery/index.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix tests
  api/tests/test_federation.py
  api/tests/test_utils.py
Due: none

Update federation.md
  federation.md
Due: none

Update coordinator_registration.yaml
  .github/ISSUE_TEMPLATE/coordinator_registration.yaml
Due: none

Add frontend tests
  .vscode/settings.json
  frontend/jest.config.js
  frontend/src/services/FederationDiscovery/__tests__/index.test.ts
  frontend/src/services/__mocks__/api.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Add frontend CI
  .github/workflows/js-linter.yml
Due: none

Add frontend tests 2
  frontend/jest.config.js
  frontend/src/__mocks__/noble-curves.ts
  frontend/src/services/__mocks__/Websocket.ts
  frontend/src/services/__tests__/RoboPool.setFederationPubkeys.test.ts
  frontend/src/utils/__tests__/federationLottery.test.ts
  frontend/src/utils/__tests__/nostr.setLiveCoordinators.test.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix Kotlin CI
  .github/workflows/codeql.yml
Due: none

docs: fix typo mantained -> maintained
  development/README.md
Due: none

identical json file
  .github/workflows/release.yml
  .pre-commit-config.yaml
Due: none

Add Ammanaya
  api/federation.json
  frontend/static/federation.json
  frontend/static/federation/avatars/ammanaya.small.webp
  frontend/static/federation/avatars/ammanaya.webp
  frontend/static/federation/pgp/2B48301741989AB0233278EF157C0F857A998CC0.asc
  nodeapp/coordinators/AGENTS.md
  nodeapp/coordinators/ammanaya/locations.conf
  nodeapp/coordinators/ammanaya/upstreams.conf
  nodeapp/nginx.conf
  nodeapp/robosats-client.sh
Due: prettier-frontend, lintern-frontend

Remove FreedomSats, add Eleuteria
  api/federation.json
  frontend/static/federation.json
  frontend/static/federation/avatars/eleuteria.small.webp
  frontend/static/federation/avatars/eleuteria.webp
  frontend/static/federation/avatars/freedomsats.small.webp
  frontend/static/federation/avatars/freedomsats.webp
  frontend/static/federation/pgp/546143E7584783759F6829AF6DA5626C8AF8DF61.asc
  frontend/static/federation/pgp/9D3D3BAF4744305EE3F0B837331AB575DD78D930.asc
  nodeapp/coordinators/AGENTS.md
  nodeapp/coordinators/eleuteria/locations.conf
  nodeapp/coordinators/eleuteria/upstreams.conf
  nodeapp/coordinators/freedomsats/upstreams.conf
  nodeapp/nginx.conf
  nodeapp/robosats-client.sh
Due: prettier-frontend, lintern-frontend

Add freeport
  api/federation.json
  frontend/.prettierignore
  frontend/static/federation.json
  frontend/static/federation/avatars/freeport.small.webp
  frontend/static/federation/avatars/freeport.webp
  frontend/static/federation/pgp/27099F12B8752D8267B6DFF28265E7B36362CF31.asc
  nodeapp/coordinators/AGENTS.md
  nodeapp/coordinators/freeport/locations.conf
  nodeapp/coordinators/freeport/upstreams.conf
  nodeapp/nginx.conf
  nodeapp/robosats-client.sh
Due: prettier-frontend, lintern-frontend

Bump version to v0.8.7-alpha
  android/app/build.gradle.kts
  frontend/package.json
  version.json
Due: prettier-frontend, lintern-frontend, lintern-android, check-android

releas notes
  release_notes.md
Due: none

Better tests
  api/tests/test_federation.py
  frontend/src/services/FederationDiscovery/__tests__/index.test.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: use ask/bid midpoint for Criptoya exchange rate median
  api/utils.py
Due: none

Clients bug fixes
  .gitignore
  android/app/src/main/java/com/robosats/AGENTS.md
  android/app/src/main/java/com/robosats/WebAppInterface.kt
  desktopApp/index.js
  desktopApp/index.js.map
  desktopApp/index.ts
  desktopApp/package.json
  frontend/src/components/TradeBox/EncryptedChat/MessageCard/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend, lintern-android, check-android

Reset currency when selecting swap orders
  frontend/src/components/Dialogs/Search.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

fix(android): send PUT requests through the native bridge
  frontend/src/services/api/ApiAndroidClient/index.test.ts
  frontend/src/services/api/ApiAndroidClient/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: handle webhook settings save errors
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/models/Robot.model.test.ts
  frontend/src/models/Robot.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

feat: add Nostr notification forwarding
  api/admin.py
  api/migrations/0058_add_nostr_forward_fields.py
  api/models/robot.py
  api/nostr.py
  api/notifications.py
  api/oas_schemas.py
  api/serializers.py
  api/tasks.py
  api/tests/test_nostr_forward.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  frontend/src/components/RobotInfo/index.tsx
  frontend/src/models/Robot.model.test.ts
  frontend/src/models/Robot.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
  tests/test_api_robot_webhook.py
Due: collect-phrases, prettier-frontend, lintern-frontend

Replace format_html with mark_safe
  api/admin.py
Due: none

Make CSRF_TRUSTED_ORIGINS configurable
  .env-sample
  robosats/settings.py
Due: none

Fix default and status transition log
  api/models/order.py
Due: none

Fix rendering of object links
  api/utils.py
Due: none

Print Federation calculated consensus
  frontend/src/components/FederationTable/index.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix Blossom image static URLs
  frontend/src/components/TradeBox/EncryptedChat/EncryptedApiChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedNostrChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/MessageCard/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/utils/blossom.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Revert "Print Federation calculated consensus"
  frontend/src/components/FederationTable/index.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/models/Coordinator.model.ts
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix do_accounting crash on disputed swap orders
  control/tasks.py
  control/tests.py
Due: none

fix: add hard deadline for mempool
  .env-sample
  api/mempool.py
  api/tests/test_utils.py
  api/utils.py
Due: none

Refine mempool fetch logging & docs
  api/AGENTS.md
  api/utils.py
Due: none

Update mempool.py
  api/mempool.py
Due: none

Path conditions:
  collect-phrases: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((api|chat|control)/migrations/.*)
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  lintern-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  lintern-android: any of: ^android/ and \.(kt|kts)$ and not ((api|chat|control)/migrations/.*)
  check-android: any of: ^android/ and \.(kt|kts)$ and not ((api|chat|control)/migrations/.*)
