Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, prettier-mobile, isort, black, flake8

.pre-commit-config.yaml:

# TODO
# add a hook which automatically generates the OpenApi schema on API changes
# and places them in an appropriate location
exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v2.3.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      # - id: collect-phrases
      #   name: Collect i18n phrases
      #   stages:
      #     - commit
      #     - merge-commit
      #   language: system
      #   files: ^frontend/
      #   types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
      #   entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
      - id: isort
        name: isort
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: isort
      - id: black
        name: black
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: black
      - id: flake8
        name: flake8
        stages:
          - commit
          - merge-commit
        language: system
        types: [python]
        entry: flake8

Small fixes
  frontend/src/contexts/AppContext.ts
  frontend/src/services/api/ApiWebClient/index.ts
  nodeapp/nginx.conf
Due: prettier-frontend

Fix show non-awarded federation badges
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/static/federation.json
Due: prettier-frontend

Bump version to v0.6.0-alpha
  frontend/package-lock.json
  frontend/package.json
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/package.json
  release_notes.md
  version.json
Due: prettier-frontend, prettier-mobile

Small fixes
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/services/api/ApiWebClient/index.ts
  frontend/static/federation.json
Due: prettier-frontend

Fetch robot profile from coordinator
  frontend/src/basic/Main.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/contexts/AppContext.ts
Due: prettier-frontend

Update Nostr on Experimental coordinator
  frontend/static/federation.json
Due: prettier-frontend

Fix authorization cookies
  frontend/src/services/api/ApiNativeClient/index.ts
  frontend/src/services/api/ApiWebClient/index.ts
  robosats/middleware.py
  robosats/settings.py
Due: prettier-frontend, isort, black, flake8

Fix example coordinator descriptions
  frontend/static/federation.json
Due: prettier-frontend

A
  nodeapp/coordinators/exp/locations.conf
  nodeapp/coordinators/temp/locations.conf
Due: none

Small fixes
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/contexts/AppContext.ts
  frontend/src/services/System/SystemWebClient/index.ts
  nodeapp/coordinators/exp/locations.conf
  nodeapp/coordinators/temp/locations.conf
  robosats/middleware.py
  robosats/settings.py
Due: prettier-frontend, isort, black, flake8

Small fixes
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/contexts/AppContext.ts
  frontend/static/federation.json
Due: prettier-frontend

Add location to F2F payment option
  api/models/order.py
  api/serializers.py
  api/views.py
  frontend/src/models/Book.model.ts
  frontend/src/models/Order.model.ts
Due: prettier-frontend, isort, black, flake8

Fix py linterns
  api/models/order.py
  api/views.py
Due: isort, black, flake8

Include migration
  api/migrations/0043_order_latitude_order_longitude_alter_order_bond_size.py
  api/models/order.py
  docker-compose.yml
Due: isort, black, flake8

Revert docker-compose changes
  docker-compose.yml
Due: none

Update Federation Basis to include RoboSats-Deploy
  federation.md
Due: none

Remove bond_size from migration
  api/migrations/0043_order_latitude_order_longitude_alter_order_bond_size.py
Due: none

Fix move order model constrains to env to settings.py
  .env-sample
  api/logics.py
  api/models/order.py
  api/oas_schemas.py
  api/serializers.py
  api/views.py
  robosats/settings.py
Due: isort, black, flake8

Remove lnpayment, tick, onchain model contraints based on .env
  api/logics.py
  api/models/ln_payment.py
  api/models/market_tick.py
  api/models/onchain_payment.py
Due: isort, black, flake8

Rename 0043_order_latitude_order_longitude_alter_order_bond_size.py to 0043_order_latitude_order_longitude.py
  api/migrations/0043_order_latitude_order_longitude.py
Due: none

Add location to F2F payment option (backend) (#867)
  api/migrations/0043_order_latitude_order_longitude.py
  api/models/order.py
  api/serializers.py
  api/views.py
  frontend/src/models/Book.model.ts
  frontend/src/models/Order.model.ts
Due: prettier-frontend, isort, black, flake8

Fix models decoupling (#874)
  .env-sample
  api/logics.py
  api/models/ln_payment.py
  api/models/market_tick.py
  api/models/onchain_payment.py
  api/models/order.py
  api/oas_schemas.py
  api/serializers.py
  api/views.py
  robosats/settings.py
Due: isort, black, flake8

Update devfund donation pubkey
  api/tasks.py
Due: isort, black, flake8

Add migrations for env decoupling from models
  api/migrations/0044_alter_markettick_fee_and_more.py
Due: none

Add location to F2F (frontend)
  frontend/src/components/Dialogs/Worldmap.tsx
  frontend/src/components/Dialogs/index.ts
  frontend/src/components/MakerForm/MakerForm.tsx
Due: prettier-frontend

Worldmap f2f Book orders
  frontend/src/basic/BookPage/index.tsx
  frontend/src/components/Charts/MapChart/index.tsx
  frontend/src/components/Dialogs/F2fMap.tsx
  frontend/src/components/Dialogs/Worldmap.tsx
  frontend/src/components/Dialogs/index.ts
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/Map/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Worldmap f2f selection
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Dialogs/Worldmap.tsx
  frontend/src/components/MakerForm/AutocompletePayments.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/static/assets/geo/countries-coastline-10km.geo.json
  frontend/static/css/leaflet.css
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
  frontend/templates/frontend/basic.html
  frontend/templates/frontend/pro.html
  mobile/html/Web.bundle/index.html
  nodeapp/basic.html
  nodeapp/docker-compose.yml
  nodeapp/pro.html
Due: prettier-frontend

Add files via upload
  frontend/static/assets/vector/Location_Blue.svg
  frontend/static/assets/vector/Location_Lilac.svg
  frontend/static/assets/vector/Location_robot_Blue.svg
  frontend/static/assets/vector/Location_robot_Lilac.svg
Due: none

Add location pin SVGs by @RedPurdy (#895)
  frontend/static/assets/vector/Location_Blue.svg
  frontend/static/assets/vector/Location_Lilac.svg
  frontend/static/assets/vector/Location_robot_Blue.svg
  frontend/static/assets/vector/Location_robot_Lilac.svg
Due: none

Add SVG icons for map pins
  frontend/src/components/Icons/LocationPin.tsx
  frontend/src/components/Icons/LocationRobot.tsx
  frontend/src/components/Icons/index.ts
Due: prettier-frontend

Book map
  docker-compose.yml
  frontend/src/basic/BookPage/index.tsx
  frontend/src/components/Charts/DepthChart/index.tsx
  frontend/src/components/Charts/MapChart/index.tsx
  frontend/src/components/Charts/helpers/OrderTooltip/index.tsx
  frontend/src/components/Dialogs/F2fMap.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/models/Maker.model.ts
  frontend/static/css/leaflet.css
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Order Map
  frontend/src/components/Dialogs/F2fMap.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Change switch icon
  frontend/src/components/Dialogs/F2fMap.tsx
  frontend/src/components/Map/index.tsx
Due: prettier-frontend
