Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, prettier-mobile, isort, black, flake8

collect-phrases:
  name: collect-phrases
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'

prettier-frontend:
  name: prettier-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

prettier-mobile:
  name: prettier-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run format'

isort:
  name: isort
  stages:
  - commit
  - merge-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  - merge-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  - merge-commit
  language: system
  entry: flake8

Add backend phrases
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/handcrafted.py
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend, isort, black, flake8

Fix to prevent Tinkoff and Tinkoff Qr collision. "Tinkoff" is "Tinkoff Bank" now. And "Sberbank" is "Sber Bank" (which is true, actually).
  frontend/src/components/PaymentMethods/MethodList.ts
Due: collect-phrases, prettier-frontend

Add devfund paynym
  docs/_config.yml
  docs/_pages/contribute/07-donate.md
Due: none

Update es.json
  frontend/static/locales/es.json
Due: prettier-frontend

Fix prevent "Tinkoff" and "Tinkoff QR" methods collision. (#400)
  frontend/src/components/PaymentMethods/MethodList.ts
Due: collect-phrases, prettier-frontend

Update es.json (#401)
  frontend/static/locales/es.json
Due: prettier-frontend

Fix es.json and collect phrases
  frontend/static/locales/es.json
Due: prettier-frontend

Add theBTCcourse tutorial and vanity project paynym
  docs/_config.yml
  docs/_pages/tutorials/watch/videos-en.md
Due: none

Added Nostr donate info.
  docs/_pages/contribute/07-donate.md
Due: none

Added Nostr donate info. (#402)
  docs/_pages/contribute/07-donate.md
Due: none

Add TG message for new in-app chat messages
  .env-sample
  api/logics.py
  api/management/commands/follow_invoices.py
  api/management/commands/telegram_watcher.py
  api/notifications.py
  api/tasks.py
  api/views.py
  chat/consumers.py
  chat/views.py
  frontend/src/components/TradeBox/EncryptedChat/ChatHeader/index.tsx
Due: collect-phrases, prettier-frontend, isort, black, flake8

Add emojis and collect phrases
  api/notifications.py
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend, isort, black, flake8

Add notification for new in-app chat messages (#403)
  .env-sample
  api/logics.py
  api/management/commands/follow_invoices.py
  api/management/commands/telegram_watcher.py
  api/notifications.py
  api/tasks.py
  api/views.py
  chat/consumers.py
  chat/views.py
  frontend/src/components/TradeBox/EncryptedChat/ChatHeader/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, isort, black, flake8

Improve booktable performance by 15-30%
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend

Add coordinator badges
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/components/Icons/BadgeDevFund.tsx
  frontend/src/components/Icons/BadgeFounder.tsx
  frontend/src/components/Icons/BadgeLimits.tsx
  frontend/src/components/Icons/BadgeLoved.tsx
  frontend/src/components/Icons/BadgePrivacy.tsx
  frontend/src/components/Icons/Nostr.tsx
  frontend/src/components/Icons/index.ts
  frontend/src/models/Coordinator.model.ts
  frontend/static/federation.json
  frontend/static/federation/excoor.png
  frontend/static/federation/exp.png
Due: collect-phrases, prettier-frontend

Fixed npub address
  docs/_pages/contribute/07-donate.md
Due: none

Add order description field
  api/models/order.py
  api/oas_schemas.py
  api/serializers.py
  api/views.py
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/models/Maker.model.ts
  frontend/src/models/Order.model.ts
  tests/test_trade_pipeline.py
Due: collect-phrases, prettier-frontend, isort, black, flake8

Fix clipboard safe string regular expression
  android/app/src/main/java/com/robosats/WebAppInterface.kt
Due: none

Restore clipboard content validation
  android/app/src/main/java/com/robosats/WebAppInterface.kt
Due: none

Fix lint errors
  api/tests/test_utils.py
  api/utils.py
Due: isort, black, flake8

Update field max length
  api/migrations/0055_order_description.py
Due: isort, black, flake8

Normalize payment method names
  frontend/src/components/PaymentMethods/StringAsIcons.tsx
Due: collect-phrases, prettier-frontend

Remove duplicate paragraph
  development/setup.md
Due: none

Generate translations
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend

Fix swap icons color
  frontend/src/components/BookTable/BookControl.tsx
Due: collect-phrases, prettier-frontend

Fix container name
  tests/README.md
Due: none

Update middlewares errors
  robosats/middleware.py
Due: isort, black, flake8

Structure API errors
  api/errors.py
  api/tests/test_errors.py
Due: isort, black, flake8

Use one backlash for the double quote
  android/app/src/main/java/com/robosats/WebAppInterface.kt
Due: none

Update token warning message
  frontend/src/basic/RobotPage/Onboarding.tsx
Due: collect-phrases, prettier-frontend

Replace row with dialog
  frontend/src/components/Dialogs/OrderDescription.tsx
  frontend/src/components/Dialogs/index.ts
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
Due: collect-phrases, prettier-frontend

Prevent timing attacks on protected orders
  api/views.py
Due: isort, black, flake8

Update API logics errors
  api/logics.py
Due: isort, black, flake8

Add description migration
  api/migrations/0055_order_description.py
Due: isort, black, flake8

Path conditions:
  collect-phrases: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$
  prettier-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
