Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, lintern-frontend, lintern-android, check-android

.pre-commit-config.yaml:

exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/|^mobile/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: lintern-frontend
        name: lintern-frontend
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run lint'
      - id: lintern-android
        name: lintern-android
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^android/
        types_or: [kotlin]
        entry: bash -c 'cd android && ./gradlew lint'
      - id: check-android
        name: check-android
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^android/
        types_or: [kotlin]
        entry: bash -c 'cd android && ./gradlew check'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.13
    hooks:
    - id: ruff
      stages:
        - pre-commit
        - pre-merge-commit
      language: system
      args: [ --fix ]
      types: [python]
    - id: ruff-format
      stages:
        - pre-commit
        - pre-merge-commit
      language: system
      types: [python]

refactor: Reuse onSlotUpdate for GarageKey updates Consolidates garage hooks as suggested in PR review. Ref: https://github.com/RoboSats/robosats/pull/2375#discussion_r2720418057
  frontend/src/basic/GaragePage/index.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/models/Garage.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

feat: enhance garage key onboarding and recovery dialogs with toast notifications and async handling
  frontend/src/basic/GaragePage/GarageKeyOnboarding.tsx
  frontend/src/basic/GaragePage/index.tsx
  frontend/src/components/Dialogs/Recovery.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/Slot.model.ts
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

refactor: Move GarageMode type definition to Garage.model.ts and update imports Ref: https://github.com/RoboSats/robosats/pull/2375#discussion_r2720426279
  frontend/src/models/Garage.model.ts
  frontend/src/models/GarageKey.model.ts
  frontend/src/models/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

feat: add legacy mode support across the app with state hook, UI restrictions, mode toggle, and safety confirmations
  frontend/src/basic/GaragePage/GarageKeyInput.tsx
  frontend/src/basic/GaragePage/GarageKeyProfile.tsx
  frontend/src/basic/GaragePage/index.tsx
  frontend/src/basic/NavBar/AppBar/index.tsx
  frontend/src/basic/NavBar/DesktopBar/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/basic/RobotPage/Welcome.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/basic/Routes.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/hooks/useLegacyMode.ts
  frontend/src/models/Settings.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

feat: implement notification subscription management in RoboPool and FederationContext
  frontend/src/contexts/FederationContext.tsx
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

chore: update locale translations
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: prettier-frontend, lintern-frontend

fix: order logs rendering
  api/admin.py
  api/logics.py
Due: none

CLN: migrate holdinvoice plugin to BoltzExchange/hold
  api/lightning/cln.py
  docker-tests.yml
  docker/cln/Dockerfile
  docker/cln/config
  docker/cln/entrypoint.sh
  scripts/generate_grpc.sh
  tests/README.md
Due: none

Fix ruff lint (remove unused import)
  api/lightning/cln.py
Due: none

tests: honor quoted LNVENDOR from env_file
  api/lightning/node.py
  api/management/commands/clean_orders.py
  api/tests/test_utils.py
  api/utils.py
  docker-tests.yml
  tests/utils/node.py
Due: none

add taproot escrow core library and dependency
  api/taproot_escrow.py
  requirements.txt
Due: none

add TaprootPayment model and register in app
  api/models/__init__.py
  api/models/taproot_payment.py
Due: none

add TAP_* statuses and taproot escrow FK to Order model
  api/migrations/0059_order_is_taproot_alter_order_status_taprootpayment_and_more.py
  api/models/order.py
Due: none

wire taproot escrow into order state machine and add tests
  api/logics.py
  api/tests/test_taproot_escrow.py
Due: none

fix migration dependency to follow main branch
  api/migrations/0058_order_is_taproot_alter_order_status_taprootpayment_and_more.py
Due: none

Update LNProxy relay list on 2026-02-15
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

fix bug low onchain balance results in infinite loading
  api/logics.py
Due: none

fix broken log when slashed_robot
  api/logics.py
Due: none

traditional scripts roboauto config update
  scripts/traditional/regtest-nodes
Due: none

feat(frontend): add taproot psbt signer utility and tests
  frontend/src/utils/index.ts
  frontend/src/utils/taproot.test.ts
  frontend/src/utils/taproot.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

feat(frontend): allow preferred wallet for PSBT signing
  frontend/src/utils/taproot.test.ts
  frontend/src/utils/taproot.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

feat(frontend): harden browser psbt signer response handling
  frontend/src/utils/taproot.test.ts
  frontend/src/utils/taproot.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: allow null premium default to unblock order creation
  frontend/src/components/MakerForm/MakerForm.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

feat: Implement Garage Key functionality and account recovery
  frontend/src/basic/GaragePage/AccountNavigator.tsx
  frontend/src/basic/GaragePage/GarageKeyInput.tsx
  frontend/src/basic/GaragePage/GarageKeyOnboarding.tsx
  frontend/src/basic/GaragePage/GarageKeyProfile.tsx
  frontend/src/basic/GaragePage/index.tsx
  frontend/src/basic/RobotPage/Welcome.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/basic/Routes.tsx
  frontend/src/basic/TopBar/MenuDrawer/index.tsx
  frontend/src/basic/index.ts
  frontend/src/components/Dialogs/DeleteGarageKeyConfirmation.tsx
  frontend/src/components/Dialogs/Recovery.tsx
  frontend/src/components/Dialogs/StoreToken.tsx
  frontend/src/components/Dialogs/index.ts
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/SettingsForm/index.tsx
  frontend/src/components/TradeBox/Prompts/Expired.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/GarageKey.model.ts
  frontend/src/models/Settings.model.ts
  frontend/src/models/Slot.model.ts
  frontend/src/models/index.ts
  frontend/src/services/RoboPool/index.ts
  frontend/src/utils/accountRecovery.ts
  frontend/src/utils/garageKey.ts
  frontend/src/utils/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

chore: remove unused label prop from GarageKeyInput component
  frontend/src/basic/GaragePage/GarageKeyInput.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

refactor: Update Garage mode handling to use Garage context and remove settings dependency Ref: https://github.com/RoboSats/robosats/pull/2375#discussion_r2720434707
  frontend/src/basic/GaragePage/index.tsx
  frontend/src/basic/NavBar/DesktopBar/index.tsx
  frontend/src/basic/RobotPage/index.tsx
  frontend/src/contexts/GarageContext.tsx
  frontend/src/hooks/useLegacyMode.ts
  frontend/src/models/Garage.model.ts
  frontend/src/models/Settings.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: add error handling for RobotAvatar when slot is not reusable
  frontend/src/basic/GaragePage/GarageKeyProfile.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: update import path for xchacha20poly1305 to correct module
  frontend/src/utils/crypto/xchacha20.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

refactor: remove unused slotUpdatedAt dependency and optimize onSlotUpdate calls in Slot model
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/models/Garage.model.ts
  frontend/src/models/Slot.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Update LNProxy relay list on 2026-02-22
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend
