Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, lintern-frontend, prettier-mobile, lintern-mobile

.pre-commit-config.yaml:

exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/|^mobile/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: lintern-frontend
        name: lintern-frontend
        stages:
          - commit
          - merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run lint'
      - id: prettier-mobile
        name: prettier-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run format'
      - id: lintern-mobile
        name: lintern-mobile
        stages:
          - commit
          - merge-commit
        language: system
        files: ^mobile/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd mobile && npm run lint'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.13
    hooks:
    - id: ruff
      stages:
        - commit
        - merge-commit
      language: system
      args: [ --fix ]
      types: [python]
    - id: ruff-format
      stages:
        - commit
        - merge-commit
      language: system
      types: [python]

Update 04-bonds.md
  docs/_pages/docs/03-understand/04-bonds.md
Due: none

Update 04-bonds.md
  docs/_pages/docs/es/03-understand/04-bonds.md
Due: none

Update LNProxy relay list on 2025-08-31
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Update LNProxy relay list on 2025-09-07
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Revert "chore(deps): bump openpgp from 5.11.3 to 6.2.2 in /frontend"
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, lintern-frontend

Update LNProxy relay list on 2025-09-14
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Upgrade Android libs
  android/app/src/main/AndroidManifest.xml
  android/gradle/libs.versions.toml
Due: none

Added a new compatible wallet - Valet
  docs/_pages/docs/03-understand/07-wallets.md
Due: none

Update LNProxy relay list on 2025-09-21
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Add Zeam payment method
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/components/PaymentMethods/Icons/zeam.png
  frontend/src/components/PaymentMethods/MethodList.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Frontend libraries bump
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, lintern-frontend

Update LNProxy relay list on 2025-09-28
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Fix frontend reported bugs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/basic/OrderPage/index.tsx
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/TradeBox/Prompts/Successful.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/models/Slot.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix Android
  android/app/src/main/java/com/robosats/MainActivity.kt
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/Dialogs/Profile.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/models/Slot.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Use extra sources for trade amount
  frontend/src/components/Dialogs/OrderDescription.tsx
  frontend/src/components/OrderDetails/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix milisats wording
  frontend/src/components/TradeBox/TradeSummary.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Send own nostr private message
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/components/TradeBox/Prompts/Chat.tsx
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

v0.8.2-alpha
  android/app/build.gradle.kts
  desktopApp/package-lock.json
  desktopApp/package.json
  frontend/package-lock.json
  frontend/package.json
  release_notes.md
  version.json
Due: prettier-frontend, lintern-frontend

update android build
  .github/workflows/android-build.yml
Due: none

Update LNProxy relay list on 2025-10-05
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

v0.8.2-alpha fixes
  frontend/src/components/MakerForm/AmountRange.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/TradeBox/Prompts/Dispute.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix nostr private messages test
  frontend/src/basic/RobotPage/RobotProfile.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/contexts/GarageContext.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix pre-release reports
  frontend/src/components/BookTable/index.tsx
  frontend/src/components/Dialogs/OrderDescription.tsx
  frontend/src/components/MakerForm/MakerForm.tsx
  frontend/src/components/OrderDetails/TakeButton.tsx
  frontend/src/components/OrderDetails/index.tsx
  frontend/src/components/RobotAvatar/index.tsx
  frontend/src/components/TradeBox/Prompts/Expired.tsx
  frontend/src/components/TradeBox/index.tsx
  frontend/src/services/RoboPool/index.ts
  release_notes.md
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix pre-release reports
  chat/consumers.py
  frontend/src/components/Charts/MapChart/index.tsx
  frontend/src/components/Charts/helpers/OrderTooltip/index.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/TradeBox/Prompts/Dispute.tsx
  frontend/src/components/TradeBox/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix GitHub links
  .github/ISSUE_TEMPLATE/coordinator_registration.yaml
  CONTRIBUTING.md
  docs/_pages/docs/es/01-best-practices/02-payment-methods.md
  docs/_pages/docs/es/03-understand/07-wallets.md
  docs/_pages/docs/fr/contribute/01-development.md
  docs/_pages/docs/pt/01-best-practices/02-payment-methods.md
  docs/_pages/docs/pt/03-understand/07-wallets.md
  docs/assets/schemas/api-latest.yaml
  docs/assets/schemas/api-v0.5.3.yaml
  frontend/src/components/Dialogs/Coordinator.tsx
  release_notes.md
  robosats/settings.py
Due: collect-phrases, prettier-frontend, lintern-frontend

Search dialog
  frontend/src/basic/MainDialogs/index.tsx
  frontend/src/basic/RobotPage/Onboarding.tsx
  frontend/src/basic/RobotPage/Welcome.tsx
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/Dialogs/Search.tsx
  frontend/src/components/PaymentMethods/MethodList.ts
  frontend/src/contexts/AppContext.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Check pre commit
  frontend/src/components/Dialogs/Search.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Linterns fixes
  frontend/static/locales/collect_phrases.py
Due: none

Linterns fixes
  api/nick_generator/dicts/en/adjectives.py
Due: none

Linterns run
  .github/workflows/js-linter.yml
Due: none

Linter fix
  .github/workflows/js-linter.yml
Due: none

Fix chat retreive
  chat/views.py
Due: none

Fix tests
  api/nick_generator/dicts/en/adjectives.py
  docs/assets/schemas/api-latest.yaml
Due: none

Fix description display
  api/views.py
Due: none

Tests
  tests/test_trade_pipeline.py
Due: none

Update README.md
  README.md
Due: none
