Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, prettier-mobile, isort, black, flake8

prettier-frontend:
  name: prettier-frontend
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd frontend && npm run format'

prettier-mobile:
  name: prettier-mobile
  stages:
  - commit
  - merge-commit
  language: system
  entry: bash -c 'cd mobile && npm run format'

isort:
  name: isort
  stages:
  - commit
  - merge-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  - merge-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  - merge-commit
  language: system
  entry: flake8

fix name of get_lnd_version
  api/lightning/node_cln.py
Due: isort, black, flake8

Fix CLN gRPC port
  .env-sample
  api/lightning/cln.py
  docker/cln/config
Due: isort, black, flake8

fix generate_rpc
  scripts/generate_grpc.sh
Due: none

Add sample environmental variables, small fixes
  .env-sample
  api/lightning/cln.py
  docker-compose.yml
  scripts/generate_grpc.sh
Due: isort, black, flake8

Fix gen_hold_invoice, plus some other tiny fixes (#435)
  api/lightning/cln.py
  api/lightning/lnd.py
  api/lightning/node.py
  api/logics.py
Due: isort, black, flake8

flake8 fixes
  api/lightning/node_cln.py
Due: isort, black, flake8

refactored double_check_htlc_is_settled to the end to match lnds file
  api/lightning/cln.py
Due: isort, black, flake8

Fix channel_balance to use int object inside Amount (#438)
  api/lightning/cln.py
Due: isort, black, flake8

Bump CLN to v23.05
  docker/cln/Dockerfile
Due: none

Add CLN/LND volume to celery-beat service
  docker-compose.yml
Due: none

change invoice expiry from absolute to relative duration
  api/lightning/cln.py
Due: isort, black, flake8

fix failure_reason to be ln_payment failure reasons, albeit inaccurate sometimes
  api/lightning/cln.py
Due: isort, black, flake8

refactor follow_send_payment and add pending check to expired case
  api/lightning/cln.py
Due: isort, black, flake8

add try/except to catch timeout error
  api/lightning/cln.py
Due: isort, black, flake8

changes for 0.5 and some small fixes
  api/lightning/cln.py
Due: isort, black, flake8

fix status comments
  api/lightning/cln.py
Due: isort, black, flake8

catch up to main
  api/lightning/lnd.py
Due: isort, black, flake8

switch to use hodlinvoicelookup in double_check
  api/lightning/cln.py
Due: isort, black, flake8

add send_keysend method
  api/lightning/cln.py
Due: isort, black, flake8

fix wrong state ints in cancel and settle
  api/lightning/cln.py
Due: isort, black, flake8

move pay command after lnpayment status update
  api/lightning/cln.py
Due: isort, black, flake8

remove loop in follow_send_payment and add error result for edge case
  api/lightning/cln.py
Due: isort, black, flake8

Added new Reviews section to README
  README.md
Due: none

Updated version number number to latest for Athena Alpha guide
  docs/_pages/tutorials/read/how-to-use.md
Due: none

Update README.md
  README.md
Due: none

Added proposed Reviews section
  docs/_pages/home.md
Due: none

fix typeerror for payment_hash
  api/lightning/cln.py
Due: isort, black, flake8

rework follow_send_payment logic and payment_hash, watch harder if pending
  api/lightning/cln.py
Due: isort, black, flake8

Fix collect_phrases.py to work on all OS
  frontend/static/locales/collect_phrases.py
  frontend/static/locales/handcrafted.py
Due: isort, black, flake8

use fully qualified names for status instead of raw int
  api/lightning/cln.py
Due: isort, black, flake8

missed 2 status from prev commit
  api/lightning/cln.py
Due: isort, black, flake8

Add support for multiline chat (#595)
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedTurtleChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/MessageCard/index.tsx
Due: prettier-frontend

Add qualified lnd grpc variables
  api/lightning/node.py
Due: isort, black, flake8

Fetch lnproxy relay list from lnproxy repo
  .github/workflows/lnproxy-sync.yml
Due: none

Update checkout action to cater for Node 12 depracation
  .github/workflows/lnproxy-sync.yml
Due: none

Fetch relay list from official lnproxy repo
  .github/workflows/lnproxy-sync.yml
Due: none

Grant workflow job write perms
  .github/workflows/lnproxy-sync.yml
Due: none

Update to latest version of checkout action
  .github/workflows/lnproxy-sync.yml
Due: none

Fix collect_phrases.py to work on all OS (#607)
  frontend/static/locales/collect_phrases.py
  frontend/static/locales/handcrafted.py
Due: isort, black, flake8

Path conditions:
  prettier-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  prettier-mobile: any of: ^mobile/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.(md|markdown|mdown)$, \.json$ and not ((api|chat|control)/migrations/.*)
  isort: any of: \.py$, but not: (api|chat|control)/migrations/.*
  black: any of: \.py$, but not: (api|chat|control)/migrations/.*
  flake8: any of: \.py$, but not: (api|chat|control)/migrations/.*
