Repository RoboSats/robosats: changes, and which pre-commit hooks are due for each by the changed paths.
All: collect-phrases, prettier-frontend, lintern-frontend, lintern-android, check-android

.pre-commit-config.yaml:

exclude: '(api|chat|control)/migrations/.*'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: trailing-whitespace
      - id: pretty-format-json
        exclude: ^frontend/|^mobile/
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--no-ensure-ascii'
      - id: check-builtin-literals
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: collect-phrases
        name: Collect i18n phrases
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend/static/locales && python3 collect_phrases.py'
      - id: prettier-frontend
        name: prettier-frontend
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run format'
      - id: lintern-frontend
        name: lintern-frontend
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, markdown, json] # uses https://github.com/pre-commit/identify
        entry: bash -c 'cd frontend && npm run lint'
      - id: lintern-android
        name: lintern-android
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^android/
        types_or: [kotlin]
        entry: bash -c 'cd android && ./gradlew lint'
      - id: check-android
        name: check-android
        stages:
          - pre-commit
          - pre-merge-commit
        language: system
        files: ^android/
        types_or: [kotlin]
        entry: bash -c 'cd android && ./gradlew check'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.13
    hooks:
    - id: ruff
      stages:
        - pre-commit
        - pre-merge-commit
      language: system
      args: [ --fix ]
      types: [python]
    - id: ruff-format
      stages:
        - pre-commit
        - pre-merge-commit
      language: system
      types: [python]

grpcio 1.76
  requirements.txt
Due: none

fix test
  api/serializers.py
  api/views.py
  docs/assets/schemas/api-latest.yaml
  frontend/package-lock.json
Due: prettier-frontend, lintern-frontend

Update LNProxy relay list on 2026-01-18
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

fix: Sync coordinator ratings between list and detail views
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/models/Federation.model.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: Sync coordinator ratings between list and detail views
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/models/Federation.model.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

feat(img): added encryption utilities
  frontend/package-lock.json
  frontend/package.json
  frontend/src/utils/blossom.ts
  frontend/src/utils/crypto/xchacha20.ts
  frontend/src/utils/nip17File.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

feat(img): upload button ui
  frontend/src/components/TradeBox/EncryptedChat/EncryptedApiChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/utils/crypto/xchacha20.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

feat(img): added image rendering & upload ui
  frontend/src/components/TradeBox/EncryptedChat/EncryptedApiChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/MessageCard/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

feat(img): added nostr relay for receive
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

feat(img): minor fixes
  frontend/src/components/TradeBox/EncryptedChat/EncryptedApiChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/MessageCard/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: schema for update order response
  api/oas_schemas.py
  api/serializers.py
  docs/assets/schemas/api-latest.yaml
Due: none

Persist book view filters across reloads
  frontend/package-lock.json
  frontend/src/basic/MakerPage/index.tsx
  frontend/src/components/BookTable/index.tsx
  frontend/src/contexts/AppContext.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

fix(img): BUD-01 auth compliance and NIP-17 tags
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/utils/blossom.ts
  frontend/src/utils/nip17File.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: remove multiple bonds description
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Some fixes
  android/zapstore.yaml
  api/nostr.py
  frontend/src/services/RoboPool/index.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix tests and remove whiteye sats coordinator
  frontend/src/pro/Widgets/Maker.tsx
  frontend/static/federation.json
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
  tests/test_trade_pipeline.py
Due: collect-phrases, prettier-frontend, lintern-frontend

Remove files
  frontend/static/federation/pgp/8B99A9F344AD4BDF158EE1ADA9765943E23958EC.asc
  nodeapp/coordinators/whiteyesats/locations.conf
  nodeapp/coordinators/whiteyesats/upstreams.conf
  nodeapp/nginx.conf
Due: none

Fix github actions
  .github/workflows/android-build.yml
  .github/workflows/coordinator-image.yml
  .github/workflows/desktop-build.yml
  .github/workflows/frontend-build.yml
  .github/workflows/integration-tests.yml
  .github/workflows/js-linter.yml
  .github/workflows/lnproxy-sync.yml
  .github/workflows/py-linter.yml
  .github/workflows/release.yml
  .github/workflows/selfhosted-client-image.yml
  .github/workflows/web-client-image.yml
Due: none

Remove veneto cooridnator
  frontend/static/federation.json
  frontend/static/federation/avatars/veneto.small.webp
  frontend/static/federation/avatars/veneto.webp
  frontend/static/federation/avatars/whiteyesats.small.webp
  frontend/static/federation/avatars/whiteyesats.webp
  nodeapp/coordinators/veneto/locations.conf
  nodeapp/coordinators/veneto/upstreams.conf
  nodeapp/nginx.conf
  nodeapp/robosats-client.sh
Due: prettier-frontend, lintern-frontend

fix(img): restrict uploads to image mime types
  frontend/src/components/TradeBox/EncryptedChat/EncryptedApiChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix tests
  tests/test_trade_pipeline.py
Due: none

chore:remove unused variable
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

fix(img): use FedContext notifs
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Add SIPAP payment method
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/components/PaymentMethods/Icons/sipap.png
  frontend/src/components/PaymentMethods/MethodList.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

Ignore invalid nostr pubkeys
  robosats/middleware.py
Due: none

Add tests for nostr pubkey validation
  tests/test_trade_pipeline.py
Due: none

fix: log swap failure reason only once
  api/logics.py
  api/views.py
Due: none

Update LNProxy relay list on 2026-01-25
  frontend/static/lnproxies.json
Due: prettier-frontend, lintern-frontend

Lazy load ratings and fix coordinator dialog updates
  frontend/src/components/Dialogs/Coordinator.tsx
  frontend/src/components/FederationTable/index.tsx
  frontend/src/models/Federation.model.ts
  frontend/src/services/RoboPool/index.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

fix(img): prevent dup msgs and refine encrypted flow
  frontend/src/components/TradeBox/EncryptedChat/EncryptedApiChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/contexts/FederationContext.tsx
  frontend/src/utils/nip17File.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

fix: resolve USDT crash on mobile when switching modes
  frontend/src/components/BookTable/BookControl.tsx
  frontend/src/components/BookTable/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

Fix order page load
  frontend/webpack.config.ts
Due: prettier-frontend, lintern-frontend

Remove sipap.png
  frontend/src/components/PaymentMethods/Icons/sipap.png
Due: none

Add Doordash USA giftcard
  frontend/src/components/PaymentMethods/Icons/index.tsx
  frontend/src/components/PaymentMethods/MethodList.ts
Due: collect-phrases, prettier-frontend, lintern-frontend

feat(img): added sensitive warning and image preview on click
  frontend/src/components/TradeBox/EncryptedChat/ImageLightbox.tsx
  frontend/src/components/TradeBox/EncryptedChat/MessageCard/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/PrivacyWarningDialog.tsx
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

fix(img): nostr chat links, dual-send logic, and refactor
  frontend/src/components/TradeBox/EncryptedChat/EncryptedApiChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedNostrChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

fix(img): comment out props & fix dependent crash
  frontend/src/components/TradeBox/EncryptedChat/EncryptedNostrChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

fix(img): disable NostrChat, use unwrapped events
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
Due: collect-phrases, prettier-frontend, lintern-frontend

fix(img): apiClient for blossom, consistent send button
  frontend/src/components/TradeBox/EncryptedChat/EncryptedApiChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/services/Android/index.ts
  frontend/src/services/api/ApiAndroidClient/index.ts
  frontend/src/services/api/ApiWebClient/index.ts
  frontend/src/services/api/index.ts
  frontend/src/utils/blossom.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend

Android app image upload
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/robosats/MainActivity.kt
  android/app/src/main/java/com/robosats/WebAppInterface.kt
  android/app/src/main/java/com/robosats/services/NotificationsService.kt
  android/settings.gradle.kts
  frontend/src/components/TradeBox/EncryptedChat/EncryptedApiChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedNostrChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/EncryptedSocketChat/index.tsx
  frontend/src/components/TradeBox/EncryptedChat/index.tsx
  frontend/src/services/Android/index.ts
  frontend/src/services/api/ApiAndroidClient/index.ts
  frontend/src/services/api/ApiWebClient/index.ts
  frontend/src/services/api/index.ts
  frontend/src/utils/blossom.ts
  frontend/static/locales/ca.json
  frontend/static/locales/cs.json
  frontend/static/locales/de.json
  frontend/static/locales/en.json
  frontend/static/locales/es.json
  frontend/static/locales/eu.json
  frontend/static/locales/fr.json
  frontend/static/locales/it.json
  frontend/static/locales/ja.json
  frontend/static/locales/pl.json
  frontend/static/locales/pt.json
  frontend/static/locales/ru.json
  frontend/static/locales/sv.json
  frontend/static/locales/sw.json
  frontend/static/locales/th.json
  frontend/static/locales/zh-SI.json
  frontend/static/locales/zh-TR.json
Due: collect-phrases, prettier-frontend, lintern-frontend, lintern-android, check-android
